@import url(default.css); /* default.css를 이 문서에 복사해서 넣은 것처럼 불러오기 */
@import url(fonts.css);
@import url(common.css);

header {
    position: absolute; 
    left: 0;
    top: 0;
    z-index: 100;
    color: #fff;
    width: 100%; /* %로 잘 주기*/
    height: 100px; /*px 잘 주고, 확인하기*/
    border-bottom: 1px solid rgba(204, 204, 204, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}
header .logo {
    margin: 5px 0 0 0;
}
header .gnb .gnb_open {
    display: none;
}
header .gnb .gnb_close {
    display: none;
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    font-family: 'eulyo';
    font-weight: 400;
    font-size: 22px;
    line-height: 100px;
    padding: 0 25px ;
}
header .tnb {
    display: flex;
}
header .tnb .search {
    font-size: 0;
    line-height: 0;
    width: 43px;
    height: 43px;
    position: relative;
}
header .tnb .mypage {
    font-size: 0;
    line-height: 0;
    width: 43px;
    height: 43px;
    position: relative;
}
header .tnb .search::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8989 19.5191C9.76436 19.5191 7.95665 18.7788 6.47582 17.2981C4.9952 15.8173 4.25488 14.0096 4.25488 11.875C4.25488 9.74044 4.9952 7.93273 6.47582 6.4519C7.95665 4.97127 9.76436 4.23096 11.8989 4.23096C14.0335 4.23096 15.8412 4.97127 17.3221 6.4519C18.8027 7.93273 19.543 9.74044 19.543 11.875C19.543 12.7677 19.3932 13.6203 19.0936 14.4328C18.7938 15.2453 18.3939 15.952 17.8939 16.5528L25.0864 23.7453C25.2596 23.9182 25.3481 24.1358 25.3521 24.3978C25.356 24.6599 25.2675 24.8815 25.0864 25.0625C24.9054 25.2436 24.6858 25.3341 24.4277 25.3341C24.1698 25.3341 23.9503 25.2436 23.7693 25.0625L16.5768 17.87C15.9518 18.3861 15.233 18.7899 14.4205 19.0816C13.608 19.3732 12.7675 19.5191 11.8989 19.5191ZM11.8989 17.6444C13.5096 17.6444 14.8737 17.0854 15.9914 15.9675C17.1094 14.8498 17.6683 13.4856 17.6683 11.875C17.6683 10.2644 17.1094 8.90023 15.9914 7.78252C14.8737 6.6646 13.5096 6.10564 11.8989 6.10564C10.2883 6.10564 8.92415 6.6646 7.80645 7.78252C6.68853 8.90023 6.12957 10.2644 6.12957 11.875C6.12957 13.4856 6.68853 14.8498 7.80645 15.9675C8.92415 17.0854 10.2883 17.6444 11.8989 17.6444Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px ;
}
header .tnb .mypage::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 15.1025C14.2568 15.1025 13.1925 14.6598 12.3073 13.7746C11.4219 12.8892 10.9792 11.8249 10.9792 10.5816C10.9792 9.3384 11.4219 8.27417 12.3073 7.38895C13.1925 6.50351 14.2568 6.06079 15.5 6.06079C16.7432 6.06079 17.8075 6.50351 18.6927 7.38895C19.5781 8.27417 20.0208 9.3384 20.0208 10.5816C20.0208 11.8249 19.5781 12.8892 18.6927 13.7746C17.8075 14.6598 16.7432 15.1025 15.5 15.1025ZM5.8125 22.9768V22.0674C5.8125 21.435 5.98429 20.8492 6.32788 20.3101C6.67146 19.7711 7.13065 19.3567 7.70544 19.0669C8.98203 18.4411 10.2699 17.9717 11.5691 17.6587C12.8683 17.3457 14.1786 17.1891 15.5 17.1891C16.8214 17.1891 18.1317 17.3457 19.4309 17.6587C20.7301 17.9717 22.018 18.4411 23.2946 19.0669C23.8694 19.3567 24.3285 19.7711 24.6721 20.3101C25.0157 20.8492 25.1875 21.435 25.1875 22.0674V22.9768C25.1875 23.5214 24.9967 23.9847 24.615 24.3666C24.2333 24.7483 23.77 24.9391 23.2251 24.9391H7.77486C7.23 24.9391 6.76672 24.7483 6.38503 24.3666C6.00334 23.9847 5.8125 23.5214 5.8125 22.9768ZM7.75 23.0016H23.25V22.0674C23.25 21.8059 23.1742 21.5637 23.0227 21.3409C22.8711 21.1183 22.6654 20.9366 22.4056 20.7958C21.2926 20.2477 20.1579 19.8324 19.0014 19.55C17.8447 19.2678 16.6776 19.1266 15.5 19.1266C14.3224 19.1266 13.1553 19.2678 11.9986 19.55C10.8421 19.8324 9.70741 20.2477 8.59443 20.7958C8.33459 20.9366 8.12889 21.1183 7.97733 21.3409C7.82578 21.5637 7.75 21.8059 7.75 22.0674V23.0016ZM15.5 13.165C16.2104 13.165 16.8186 12.912 17.3245 12.4061C17.8304 11.9002 18.0833 11.292 18.0833 10.5816C18.0833 9.87121 17.8304 9.26305 17.3245 8.75715C16.8186 8.25124 16.2104 7.99829 15.5 7.99829C14.7896 7.99829 14.1814 8.25124 13.6755 8.75715C13.1696 9.26305 12.9167 9.87121 12.9167 10.5816C12.9167 11.292 13.1696 11.9002 13.6755 12.4061C14.1814 12.912 14.7896 13.165 15.5 13.165Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px ;
}
@media screen and (max-width:640px){ 
            header {
                height: 56px;
                border-bottom: 1px solid rgba(204, 204, 204, 0.2);
                padding: 0 0 0 20px;
            }
            header .logo {
                margin: 5px 0 0 0;
            }
            header .logo a img {
                width: 139px;
            }
            header .gnb .gnb_open {
                display: block;
                width: 60px;
                height: 53px;
                font-size: 0;
                line-height: 0;
                position: relative;
                background-image: url("data:image/svg+xml,%3Csvg width='25' height='15' viewBox='0 0 25 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.78125 14.2611C0.559896 14.2611 0.374349 14.1986 0.224609 14.0737C0.0748698 13.9487 0 13.7939 0 13.6093C0 13.4246 0.0748698 13.2702 0.224609 13.1458C0.374349 13.0215 0.559896 12.9594 0.78125 12.9594H24.2188C24.4401 12.9594 24.6257 13.0218 24.7754 13.1468C24.9251 13.2716 25 13.4264 25 13.6112C25 13.7958 24.9251 13.9503 24.7754 14.0746C24.6257 14.1989 24.4401 14.2611 24.2188 14.2611H0.78125ZM0.78125 8.05278C0.559896 8.05278 0.374349 7.9903 0.224609 7.86533C0.0748698 7.74036 0 7.58557 0 7.40094C0 7.21631 0.0748698 7.06183 0.224609 6.93752C0.374349 6.8132 0.559896 6.75104 0.78125 6.75104H24.2188C24.4401 6.75104 24.6257 6.81353 24.7754 6.93849C24.9251 7.06346 25 7.21826 25 7.40289C25 7.58752 24.9251 7.74199 24.7754 7.86631C24.6257 7.99062 24.4401 8.05278 24.2188 8.05278H0.78125ZM0.78125 1.84446C0.559896 1.84446 0.374349 1.78198 0.224609 1.65701C0.0748698 1.53226 0 1.37747 0 1.19262C0 1.00799 0.0748698 0.853516 0.224609 0.7292C0.374349 0.604884 0.559896 0.542725 0.78125 0.542725H24.2188C24.4401 0.542725 24.6257 0.605208 24.7754 0.730175C24.9251 0.855142 25 1.00994 25 1.19457C25 1.3792 24.9251 1.53367 24.7754 1.65799C24.6257 1.78231 24.4401 1.84446 24.2188 1.84446H0.78125Z' fill='white'/%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
                background-size:24px ;
            }
            header .gnb .gnb_open::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
            header .gnb .gnb_wrap {
                display: none;
            }
            header .tnb {
                display: none;
            }           
}/*media*/

.visual {
    overflow: hidden;
    height: 100dvh;
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    position: relative;
}
.visual .wrapper {
    padding: 70dvh 0 0 0;
}
.visual .inner {
    transform: translateY(-50%);
}
.visual h2 {
    font-family: 'eulyo';
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 11px 0;
}
.visual p {
    font-family: 'Pretendard';
    font-size: 17px;
    font-weight: 400;
}
.visual h2 span {
    font-size: 110px;
    font-weight: 400;
    color: rgba(255,255,255, 0.2);
    position: absolute;
    left: 57px;
    top: -50px;
}
.visual .scroll {
    position: absolute;
    left: 50%;
    bottom: 45px;
    color: rgba(255,255,255, 0.8);
    font-size: 13px;
    transform: translateX(-50%);
}
.visual .scroll::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom:-16px ;
    transform: translateX(-50%);
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.19189 10.2563L13.233 5.05964C13.3293 4.9603 13.4461 4.91024 13.5834 4.90948C13.7209 4.90861 13.8392 4.95636 13.9385 5.05273C14.0378 5.14899 14.0885 5.26585 14.0906 5.40329C14.0927 5.54063 14.0456 5.65897 13.9492 5.75832L8.95592 10.902C8.8504 11.0108 8.73211 11.0908 8.60105 11.1421C8.46988 11.1935 8.33839 11.2201 8.20658 11.2221C8.07478 11.2241 7.94254 11.2015 7.80987 11.1542C7.67731 11.1068 7.55664 11.0304 7.44786 10.9249L2.30039 5.93151C2.20105 5.83525 2.151 5.71905 2.15026 5.58291C2.1494 5.44677 2.19716 5.32908 2.29354 5.22984C2.3898 5.13049 2.50666 5.07977 2.6441 5.07768C2.78144 5.07559 2.89978 5.12274 2.99913 5.21911L8.19189 10.2563Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: scroll_move ;
    animation-duration: 2s; /* 2초 동안 한번 */
    animation-iteration-count: infinite; /* 반복횟수 - 무한 */
    animation-timing-function: linear; /* 가속도 삭제 */
    
}
@keyframes scroll_move {
    0%{ bottom: -16px; }
    50%{ bottom: -25px; }
    100%{ bottom: -16px; }
}
@media screen and (max-width:640px){ 
                .visual .wrapper {
                    padding: 60dvh 0 0 0;
                }
                .visual h2 {
                    font-size: 30px;
                    margin: 95px 0 5px 0;
                }
                .visual p {
                    font-family: 'Pretendard';
                    font-size: 13px;
                    font-weight: 400;
                }
                .visual h2 span {
                    font-size: 50px;
                    left: 46px;
                    top: -22px;
                }
                .visual .scroll::after {
                    bottom:-16px ;
                    animation-name: scroll_move ;
                }
                @keyframes scroll_move {
                    0%{ bottom: -16px; }
                    50%{ bottom: -25px; }
                    100%{ bottom: -16px; }
                }
}/*media*/

.book {
    background-color: #FFFBF6;
    padding: 124px 0 176px 0;
}
.book .inner {
    display: flex;
    justify-content: space-between;
    width: 1388px;
    position: relative;
    left: calc(50% - 630px);
}
.book .tit h2 {
    font-family: 'eulyo';
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 10px 0;
}
.book .list ul {
    display: flex;
    gap: 24px;
}
.book .list ul li {
    width: 199px;
}
.book .list ul li a {
    display: block;
}
.book .list ul li a .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}
.book .list ul li a img {
    width: 100%;
}
.book .list ul li a h3 {
    font-family: 'eulyo';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.2;
    color: #1d1d1d;
    padding: 15px 0 15px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .list ul li a  h3 span {
    position: relative;
}
.book .list ul li a  h3 span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom:  -5px;
    width: 0;
    height: 1px;
    background-color: #555;
    transition: 1s;
}
.book .list ul li a:hover  h3 span::after  {
    width: 100%;
}
.book .list ul li a .name {
    font-size: 15px;
    color: #555;
    line-height: 1.4;
}
.book .more {
    position: absolute;
    left: 0;
    top: 198px ;
}
.book .more a {
    display: block;
    padding: 6px 69px 6px 24px ;
    background-color:#DFCFC0;
    color: #1d1d1d;
    border-radius: 40px;
}
.book .more a::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 15px;
    width: 30px;
    height: 7px;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='9' viewBox='0 0 32 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 8H30L21.1111 1' stroke='%23DFCFC0'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.book .more a:hover {
    background-color: #956034;
    color:#DFCFC0 ;
    border-color: #956034;
}
.book .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='9' viewBox='0 0 32 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 8H30L21.1111 1' stroke='%23DFCFC0'/%3E%3C/svg%3E%0A");
    animation-name: more_ani ;
    animation-timing-function: linear; /* 가속도 없음,빼야함*/
    animation-duration: 1s; /* 애니메이션 1번 실행 시간*/
    animation-iteration-count: infinite; /* 무한반복*/
}
@keyframes more_ani {
    0% {right:20px;}
    50% {right:32px;}
    100% {right:20px;}
}

@media screen and (max-width:640px){ 
            .book { 
                padding: 50px 0 50px 0;
            }
            .book .inner {
                display: block;
                width: auto;
                left: auto;
                margin: 0 0 0 20px;
            }
            .book .tit h2 {
                font-size:25px;
                margin: 0 0 20px 0;
            }
            .book .tit h2 br {
                display: none; /* 줄바꿈 삭제*/
            }
            .book .tit p {
                display: none;
            }
            .book .list {
                margin: 25px 0 0 0;
                overflow-x: auto;
            }
            .book .list ul {
                gap: 16px;
                width: 814px;
                /*750 *5= 750 + 64 = 814*/
            }
            .book .list ul li {
                width: 150px;
            }
            .book .list ul li a h3 {
                font-size: 17px;
                padding: 10px 0 5px 0;
            }
            .book .more {
                left: auto;
                right: 20px;
                top: -5px ;
            }
            .book .more a {
                width: 37px ;
                height: 37px;
                padding: 0;
                font-size: 0;
                line-height: 0;
                background-color:#DFCFC0;
            }
            .book .more a::after {
                display: none;
            }
            .book .more a::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0625 10.9375H5.6875C5.56354 10.9375 5.45964 10.8955 5.37578 10.8115C5.29193 10.7275 5.25 10.6234 5.25 10.4993C5.25 10.3752 5.29193 10.2714 5.37578 10.1878C5.45964 10.1043 5.56354 10.0625 5.6875 10.0625H10.0625V5.6875C10.0625 5.56354 10.1045 5.45964 10.1885 5.37578C10.2725 5.29193 10.3766 5.25 10.5007 5.25C10.6248 5.25 10.7286 5.29193 10.8122 5.37578C10.8957 5.45964 10.9375 5.56354 10.9375 5.6875V10.0625H15.3125C15.4365 10.0625 15.5404 10.1045 15.6242 10.1885C15.7081 10.2725 15.75 10.3766 15.75 10.5007C15.75 10.6248 15.7081 10.7286 15.6242 10.8122C15.5404 10.8957 15.4365 10.9375 15.3125 10.9375H10.9375V15.3125C10.9375 15.4365 10.8955 15.5404 10.8115 15.6242C10.7275 15.7081 10.6234 15.75 10.4993 15.75C10.3752 15.75 10.2714 15.7081 10.1878 15.6242C10.1043 15.5404 10.0625 15.4365 10.0625 15.3125V10.9375Z' fill='%23956034'/%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 21px;
            }
            .book .more a:hover::before {
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0625 10.9375H5.6875C5.56354 10.9375 5.45964 10.8955 5.37578 10.8115C5.29193 10.7275 5.25 10.6234 5.25 10.4993C5.25 10.3752 5.29193 10.2714 5.37578 10.1878C5.45964 10.1043 5.56354 10.0625 5.6875 10.0625H10.0625V5.6875C10.0625 5.56354 10.1045 5.45964 10.1885 5.37578C10.2725 5.29193 10.3766 5.25 10.5007 5.25C10.6248 5.25 10.7286 5.29193 10.8122 5.37578C10.8957 5.45964 10.9375 5.56354 10.9375 5.6875V10.0625H15.3125C15.4365 10.0625 15.5404 10.1045 15.6242 10.1885C15.7081 10.2725 15.75 10.3766 15.75 10.5007C15.75 10.6248 15.7081 10.7286 15.6242 10.8122C15.5404 10.8957 15.4365 10.9375 15.3125 10.9375H10.9375V15.3125C10.9375 15.4365 10.8955 15.5404 10.8115 15.6242C10.7275 15.7081 10.6234 15.75 10.4993 15.75C10.3752 15.75 10.2714 15.7081 10.1878 15.6242C10.1043 15.5404 10.0625 15.4365 10.0625 15.3125V10.9375Z' fill='%23DFCFC0'/%3E%3C/svg%3E ");
            }
}

.interview {
    padding: 127px 0 152px 0;
}
.interview .tit {
    text-align: center;
}
.interview .tit h2 {
    font-family: 'eulyo';
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 10px 0;
}
.interview .list {
    margin:42px 0 0 0;
}
.interview .list ul {
    display: flex;
    justify-content: space-between;
}
.interview .list ul li {
    width: 403px;
}
.interview .list ul li:nth-child(2) {
    margin: 30px 0 0 0;
}
.interview .list ul li a {
    display: block;
    position: relative; /* inner 정렬의 기준*/
}
.interview .list ul li a .photo {
    overflow: hidden;
    height: 413px;
    border-radius: 50px 0 50px 0;
    position: relative; /*before 정렬의 기준*/
}
.interview .list ul li:nth-child(2) a .photo {
    border-radius: 0 50px 0 50px;
}
.interview .list ul li a .photo::before {
    content: "";
    position: absolute; /*photo를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 1; /* 순서를 위로*/
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
}
.interview .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: 0.5s;
}
.interview .list ul li a .inner {
    position: absolute; /* a를 기준으로 정렬*/
    left: 33px;
    bottom: 31px;
    width: calc(100% - 66px);
    /**/
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.interview .list ul li a .inner h3 {
    font-family: 'eulyo';
    font-weight: 400;
    font-size: 35px;
    line-height: 1.2;
}
.interview .list ul li a .inner p {
    display: none ;
}
.interview .list ul li a .inner span {
    width: 57px; /* 아이콘 크기*/
    height: 57px;
    font-size: 0; /* 글자 안보이게*/
    line-height: 0;
    position: relative; /* before 정렬의 기준*/
}
.interview .list ul li a .inner span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='57' height='58' viewBox='0 0 57 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.6691 30.294H15.7941C15.5586 30.294 15.3611 30.2141 15.2016 30.0542C15.0425 29.8946 14.9629 29.6967 14.9629 29.4604C14.9629 29.2245 15.0425 29.0274 15.2016 28.869C15.3611 28.7107 15.5586 28.6315 15.7941 28.6315H27.6691V16.7565C27.6691 16.521 27.7491 16.3237 27.909 16.1646C28.0685 16.0051 28.2665 15.9253 28.5028 15.9253C28.7387 15.9253 28.9358 16.0051 29.0941 16.1646C29.2525 16.3237 29.3316 16.521 29.3316 16.7565V28.6315H41.2066C41.4422 28.6315 41.6395 28.7115 41.7986 28.8714C41.9581 29.0309 42.0379 29.2289 42.0379 29.4652C42.0379 29.7011 41.9581 29.8982 41.7986 30.0565C41.6395 30.2149 41.4422 30.294 41.2066 30.294H29.3316V42.169C29.3316 42.4046 29.2517 42.6021 29.0918 42.7616C28.9322 42.9207 28.7343 43.0003 28.498 43.0003C28.2621 43.0003 28.065 42.9207 27.9066 42.7616C27.7483 42.6021 27.6691 42.4046 27.6691 42.169V30.294Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* 오버 스타일 -- 브라우저 넓이 641 이상에서만 적용 */
@media screen and (min-width:641px){ 
                .interview .list ul li a:hover .photo::before {
                    display: none; /* 숨김*/
                }
                .interview .list ul li a:hover .photo img {
                    filter: grayscale(0);
                }
                .interview .list ul li a:hover .inner {
                    left: 0;
                    bottom: -80px;
                    width: calc(100% - 43px);
                    /**/
                    color: #fff;
                    display: block;
                    background-color: #DFCFC0;
                    padding: 49px 36px 41px 39px ;
                    border-radius: 50px 0 50px 0;
                }
                .interview .list ul li:nth-child(2) a:hover .inner {
                    border-radius:  0 40px 0 40px;
                }
                .interview .list ul li a:hover .inner h3 {
                    font-weight: 800;
                    font-size: 25px;
                    color: #956034;
                }
                .interview .list ul li a:hover .inner h3 br {
                    display: none; /*줄바꿈*/
                }
                .interview .list ul li a:hover .inner p {
                    display: block; /* 나타남*/
                    font-size: 15px;
                    margin: 18px 0 22px 0;
                    /* 2줄로 제한*/
                    line-height: 1.4; /* 행간*/
                    height: 2.8em; /* 행간 * 줄수 = 단위는 em */
                    overflow: hidden; /* 영역 밖 글자 숨김*/
                }
                .interview .list ul li a:hover .inner span {
                    width: auto; /* 아이콘 크기*/
                    height: auto;
                    font-size: 15px; /* 글자 안보이게*/
                    line-height: 1.4;
                    color: rgba(255,255,255,0.8);
                    display: block;
                    /**/
                    text-align: right;
                    padding: 0 34px 0 0;
                }
                .interview .list ul li a:hover .inner span::before {
                    left: auto;
                    right: 10px; /* 변경하려면 반드시 다시 취소해야함*/
                    top: 1px;
                    width: 18px;
                    height: 18px;
                } 
} /*media*/

@media screen and (max-width:640px){ 
            .interview {
                padding: 50px 0 50px 0;
            }
            .interview .tit {
                text-align: left;
            }
            .interview .tit h2 {
                font-size: 25px;
                line-height: 1.2;
                padding: 0 0 7px 0;
            }
            .interview .tit p {
                display: none;
            }
            .interview .list {
                margin: 28px 0 0 0;
            }
            .interview .list ul {
                display: block; /*flex해제*/
            }
            .interview .list ul li {
                width: auto; /* 있는 그대로*/
            }
            .interview .list ul li:nth-child(2),
            .interview .list ul li:nth-child(3) {
                display: none;  
            }
            .interview .list ul li a .photo {
                height: 283px;
                border-radius: 10px;
            }
            .interview .list ul li a .photo::before {
                display: none; /* 숨김*/
            }
            .interview .list ul li a .photo img {
                filter: grayscale(0);
            }
            .interview .list ul li a .inner {
                position: relative; /* absoiute 해제*/
                left: auto;
                bottom: auto;
                width: auto;
                /* 전체를 꽉 채우는 넓이 100%에서 왼쪽여백과 오른쪽 여백을 뺌*/
                background-color: #DFCFC0;
                border-radius: 30px 0;
                color: #fff;
                display: block;
                margin: -70px 0 0 0;
                padding: 36px 32px 22px 32px ;

            }
            .interview .list ul li a .inner h3 {
                font-size: 20px;
                margin: 0 0 10px 0;
                color: #956034;
            }
            .interview .list ul li a .inner h3 br {
                display: none; /*보임*/ 
            }
            .interview .list ul li a .inner p {
                display: block ;
                /*2줄로 제한*/
                line-height: 1.4;
                height: 2.8em;
                overflow: hidden;
                font-size: 13px;
                font-weight: 400;
                margin: 0 0 10px 0;
            }
            .interview .list ul li a .inner span {
                width: auto; /* 아이콘 크기*/
                height: auto;
                font-size: 13px; /* 글자 안보이게*/
                line-height: 1.4;
                display: block;
                text-align: right;
                padding: 0 18px 0 0;
            }
            .interview .list ul li a .inner span::before {
                left: auto;
                right: 0;
                top: 0;
                width: 14px;
                height: 14px;
            }
}/*media*/

.sroty {
    margin: 150px 0 0 0;
    padding: 130px 0 205px 0 ;
    background-color: #FFFBF6;
}
.sroty .wrapper {
    position: relative; /*more 정렬의 기준 */
}
.sroty .tit h2 {
    font-family: 'eulyo';
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 10px 0;
}
.sroty .tit p {
    display: none;
}
.sroty .list {
    margin: 32px 0 0 0;
} 
.sroty .list ul {
    display: flex;
    gap: 24px;
    width: 1581px;
    /* li의 사이즈 297 * li 갯수 5 = 1485 
       li 사이 여백 24 * li갯수 - 1 4 = 96
       1485 + 96 = 1581*/
}
.sroty .list ul li {
    width: 297px;
}
.sroty .list ul li a {
    display: block;
}
.sroty .list ul li a .photo {
    overflow: hidden;
    height: 251px;
}
.sroty .list ul li.long a .photo {
    height: 348px;
}
.sroty .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}
.sroty .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.sroty .list ul li a .inner strong {
    color: #956034;
    margin: 15px 0 10px 0;
    display: block;
    font-size: 15px;
    /*1줄 제한*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sroty .list ul li a .inner h3 {
    font-family: 'eulyo';
    font-size: 25px;
    color: #1d1d1d;
    margin: 0 0 10px 0;
    /*2줄제한*/
    line-height: 1.2;
    height: 2.4em; /* 행간 * 줄수 = 단위는 em */
    overflow: hidden;
}
.sroty .list ul li a .inner p {
    /* 5줄 제한*/
    line-height: 1.4;
    height: 8.4em;
    overflow: hidden;
}
.sroty .list ul li.long a .inner p {
    height: 2.8em;
}
.sroty .more {
    position: absolute; /*inner 를 기준으로 정렬*/
    right: 0;
    top: 8px;
}
.sroty .more a {
    display: block;
    padding: 6px 62px 6px 23px;
    background-color: #DFCFC0;
    border-radius: 40px;
    color: #1d1d1d;
}
.sroty .more a::after {
    content: ""; 
    position: absolute; /*more를 기준으로 정렬*/
    right: 18px;
    top: 15px;
    width: 27px;
    height: 6px;
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='8' viewBox='0 0 29 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 7H27.5L19.5 1' stroke='%231D1D1D'/%3E%3C/svg%3E ");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}



.sroty .more a:hover {
    background-color: #956034;
    color: #DFCFC0;
    border-color: #956034;
}
.sroty .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='7' viewBox='0 0 28 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 5.75H26.25L20.75 0.5' stroke='%23DFCFC0'/%3E%3C/svg%3E%0A");
    animation-name: more_ani ;
    animation-timing-function: linear; /* 가속도 없음,빼야함*/
    animation-duration: 2s; /* 애니메이션 1번 실행 시간*/
    animation-iteration-count: infinite; /* 무한반복*/
}
/* 화살표가 좌우로 움직이닌 애니메이션*/
@keyframes more_ani {
    0% {right:18px;}
    50% {right:25px;}
    100% {right:18px;}
}

@media screen and (min-width:641px){
            /* 브라우저 사이즈 641 이상에서만 적용 */
            .sroty .more a:hover {
                background-color: #956034;
                color: #DFCFC0;
            }
            .sroty .more a:hover::after {
                background-image: url("data:image/svg+xml,%3Csvg width='28' height='7' viewBox='0 0 28 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 5.75H26.25L20.75 0.5' stroke='%23DFCFC0'/%3E%3C/svg%3E%0A");
                animation-name: more_ani ;
                animation-timing-function: linear; /* 가속도 없음,빼야함*/
                animation-duration: 2s; /* 애니메이션 1번 실행 시간*/
                animation-iteration-count: infinite; /* 무한반복*/
            }
} /**media*/

@media screen and (max-width:640px){
            .sroty {
                margin: 15px 0 0 0;
                padding: 45px 0 50px 0;
            }
            .sroty .tit h2 {
                font-size: 25px;
                margin: 0 0 5px 0;
            }
            .sroty .tit p {
                display: none;
            }
            .sroty .list {
                margin: 28px 0 0 0;
            } 
            .sroty .list ul {
                display: block;
                width: auto;
            }
            .sroty .list ul li {
                width: auto;
                border-bottom: 1px solid rgba(204,204,204,0.8);
            }
            .sroty .list ul li:first-child {
                border-top: 1px solid rgba(204,204,204,0.8);
            }

            .sroty .list ul li a {
                display: flex;
                flex-direction: row-reverse ;/* 좌우 순서 변경 */
                justify-content: space-between;
                padding: 5px 0 5px 0;
            }
            .sroty .list ul li:nth-child(4),
            .sroty .list ul li:nth-child(5) {
                display: none;
            }
            .sroty .list ul li a .photo {
                height: 68px;
                width: 30%;
            }
            .sroty .list ul li.long a .photo {
                height: 68px;
            }
            .sroty .list ul li a .inner {
            width: calc(100% - 120px );
            }
            .sroty .list ul li a .inner strong {
                margin: 0 0 3px 0;
                font-size: 13px;
            }
            .sroty .list ul li a .inner h3 {
                font-size: 17px;
                margin: 0;
            }
            .sroty .list ul li a .inner p {
                display: none;
            }
            .sroty .more {
                top: 3px;
            }
            .sroty .more a {
                width: 37px ;
                height: 37px;
                padding: 0;
                font-size: 0;
                line-height: 0;
                background-color:#DFCFC0;
            }
            .sroty .more a::after {
                display: none;
            }
            .sroty .more a::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0625 10.9375H5.6875C5.56354 10.9375 5.45964 10.8955 5.37578 10.8115C5.29193 10.7275 5.25 10.6234 5.25 10.4993C5.25 10.3752 5.29193 10.2714 5.37578 10.1878C5.45964 10.1043 5.56354 10.0625 5.6875 10.0625H10.0625V5.6875C10.0625 5.56354 10.1045 5.45964 10.1885 5.37578C10.2725 5.29193 10.3766 5.25 10.5007 5.25C10.6248 5.25 10.7286 5.29193 10.8122 5.37578C10.8957 5.45964 10.9375 5.56354 10.9375 5.6875V10.0625H15.3125C15.4365 10.0625 15.5404 10.1045 15.6242 10.1885C15.7081 10.2725 15.75 10.3766 15.75 10.5007C15.75 10.6248 15.7081 10.7286 15.6242 10.8122C15.5404 10.8957 15.4365 10.9375 15.3125 10.9375H10.9375V15.3125C10.9375 15.4365 10.8955 15.5404 10.8115 15.6242C10.7275 15.7081 10.6234 15.75 10.4993 15.75C10.3752 15.75 10.2714 15.7081 10.1878 15.6242C10.1043 15.5404 10.0625 15.4365 10.0625 15.3125V10.9375Z' fill='%23956034'/%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 21px;
            }
            .sroty .more a:hover::before {
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0625 10.9375H5.6875C5.56354 10.9375 5.45964 10.8955 5.37578 10.8115C5.29193 10.7275 5.25 10.6234 5.25 10.4993C5.25 10.3752 5.29193 10.2714 5.37578 10.1878C5.45964 10.1043 5.56354 10.0625 5.6875 10.0625H10.0625V5.6875C10.0625 5.56354 10.1045 5.45964 10.1885 5.37578C10.2725 5.29193 10.3766 5.25 10.5007 5.25C10.6248 5.25 10.7286 5.29193 10.8122 5.37578C10.8957 5.45964 10.9375 5.56354 10.9375 5.6875V10.0625H15.3125C15.4365 10.0625 15.5404 10.1045 15.6242 10.1885C15.7081 10.2725 15.75 10.3766 15.75 10.5007C15.75 10.6248 15.7081 10.7286 15.6242 10.8122C15.5404 10.8957 15.4365 10.9375 15.3125 10.9375H10.9375V15.3125C10.9375 15.4365 10.8955 15.5404 10.8115 15.6242C10.7275 15.7081 10.6234 15.75 10.4993 15.75C10.3752 15.75 10.2714 15.7081 10.1878 15.6242C10.1043 15.5404 10.0625 15.4365 10.0625 15.3125V10.9375Z' fill='%23956034'/%3E%3C/svg%3E ");
            }
} /*media*/


footer {
    background-color: #DFCFC0;
    padding: 80px 0 110px 0;
    color:rgba(85, 85, 85, 80);
}
footer .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative; /* copyright 정렬의 기준 */
}
footer h2 {
    display: none; /* 숨김 */
}
footer .slogan {
    font-family: 'eulyo';
    font-size: 25px;
    line-height: 1.2;
    color: #534B4B;
}
footer .f_info .group + .group {
    margin: 50px 0 0 0;
}
footer .f_info .group h3 {
    font-family: 'eulyo';
    font-size: 25px;
    line-height: 1.4;
    color: #534B4B;
    margin: 0 0 10px 0 ;
}
footer .f_info .group.sns ul {
    display: flex;
    gap: 40px ;
}

footer .copyright {
    position: absolute;
    left: 0;
    bottom: 0;
} 
footer .copyright .f_logo img {
    width: 167px;
}
footer .copyright .copy {
    margin: 7px 0 0 0;
    font-size: 15px;
    color: rgba(149, 96, 52, 50);
}


@media screen and (max-width:640px){
                    footer {
                        padding: 51px 0 56px 0;
                    }
                    footer .wrapper {
                        display: block;
                    }
                    footer .slogan {
                        font-size: 17px;
                        margin: 0 0 48px 0;
                    }
                    footer .f_info .group + .group {
                        margin: 25 0 0 0;
                    }
                    footer .f_info .group h3 {
                        font-size: 17px;
                        margin: 0 0 6px 0 ;
                    }
                    footer .f_info .group.sns ul {
                        gap: 5px 34px ; /* 위아래 좌우*/
                        flex-wrap: wrap; /* 줄 바꿈 허용 */
                    }
                    
                    footer .copyright {
                        position: relative;
                        left: auto;
                        bottom: auto;
                        margin: 77px 0 0 0;
                    } 
                    footer .copyright .f_logo img {
                        width: 139px;
                    }
                    footer .copyright .copy {
                        margin: 7px 0 0 0;
                        font-size: 12px;
                        color: rgba(149, 96, 52, 50);
                    }
}/*media*/