@font-face {
	font-family: 'Ptd';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
	font-family: 'ptd';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../fonts/Pretendard-Bold.woff2) format('woff2'), url(../fonts/Pretendard-Bold.woff) format('woff');
}
body {
	font-family: 'Ptd' , sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #2d2d2d;
    line-height: 1.4;
}
li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
} 
strong {
    font-weight: inherit;
}
a {
    color: inherit;
    text-decoration:  none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
}
.line h1 {
    font-size: 45px;
    font-weight: 700;
    color: #2d2d2d;
    margin: 57px 0 34px 0;
}
strong {
    font-size: 17px;
    color: #00b900;
    font-weight: 400;
}
.line .list ul {
    display: flex;
    text-align:center;
}
.mark h1 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin: 143px 0 25px 0;
    text-align: center;
}
.mark .wrap .list {
    margin: 15px 0 36px 0;
    text-align: center;
    color: #ffff
}