.main__domain {
  width: 100%;
  padding: 50px 10%;
  box-sizing: border-box;
}

.main__domain-2 {
  width: 100%;
  padding: 50px 10%;
  box-sizing: border-box;
  background-color: #eff0f6;
}

#top-level-domain {
  background-color: #EBF6FD;
}

.title__domain {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #113873;
  background-image: linear-gradient(rgba(64,
        63,
        63,
        0.5),
      rgba(64, 63, 63, 0.5)), url('./images/domain/domain.jpg');
  background-size: cover;
  background-position: 75% 75%;
  background-repeat: no-repeat;
  padding: 40px;
  box-sizing: border-box;
}

.text__title__domain-en {
  color: white;
  font-size: 16px;
}

.text__title__domain-ko {
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
  color: white;
}

.hr__domain {
  margin: 60px 0;
}

.box-container__domain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0;
}

.box__domain {
  width: 45%;
  margin-bottom: 150px;
}

.box__domain:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  color: #2F76D1;
}

.box__domain-h2 {
  font-size: 20px;
  width: 100%;
  margin: 16px 0;
  transition: all 0.3s ease;
}

.box__domain-des {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
}

/******* 국가 도메인 ********/

.title__country-domain {
  position: relative;
  width: 100%;
  height: 300px;
  padding: 40px;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(64,
        63,
        63,
        0.5),
      rgba(64, 63, 63, 0.5)), url('./images/domain/country-domain.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}




.header__section-country-domain-1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 80px;
}

.info-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 240px;
}

.info-card {
  background: #eff0f6;
  padding: 40px;
  border-radius: 10px;
  flex: 1;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.info-card:hover {
  background: #113873;
  color: #ffffff;
  transform: translateY(-5px);
}


.domain-section {
  margin-bottom: 220px;
}

.section-title {
  color: #0066ff;
  font-size: 24px;
  font-weight: 600;
  margin: 60px 0;
}

.korean-domain {
  background: white;
  border-radius: 12px;
  padding: 30px;
  margin-bottom: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.subsection,
.subsection-1 {
  padding: 24px;
  background: #f8f9fa;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.subsection-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}

.subsection:hover {
  background: #113873;
  color: #f8f9fa;
  transform: translateY(-5px);
}

.subsection:hover .subsection-title {
  color: #f8f9fa;
}

.subsection-title::before {
  content: '';
  width: 4px;
  height: 16px;
  background: #0066ff;
  border-radius: 2px;
  display: inline-block;
}

.domain-boxes {
  display: flex;
  gap: 16px;
}

.domain-box {
  background: white;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 16px 40px;
  font-size: 18px;
  font-weight: 600;
  flex: 1;
  text-align: center;
}

.domain-rules {
  padding: 0;
}

.domain-rules p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 12px;
  padding-left: 20px;
  position: relative;
}

.domain-rules p:last-child {
  margin-bottom: 0;
}

.domain-rules p::before {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #0066ff;
}

.domain-info {
  display: flex;
  gap: 40px;
}

.domain-box {
  border: 1px solid #e1e1e1;
  padding: 15px 30px;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  transition: all 0.3s ease;
}

.domain-box:hover {
  background: #113873;
  color: #ffffff;
  transform: translateY(-5px);
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 60px;
}

.feature-card {
  background: #fff;
  padding: 25px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.feature-card:hover {
  background: #113873;
  color: #fff;
  transform: translateY(-5px);
}

.feature-card:hover .feature-card p {
  color: #fff;
}

.feature-card p {
  width: 100%;
  font-size: 16px;
}

.feature-icon {
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.feature-icon img {
  width: 40px;
  height: 40px;
}

.global-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.global-card {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  height: 150px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.global-card p {
  width: 100%;
  font-size: 16px;
  word-break: keep-all;
  /* 단어 단위 줄바꿈 */
  overflow-wrap: break-word;
  /* 너무 긴 단어는 줄바꿈 */
}

.global-card:hover {
  background: #113873;
  color: #fff;
  transform: translateY(-5px);
}

.global-card:hover .global-card p {
  color: #fff;
}

.wave-bg {
  position: relative;
  overflow: hidden;
}

.wave-bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('./images/domain/wavy.png') center/cover;
  opacity: 0.1;
  z-index: -1;
}

.country-domain-banner {
  background: #1a1f36;
  color: #fff;
  text-align: center;
  height: 250px;
  padding: 50px 10%;
  background-color: #113873;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.country-domain-banner__title {
  font-size: 32px;
  margin-bottom: 8px;
}

.country-domain-banner__desc {
  font-size: 18px;
  font-weight: 100;
}

/***** 국가 최상위 도메인 *****/
.title__top-domain {
  position: relative;
  width: 100%;
  height: 300px;
  padding: 40px;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(23,
        23,
        23,
        0.5),
      rgba(23, 23, 23, 0.5)), url('./images/domain/top-level-domain.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.header__section-top-domain-1 {
  color: #114cf5;
  font-size: 22px;
}

.desc__section-top-domain-1 {
  margin: 40px 0;
  font-size: 16px;
  word-break: keep-all;
  /* 단어 단위 줄바꿈 */
  overflow-wrap: break-word;
  /* 너무 긴 단어는 줄바꿈 */
  line-height: 1.8;
}

/** 국가 최상위 도메인: 표 **/

/* 탭 메뉴 스타일 */
.tab-container {
  margin: 0 auto;
  padding: 110px 0;
  font-size: 16px;
}

.tab-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px;
  font-size: 16px;
}

.tab-item {
  padding: 10px 20px;
  cursor: pointer;
  color: #666;
  transition: all 0.3s ease;
}

.tab-item.active {
  color: #4b7bf5;
  border-bottom: 2px solid #4b7bf5;
}

/* 테이블 스타일 */
.table-container {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.table-container.active {
  display: block;
  opacity: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #ffffff;
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

tr:hover {
  background-color: #f8f9fa;
}

/* 공통 모바일 메뉴 스타일 (태블릿 & 모바일) */
@media (max-width: 1279px) {

  /* 도메인 공통 */
  .main__domain {
    padding: 20px;
  }

  .hr__domain {
    margin: 40px 0;
  }

  /* 1. 도메인 */
  .box__domain {
    width: 100%;
    margin-bottom: 80px;
  }

  /* 3. 국가 도메인 */
  .info-cards {
    flex-direction: column;
  }

  .korean-domain,
  .domain-boxes,
  .features-grid,
  .global-section {
    display: flex;
    flex-direction: column;
  }
}

/* 태블릿 전용 스타일 */
@media (max-width: 1279px) and (min-width: 769px) {

  .title__domain,
  .title__top-domain,
  .title__country-domain {
    height: 230px;
  }

  .text__title__domain-ko {
    font-size: 30px;
  }

  .text__title__domain-en {
    font-size: 16px;
  }



  /* 2. 국가 최상위 도메인 */
  .desc__section-top-domain-1 {
    line-height: 40px;
    font-size: 20px;
  }

  /* 3. 국가 도메인 */
  .header__section-country-domain-1 {
    margin-top: 60px;
    font-size: 30px;
  }
}

/* 모바일 전용 스타일 */
@media (max-width: 768px) {

  .title__domain,
  .title__top-domain,
  .title__country-domain {
    height: 180px;
  }

  .text__title__domain-ko {
    font-size: 24px;
    top: 42px;
  }

  .text__title__domain-en {
    font-size: 14px;
    top: 20px;
  }

  .info-cards {
    margin-bottom: 120px;
  }

  /* 1. 도메인 */
  .box__domain {
    margin-bottom: 60px;
  }

  .box__domain-h2 {
    font-size: 20px;
  }

  .box__domain-des {
    font-size: 16px;
    line-height: 30px;
  }

  .domain-rules p {
    font-size: 16px;
  }

  .domain-section {
    margin-bottom: 150px;
  }

  .subsection,
  .subsection-1 {
    padding: 16px;
  }

  .korean-domain {
    padding: 20px;
  }

  /* 2. 국가 최상위 도메인 */
  .desc__section-top-domain-1 {
    line-height: 32px;
    font-size: 16px;
  }

  .header__section-top-domain-1 {
    font-size: 28px;
  }

  .tab-menu {
    flex-wrap: wrap;
  }

  .tab-item {
    padding: 8px 10px;
    font-size: 14px;
  }


  td,
  th {
    padding: 8px;
    font-size: 14px;
  }

  /* 3. 국가 도메인 */
  .header__section-country-domain-1 {
    font-size: 24px;
  }

  .info-card {
    font-size: 16px;

  }

  .section-title {
    font-size: 24px;
    margin: 30px 0;
  }

  .subsection-title {
    font-size: 20px;
  }

  .domain-box,
  .global-card p {
    font-size: 16px;
  }

  .feature-card p {
    font-size: 16px;
  }

  .domain-section {
    margin-bottom: 120px;
  }

  .country-domain-banner {
    padding: 30px;
    height: 200px;
  }

  .country-domain-banner__title {
    font-size: 28px;
    line-height: 40px;
  }

  .country-domain-banner__desc {
    font-size: 14px;
  }

}