@import url(default.css); /* default.css를 이 문서에 복사해서 넣은 것처럼 불러오기 */
@import url(fonts.css);
@import url(common.css);

header {
    position: absolute; /*body를 기준으로 정렬*/
    left: 0;
    top: 0;
    z-index: 100; /* 제일 높은 값이 위로 올라감, 바디보다 내가 더높아 맨위야*/
    color: #fff;
    width: 100%; /* header에 absolute를 주면 무조건 width:100%*/
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center; /* 위 아래 가운데*/
    padding: 0 20px 0 20px; /* 좌우 여백*/
}
header .logo {
    margin: 5px 0 0 0;
}
header .gnb .gnb_open { 
    display: none; /* 모바일에서만 나옴*/
}
header .gnb .gnb_close {
    display: none; /* 모바일에서만 나옴*/
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    font-family: 'eulyo';
    font-family: 400;
    font-size: 20px;
    line-height: 100px; /* header 높이만큼*/
    padding: 0 25px;
}

.visual {
    overflow: hidden;
    /* 높이가 낮으면 글자가 영역 밖으로 나갈 수도 있어서*/
    height:100vh ;
    /*모바일에서 네이버처럼 하단에 자신의 툴바가 나오면 내가 생각하는 100vh와 다름*/
    background: url(../images/visual_bg.jpg) no-repeat center center /cover;
    color: #fff;
    position: relative; /*scroll 정렬의 기준*/
}
.visual .wrapper {
    padding: 76vh 0 0 0;  
}
.visual .inner {
    /* h2와 p 전체의 콘텐츠의 높이를 암
       콘텐츠 높이의 절반을 위로 이동 */
    transform: translateY(-50%);
}
.visual h2 {
    font-family: 'eulyo';
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 10px 0;
}
.visual p {
    font-family: 'Pretendard';
    font-size: 17px;
     font-weight: 400;

}
.visual h2 span {
    font-size: 120px;
    font-weight: 400;
    color: rgba(255,255,255,0.1);
    position: absolute;/* h2를 기준으로 정렬*/
    left: 57px;
    top: -47px;
}
.visual .scroll {
    position: absolute; /* visual를 기준으로 정렬 , after 정렬의 기준*/
    left: 50%;
    bottom: 30px;
    color: rgba(255,255,255,0.8);
    font-size: 13px;
    transform: translateX(-50%);
}
.visual .scroll::after {
    content: "";
    position: absolute; /*scroll을 기준으로 정렬*/
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.19189 10.2568L13.233 5.06013C13.3293 4.96079 13.4461 4.91073 13.5834 4.90997C13.7209 4.90909 13.8392 4.95684 13.9385 5.05322C14.0378 5.14948 14.0885 5.26634 14.0906 5.40378C14.0927 5.54112 14.0456 5.65946 13.9492 5.75881L8.95592 10.9025C8.8504 11.0112 8.73211 11.0913 8.60105 11.1426C8.46988 11.1939 8.33839 11.2206 8.20658 11.2226C8.07478 11.2246 7.94254 11.202 7.80987 11.1546C7.67731 11.1073 7.55664 11.0309 7.44786 10.9254L2.30039 5.932C2.20105 5.83574 2.151 5.71954 2.15026 5.58339C2.1494 5.44726 2.19716 5.32957 2.29354 5.23033C2.3898 5.13098 2.50665 5.08026 2.6441 5.07817C2.78144 5.07608 2.89978 5.12322 2.99913 5.2196L8.19189 10.2568Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: scroll_move ;
    animation-duration: 2s; /* 2초 동안 한번 */
    animation-iteration-count: infinite; /* 반복횟수 - 무한 */
    animation-timing-function: linear; /* 가속도 삭제 */
}
@keyframes scroll_move {
    0%{ bottom: -15px; }
    50%{ bottom: -27px; }
    100%{ bottom: -15px; }
}

@media screen and (max-width:640px){ 
                .visual .wrapper {
                    padding: 60vh 0 0 0;  
                }
                .visual h2 {
                    font-size: 35px;
                    margin: 95px 0 3px 0;
                }
                .visual p {
                    font-family: 'Pretendard';
                    font-size: 13px;
                    font-weight: 400;
                
                }
                .visual h2 span {
                    font-size: 50px;
                    left: 44px;
                    top: -24px;
                }
                .visual .scroll::after {
                    bottom: -15px;
                    animation-name: scroll_move ;
                }
                @keyframes scroll_move {
                    0%{ bottom: -15px; }
                    50%{ bottom: -27px; }
                    100%{ bottom: -15px; }
                }
}/*media*/



footer {
    margin-top: 500px;
}