@import url(default.css); /* default.css를 이 문서에 복사해서 넣은 것처럼 불러오기 */
@import url(fonts.css);
@import url(common.css?v=1211);

header {
    position: absolute; /*body를 기준으로 정렬*/
    left: 0;
    top: 0;
    z-index: 100; /* 제일 높은 값이 위로 올라감, 바디보다 내가 더높아 맨위야*/
    color: #fff;
    width: 100%; /* header에 absolute를 주면 무조건 width:100%*/
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center; /* 위 아래 가운데*/
    padding: 0 20px 0 20px; /* 좌우 여백*/
}
header .logo {
    margin: 5px 0 0 0;
}
header .gnb .gnb_open { 
    display: none; /* 모바일에서만 나옴*/
}
header .gnb .gnb_close {
    display: none; /* 모바일에서만 나옴*/
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    font-family: 'eulyo';
    font-weight: 400;
    font-size: 20px;
    line-height: 100px; /* header 높이만큼*/
    padding: 0 25px;
}
header .tnb {
    display: flex;
}
header .tnb .search {
    font-size: 0;
    line-height: 0; /*글자를 안보이게 하려고 */
    width: 38px; /* 버튼의크기 */
    height: 38px;
    position: relative; /* befotr 정렬의*/
}
header .tnb .mypage {
    font-size: 0;
    line-height: 0; /*글자를 안보이게 하려고 */
    width: 38px; /* 버튼의크기 */
    height: 38px;
    position: relative; /* befotr 정렬의*/
}
header .tnb .search::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5025 18.8684C9.43911 18.8684 7.69166 18.1527 6.26019 16.7215C4.82892 15.29 4.11328 13.5425 4.11328 11.4791C4.11328 9.41567 4.82892 7.66822 6.26019 6.23675C7.69166 4.80548 9.43911 4.08984 11.5025 4.08984C13.566 4.08984 15.3134 4.80548 16.7449 6.23675C18.1762 7.66822 18.8918 9.41567 18.8918 11.4791C18.8918 12.3421 18.747 13.1662 18.4574 13.9517C18.1676 14.7371 17.781 15.4202 17.2977 16.001L24.2505 22.9537C24.4178 23.1209 24.5034 23.3311 24.5072 23.5845C24.5111 23.8378 24.4255 24.052 24.2505 24.227C24.0755 24.402 23.8632 24.4895 23.6137 24.4895C23.3643 24.4895 23.1522 24.402 22.9772 24.227L16.0244 17.2743C15.4203 17.7731 14.7255 18.1635 13.9401 18.4454C13.1546 18.7274 12.3421 18.8684 11.5025 18.8684ZM11.5025 17.0562C13.0595 17.0562 14.3782 16.5158 15.4586 15.4352C16.5393 14.3547 17.0796 13.036 17.0796 11.4791C17.0796 9.92217 16.5393 8.60347 15.4586 7.52302C14.3782 6.44237 13.0595 5.90204 11.5025 5.90204C9.9456 5.90204 8.62691 6.44237 7.54646 7.52302C6.46581 8.60347 5.92548 9.92217 5.92548 11.4791C5.92548 13.036 6.46581 14.3547 7.54646 15.4352C8.62691 16.5158 9.9456 17.0562 11.5025 17.0562Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 28px; /*원래 아이콘의 넓이,크기임 (높이는 자동으로 들어감)*/ 
}
header .tnb .mypage::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 14.6152C13.7969 14.6152 12.767 14.1869 11.9103 13.3302C11.0534 12.4734 10.625 11.4434 10.625 10.2402C10.625 9.03711 11.0534 8.00721 11.9103 7.15055C12.767 6.29367 13.7969 5.86523 15 5.86523C16.2031 5.86523 17.233 6.29367 18.0897 7.15055C18.9466 8.00721 19.375 9.03711 19.375 10.2402C19.375 11.4434 18.9466 12.4734 18.0897 13.3302C17.233 14.1869 16.2031 14.6152 15 14.6152ZM5.625 22.2355V21.3555C5.625 20.7435 5.79125 20.1766 6.12375 19.6549C6.45625 19.1333 6.90062 18.7322 7.45687 18.4518C8.69229 17.8462 9.93865 17.3919 11.1959 17.089C12.4532 16.7861 13.7213 16.6346 15 16.6346C16.2787 16.6346 17.5468 16.7861 18.8041 17.089C20.0614 17.3919 21.3077 17.8462 22.5431 18.4518C23.0994 18.7322 23.5437 19.1333 23.8762 19.6549C24.2087 20.1766 24.375 20.7435 24.375 21.3555V22.2355C24.375 22.7626 24.1903 23.211 23.8209 23.5805C23.4516 23.9499 23.0032 24.1346 22.4759 24.1346H7.52406C6.99677 24.1346 6.54844 23.9499 6.17906 23.5805C5.80969 23.211 5.625 22.7626 5.625 22.2355ZM7.5 22.2596H22.5V21.3555C22.5 21.1024 22.4267 20.868 22.28 20.6524C22.1333 20.437 21.9343 20.2612 21.6828 20.1249C20.6057 19.5945 19.5076 19.1926 18.3884 18.9193C17.2691 18.6462 16.1396 18.5096 15 18.5096C13.8604 18.5096 12.7309 18.6462 11.6116 18.9193C10.4924 19.1926 9.39427 19.5945 8.31719 20.1249C8.06573 20.2612 7.86667 20.437 7.72 20.6524C7.57333 20.868 7.5 21.1024 7.5 21.3555V22.2596ZM15 12.7402C15.6875 12.7402 16.276 12.4954 16.7656 12.0059C17.2552 11.5163 17.5 10.9277 17.5 10.2402C17.5 9.55273 17.2552 8.96419 16.7656 8.47461C16.276 7.98503 15.6875 7.74023 15 7.74023C14.3125 7.74023 13.724 7.98503 13.2344 8.47461C12.7448 8.96419 12.5 9.55273 12.5 10.2402C12.5 10.9277 12.7448 11.5163 13.2344 12.0059C13.724 12.4954 14.3125 12.7402 15 12.7402Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px; /*원래 아이콘의 넓이,크기임 (높이는 자동으로 들어감)*/
}
@media screen and (max-width:640px){ 
            header {
                height: 56px;
                border-bottom: 1px solid rgba(255,255,255,0.1);
                padding: 0 0 0 20px; /* 좌우 여백*/
            }
            header .logo {
                margin: 5px 0 0 0;
            }
            header .logo a img {
                width: 139px; /* img태그는 넓이만 줘도 높이는 알아서 들어감, 비율에 맞게  알아서 들어감 */
            }
            header .gnb .gnb_open { 
                display: block; /* 모바일에서만 나옴*/
                width: 60px;
                height: 56px; /* header의 높이*/
                font-size: 0; /*기존 글씨 숨김*/
                line-height: 0;
                position: relative; /*before 정렬의 기준*/
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='13' viewBox='0 0 20 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.625 12.3171C0.447917 12.3171 0.299479 12.261 0.179688 12.1488C0.0598958 12.0366 0 11.8976 0 11.7319C0 11.5661 0.0598958 11.4274 0.179688 11.3158C0.299479 11.2041 0.447917 11.1483 0.625 11.1483H19.375C19.5521 11.1483 19.7005 11.2044 19.8203 11.3166C19.9401 11.4287 20 11.5676 20 11.7336C20 11.8994 19.9401 12.0381 19.8203 12.1497C19.7005 12.2613 19.5521 12.3171 19.375 12.3171H0.625ZM0.625 6.74294C0.447917 6.74294 0.299479 6.68684 0.179688 6.57464C0.0598958 6.46244 0 6.32345 0 6.15768C0 5.99191 0.0598958 5.85322 0.179688 5.7416C0.299479 5.62998 0.447917 5.57417 0.625 5.57417H19.375C19.5521 5.57417 19.7005 5.63027 19.8203 5.74247C19.9401 5.85468 20 5.99366 20 6.15943C20 6.3252 19.9401 6.4639 19.8203 6.57552C19.7005 6.68713 19.5521 6.74294 19.375 6.74294H0.625ZM0.625 1.16877C0.447917 1.16877 0.299479 1.11267 0.179688 1.00047C0.0598958 0.888462 0 0.749477 0 0.583511C0 0.41774 0.0598958 0.279046 0.179688 0.167428C0.299479 0.0558101 0.447917 0 0.625 0H19.375C19.5521 0 19.7005 0.0561014 19.8203 0.168304C19.9401 0.280506 20 0.419493 20 0.585264C20 0.751035 19.9401 0.889729 19.8203 1.00135C19.7005 1.11296 19.5521 1.16877 19.375 1.16877H0.625Z' fill='white'/%3E%3C/svg%3E%0A");
                background-position: center center; /* 아이콘을 가운데로 가라고 */
                background-repeat: no-repeat;
                background-size: 22px; /*내가 디자인한 아이콘 크기*/
            }
            header .gnb .gnb_open::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
            header .gnb .gnb_wrap {
                display: none; /* 메뉴숨김*/
            }
            header .tnb {
                display: none;  /*숨김*/
            }
} /*media*/


.visual {
    overflow: hidden;
    /* 높이가 낮으면 글자가 영역 밖으로 나갈 수도 있어서*/
    height: 100dvh ;
    /*모바일에서 네이버처럼 하단에 자신의 툴바가 나오면 내가 생각하는 100vh와 다름*/
    background: url(../images/visual_bg.jpg) no-repeat center center /cover;
    color: #fff;
    position: relative; /*scroll 정렬의 기준*/
}
.visual .wrapper {
    padding: 76dvh 0 0 0;  
}
.visual .inner {
    /* h2와 p 전체의 콘텐츠의 높이를 암
       콘텐츠 높이의 절반을 위로 이동 */
    transform: translateY(-50%);
}
.visual h2 {
    font-family: 'eulyo';
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 10px 0;
}
.visual p {
    font-family: 'Pretendard';
    font-size: 17px;
     font-weight: 400;

}
.visual h2 span {
    font-size: 120px;
    font-weight: 400;
    color: rgba(255,255,255,0.1);
    position: absolute;/* h2를 기준으로 정렬*/
    left: 57px;
    top: -47px;
}
.visual .scroll {
    position: absolute; /* visual를 기준으로 정렬 , after 정렬의 기준*/
    left: 50%;
    bottom: 30px;
    color: rgba(255,255,255,0.8);
    font-size: 13px;
    transform: translateX(-50%);
}
.visual .scroll::after {
    content: "";
    position: absolute; /*scroll을 기준으로 정렬*/
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.19189 10.2568L13.233 5.06013C13.3293 4.96079 13.4461 4.91073 13.5834 4.90997C13.7209 4.90909 13.8392 4.95684 13.9385 5.05322C14.0378 5.14948 14.0885 5.26634 14.0906 5.40378C14.0927 5.54112 14.0456 5.65946 13.9492 5.75881L8.95592 10.9025C8.8504 11.0112 8.73211 11.0913 8.60105 11.1426C8.46988 11.1939 8.33839 11.2206 8.20658 11.2226C8.07478 11.2246 7.94254 11.202 7.80987 11.1546C7.67731 11.1073 7.55664 11.0309 7.44786 10.9254L2.30039 5.932C2.20105 5.83574 2.151 5.71954 2.15026 5.58339C2.1494 5.44726 2.19716 5.32957 2.29354 5.23033C2.3898 5.13098 2.50665 5.08026 2.6441 5.07817C2.78144 5.07608 2.89978 5.12322 2.99913 5.2196L8.19189 10.2568Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: scroll_move ;
    animation-duration: 2s; /* 2초 동안 한번 */
    animation-iteration-count: infinite; /* 반복횟수 - 무한 */
    animation-timing-function: linear; /* 가속도 삭제 */
}
@keyframes scroll_move {
    0%{ bottom: -15px; }
    50%{ bottom: -27px; }
    100%{ bottom: -15px; }
}

@media screen and (max-width:640px){ 
                .visual .wrapper {
                    padding: 60dvh 0 0 0;  
                }
                .visual h2 {
                    font-size: 35px;
                    margin: 95px 0 3px 0;
                }
                .visual p {
                    font-family: 'Pretendard';
                    font-size: 13px;
                    font-weight: 400;
                
                }
                .visual h2 span {
                    font-size: 50px;
                    left: 44px;
                    top: -24px;
                }
                .visual .scroll::after {
                    bottom: -15px;
                    animation-name: scroll_move ;
                }
                @keyframes scroll_move {
                    0%{ bottom: -15px; }
                    50%{ bottom: -27px; }
                    100%{ bottom: -15px; }
                }
}/*media*/

.book {
    margin: 145px 0 0 0;
}
.book .inner {
    display: flex;
    justify-content: space-between;
    width: 1333px;
    /*flex는 flex를 준 요소의 넓이보다 내부의 넓이를 바꿈, 넓이를 유지하려면 flex를 준요소에 넓이를 고정값으로 주면됨 */
    position: relative;
    left:calc(50% - 630px);
}

.book .tit h2 {
    font-family: 'eulyo';
    font-weight: 400;
    font-size: 45px;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 10px 0;
}
.book .list  ul {
    display: flex;
    gap: 24px;
}
.book .list  ul li {
    width: 200px;
    /*pc와 모바일 모두 브라우저의 넓이에 따라서 책의 넓이가 바뀌지 않고 보이는 책을 수만 달라짐*/
}
.book .list  ul li a {
    display: block;
}
.book .list  ul li a .photo {
    overflow: hidden;
    font-size: 0; /* 이미지 하단에 여백 삭제*/
    line-height: 0;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.1);
}
.book .list  ul li a .photo img {
    width: 100%;
}
.book .list ul li a h3 {
    font-family: 'eulyo';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.2;
    color: #1d1d1d;
    padding: 20px 0 10px 0;

    /*1줄 제한*/
    white-space: nowrap ;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .list ul li a h3 span {
    position: relative; /*after 정렬의 기준*/
}
.book .list ul li a h3 span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 1px;
    background-color: #1d1d1d;
    transition: 1s;
}
.book .list ul li a:hover h3 span::after {
    width: 100%;
}
.book .list ul li a .name {
    font-size: 15px;
    color: #3d3d3d;
    line-height: 1.4;
}
.book .more {
    position: absolute; /*inner 를 기준으로 정렬*/
    left: 0;
    top: 195px;
}
.book .more a {
    display: block;
    padding: 6px 62px 6px 23px;
    background-color: #CEC4C3;
    border-radius: 40px;
    color: #1d1d1d;
}
.book .more a::after {
    content: ""; 
    position: absolute; /*more를 기준으로 정렬*/
    right: 18px;
    top: 15px;
    width: 27px;
    height: 6px;
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='8' viewBox='0 0 29 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 7H27.5L19.5 1' stroke='%231D1D1D'/%3E%3C/svg%3E ");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.book .more a:hover {
    background-color: #5D4141;
    color: #FADEDE;
    border-color: #5D4141;
}
.book .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='8' viewBox='0 0 29 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 7H27.5L19.5 1' stroke='%23FADEDE'/%3E%3C/svg%3E ");
    animation-name: more_ani ;
    animation-timing-function: linear; /* 가속도 없음,빼야함*/
    animation-duration: 2s; /* 애니메이션 1번 실행 시간*/
    animation-iteration-count: infinite; /* 무한반복*/
}
/* 화살표가 좌우로 움직이닌 애니메이션*/
@keyframes more_ani {
    0% {right:18px;}
    50% {right:25px;}
    100% {right:18px;}
}

@media screen and (max-width:640px){ 
                .book {
                    margin: 50px 0 0 0;
                }
                .book .inner {
                    display: block;
                    width: auto;
                    left: auto;/* 원래 안준 것 처럼*/
                    margin: 0 0 0 20px; /* 왼쪽에만 */
                }
                .book .tit h2 {
                    font-size: 25px;
                    margin: 0 0 7px 0;
                }
                .book .tit h2 br {
                    display: none; /* 줄바꿈 삭제*/
                }
                .book .list {
                    margin: 25px 0 0 0;
                    overflow-x: auto;
                    /* x는 좌우, 좌우면 내부 컨텐츠의 길이가 나보다 더 길면 콘텐츠를 좌우 스크롤 한다.*/
                }
                .book .list  ul {
                    gap: 16px;
                    width: 1014px;
                    /* 186 *5 = 930
                       16 * (5-1) =64
                       930+ 54= 1014 */
                }
                .book .list  ul li {
                    width: 186px;
                    /*pc와 모바일 모두 브라우저의 넓이에 따라서 책의 넓이가 바뀌지 않고 보이는 책을 수만 달라짐*/
                }
                .book .list ul li a h3 {
                    font-size: 17px;
                    padding: 10px 0 5px 0;
                }
                .book .more {
                    left: auto;
                    right: 20px; /* left:0; 이었는데 right:0으로 변경시 반드시 left:auto; 로 바꿔주고, right 줘야함.*/
                    top: 3px;
                }
                .book .more a {
                    width: 38px;
                    height: 38px;
                    padding: 0;
                    font-size: 0;
                    line-height: 0;
                    background-color: #5D4141;
                }
                .book .more a::after {
                    display: none; /* 숨김*/
                }
                .book .more a::before {
                    content: "";
                    position: absolute;/*more를 기준으로 정렬*/
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0625 10.9375H5.6875C5.56354 10.9375 5.45964 10.8955 5.37578 10.8115C5.29193 10.7275 5.25 10.6234 5.25 10.4993C5.25 10.3752 5.29193 10.2714 5.37578 10.1878C5.45964 10.1043 5.56354 10.0625 5.6875 10.0625H10.0625V5.6875C10.0625 5.56354 10.1045 5.45964 10.1885 5.37578C10.2725 5.29193 10.3766 5.25 10.5007 5.25C10.6248 5.25 10.7286 5.29193 10.8122 5.37578C10.8957 5.45964 10.9375 5.56354 10.9375 5.6875V10.0625H15.3125C15.4365 10.0625 15.5404 10.1045 15.6242 10.1885C15.7081 10.2725 15.75 10.3766 15.75 10.5007C15.75 10.6248 15.7081 10.7286 15.6242 10.8122C15.5404 10.8957 15.4365 10.9375 15.3125 10.9375H10.9375V15.3125C10.9375 15.4365 10.8955 15.5404 10.8115 15.6242C10.7275 15.7081 10.6234 15.75 10.4993 15.75C10.3752 15.75 10.2714 15.7081 10.1878 15.6242C10.1043 15.5404 10.0625 15.4365 10.0625 15.3125V10.9375Z' fill='%23fff'/%3E%3C/svg%3E ");
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 21px;
                }
                .book .more a:hover::before {
                    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0625 10.9375H5.6875C5.56354 10.9375 5.45964 10.8955 5.37578 10.8115C5.29193 10.7275 5.25 10.6234 5.25 10.4993C5.25 10.3752 5.29193 10.2714 5.37578 10.1878C5.45964 10.1043 5.56354 10.0625 5.6875 10.0625H10.0625V5.6875C10.0625 5.56354 10.1045 5.45964 10.1885 5.37578C10.2725 5.29193 10.3766 5.25 10.5007 5.25C10.6248 5.25 10.7286 5.29193 10.8122 5.37578C10.8957 5.45964 10.9375 5.56354 10.9375 5.6875V10.0625H15.3125C15.4365 10.0625 15.5404 10.1045 15.6242 10.1885C15.7081 10.2725 15.75 10.3766 15.75 10.5007C15.75 10.6248 15.7081 10.7286 15.6242 10.8122C15.5404 10.8957 15.4365 10.9375 15.3125 10.9375H10.9375V15.3125C10.9375 15.4365 10.8955 15.5404 10.8115 15.6242C10.7275 15.7081 10.6234 15.75 10.4993 15.75C10.3752 15.75 10.2714 15.7081 10.1878 15.6242C10.1043 15.5404 10.0625 15.4365 10.0625 15.3125V10.9375Z' fill='%23FADEDE'/%3E%3C/svg%3E ");
                }

}/*media*/

.interview {
    background-color: #F9F7F7;
    margin: 120px 0 0 0;
    padding: 150px 0 228px 0;
}
.interview .tit {
    text-align: center;
}
.interview .tit h2 {
    font-family: 'eulyo';
    font-weight: 400;
    font-size: 45px;
    line-height: 1.2;
    color: #1d1d1d;
    padding: 0 0 10px 0;
}
.interview .list {
    margin:47px 0 0 0;
}
.interview .list ul {
    display: flex;
    justify-content: space-between;
}
.interview .list ul li {
    width: 403px;
}
.interview .list ul li:nth-child(2) {
    margin: 37px 0 0 0;
}
.interview .list ul li a {
    display: block;
    position: relative; /* inner 정렬의 기준*/
}
.interview .list ul li a .photo {
    overflow: hidden;
    height: 406px;
    border-radius: 50px 0 50px 0;
    position: relative; /*before 정렬의 기준*/
}
.interview .list ul li:nth-child(2) a .photo {
    border-radius: 0 50px 0 50px;
}
.interview .list ul li a .photo::before {
    content: "";
    position: absolute; /*photo를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 1; /* 순서를 위로*/
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
}
.interview .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: 0.5s;
}
.interview .list ul li a .inner {
    position: absolute; /* a를 기준으로 정렬*/
    left: 33px;
    bottom: 31px;
    width: calc(100% - 66px);
    /**/
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.interview .list ul li a .inner h3 {
    font-family: 'eulyo';
    font-weight: 400;
    font-size: 35px;
    line-height: 1.2;
}
.interview .list ul li a .inner p {
    display: none ;
}
.interview .list ul li a .inner span {
    width: 57px; /* 아이콘 크기*/
    height: 57px;
    font-size: 0; /* 글자 안보이게*/
    line-height: 0;
    position: relative; /* before 정렬의 기준*/
}
.interview .list ul li a .inner span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='57' height='58' viewBox='0 0 57 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.6691 30.294H15.7941C15.5586 30.294 15.3611 30.2141 15.2016 30.0542C15.0425 29.8946 14.9629 29.6967 14.9629 29.4604C14.9629 29.2245 15.0425 29.0274 15.2016 28.869C15.3611 28.7107 15.5586 28.6315 15.7941 28.6315H27.6691V16.7565C27.6691 16.521 27.7491 16.3237 27.909 16.1646C28.0685 16.0051 28.2665 15.9253 28.5028 15.9253C28.7387 15.9253 28.9358 16.0051 29.0941 16.1646C29.2525 16.3237 29.3316 16.521 29.3316 16.7565V28.6315H41.2066C41.4422 28.6315 41.6395 28.7115 41.7986 28.8714C41.9581 29.0309 42.0379 29.2289 42.0379 29.4652C42.0379 29.7011 41.9581 29.8982 41.7986 30.0565C41.6395 30.2149 41.4422 30.294 41.2066 30.294H29.3316V42.169C29.3316 42.4046 29.2517 42.6021 29.0918 42.7616C28.9322 42.9207 28.7343 43.0003 28.498 43.0003C28.2621 43.0003 28.065 42.9207 27.9066 42.7616C27.7483 42.6021 27.6691 42.4046 27.6691 42.169V30.294Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* 오버 스타일 -- 브라우저 넓이 641 이상에서만 적용 */
@media screen and (min-width:641px){ 
                    .interview .list ul li a:hover .photo::before {
                        display: none; /* 숨김*/
                    }
                    .interview .list ul li a:hover .photo img {
                        filter: grayscale(0);
                    }
                    .interview .list ul li a:hover .inner {
                        left: 0;
                        bottom: -80px;
                        width: calc(100% - 43px);
                        /**/
                        color: #fff;
                        display: block;
                        background-color: #5D4141;
                        padding: 49px 36px 41px 39px ;
                        border-radius: 50px 0 50px 0;
                    }
                    .interview .list ul li:nth-child(2) a:hover .inner {
                        border-radius:  0 40px 0 40px;
                    }
                    .interview .list ul li a:hover .inner h3 {
                        font-weight: 800;
                        font-size: 25px;
                        color: #FADEDE;
                    }
                    .interview .list ul li a:hover .inner h3 br {
                        display: none; /*줄바꿈*/
                    }
                    .interview .list ul li a:hover .inner p {
                        display: block; /* 나타남*/
                        font-size: 15px;
                        margin: 18px 0 22px 0;
                        /* 2줄로 제한*/
                        line-height: 1.4; /* 행간*/
                        height: 2.8em; /* 행간 * 줄수 = 단위는 em */
                        overflow: hidden; /* 영역 밖 글자 숨김*/
                    }
                    .interview .list ul li a:hover .inner span {
                        width: auto; /* 아이콘 크기*/
                        height: auto;
                        font-size: 15px; /* 글자 안보이게*/
                        line-height: 1.4;
                        color: rgba(255,255,255,0.8);
                        display: block;
                        /**/
                        text-align: right;
                        padding: 0 34px 0 0;
                    }
                    .interview .list ul li a:hover .inner span::before {
                        left: auto;
                        right: 10px; /* 변경하려면 반드시 다시 취소해야함*/
                        top: 1px;
                        width: 18px;
                        height: 18px;
                    } 
} /*media*/

@media screen and (max-width:640px){ 
                    .interview {
                        margin: 50px 0 47px 0;
                        padding: 46px 0 59px 0;
                    }
                    .interview .tit {
                        text-align: left;
                    }
                    .interview .tit h2 {
                        font-size: 25px;
                        line-height: 1.2;
                        padding: 0 0 7px 0;
                    }
                    .interview .list {
                        margin: 28px 0 0 0;
                    }
                    .interview .list ul {
                        display: block; /*flex해제*/
                    }
                    .interview .list ul li {
                        width: auto; /* 있는 그대로*/
                    }
                    .interview .list ul li:nth-child(2),
                    .interview .list ul li:nth-child(3) {
                        display: none;  
                    }
                    .interview .list ul li a .photo {
                        height: 283px;
                        border-radius: 10px;
                    }
                    .interview .list ul li a .photo::before {
                        display: none; /* 숨김*/
                    }
                    .interview .list ul li a .photo img {
                        filter: grayscale(0);
                    }
                    .interview .list ul li a .inner {
                        position: relative; /* absoiute 해제*/
                        left: auto;
                        bottom: auto;
                        width: auto;
                        /* 전체를 꽉 채우는 넓이 100%에서 왼쪽여백과 오른쪽 여백을 뺌*/
                        background-color: #5D4141;
                        border-radius: 30px 0;
                        color: #fff;
                        display: block;
                        margin: -70px 0 0 0;
                        padding: 36px 32px 22px 32px ;
 
                    }
                    .interview .list ul li a .inner h3 {
                        font-size: 20px;
                        margin: 0 0 10px 0;
                        color: #FADEDE;
                    }
                    .interview .list ul li a .inner h3 br {
                        display: none; /*보임*/ 
                    }
                    .interview .list ul li a .inner p {
                        display: block ;
                        /*2줄로 제한*/
                        line-height: 1.4;
                        height: 2.8em;
                        overflow: hidden;
                        font-size: 13px;
                        font-weight: 400;
                        margin: 0 0 19px 0;
                    }
                    .interview .list ul li a .inner span {
                        width: auto; /* 아이콘 크기*/
                        height: auto;
                        font-size: 13px; /* 글자 안보이게*/
                        line-height: 1.4;
                        display: block;
                        text-align: right;
                        padding: 0 18px 0 0;
                    }
                    .interview .list ul li a .inner span::before {
                        left: auto;
                        right: 0;
                        top: 0;
                        width: 14px;
                        height: 14px;
                    }
}/*media*/

.sroty {
    margin: 228px 0 0 0;
}
.sroty .wrapper {
    position: relative; /*more 정렬의 기준 */
}
.sroty .tit h2 {
    font-family: 'eulyo';
    font-weight: 400;
    font-size: 45px;
    line-height: 1.2;
    color: #1d1d1d;
}
.sroty .tit p {
    display: none;
}
.sroty .list {
    margin: 32px 0 0 0;
} 
.sroty .list ul {
    display: flex;
    gap: 24px;
    width: 1581px;
    /* li의 사이즈 297 * li 갯수 5 = 1485 
       li 사이 여백 24 * li갯수 - 1 4 = 96
       1485 + 96 = 1581*/
}
.sroty .list ul li {
    width: 297px;
}
.sroty .list ul li a {
    display: block;
}
.sroty .list ul li a .photo {
    overflow: hidden;
    height: 251px;
}
.sroty .list ul li.long a .photo {
    height: 348px;
}
.sroty .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.sroty .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.sroty .list ul li a .inner strong {
    color: #5D4141;
    margin: 15px 0 10px 0;
    display: block;
    font-size: 15px;
    /*1줄 제한*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sroty .list ul li a .inner h3 {
    font-family: 'eulyo';
    font-size: 25px;
    color: #1d1d1d;
    margin: 0 0 10px 0;
    /*2줄제한*/
    line-height: 1.2;
    height: 2.4em; /* 행간 * 줄수 = 단위는 em */
    overflow: hidden;
}
.sroty .list ul li a .inner p {
    /* 5줄 제한*/
    line-height: 1.4;
    height: 8.4em;
    overflow: hidden;
}
.sroty .list ul li.long a .inner p {
    height: 2.8em;
}
.sroty .more {
    position: absolute; /*inner 를 기준으로 정렬*/
    right: 0;
    top: 8px;
}
.sroty .more a {
    display: block;
    padding: 6px 62px 6px 23px;
    background-color: #CEC4C3;
    border-radius: 40px;
    color: #1d1d1d;
}
.sroty .more a::after {
    content: ""; 
    position: absolute; /*more를 기준으로 정렬*/
    right: 18px;
    top: 15px;
    width: 27px;
    height: 6px;
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='8' viewBox='0 0 29 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 7H27.5L19.5 1' stroke='%231D1D1D'/%3E%3C/svg%3E ");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
@media screen and (min-width:641px){
                    /* 브라우저 사이즈 641 이상에서만 적용 */
                    .sroty .more a:hover {
                        background-color: #5D4141;
                        color: #FADEDE;
                    }
                    .sroty .more a:hover::after {
                        background-image: url("data:image/svg+xml,%3Csvg width='29' height='8' viewBox='0 0 29 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 7H27.5L19.5 1' stroke='%23FADEDE'/%3E%3C/svg%3E ");
                        animation-name: more_ani ;
                        animation-timing-function: linear; /* 가속도 없음,빼야함*/
                        animation-duration: 2s; /* 애니메이션 1번 실행 시간*/
                        animation-iteration-count: infinite; /* 무한반복*/
                    }
} /**media*/

@media screen and (max-width:640px){
                    .sroty {
                        margin: 48px 0 0 0;
                    }
                    .sroty .tit h2 {
                        font-size: 25px;
                        margin: 0 0 5px 0;
                    }
                    .sroty .tit p {
                        display: block;
                    }
                    .sroty .list {
                        margin: 28px 0 0 0;
                    } 
                    .sroty .list ul {
                        display: block;
                        width: auto;
                    }
                    .sroty .list ul li {
                        width: auto;
                        border-bottom: 1px solid rgba(204,204,204,0.8);
                    }
                    .sroty .list ul li:first-child {
                        border-top: 1px solid rgba(204,204,204,0.8);
                    }

                    .sroty .list ul li a {
                        display: flex;
                        flex-direction: row-reverse ;/* 좌우 순서 변경 */
                        justify-content: space-between;
                        padding: 5px 0 5px 0;
                    }
                    .sroty .list ul li:nth-child(4),
                    .sroty .list ul li:nth-child(5) {
                        display: none;
                    }
                    .sroty .list ul li a .photo {
                        height: 68px;
                        width: 30%;
                    }
                    .sroty .list ul li.long a .photo {
                        height: 68px;
                    }
                    .sroty .list ul li a .inner {
                       width: calc(100% - 120px );
                    }
                    .sroty .list ul li a .inner strong {
                        margin: 0 0 3px 0;
                        font-size: 13px;
                    }
                    .sroty .list ul li a .inner h3 {
                        font-size: 17px;
                        margin: 0;
                    }
                    .sroty .list ul li a .inner p {
                        display: none;
                    }
                    .sroty .more {
                        top: 3px;
                    }
                    .sroty .more a {
                        padding:0;
                        width: 38px;
                        height: 38px;
                        background-color: #5D4141;
                        font-size: 0;
                        line-height: 0;
                    }
                    .sroty .more a::after {
                        display: none;
                    }
                    .sroty .more a::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.8125 5.6875H0.4375C0.313542 5.6875 0.209635 5.6455 0.125781 5.5615C0.0419271 5.4775 0 5.37345 0 5.24934C0 5.12524 0.0419271 5.02141 0.125781 4.93784C0.209635 4.85428 0.313542 4.8125 0.4375 4.8125H4.8125V0.4375C4.8125 0.313542 4.8545 0.209635 4.9385 0.125781C5.0225 0.0419271 5.12655 0 5.25066 0C5.37476 0 5.47859 0.0419271 5.56216 0.125781C5.64572 0.209635 5.6875 0.313542 5.6875 0.4375V4.8125H10.0625C10.1865 4.8125 10.2904 4.8545 10.3742 4.9385C10.4581 5.0225 10.5 5.12655 10.5 5.25066C10.5 5.37476 10.4581 5.47859 10.3742 5.56216C10.2904 5.64572 10.1865 5.6875 10.0625 5.6875H5.6875V10.0625C5.6875 10.1865 5.6455 10.2904 5.5615 10.3742C5.4775 10.4581 5.37345 10.5 5.24934 10.5C5.12524 10.5 5.02141 10.4581 4.93784 10.3742C4.85428 10.2904 4.8125 10.1865 4.8125 10.0625V5.6875Z' fill='%23fff'/%3E%3C/svg%3E%0A");
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: 10px;
                    }
} /*media*/

footer {
    margin: 208px 0 0 0;
    background-color: #5D4141;
    padding: 72px 0 105px 0;
    color: rgba(255,255,255,0.8);
}
footer .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative; /* copyright 정렬의 기준 */
}
footer h2 {
    display: none; /* 숨김 */
}
footer .slogan {
    font-family: 'eulyo';
    font-size: 25px;
    line-height: 1.2;
    color: #fff;
}
footer .f_info .group + .group {
    margin: 50px 0 0 0;
}
footer .f_info .group h3 {
    font-family: 'eulyo';
    font-size: 25px;
    line-height: 1.4;
    color: #fff;
    margin: 0 0 10px 0 ;
}
footer .f_info .group.sns ul {
    display: flex;
    gap: 40px ;
}

footer .copyright {
    position: absolute;
    left: 0;
    bottom: 0;
} 
footer .copyright .f_logo img {
    width: 167px;
}
footer .copyright .copy {
    margin: 7px 0 0 0;
    font-size: 15px;
    color: rgba(255,255,255,0.6);
}


@media screen and (max-width:640px){
                    footer {
                        margin: 48px 0 0 0;
                        padding: 51px 0 56px 0;
                    }
                    footer .wrapper {
                        display: block;
                    }
                    footer .slogan {
                        font-size: 17px;
                        margin: 0 0 48px 0;
                    }
                    footer .f_info .group + .group {
                        margin: 25 0 0 0;
                    }
                    footer .f_info .group h3 {
                        font-size: 17px;
                        margin: 0 0 6px 0 ;
                    }
                    footer .f_info .group.sns ul {
                        gap: 5px 34px ; /* 위아래 좌우*/
                        flex-wrap: wrap; /* 줄 바꿈 허용 */
                    }
                    
                    footer .copyright {
                        position: relative;
                        left: auto;
                        bottom: auto;
                        margin: 77px 0 0 0;
                    } 
                    footer .copyright .f_logo img {
                        width: 139px;
                    }
                    footer .copyright .copy {
                        margin: 7px 0 0 0;
                        font-size: 12px;
                        color: rgba(255,255,255,0.6);
                    }
}/*media*/