/*
    layout.css
    header / footer 모든 페이지의 공통 스타일 적용
*/
.skipnav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.skipnav a {
    position: absolute; /*skipnav 기준으로 정렬 */
    left: 0;
    top: -100px;
    width: 100%;
    background-color: #2435F4;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.skipnav a.menu {
    background-color: #15AA1A;
}
.skipnav a:focus {
    top: 0;
}
/*시작*/
header {
    position: absolute; /* wrap*/
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom:  1px solid rgba(255, 255, 255, 0.3);
}
header .logo {
    margin-bottom: 45px;
}
header .logo a {
    display: block;
    color: transparent;
    width: 159px;
    height: 28px;
    position: relative;
    font-size: 0;
    line-height: 0;
}
header .logo a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 28px;
    width: 100%;
    height: 100%;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
/* 메뉴 오버 & 고정 */
header.fixed {
    position: fixed;
    background-color: #fff;
    color: #3d3d3d;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
header.fixed .logo a::before {
    background-image: url(../images/logo.svg);
}

@media screen and (min-width:1201px){ /* 1201px 이상일때만 적용*/
                    .gnb_wrap .depth2 {
                        display: none; 
                    }
                    .global.fixed .list {
                        display: block;
                    }
                    header .gnb_open,
                    header .gnb_close {
                        display: none;
                    }
                    header .tnb .search_close {
                        display: none;  
                    }
                    header.fixed {
                        position: fixed;
                        background-color: #fff;
                        color: #3d3d3d;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                        box-shadow: 0 0 10px rgba(0,0,0,0.1);

                    }
                    header.fixed .gnb .gnb_wrap ul.depth1 { 
                        display: flex;
                        color: #1d1d1d;
                    }
                    header.fixed .gnb .gnb_wrap ul.depth1 > li {
                        position: relative; /*depth2 정렬의기준 */
                    } 
                    header.fixed .gnb .gnb_wrap ul.depth1 > li > a {
                        display: block;
                        line-height: 100px; /* 행간의 높이만큼 */
                        font-size: 20px;
                        font-weight: 700;
                        padding: 0 10px ;
                    }
                    header.fixed .tnb {
                        display: flex;
                        color: #1d1d1d;
                        font-size: 20px;
                        font-weight: 700;
                        gap: 50px;
                        align-items: center;
                    }
                    header.fixed .tnb .search::before {
                        content: "";
                        position: absolute;
                        right: 162px;
                        top: 36px;
                        width: 29px;
                        height: 29px;
                        background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4792 19.3333C9.28403 19.3333 7.42622 18.5731 5.90573 17.0526C4.38524 15.5321 3.625 13.6743 3.625 11.4792C3.625 9.28403 4.38524 7.42622 5.90573 5.90573C7.42622 4.38524 9.28403 3.625 11.4792 3.625C13.6743 3.625 15.5321 4.38524 17.0526 5.90573C18.5731 7.42622 19.3333 9.28403 19.3333 11.4792C19.3333 12.3653 19.1924 13.201 18.9104 13.9865C18.6285 14.7719 18.2458 15.4667 17.7625 16.0708L24.5292 22.8375C24.7507 23.059 24.8615 23.341 24.8615 23.6833C24.8615 24.0257 24.7507 24.3076 24.5292 24.5292C24.3076 24.7507 24.0257 24.8615 23.6833 24.8615C23.341 24.8615 23.059 24.7507 22.8375 24.5292L16.0708 17.7625C15.4667 18.2458 14.7719 18.6285 13.9865 18.9104C13.201 19.1924 12.3653 19.3333 11.4792 19.3333ZM11.4792 16.9167C12.9896 16.9167 14.2734 16.388 15.3307 15.3307C16.388 14.2734 16.9167 12.9896 16.9167 11.4792C16.9167 9.96875 16.388 8.6849 15.3307 7.6276C14.2734 6.57031 12.9896 6.04167 11.4792 6.04167C9.96875 6.04167 8.6849 6.57031 7.6276 7.6276C6.57031 8.6849 6.04167 9.96875 6.04167 11.4792C6.04167 12.9896 6.57031 14.2734 7.6276 15.3307C8.6849 16.388 9.96875 16.9167 11.4792 16.9167Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    header.fixed .tnb .global::before {
                        content: "";
                        position: absolute;
                        right: 78px;
                        top: 39px;
                        width: 22px;
                        height: 22px;
                        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 25C10.7917 25 9.17708 24.6719 7.65625 24.0156C6.13542 23.3594 4.80729 22.4635 3.67188 21.3281C2.53646 20.1927 1.64062 18.8646 0.984375 17.3438C0.328125 15.8229 0 14.2083 0 12.5C0 10.7708 0.328125 9.15104 0.984375 7.64062C1.64062 6.13021 2.53646 4.80729 3.67188 3.67188C4.80729 2.53646 6.13542 1.64062 7.65625 0.984375C9.17708 0.328125 10.7917 0 12.5 0C14.2292 0 15.849 0.328125 17.3594 0.984375C18.8698 1.64062 20.1927 2.53646 21.3281 3.67188C22.4635 4.80729 23.3594 6.13021 24.0156 7.64062C24.6719 9.15104 25 10.7708 25 12.5C25 14.2083 24.6719 15.8229 24.0156 17.3438C23.3594 18.8646 22.4635 20.1927 21.3281 21.3281C20.1927 22.4635 18.8698 23.3594 17.3594 24.0156C15.849 24.6719 14.2292 25 12.5 25ZM12.5 22.4375C13.0417 21.6875 13.5104 20.9062 13.9062 20.0938C14.3021 19.2812 14.625 18.4167 14.875 17.5H10.125C10.375 18.4167 10.6979 19.2812 11.0938 20.0938C11.4896 20.9062 11.9583 21.6875 12.5 22.4375ZM9.25 21.9375C8.875 21.25 8.54688 20.5365 8.26562 19.7969C7.98438 19.0573 7.75 18.2917 7.5625 17.5H3.875C4.47917 18.5417 5.23438 19.4479 6.14062 20.2188C7.04688 20.9896 8.08333 21.5625 9.25 21.9375ZM15.75 21.9375C16.9167 21.5625 17.9531 20.9896 18.8594 20.2188C19.7656 19.4479 20.5208 18.5417 21.125 17.5H17.4375C17.25 18.2917 17.0156 19.0573 16.7344 19.7969C16.4531 20.5365 16.125 21.25 15.75 21.9375ZM2.8125 15H7.0625C7 14.5833 6.95312 14.1719 6.92188 13.7656C6.89062 13.3594 6.875 12.9375 6.875 12.5C6.875 12.0625 6.89062 11.6406 6.92188 11.2344C6.95312 10.8281 7 10.4167 7.0625 10H2.8125C2.70833 10.4167 2.63021 10.8281 2.57812 11.2344C2.52604 11.6406 2.5 12.0625 2.5 12.5C2.5 12.9375 2.52604 13.3594 2.57812 13.7656C2.63021 14.1719 2.70833 14.5833 2.8125 15ZM9.5625 15H15.4375C15.5 14.5833 15.5469 14.1719 15.5781 13.7656C15.6094 13.3594 15.625 12.9375 15.625 12.5C15.625 12.0625 15.6094 11.6406 15.5781 11.2344C15.5469 10.8281 15.5 10.4167 15.4375 10H9.5625C9.5 10.4167 9.45312 10.8281 9.42188 11.2344C9.39062 11.6406 9.375 12.0625 9.375 12.5C9.375 12.9375 9.39062 13.3594 9.42188 13.7656C9.45312 14.1719 9.5 14.5833 9.5625 15ZM17.9375 15H22.1875C22.2917 14.5833 22.3698 14.1719 22.4219 13.7656C22.474 13.3594 22.5 12.9375 22.5 12.5C22.5 12.0625 22.474 11.6406 22.4219 11.2344C22.3698 10.8281 22.2917 10.4167 22.1875 10H17.9375C18 10.4167 18.0469 10.8281 18.0781 11.2344C18.1094 11.6406 18.125 12.0625 18.125 12.5C18.125 12.9375 18.1094 13.3594 18.0781 13.7656C18.0469 14.1719 18 14.5833 17.9375 15ZM17.4375 7.5H21.125C20.5208 6.45833 19.7656 5.55208 18.8594 4.78125C17.9531 4.01042 16.9167 3.4375 15.75 3.0625C16.125 3.75 16.4531 4.46354 16.7344 5.20312C17.0156 5.94271 17.25 6.70833 17.4375 7.5ZM10.125 7.5H14.875C14.625 6.58333 14.3021 5.71875 13.9062 4.90625C13.5104 4.09375 13.0417 3.3125 12.5 2.5625C11.9583 3.3125 11.4896 4.09375 11.0938 4.90625C10.6979 5.71875 10.375 6.58333 10.125 7.5ZM3.875 7.5H7.5625C7.75 6.70833 7.98438 5.94271 8.26562 5.20312C8.54688 4.46354 8.875 3.75 9.25 3.0625C8.08333 3.4375 7.04688 4.01042 6.14062 4.78125C5.23438 5.55208 4.47917 6.45833 3.875 7.5Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    header.fixed .tnb .global a {
                        display: none;
                    }
                    header .search_wrap h2 {
                        display: none;
                    }
                    header .search_wrap .search_area {
                        display: none;
                    }
                    /*마우스 오버*/
                    /*1차 메뉴 a 오버했을떄*/
                    header .gnb_wrap .depth1 a:hover {
                        color: #01875F;
                    }
                    /*마우스 오버 할때*/
                    header .tnb {
                        color: #01875F;
                    }
                    header .tnb .search:hover,
                    header .tnb .global:hover {
                        border-bottom: 2px solid #01875F;
                    }
                    header .tnb .global a {
                        display: none;
                    }
}

header .gnb_wrap .depth1 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    gap: 100px;
}

header .tnb {
    display: flex;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    gap: 50px;
    align-items: center;
}
header .tnb .search::before {
    content: "";
    position: absolute;
    right: 162px;
    top: 36px;
    width: 29px;
    height: 29px;
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4792 19.3333C9.28403 19.3333 7.42622 18.5731 5.90573 17.0526C4.38524 15.5321 3.625 13.6743 3.625 11.4792C3.625 9.28403 4.38524 7.42622 5.90573 5.90573C7.42622 4.38524 9.28403 3.625 11.4792 3.625C13.6743 3.625 15.5321 4.38524 17.0526 5.90573C18.5731 7.42622 19.3333 9.28403 19.3333 11.4792C19.3333 12.3653 19.1924 13.201 18.9104 13.9865C18.6285 14.7719 18.2458 15.4667 17.7625 16.0708L24.5292 22.8375C24.7507 23.059 24.8615 23.341 24.8615 23.6833C24.8615 24.0257 24.7507 24.3076 24.5292 24.5292C24.3076 24.7507 24.0257 24.8615 23.6833 24.8615C23.341 24.8615 23.059 24.7507 22.8375 24.5292L16.0708 17.7625C15.4667 18.2458 14.7719 18.6285 13.9865 18.9104C13.201 19.1924 12.3653 19.3333 11.4792 19.3333ZM11.4792 16.9167C12.9896 16.9167 14.2734 16.388 15.3307 15.3307C16.388 14.2734 16.9167 12.9896 16.9167 11.4792C16.9167 9.96875 16.388 8.6849 15.3307 7.6276C14.2734 6.57031 12.9896 6.04167 11.4792 6.04167C9.96875 6.04167 8.6849 6.57031 7.6276 7.6276C6.57031 8.6849 6.04167 9.96875 6.04167 11.4792C6.04167 12.9896 6.57031 14.2734 7.6276 15.3307C8.6849 16.388 9.96875 16.9167 11.4792 16.9167Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
header .tnb .global a {
    display: none;
}
header .tnb .global::before {
    content: "";
    position: absolute;
    right: 78px;
    top: 39px;
    width: 22px;
    height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 25C10.7917 25 9.17708 24.6719 7.65625 24.0156C6.13542 23.3594 4.80729 22.4635 3.67188 21.3281C2.53646 20.1927 1.64062 18.8646 0.984375 17.3438C0.328125 15.8229 0 14.2083 0 12.5C0 10.7708 0.328125 9.15104 0.984375 7.64062C1.64062 6.13021 2.53646 4.80729 3.67188 3.67188C4.80729 2.53646 6.13542 1.64062 7.65625 0.984375C9.17708 0.328125 10.7917 0 12.5 0C14.2292 0 15.849 0.328125 17.3594 0.984375C18.8698 1.64062 20.1927 2.53646 21.3281 3.67188C22.4635 4.80729 23.3594 6.13021 24.0156 7.64062C24.6719 9.15104 25 10.7708 25 12.5C25 14.2083 24.6719 15.8229 24.0156 17.3438C23.3594 18.8646 22.4635 20.1927 21.3281 21.3281C20.1927 22.4635 18.8698 23.3594 17.3594 24.0156C15.849 24.6719 14.2292 25 12.5 25ZM12.5 22.4375C13.0417 21.6875 13.5104 20.9062 13.9062 20.0938C14.3021 19.2812 14.625 18.4167 14.875 17.5H10.125C10.375 18.4167 10.6979 19.2812 11.0938 20.0938C11.4896 20.9062 11.9583 21.6875 12.5 22.4375ZM9.25 21.9375C8.875 21.25 8.54688 20.5365 8.26562 19.7969C7.98438 19.0573 7.75 18.2917 7.5625 17.5H3.875C4.47917 18.5417 5.23438 19.4479 6.14062 20.2188C7.04688 20.9896 8.08333 21.5625 9.25 21.9375ZM15.75 21.9375C16.9167 21.5625 17.9531 20.9896 18.8594 20.2188C19.7656 19.4479 20.5208 18.5417 21.125 17.5H17.4375C17.25 18.2917 17.0156 19.0573 16.7344 19.7969C16.4531 20.5365 16.125 21.25 15.75 21.9375ZM2.8125 15H7.0625C7 14.5833 6.95312 14.1719 6.92188 13.7656C6.89062 13.3594 6.875 12.9375 6.875 12.5C6.875 12.0625 6.89062 11.6406 6.92188 11.2344C6.95312 10.8281 7 10.4167 7.0625 10H2.8125C2.70833 10.4167 2.63021 10.8281 2.57812 11.2344C2.52604 11.6406 2.5 12.0625 2.5 12.5C2.5 12.9375 2.52604 13.3594 2.57812 13.7656C2.63021 14.1719 2.70833 14.5833 2.8125 15ZM9.5625 15H15.4375C15.5 14.5833 15.5469 14.1719 15.5781 13.7656C15.6094 13.3594 15.625 12.9375 15.625 12.5C15.625 12.0625 15.6094 11.6406 15.5781 11.2344C15.5469 10.8281 15.5 10.4167 15.4375 10H9.5625C9.5 10.4167 9.45312 10.8281 9.42188 11.2344C9.39062 11.6406 9.375 12.0625 9.375 12.5C9.375 12.9375 9.39062 13.3594 9.42188 13.7656C9.45312 14.1719 9.5 14.5833 9.5625 15ZM17.9375 15H22.1875C22.2917 14.5833 22.3698 14.1719 22.4219 13.7656C22.474 13.3594 22.5 12.9375 22.5 12.5C22.5 12.0625 22.474 11.6406 22.4219 11.2344C22.3698 10.8281 22.2917 10.4167 22.1875 10H17.9375C18 10.4167 18.0469 10.8281 18.0781 11.2344C18.1094 11.6406 18.125 12.0625 18.125 12.5C18.125 12.9375 18.1094 13.3594 18.0781 13.7656C18.0469 14.1719 18 14.5833 17.9375 15ZM17.4375 7.5H21.125C20.5208 6.45833 19.7656 5.55208 18.8594 4.78125C17.9531 4.01042 16.9167 3.4375 15.75 3.0625C16.125 3.75 16.4531 4.46354 16.7344 5.20312C17.0156 5.94271 17.25 6.70833 17.4375 7.5ZM10.125 7.5H14.875C14.625 6.58333 14.3021 5.71875 13.9062 4.90625C13.5104 4.09375 13.0417 3.3125 12.5 2.5625C11.9583 3.3125 11.4896 4.09375 11.0938 4.90625C10.6979 5.71875 10.375 6.58333 10.125 7.5ZM3.875 7.5H7.5625C7.75 6.70833 7.98438 5.94271 8.26562 5.20312C8.54688 4.46354 8.875 3.75 9.25 3.0625C8.08333 3.4375 7.04688 4.01042 6.14062 4.78125C5.23438 5.55208 4.47917 6.45833 3.875 7.5Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
header .search_wrap h2 {
    display: none;
}
header .search_wrap .search_area {
    display: none;
}


