/*
    layout.css
    header / footer 모든 페이지의 공통 스타일 적용
*/
.skipnav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.skipnav a {
    position: absolute; /*skipnav 기준으로 정렬 */
    left: 0;
    top: -100px;
    width: 100%;
    background-color: #2435F4;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.skipnav a.menu {
    background-color: #15AA1A;
}
.skipnav a:focus {
    top: 0;
}


/*시작*/
header {
    position: absolute; 
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom:  1px solid rgba(255, 255, 255, 0.3);
}
header .logo {
    margin-bottom: 45px;
}
header .logo a {
    display: block;
    color: transparent;
    width: 159px;
    height: 28px;
    position: relative;
    font-size: 0;
    line-height: 0;
}
header .logo a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 28px;
    width: 100%;
    height: 100%;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
/* 메뉴 오버 & 고정 */
header.fixed {
    position: fixed;
    background-color: #fff;
    color: #3d3d3d;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
header.fixed .logo a::before{
    background-image: url(../images/logo.svg);
}


/**/
@media screen and (min-width:1201px){ /* 1201px 이상일때*/
                header .gnb .gnb_open,
                header .gnb .gnb_close {
                    display: none;
                }
                header .gnb_wrap .depth1 {
                    display: flex;
                    justify-content: space-between;
                    font-size: 20px;
                    font-weight: 700;
                    color: #fff;
                    padding-right: 20px;
                }
                header .gnb .gnb_wrap ul.depth1 > li {
                    width: 7.2em;
                    text-align: center;
                    position: relative;
                }
                header .gnb .gnb_wrap ul.depth1 > li > a {
                    display: block;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: var(--header-h); /* header의 높이 */
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                    position: absolute;
                    left: 0;
                    top: var(--header-h); /* header의 높이 */
                    width: 100%;
                    height: 369px;
                    padding-top: 1em;
                    border-right: 1px solid #ededed;
                    display: none; /* 2차 숨김 */
                }
                header .gnb .gnb_wrap ul.depth1 > li:first-child > ul.depth2 {
                    border-left: 1px solid #ededed;
                }
                header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
                    background-color: #fff;
                    color: #1d1d1d;
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a { 
                    display: block;
                    list-style: 50;
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
                    font-weight: 700;
                    text-decoration: underline;
                }

                .tnb .search_area {
                    height: 40px;
                    border: 1px solid #fff;
                    color: rgba(255, 255, 255, 0.8);
                    border-radius: 30px;
                    font-size: 17px;
                }
                .tnb .search_area .inner {
                    display: flex;
                    justify-content: space-between;
                    padding: 8px 28px 10px 20px;
                }
                .tnb .search_area  legend {
                    display: none;
                }
                .tnb .search_area .inner label {
                    display: none;
                }
                header .tnb .search_area .keyword {
                    width: calc(100% - 50px);
                    font-size: 17px;
                    border: 0;
                    background: transparent ;
                    color: #fff;
                }
                header .tnb .search_area .keyword::placeholder{
                    color: rgba(255, 255, 255, 0.8);
                }
                .tnb .search_area .inner .btn {
                    font-size: 0;
                    line-height: 0;
                    width: 18px;
                    height: 22px;
                    border: 0;
                    background-color: transparent;
                    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.65718 13.3144C4.79659 13.3144 3.22191 12.67 1.93314 11.3812C0.644381 10.0925 0 8.51778 0 6.65718C0 4.79659 0.644381 3.22191 1.93314 1.93314C3.22191 0.644381 4.79659 0 6.65718 0C8.51778 0 10.0925 0.644381 11.3812 1.93314C12.67 3.22191 13.3144 4.79659 13.3144 6.65718C13.3144 7.40825 13.1949 8.11664 12.9559 8.78236C12.7169 9.44808 12.3926 10.037 11.9829 10.5491L17.7183 16.2845C17.9061 16.4723 18 16.7112 18 17.0014C18 17.2916 17.9061 17.5306 17.7183 17.7183C17.5306 17.9061 17.2916 18 17.0014 18C16.7112 18 16.4723 17.9061 16.2845 17.7183L10.5491 11.9829C10.037 12.3926 9.44808 12.7169 8.78236 12.9559C8.11664 13.1949 7.40825 13.3144 6.65718 13.3144ZM6.65718 11.266C7.93741 11.266 9.0256 10.8179 9.92176 9.92176C10.8179 9.0256 11.266 7.93741 11.266 6.65718C11.266 5.37696 10.8179 4.28876 9.92176 3.3926C9.0256 2.49644 7.93741 2.04836 6.65718 2.04836C5.37696 2.04836 4.28876 2.49644 3.3926 3.3926C2.49644 4.28876 2.04836 5.37696 2.04836 6.65718C2.04836 7.93741 2.49644 9.0256 3.3926 9.92176C4.28876 10.8179 5.37696 11.266 6.65718 11.266Z' fill='white'/%3E%3C/svg%3E%0A");
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 18px;
                    cursor: pointer;
                }
                /*******fixed 고정일때***************/
                header.fixed .gnb .gnb_wrap ul.depth1 > li > a {
                    color: #1d1d1d;
                }
                header.fixed .tnb {
                    color: #1d1d1d;
                }
                header.fixed .tnb .search::before {
                    background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4792 19.3333C9.28403 19.3333 7.42622 18.5731 5.90573 17.0526C4.38524 15.5321 3.625 13.6743 3.625 11.4792C3.625 9.28403 4.38524 7.42622 5.90573 5.90573C7.42622 4.38524 9.28403 3.625 11.4792 3.625C13.6743 3.625 15.5321 4.38524 17.0526 5.90573C18.5731 7.42622 19.3333 9.28403 19.3333 11.4792C19.3333 12.3653 19.1924 13.201 18.9104 13.9865C18.6285 14.7719 18.2458 15.4667 17.7625 16.0708L24.5292 22.8375C24.7507 23.059 24.8615 23.341 24.8615 23.6833C24.8615 24.0257 24.7507 24.3076 24.5292 24.5292C24.3076 24.7507 24.0257 24.8615 23.6833 24.8615C23.341 24.8615 23.059 24.7507 22.8375 24.5292L16.0708 17.7625C15.4667 18.2458 14.7719 18.6285 13.9865 18.9104C13.201 19.1924 12.3653 19.3333 11.4792 19.3333ZM11.4792 16.9167C12.9896 16.9167 14.2734 16.388 15.3307 15.3307C16.388 14.2734 16.9167 12.9896 16.9167 11.4792C16.9167 9.96875 16.388 8.6849 15.3307 7.6276C14.2734 6.57031 12.9896 6.04167 11.4792 6.04167C9.96875 6.04167 8.6849 6.57031 7.6276 7.6276C6.57031 8.6849 6.04167 9.96875 6.04167 11.4792C6.04167 12.9896 6.57031 14.2734 7.6276 15.3307C8.6849 16.388 9.96875 16.9167 11.4792 16.9167Z' fill='%231D1D1D'/%3E%3C/svg%3E ");
                }
                    /* fixed 검색 */
                header.fixed .tnb .search_area {
                    height: 40px;
                    border: 1px solid #1d1d1d;
                    color: #1d1d1d;
                    border-radius: 30px;
                    font-size: 15px;
                }
                header.fixed .tnb .search_area .inner {
                    display: flex;
                    justify-content: space-between;
                    padding: 8px 15px 10px 20px;
                }
                header.fixed .tnb .search_area  legend {
                    display: none;
                }
                header.fixed .tnb.search_area .inner label {
                    display: none;
                }
                header.fixed .tnb.fixed .search_area .keyword {
                    width: calc(100% - 50px);
                    font-size: 17px;
                    border: 0;
                    color: #fff;
                }
                header.fixed .tnb .search_area .inner .btn {
                    font-size: 0;
                    line-height: 0;
                    width: 18px;
                    height: 22px;
                    border: 0;
                    background-color: transparent;
                    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.65718 13.3144C4.79659 13.3144 3.22191 12.67 1.93314 11.3812C0.644381 10.0925 0 8.51778 0 6.65718C0 4.79659 0.644381 3.22191 1.93314 1.93314C3.22191 0.644381 4.79659 0 6.65718 0C8.51778 0 10.0925 0.644381 11.3812 1.93314C12.67 3.22191 13.3144 4.79659 13.3144 6.65718C13.3144 7.40825 13.1949 8.11664 12.9559 8.78236C12.7169 9.44808 12.3926 10.037 11.9829 10.5491L17.7183 16.2845C17.9061 16.4723 18 16.7112 18 17.0014C18 17.2916 17.9061 17.5306 17.7183 17.7183C17.5306 17.9061 17.2916 18 17.0014 18C16.7112 18 16.4723 17.9061 16.2845 17.7183L10.5491 11.9829C10.037 12.3926 9.44808 12.7169 8.78236 12.9559C8.11664 13.1949 7.40825 13.3144 6.65718 13.3144ZM6.65718 11.266C7.93741 11.266 9.0256 10.8179 9.92176 9.92176C10.8179 9.0256 11.266 7.93741 11.266 6.65718C11.266 5.37696 10.8179 4.28876 9.92176 3.3926C9.0256 2.49644 7.93741 2.04836 6.65718 2.04836C5.37696 2.04836 4.28876 2.49644 3.3926 3.3926C2.49644 4.28876 2.04836 5.37696 2.04836 6.65718C2.04836 7.93741 2.49644 9.0256 3.3926 9.92176C4.28876 10.8179 5.37696 11.266 6.65718 11.266Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 18px;
                    cursor: pointer;
                }
}


@media screen and (max-width:1200px){ /* 이하일때 */
                header .gnb .gnb_open,
                header .gnb .gnb_close {
                    display: none;
                }
                header .gnb_wrap .depth1 {
                    display: flex;
                    justify-content: space-between;
                    font-size: 17px;
                    font-weight: 700;
                    color: #fff;
                    padding-right: 15px;
                }
                header .gnb .gnb_wrap ul.depth1 > li {
                    width: 7.2em;
                    text-align: center;
                    position: relative;
                }
                header .gnb .gnb_wrap ul.depth1 > li > a {
                    display: block;
                    font-size: 17px;
                    font-weight: 700;
                    line-height: var(--header-h); /* header의 높이 */
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                    position: absolute;
                    left: 0;
                    top: var(--header-h); /* header의 높이 */
                    width: 100%;
                    height: 369px;
                    padding-top: 1em;
                    border-right: 1px solid #ededed;
                    display: none; /* 2차 숨김 */
                }
                header .gnb .gnb_wrap ul.depth1 > li:first-child > ul.depth2 {
                    border-left: 1px solid #ededed;
                }
                header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
                    background-color: #fff;
                    color: #1d1d1d;
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a { 
                    display: block;
                    list-style: 50;
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
                    font-weight: 700;
                    text-decoration: underline;
                    color: #01875F;
                }

                .tnb .search_area {
                    height: 40px;
                    border: 1px solid #fff;
                    color: rgba(255, 255, 255, 0.8);
                    border-radius: 30px;
                    font-size: 17px;
                }
                .tnb .search_area .inner {
                    display: flex;
                    justify-content: space-between;
                    padding: 8px 28px 10px 20px;
                }
                .tnb .search_area  legend {
                    display: none;
                }
                .tnb .search_area .inner label {
                    display: none;
                }
                header .tnb .search_area .keyword {
                    width: calc(100% - 50px);
                    font-size: 17px;
                    border: 0;
                    color: #1d1d1d;
                }
                .tnb .search_area .inner .btn {
                    font-size: 0;
                    line-height: 0;
                    width: 18px;
                    height: 22px;
                    border: 0;
                    background-color: transparent;
                    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.65718 13.3144C4.79659 13.3144 3.22191 12.67 1.93314 11.3812C0.644381 10.0925 0 8.51778 0 6.65718C0 4.79659 0.644381 3.22191 1.93314 1.93314C3.22191 0.644381 4.79659 0 6.65718 0C8.51778 0 10.0925 0.644381 11.3812 1.93314C12.67 3.22191 13.3144 4.79659 13.3144 6.65718C13.3144 7.40825 13.1949 8.11664 12.9559 8.78236C12.7169 9.44808 12.3926 10.037 11.9829 10.5491L17.7183 16.2845C17.9061 16.4723 18 16.7112 18 17.0014C18 17.2916 17.9061 17.5306 17.7183 17.7183C17.5306 17.9061 17.2916 18 17.0014 18C16.7112 18 16.4723 17.9061 16.2845 17.7183L10.5491 11.9829C10.037 12.3926 9.44808 12.7169 8.78236 12.9559C8.11664 13.1949 7.40825 13.3144 6.65718 13.3144ZM6.65718 11.266C7.93741 11.266 9.0256 10.8179 9.92176 9.92176C10.8179 9.0256 11.266 7.93741 11.266 6.65718C11.266 5.37696 10.8179 4.28876 9.92176 3.3926C9.0256 2.49644 7.93741 2.04836 6.65718 2.04836C5.37696 2.04836 4.28876 2.49644 3.3926 3.3926C2.49644 4.28876 2.04836 5.37696 2.04836 6.65718C2.04836 7.93741 2.49644 9.0256 3.3926 9.92176C4.28876 10.8179 5.37696 11.266 6.65718 11.266Z' fill='white'/%3E%3C/svg%3E%0A");
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 18px;
                    cursor: pointer;
                }
                /*******fixed 고정일때***************/
                header.fixed .gnb .gnb_wrap ul.depth1 > li > a {
                    color: #1d1d1d;
                }
                header.fixed .tnb {
                    color: #1d1d1d;
                }
                header.fixed .tnb .search::before {
                    background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4792 19.3333C9.28403 19.3333 7.42622 18.5731 5.90573 17.0526C4.38524 15.5321 3.625 13.6743 3.625 11.4792C3.625 9.28403 4.38524 7.42622 5.90573 5.90573C7.42622 4.38524 9.28403 3.625 11.4792 3.625C13.6743 3.625 15.5321 4.38524 17.0526 5.90573C18.5731 7.42622 19.3333 9.28403 19.3333 11.4792C19.3333 12.3653 19.1924 13.201 18.9104 13.9865C18.6285 14.7719 18.2458 15.4667 17.7625 16.0708L24.5292 22.8375C24.7507 23.059 24.8615 23.341 24.8615 23.6833C24.8615 24.0257 24.7507 24.3076 24.5292 24.5292C24.3076 24.7507 24.0257 24.8615 23.6833 24.8615C23.341 24.8615 23.059 24.7507 22.8375 24.5292L16.0708 17.7625C15.4667 18.2458 14.7719 18.6285 13.9865 18.9104C13.201 19.1924 12.3653 19.3333 11.4792 19.3333ZM11.4792 16.9167C12.9896 16.9167 14.2734 16.388 15.3307 15.3307C16.388 14.2734 16.9167 12.9896 16.9167 11.4792C16.9167 9.96875 16.388 8.6849 15.3307 7.6276C14.2734 6.57031 12.9896 6.04167 11.4792 6.04167C9.96875 6.04167 8.6849 6.57031 7.6276 7.6276C6.57031 8.6849 6.04167 9.96875 6.04167 11.4792C6.04167 12.9896 6.57031 14.2734 7.6276 15.3307C8.6849 16.388 9.96875 16.9167 11.4792 16.9167Z' fill='%231D1D1D'/%3E%3C/svg%3E ");
                }
}

@media screen and (max-width:1000px){
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none;
    }
    header .gnb_wrap .depth1 {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        font-weight: 700;
        color: #fff;
        padding-right: 15px;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 6.5em;
        text-align: center;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 15px;
        font-weight: 700;
        line-height: var(--header-h); /* header의 높이 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute;
        left: 0;
        top: var(--header-h); /* header의 높이 */
        width: 100%;
        height: 369px;
        padding-top: 1em;
        border-right: 1px solid #ededed;
        display: none; /* 2차 숨김 */
    }
    header .gnb .gnb_wrap ul.depth1 > li:first-child > ul.depth2 {
        border-left: 1px solid #ededed;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
        background-color: #fff;
        color: #1d1d1d;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a { 
        display: block;
        list-style: 50;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        font-weight: 700;
        text-decoration: underline;
        color: #01875F;
    }

    .tnb .search_area {
        height: 40px;
        border: 1px solid #fff;
        color: rgba(255, 255, 255, 0.8);
        border-radius: 30px;
        font-size: 15px;
    }
    .tnb .search_area .inner {
        display: flex;
        justify-content: space-between;
        padding: 8px 15px 10px 20px;
    }
    .tnb .search_area  legend {
        display: none;
    }
    .tnb .search_area .inner label {
        display: none;
    }
    .tnb .search_area .keyword {
        width: calc(100% - 50px);
        font-size: 17px;
        border: 0;
        color: #1d1d1d;
    }
    .tnb .search_area .inner .btn {
        font-size: 0;
        line-height: 0;
        width: 18px;
        height: 22px;
        border: 0;
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.65718 13.3144C4.79659 13.3144 3.22191 12.67 1.93314 11.3812C0.644381 10.0925 0 8.51778 0 6.65718C0 4.79659 0.644381 3.22191 1.93314 1.93314C3.22191 0.644381 4.79659 0 6.65718 0C8.51778 0 10.0925 0.644381 11.3812 1.93314C12.67 3.22191 13.3144 4.79659 13.3144 6.65718C13.3144 7.40825 13.1949 8.11664 12.9559 8.78236C12.7169 9.44808 12.3926 10.037 11.9829 10.5491L17.7183 16.2845C17.9061 16.4723 18 16.7112 18 17.0014C18 17.2916 17.9061 17.5306 17.7183 17.7183C17.5306 17.9061 17.2916 18 17.0014 18C16.7112 18 16.4723 17.9061 16.2845 17.7183L10.5491 11.9829C10.037 12.3926 9.44808 12.7169 8.78236 12.9559C8.11664 13.1949 7.40825 13.3144 6.65718 13.3144ZM6.65718 11.266C7.93741 11.266 9.0256 10.8179 9.92176 9.92176C10.8179 9.0256 11.266 7.93741 11.266 6.65718C11.266 5.37696 10.8179 4.28876 9.92176 3.3926C9.0256 2.49644 7.93741 2.04836 6.65718 2.04836C5.37696 2.04836 4.28876 2.49644 3.3926 3.3926C2.49644 4.28876 2.04836 5.37696 2.04836 6.65718C2.04836 7.93741 2.49644 9.0256 3.3926 9.92176C4.28876 10.8179 5.37696 11.266 6.65718 11.266Z' fill='white'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 18px;
        cursor: pointer;
    }

    /*******fixed 고정일때***************/
    header.fixed .gnb .gnb_wrap ul.depth1 > li > a {
        color: #1d1d1d;
    }
    header.fixed .tnb {
        color: #1d1d1d;
    }
    header.fixed .tnb .search::before {
        background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4792 19.3333C9.28403 19.3333 7.42622 18.5731 5.90573 17.0526C4.38524 15.5321 3.625 13.6743 3.625 11.4792C3.625 9.28403 4.38524 7.42622 5.90573 5.90573C7.42622 4.38524 9.28403 3.625 11.4792 3.625C13.6743 3.625 15.5321 4.38524 17.0526 5.90573C18.5731 7.42622 19.3333 9.28403 19.3333 11.4792C19.3333 12.3653 19.1924 13.201 18.9104 13.9865C18.6285 14.7719 18.2458 15.4667 17.7625 16.0708L24.5292 22.8375C24.7507 23.059 24.8615 23.341 24.8615 23.6833C24.8615 24.0257 24.7507 24.3076 24.5292 24.5292C24.3076 24.7507 24.0257 24.8615 23.6833 24.8615C23.341 24.8615 23.059 24.7507 22.8375 24.5292L16.0708 17.7625C15.4667 18.2458 14.7719 18.6285 13.9865 18.9104C13.201 19.1924 12.3653 19.3333 11.4792 19.3333ZM11.4792 16.9167C12.9896 16.9167 14.2734 16.388 15.3307 15.3307C16.388 14.2734 16.9167 12.9896 16.9167 11.4792C16.9167 9.96875 16.388 8.6849 15.3307 7.6276C14.2734 6.57031 12.9896 6.04167 11.4792 6.04167C9.96875 6.04167 8.6849 6.57031 7.6276 7.6276C6.57031 8.6849 6.04167 9.96875 6.04167 11.4792C6.04167 12.9896 6.57031 14.2734 7.6276 15.3307C8.6849 16.388 9.96875 16.9167 11.4792 16.9167Z' fill='%231D1D1D'/%3E%3C/svg%3E ");
    }

}
