@import url(default.css); /* default.css 브라우저가 태그에 주는 기본스타일을 모두 초기화*/
@import url(fonts.css); /* main.css 메인페이지에만 적용되는 스타일 입력, 다른 css import */
@import url(common.css); /* 글자의 기본 스타일 및 wrapper 설정 */
@import url(layout.css); /* layout.css header / footer 모든 페이지의 공통 스타일 적용*/

/*.visual 시작*/
.visual {
    position: relative;
}
.visual .bottom-right {
    position: absolute; /* visual*/
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
    width: 754px;
}
.visual .box_wrap {
    display: flex;
}
.visual .box_wrap .box_01 {
    width: 377px;
    height: 200px;
    border-right: 1px solid #ccc;
}
.visual .box_wrap .box_02 {
    width: 377px;
    height: 200px;
}
.visual .box_wrap .box_01 .list h2,
.visual .box_wrap .box_02 .list h2 {
    font-size: 22px;
    font-weight: 700;
    color: #1d1d1d;
    padding: 40px 161px 5px 105px;
    position: relative; /*before*/
}
.visual .box_wrap .box_01 .list h2::before {
    content: "";
    position: absolute;
    left: 25px;
    top: 54px;
    width: 51px;
    height: 51px;
    background-image: url("data:image/svg+xml,%3Csvg width='51' height='51' viewBox='0 0 51 51' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.0125 17.6376L19.55 13.1751C19.125 12.7501 18.9125 12.2543 18.9125 11.6876C18.9125 11.1209 19.125 10.6251 19.55 10.2001L24.0125 5.7376C24.4375 5.3126 24.9333 5.1001 25.5 5.1001C26.0667 5.1001 26.5625 5.3126 26.9875 5.7376L31.45 10.2001C31.875 10.6251 32.0875 11.1209 32.0875 11.6876C32.0875 12.2543 31.875 12.7501 31.45 13.1751L26.9875 17.6376C26.5625 18.0626 26.0667 18.2751 25.5 18.2751C24.9333 18.2751 24.4375 18.0626 24.0125 17.6376ZM4.25 42.5001C3.64792 42.5001 3.14323 42.2965 2.73594 41.8892C2.32865 41.4819 2.125 40.9772 2.125 40.3751V34.0001C2.125 32.7959 2.54115 31.7866 3.37344 30.972C4.20573 30.1574 5.20625 29.7501 6.375 29.7501H13.3344C14.0427 29.7501 14.7156 29.9272 15.3531 30.2813C15.9906 30.6355 16.5042 31.1136 16.8938 31.7157C17.9208 33.097 19.187 34.1772 20.6922 34.9563C22.1974 35.7355 23.8 36.1251 25.5 36.1251C27.2354 36.1251 28.8557 35.7355 30.3609 34.9563C31.8661 34.1772 33.1146 33.097 34.1063 31.7157C34.5667 31.1136 35.1068 30.6355 35.7266 30.2813C36.3464 29.9272 36.9927 29.7501 37.6656 29.7501H44.625C45.8292 29.7501 46.8385 30.1574 47.6531 30.972C48.4677 31.7866 48.875 32.7959 48.875 34.0001V40.3751C48.875 40.9772 48.6714 41.4819 48.2641 41.8892C47.8568 42.2965 47.3521 42.5001 46.75 42.5001H36.125C35.5229 42.5001 35.0182 42.2965 34.6109 41.8892C34.2036 41.4819 34 40.9772 34 40.3751V37.6657C32.7604 38.5511 31.4234 39.2241 29.9891 39.6845C28.5547 40.1449 27.0583 40.3751 25.5 40.3751C23.9771 40.3751 22.4896 40.136 21.0375 39.6579C19.5854 39.1798 18.2396 38.498 17 37.6126V40.3751C17 40.9772 16.7964 41.4819 16.3891 41.8892C15.9818 42.2965 15.4771 42.5001 14.875 42.5001H4.25ZM8.5 27.6251C6.72917 27.6251 5.22396 27.0053 3.98438 25.7657C2.74479 24.5261 2.125 23.0209 2.125 21.2501C2.125 19.4438 2.74479 17.9298 3.98438 16.7079C5.22396 15.486 6.72917 14.8751 8.5 14.8751C10.3063 14.8751 11.8203 15.486 13.0422 16.7079C14.2641 17.9298 14.875 19.4438 14.875 21.2501C14.875 23.0209 14.2641 24.5261 13.0422 25.7657C11.8203 27.0053 10.3063 27.6251 8.5 27.6251ZM42.5 27.6251C40.7292 27.6251 39.224 27.0053 37.9844 25.7657C36.7448 24.5261 36.125 23.0209 36.125 21.2501C36.125 19.4438 36.7448 17.9298 37.9844 16.7079C39.224 15.486 40.7292 14.8751 42.5 14.8751C44.3063 14.8751 45.8203 15.486 47.0422 16.7079C48.2641 17.9298 48.875 19.4438 48.875 21.2501C48.875 23.0209 48.2641 24.5261 47.0422 25.7657C45.8203 27.0053 44.3063 27.6251 42.5 27.6251Z' fill='%23989898'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.visual .box_wrap .box_02 .list h2::before {
    content: "";
    position: absolute  ;
    left: 25px;
    top: 50px;
    width: 58px ;
    height: 58px;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.3286 43.7127L30.0078 27.571C27.9495 27.0293 26.3967 26.3161 25.3495 25.4314C24.3023 24.5467 23.255 23.5807 22.2078 22.5335L17.062 27.6252L21.0161 31.5793C21.2328 31.796 21.3953 32.0397 21.5036 32.3106C21.612 32.5814 21.6661 32.8613 21.6661 33.1502V43.3335C21.6661 43.9474 21.4585 44.462 21.0432 44.8772C20.628 45.2925 20.1134 45.5002 19.4995 45.5002C18.8856 45.5002 18.371 45.2925 17.9557 44.8772C17.5405 44.462 17.3328 43.9474 17.3328 43.3335V34.1252L15.6536 32.6085L15.9245 34.6127C15.9606 34.9016 15.9425 35.1904 15.8703 35.4793C15.7981 35.7682 15.6717 36.021 15.4911 36.2377L9.37031 44.0918C9.0092 44.5613 8.53073 44.8321 7.9349 44.9043C7.33906 44.9766 6.80642 44.8141 6.33698 44.4168C5.86753 44.0196 5.5967 43.5321 5.52448 42.9543C5.45226 42.3766 5.61476 41.8529 6.01198 41.3835L11.4828 34.3418L8.39531 28.2752C8.10642 27.6613 7.94392 26.8939 7.90781 25.9731C7.8717 25.0522 8.17865 24.2668 8.82865 23.6168L16.087 16.4668C16.5203 16.0335 16.9988 15.7085 17.5224 15.4918C18.046 15.2752 18.5786 15.1668 19.1203 15.1668C19.987 15.1668 20.6731 15.3293 21.1786 15.6543C21.6842 15.9793 22.0273 16.2321 22.2078 16.4127L26.5411 20.6918C27.5161 21.6668 28.7078 22.4342 30.1161 22.9939C31.5245 23.5536 33.0411 23.8335 34.6661 23.8335H38.2411C39.0717 23.8335 39.7939 24.1134 40.4078 24.6731C41.0217 25.2328 41.3648 25.9279 41.437 26.7585L42.8453 40.5168C43.3148 40.8057 43.6939 41.1939 43.9828 41.6814C44.2717 42.1689 44.4161 42.7196 44.4161 43.3335C44.4161 44.2363 44.1002 45.0036 43.4682 45.6356C42.8363 46.2675 42.0689 46.5835 41.1661 46.5835C40.2634 46.5835 39.487 46.2675 38.837 45.6356C38.187 45.0036 37.862 44.2363 37.862 43.3335C37.862 42.7196 38.0064 42.1689 38.2953 41.6814C38.5842 41.1939 38.9814 40.8057 39.487 40.5168L39.2161 37.9168H32.1745L31.5786 44.0377C31.5064 44.4349 31.3168 44.7779 31.0099 45.0668C30.703 45.3557 30.3509 45.5002 29.9536 45.5002C29.4481 45.5002 29.0328 45.3286 28.7078 44.9856C28.3828 44.6425 28.2564 44.2182 28.3286 43.7127ZM27.0828 16.2502C25.8911 16.2502 24.871 15.8259 24.0224 14.9772C23.1738 14.1286 22.7495 13.1085 22.7495 11.9168C22.7495 10.7252 23.1738 9.70502 24.0224 8.85641C24.871 8.0078 25.8911 7.5835 27.0828 7.5835C28.2745 7.5835 29.2946 8.0078 30.1432 8.85641C30.9918 9.70502 31.4161 10.7252 31.4161 11.9168C31.4161 13.1085 30.9918 14.1286 30.1432 14.9772C29.2946 15.8259 28.2745 16.2502 27.0828 16.2502ZM32.4995 34.6668H38.8911L38.1328 27.0835H33.312L32.4995 34.6668Z' fill='%23989898'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.visual .box_wrap .box_01 .list p,
.visual .box_wrap .box_02 .list p {
    padding: 0 0 0 105px;
    font-size: 17px;
    color: #3d3d3d;
    position: relative; /*after*/
    line-height:1.2;
}
.visual .box_wrap .box_01 .more .strong a,
.visual .box_wrap .box_02 .more .strong a {
    display: block;
    padding: 15px 0 0 105px;
    font-size: 17px;
    color: #989898;
    position: relative; /*after*/
}

.visual .box_wrap .box_01 .more .strong a::after,
.visual .box_wrap .box_02 .more .strong a::after {
    content: "";
    position: absolute;
    right: 158px;
    bottom: 0;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.073 12.5002H5.5C5.35767 12.5002 5.23875 12.4525 5.14325 12.357C5.04775 12.2615 5 12.1425 5 12.0002C5 11.8579 5.04775 11.739 5.14325 11.6435C5.23875 11.548 5.35767 11.5002 5.5 11.5002H17.073L13.3385 7.7657C13.241 7.6682 13.19 7.55345 13.1855 7.42145C13.181 7.28928 13.232 7.16812 13.3385 7.05795C13.4487 6.94762 13.5676 6.89154 13.6953 6.8897C13.8228 6.8877 13.9417 6.94187 14.052 7.0522L18.4345 11.4347C18.5218 11.522 18.5831 11.6112 18.6182 11.7022C18.6536 11.7932 18.6712 11.8925 18.6712 12.0002C18.6712 12.1079 18.6536 12.2072 18.6182 12.2982C18.5831 12.3892 18.5218 12.4784 18.4345 12.5657L14.052 16.9482C13.9545 17.0457 13.8387 17.0967 13.7048 17.1012C13.5708 17.1057 13.4487 17.0528 13.3385 16.9425C13.232 16.8323 13.1778 16.7144 13.176 16.5887C13.174 16.463 13.2282 16.345 13.3385 16.2347L17.073 12.5002Z' fill='%23989898'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
/* 마우스 오버 시*/
.visual .box_wrap .box_01 .more .strong a:hover,
.visual .box_wrap .box_02 .more .strong a:hover {
    color: #01875F;
}
.visual .box_wrap .box_01 .more .strong a:hover::after,
.visual .box_wrap .box_02 .more .strong a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.073 12.5002H5.5C5.35767 12.5002 5.23875 12.4525 5.14325 12.357C5.04775 12.2615 5 12.1425 5 12.0002C5 11.8579 5.04775 11.739 5.14325 11.6435C5.23875 11.548 5.35767 11.5002 5.5 11.5002H17.073L13.3385 7.7657C13.241 7.6682 13.19 7.55345 13.1855 7.42145C13.181 7.28928 13.232 7.16812 13.3385 7.05795C13.4487 6.94762 13.5676 6.89154 13.6953 6.8897C13.8228 6.8877 13.9417 6.94187 14.052 7.0522L18.4345 11.4347C18.5218 11.522 18.5831 11.6112 18.6182 11.7022C18.6536 11.7932 18.6712 11.8925 18.6712 12.0002C18.6712 12.1079 18.6536 12.2072 18.6182 12.2982C18.5831 12.3892 18.5218 12.4784 18.4345 12.5657L14.052 16.9482C13.9545 17.0457 13.8388 17.0967 13.7048 17.1012C13.5708 17.1057 13.4487 17.0528 13.3385 16.9425C13.232 16.8323 13.1778 16.7144 13.176 16.5887C13.174 16.463 13.2282 16.345 13.3385 16.2347L17.073 12.5002Z' fill='%2301875F'/%3E%3C/svg%3E%0A");
}

.visual .swiper ul li {
    position: relative;
}
.visual .swiper ul li .photo {
    overflow: hidden;
    height: 919px;
}
.visual .swiper ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper ul li .visual_txt {
    position: absolute; /* */
    left: 0;
    width: 100%;
    top: 354px;
}
.visual .swiper ul li .visual_txt  h3 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    padding: 0 0 15px 0;
}
.visual .swiper ul li .visual_txt p {
    color: rgba(255, 255, 255, 0.7);
}
.visual .btn_prev {
    position: absolute; /* swiper*/
    left: 20px;
    top: 539px;
    z-index: 10;
    font-size: 0;
    line-height: 0;
}
.visual .btn_prev::before {
    content: "";
    position: absolute;
    left: 0;
    top:0;
    width: 34px;
    height: 69px;
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='70' viewBox='0 0 35 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.08333 34.6307L33.5833 61.4248C34.4167 62.3362 34.8194 63.3994 34.7917 64.6146C34.7639 65.8297 34.3333 66.893 33.5 67.8044C32.6667 68.7157 31.6944 69.1714 30.5833 69.1714C29.4722 69.1714 28.5 68.7157 27.6667 67.8044L2 39.8255C1.33333 39.0964 0.833333 38.2762 0.5 37.3648C0.166667 36.4534 0 35.5421 0 34.6307C0 33.7193 0.166667 32.808 0.5 31.8966C0.833333 30.9852 1.33333 30.165 2 29.4359L27.6667 1.36592C28.5 0.454553 29.4861 0.0140599 30.625 0.0444387C31.7639 0.0748175 32.75 0.545689 33.5833 1.45705C34.4167 2.36842 34.8333 3.43168 34.8333 4.64683C34.8333 5.86198 34.4167 6.92524 33.5833 7.8366L9.08333 34.6307Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E ");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.visual .btn_next {
    position: absolute;
    right: 50px;
    top: 539px;
    z-index: 10;
    font-size: 0;
    line-height: 0;
}
.visual .btn_next::before {
    content: "";
    position: absolute;
    left: 0;
    top:0;
    width: 34px;
    height: 69px;
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='70' viewBox='0 0 36 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.7468 34.3247L1.80632 8.02112C0.958002 7.12644 0.537653 6.07135 0.545269 4.85585C0.552885 3.64034 0.965732 2.56872 1.78381 1.64097C2.60189 0.713224 3.56639 0.238327 4.67732 0.216283C5.78825 0.194238 6.76787 0.630556 7.61618 1.52524L33.7427 28.9903C34.4214 29.706 34.9349 30.5162 35.2833 31.4208C35.6317 32.3254 35.8135 33.2333 35.8286 34.1445C35.8437 35.0557 35.6922 35.9702 35.374 36.8881C35.0559 37.8059 34.5696 38.6359 33.9151 39.3781L8.71828 67.9527C7.9002 68.8805 6.92156 69.3405 5.78236 69.3327C4.64315 69.3249 3.64939 68.8737 2.80108 67.979C1.95276 67.0843 1.51853 66.0295 1.49837 64.8146C1.47821 63.5996 1.87717 62.5283 2.69525 61.6005L26.7468 34.3247Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E ");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
/*.visual 끝*/
/*.visual --------- 반응형 시작 */
@media screen and (max-width:1300px){  /*이하일때*/
                .visual .swiper ul li .visual_txt  h3 {
                    font-size: 45px;
                    font-weight: 700;
                    line-height: 1.2;
                    color: #fff;
                    padding: 0 0 5px 0;
                }
                .visual .box_wrap .box_01,
                .visual .box_wrap .box_02 {
                    height: 160px;
                }

                .visual .box_wrap .box_01 .list h2,
                .visual .box_wrap .box_02 .list h2 {
                    font-size: 20px;
                }
}
@media screen and (max-width:1100px){ /* 이하일때 */
                .visual .swiper ul li .visual_txt  h3 {
                    font-size: 35px;
                    font-weight: 700;
                    line-height: 1.2;
                    color: #fff;
                    padding: 0 0 5px 0;
                }
                .visual .btn_prev,
                .visual .btn_next {
                    display: none;
                }
                .service .tit h3 {
                    font-size: 45px;
                    font-weight: 700;
                    line-height: 1.2;
                    color: #1d1d1d;
                    padding: 0 0 0 309px;
                    margin: 15px 0 0 0;
                }
}
/******모바일 시작 *****/
@media screen and (max-width:1000px){  /* 모바일 시작 */
                .visual .bottom-right {
                    display: none;
                }
}
@media screen and (max-width:768px) {
                .visual .swiper ul li .visual_txt  h3 {
                    font-size: 30px;
                }
                .visual .swiper ul li .visual_txt p {
                    font-size: 13px;
                    margin: 5px 0 0 0 ;
                }
}
/*.visual --------- 반응형 끝 */

/*service 시작*/
.service {
    padding: 141px 0 200px;
    position: relative;
}
.service .wrapper {
    display: flex;
    justify-content: space-between;
    width: 1920px;
}
.service .tit {
    padding: 100px 0 0 0;
}
.service .tit strong {
    font-size: 17px;
    color: #858585;
    padding: 0 0 0 309px;
}
.service .tit h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
    padding: 0 0 0 309px;
    margin: 15px 0 0 0;
}
.service .list ul{
    display: flex;
    justify-content: space-between;
    gap: 39px;
}
.service .list ul li {
    height: 491px;
    width: 392px;
    position: relative;
}
.service .list ul li a .photo {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.service .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.5s;
}
.service .list ul li a:hover .photo img {
    transform: scale3d(1.2,1.2,1);
}
.service .list ul li a h3 {
    font-size: 17px;
    font-weight: 700;
    color: #1d1d1d;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 23px 117px 8px 14px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.service .list ul li a::before {
    content: "";
    position: absolute;
    left: 180px;
    top: 457px;
    z-index: 10;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.073 12.5002H5.5C5.35767 12.5002 5.23875 12.4525 5.14325 12.357C5.04775 12.2615 5 12.1425 5 12.0002C5 11.8579 5.04775 11.739 5.14325 11.6435C5.23875 11.548 5.35767 11.5002 5.5 11.5002H17.073L13.3385 7.7657C13.241 7.6682 13.19 7.55345 13.1855 7.42145C13.181 7.28928 13.232 7.16812 13.3385 7.05795C13.4487 6.94762 13.5676 6.89154 13.6953 6.8897C13.8228 6.8877 13.9417 6.94187 14.052 7.0522L18.4345 11.4347C18.5218 11.522 18.5831 11.6112 18.6182 11.7022C18.6536 11.7932 18.6712 11.8925 18.6712 12.0002C18.6712 12.1079 18.6536 12.2072 18.6182 12.2982C18.5831 12.3892 18.5218 12.4784 18.4345 12.5657L14.052 16.9482C13.9545 17.0457 13.8387 17.0967 13.7048 17.1012C13.5708 17.1057 13.4487 17.0528 13.3385 16.9425C13.232 16.8323 13.1778 16.7144 13.176 16.5887C13.174 16.463 13.2282 16.345 13.3385 16.2347L17.073 12.5002Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
/*서비스 마우스 오버 스타일 */
.service .list ul li a:hover h3 {
    color: #01875F;
    text-decoration: underline;
}
.service .list ul li a:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.073 12.5002H5.5C5.35767 12.5002 5.23875 12.4525 5.14325 12.357C5.04775 12.2615 5 12.1425 5 12.0002C5 11.8579 5.04775 11.739 5.14325 11.6435C5.23875 11.548 5.35767 11.5002 5.5 11.5002H17.073L13.3385 7.7657C13.241 7.6682 13.19 7.55345 13.1855 7.42145C13.181 7.28928 13.232 7.16812 13.3385 7.05795C13.4487 6.94762 13.5676 6.89154 13.6953 6.8897C13.8228 6.8877 13.9417 6.94187 14.052 7.0522L18.4345 11.4347C18.5218 11.522 18.5831 11.6112 18.6182 11.7022C18.6536 11.7932 18.6712 11.8925 18.6712 12.0002C18.6712 12.1079 18.6536 12.2072 18.6182 12.2982C18.5831 12.3892 18.5218 12.4784 18.4345 12.5657L14.052 16.9482C13.9545 17.0457 13.8387 17.0967 13.7048 17.1012C13.5708 17.1057 13.4487 17.0528 13.3385 16.9425C13.232 16.8323 13.1778 16.7144 13.176 16.5887C13.174 16.463 13.2282 16.345 13.3385 16.2347L17.073 12.5002Z' fill='%2301875F'/%3E%3C/svg%3E%0A");
}
/*.service 종료*/

/* banner 시작*/
.banner {
    padding: 118px  0 190px 0;
    background-color: #01875F;
}
.banner .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.banner .wrapper .tit h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    padding: 60px 0 15px 0;
}
.banner .wrapper .tit p {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 0 25px 0;
}
.banner .wrapper .tit span {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.4;
    color: #fff;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.5);
}
.banner .inner .more {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    gap: 10px;
    position: absolute;
    padding: 320px 0 0 0;
}
.banner .inner .more .strong a,
.banner .inner .more .span a {
    display: block;
    border: 1px solid #fff;
    padding: 15px 130px 15px 14px ;
    position: relative;
}
.banner .inner .more .strong a::before,
.banner .inner .more .span a::before {
    content: "";
    position: absolute;
    right: 25px;
    top: 14px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.073 12.5002H5.5C5.35767 12.5002 5.23875 12.4525 5.14325 12.357C5.04775 12.2615 5 12.1425 5 12.0002C5 11.8579 5.04775 11.739 5.14325 11.6435C5.23875 11.548 5.35767 11.5002 5.5 11.5002H17.073L13.3385 7.7657C13.241 7.6682 13.19 7.55345 13.1855 7.42145C13.181 7.28928 13.232 7.16812 13.3385 7.05795C13.4487 6.94762 13.5676 6.89154 13.6953 6.8897C13.8228 6.8877 13.9417 6.94187 14.052 7.0522L18.4345 11.4347C18.5218 11.522 18.5831 11.6112 18.6182 11.7022C18.6536 11.7932 18.6712 11.8925 18.6712 12.0002C18.6712 12.1079 18.6536 12.2072 18.6182 12.2982C18.5831 12.3892 18.5218 12.4784 18.4345 12.5657L14.052 16.9482C13.9545 17.0457 13.8387 17.0967 13.7048 17.1012C13.5708 17.1057 13.4487 17.0528 13.3385 16.9425C13.232 16.8323 13.1778 16.7144 13.176 16.5887C13.174 16.463 13.2282 16.345 13.3385 16.2347L17.073 12.5002Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
}
.banner .inner .more .strong a:hover,
.banner .inner .more .span:hover {
    border: 1px solid #fff;
    background-color: #fff;
    color: #1d1d1d;
}
.banner .inner .more .strong a:hover::before,
.banner .inner .more .span a:hover::before  {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.073 12.5002H5.5C5.35767 12.5002 5.23875 12.4525 5.14325 12.357C5.04775 12.2615 5 12.1425 5 12.0002C5 11.8579 5.04775 11.739 5.14325 11.6435C5.23875 11.548 5.35767 11.5002 5.5 11.5002H17.073L13.3385 7.7657C13.241 7.6682 13.19 7.55345 13.1855 7.42145C13.181 7.28928 13.232 7.16812 13.3385 7.05795C13.4487 6.94762 13.5676 6.89154 13.6953 6.8897C13.8228 6.8877 13.9417 6.94187 14.052 7.0522L18.4345 11.4347C18.5218 11.522 18.5831 11.6112 18.6182 11.7022C18.6536 11.7932 18.6712 11.8925 18.6712 12.0002C18.6712 12.1079 18.6536 12.2072 18.6182 12.2982C18.5831 12.3892 18.5218 12.4784 18.4345 12.5657L14.052 16.9482C13.9545 17.0457 13.8387 17.0967 13.7048 17.1012C13.5708 17.1057 13.4487 17.0528 13.3385 16.9425C13.232 16.8323 13.1778 16.7144 13.176 16.5887C13.174 16.463 13.2282 16.345 13.3385 16.2347L17.073 12.5002Z' fill='%231D1D1D'/%3E%3C/svg%3E ");
}
/* .banner 종료*/

/* gallery 시작 */
.gallery {
    padding: 140px 0 170px;
}
.gallery .wrapper {
    text-align: center;
}
.gallery .wrapper .tit h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
    align-items: center;
}
.gallery .wrapper .tit p {
    font-size: 17px;
    font-weight: 400;
    color: #858585;
    margin: 15px 0 70px 0;
}
.gallery .wrapper .swiper .visual_txt h4 {
    font-size: 17px;
    font-weight: 400;
    color: #1d1d1d;
    margin: 15px 0 70px 0;
}
.gallery .wrapper .swiper .visual_txt h4:hover {
    font-weight: 700;
    text-decoration: underline;
}
/* gallery 끝 */



/*.communtiy 시작*/
.communtiy {
    padding: 145px 0 270px 0;
    background-color: #F7F9FA;
}
.communtiy .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.communtiy .wrapper .tit h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
}
.communtiy .wrapper .tit p {
    font-size: 17px;
    font-weight: 400;
    color: #858585;
    margin: 15px 0 0 0 ;
}
.communtiy .wrapper .list h3 {
    font-size: 17px;
    color: #1d1d1d;
    font-weight: 700;
    margin: 0 0 7px 0;
}
.communtiy .wrapper .list ul li strong {
    font-size: 17px;
    font-weight: 700;
    color: #1d1d1d;
    border-bottom: 1px solid #1d1d1d;
}
.communtiy .wrapper .list ul li span {
    font-size: 35px;
    font-weight: 700;
    color: #1d1d1d;
}
.communtiy .wrapper .list .off {
    font-size: 17px;
    color: #858585;
    margin: 16px 0 0 0;
} 
.communtiy .inner .more {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 400;
    gap: 10px;
    position: absolute;
    right: 5px;
    bottom: -86px;
}
.communtiy .inner .more .strong {
    background-color: #1d1d1d;
    padding: 15px 28px 15px 55px ;
    color: #fff;
    position: relative;
}
.communtiy .inner .more .strong a::after {
    content: "";
    position: absolute;
    left: 17px;
    top: 15px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 18L3.7 20.3C3.38333 20.6167 3.02083 20.6875 2.6125 20.5125C2.20417 20.3375 2 20.025 2 19.575V4C2 3.45 2.19583 2.97917 2.5875 2.5875C2.97917 2.19583 3.45 2 4 2H20C20.55 2 21.0208 2.19583 21.4125 2.5875C21.8042 2.97917 22 3.45 22 4V16C22 16.55 21.8042 17.0208 21.4125 17.4125C21.0208 17.8042 20.55 18 20 18H6ZM5.15 16H20V4H4V17.125L5.15 16ZM8 11C8.28333 11 8.52083 10.9042 8.7125 10.7125C8.90417 10.5208 9 10.2833 9 10C9 9.71667 8.90417 9.47917 8.7125 9.2875C8.52083 9.09583 8.28333 9 8 9C7.71667 9 7.47917 9.09583 7.2875 9.2875C7.09583 9.47917 7 9.71667 7 10C7 10.2833 7.09583 10.5208 7.2875 10.7125C7.47917 10.9042 7.71667 11 8 11ZM12 11C12.2833 11 12.5208 10.9042 12.7125 10.7125C12.9042 10.5208 13 10.2833 13 10C13 9.71667 12.9042 9.47917 12.7125 9.2875C12.5208 9.09583 12.2833 9 12 9C11.7167 9 11.4792 9.09583 11.2875 9.2875C11.0958 9.47917 11 9.71667 11 10C11 10.2833 11.0958 10.5208 11.2875 10.7125C11.4792 10.9042 11.7167 11 12 11ZM16 11C16.2833 11 16.5208 10.9042 16.7125 10.7125C16.9042 10.5208 17 10.2833 17 10C17 9.71667 16.9042 9.47917 16.7125 9.2875C16.5208 9.09583 16.2833 9 16 9C15.7167 9 15.4792 9.09583 15.2875 9.2875C15.0958 9.47917 15 9.71667 15 10C15 10.2833 15.0958 10.5208 15.2875 10.7125C15.4792 10.9042 15.7167 11 16 11Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.communtiy  .inner  .more .span {
    color: #1d1d1d;
    background-color: #D9D9D9;
    padding: 15px 28px 15px 55px ; 
}
.communtiy .inner  .more .span a::before {
    content: "";
    position: absolute;
    left: 190px;
    top: 15px;
    width: 16px;
    height: 21px;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='21' viewBox='0 0 16 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_88_302)'%3E%3Cpath d='M8 0C3.58509 0 0 3.57984 0 7.98829C0 12.3967 8 21 8 21C8 21 16 12.4032 16 7.98829C16 3.57337 12.4214 0 8 0ZM8 10.7719C6.24959 10.7719 4.82982 9.35419 4.82982 7.60635C4.82982 5.85851 6.24959 4.44081 8 4.44081C9.75041 4.44081 11.1702 5.85851 11.1702 7.60635C11.1702 9.35419 9.75041 10.7719 8 10.7719Z' fill='%231D1D1D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_88_302'%3E%3Crect width='16' height='21' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
/* 마우스 오버하기 */
.communtiy .inner .more .strong:hover,
.communtiy  .inner  .more .span:hover {
    background-color: #fff;
    border: 1px solid #1d1d1d;
    color: #1d1d1d;
}
.communtiy .inner .more .strong:hover a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 18L3.7 20.3C3.38333 20.6167 3.02083 20.6875 2.6125 20.5125C2.20417 20.3375 2 20.025 2 19.575V4C2 3.45 2.19583 2.97917 2.5875 2.5875C2.97917 2.19583 3.45 2 4 2H20C20.55 2 21.0208 2.19583 21.4125 2.5875C21.8042 2.97917 22 3.45 22 4V16C22 16.55 21.8042 17.0208 21.4125 17.4125C21.0208 17.8042 20.55 18 20 18H6ZM5.15 16H20V4H4V17.125L5.15 16ZM8 11C8.28333 11 8.52083 10.9042 8.7125 10.7125C8.90417 10.5208 9 10.2833 9 10C9 9.71667 8.90417 9.47917 8.7125 9.2875C8.52083 9.09583 8.28333 9 8 9C7.71667 9 7.47917 9.09583 7.2875 9.2875C7.09583 9.47917 7 9.71667 7 10C7 10.2833 7.09583 10.5208 7.2875 10.7125C7.47917 10.9042 7.71667 11 8 11ZM12 11C12.2833 11 12.5208 10.9042 12.7125 10.7125C12.9042 10.5208 13 10.2833 13 10C13 9.71667 12.9042 9.47917 12.7125 9.2875C12.5208 9.09583 12.2833 9 12 9C11.7167 9 11.4792 9.09583 11.2875 9.2875C11.0958 9.47917 11 9.71667 11 10C11 10.2833 11.0958 10.5208 11.2875 10.7125C11.4792 10.9042 11.7167 11 12 11ZM16 11C16.2833 11 16.5208 10.9042 16.7125 10.7125C16.9042 10.5208 17 10.2833 17 10C17 9.71667 16.9042 9.47917 16.7125 9.2875C16.5208 9.09583 16.2833 9 16 9C15.7167 9 15.4792 9.09583 15.2875 9.2875C15.0958 9.47917 15 9.71667 15 10C15 10.2833 15.0958 10.5208 15.2875 10.7125C15.4792 10.9042 15.7167 11 16 11Z' fill='%231D1D1D'/%3E%3C/svg%3E ");
}
/* .communtiy 끝*/

/* footer 시작 */
footer .footer-menu {
    padding-top: 45px;
    padding-bottom: 55px;
    background-color: #272A31;
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px  solid #272A31;
    font-size: 17px;
}
footer .wrapper .f_nav {
    display: flex;
    gap: 40px;
}
footer .wrapper .f_nav li {
    position: relative;
}
footer .wrapper .f_nav li::before {
    content: "";
    position: absolute;
    right: -24px;
    top: 6px;
    width: 1px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.1);
}
footer .f_nav ul li:last-child:after {
    display: none;
}
footer .wrapper .f_nav .privacy {
    font-size: 17px;
    font-weight: 700;
    color: #fff;
}
footer .container {
    padding-top: 45px;
    padding-bottom: 75px;
    background-color: #34373F;
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px  solid #34373F;
    font-size: 17px;
}
footer.add .container .copyright { 
    margin: 15px 0 0 0;
 }