/*
    sub .css
    서브 레이아웃 (공통사항, tab, sub_visual ) 스타일
    다른 css끌여들임
*/
@import url(default.css); /* default.css 브라우저가 태그에 주는 기본스타일을 모두 초기화*/
@import url(fonts.css); /* main.css 메인페이지에만 적용되는 스타일 입력, 다른 css import */
@import url(common.css); /* 글자의 기본 스타일 및 wrapper 설정 */
@import url(layout.css); /* layout.css header / footer 모든 페이지의 공통 스타일 적용*/
@import url(contents.css);


.container .sub_visual {
    height: 583px;
    background: url(../images/contents_img/visual_01.jpg) no-repeat  center / cover;
    color: #fff;
    position: relative;
}
.container .sub_visual .wrapper strong {
    display: block;
    font-size: 60px;
    font-weight: 700;
    padding: 240px 0 5PX 0;
    text-align: center;
}
.container .sub_visual .wrapper span {
    display: block;
    text-align: center;
}

@media screen and (max-width:1300px){ 
    .container .sub_visual .wrapper strong {
        font-size: 45px;
        padding: 240px 0 5PX 0;
        text-align: center;
    }
}

/**********.sub_visual 모바일 시작 ***********/
@media screen and (max-width:1000px){  /* 모바일 시작 */

    .container .sub_visual {
        height: 350px;
        background: url(../images/contents_img/visual_01.jpg) no-repeat  center / cover;
        color: #fff;
        position: relative;
    }
    .container .sub_visual .wrapper strong {
        font-size: 25px;
        padding: 170px 0 5px 0;
        text-align: center;
    }
    .container .sub_visual .wrapper span {
        display: block;
        text-align: center;
        font-size: 13px;
    }
}
/* .container .sub_visual 끝*/


.container .lnb {
    border-bottom: 1px solid #ddd;
    height: 86px;
    background-color: #F7F9FA;
}
.container .lnb .wrapper ul {
    display: flex;
    justify-content: space-between;
}
.container .lnb .lnb_open,
.container .lnb .lnb_close {
    display: none;
}
.container .lnb .wrapper ul li{
    width: 50%;
    text-align: center;
}
.container .lnb .wrapper ul li a {
    display: block;
    height: 86px;
    padding: 28px 0 28px 0;
    font-size: 20px;
    color: #1d1d1d;
    font-weight: 700;
}
.container .lnb .wrapper ul li.active{
    border-bottom: 3px solid #1d1d1d;
}
.container .lnb .wrapper ul li.active:hover  {       
    border-bottom: 3px solid #1d1d1d;
}

@media screen and (max-width:1300px){ 
    .container .lnb .wrapper ul li a {
        font-size: 17px;
    }
    .container .lnb .wrapper ul li.active{
        border-bottom: 2px solid #1d1d1d;
    }
    .container .lnb .wrapper ul li.active:hover  {       
        border-bottom: 2px solid #1d1d1d;
    }
}

/********** 모바일 시작 ***********/
@media screen and (max-width:1000px){  /* 모바일 시작 */
    .container .lnb {
        height: 80px;
    }
    .container .lnb .wrapper {
        position: relative;
    }
    .container .lnb .wrapper ul {
        display: none;
    }
    .container .lnb .lnb_open {
        background-color: #F7F9FA;
        display: block;
        font-size: 25px;
        font-weight: 400;
        color: #01875F;
        width: auto;
        padding: 25px 0 0 0;
    }
    .container .lnb .wrapper .lnb_open::before {
        content: "";
        position: absolute;
        right: 0;
        top: 28px;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9995 12.9467L16.0725 8.8735C16.211 8.73517 16.3851 8.66433 16.5947 8.661C16.8042 8.65783 16.9815 8.72867 17.1265 8.8735C17.2713 9.0185 17.3438 9.19417 17.3438 9.4005C17.3438 9.60683 17.2713 9.7825 17.1265 9.9275L12.6322 14.4217C12.5386 14.5152 12.4398 14.5813 12.336 14.6198C12.2322 14.6583 12.12 14.6775 11.9995 14.6775C11.879 14.6775 11.7668 14.6583 11.663 14.6198C11.5592 14.5813 11.4604 14.5152 11.3667 14.4217L6.8725 9.9275C6.73417 9.789 6.66333 9.61492 6.66 9.40525C6.65683 9.19575 6.72767 9.0185 6.8725 8.8735C7.0175 8.72867 7.19317 8.65625 7.3995 8.65625C7.60583 8.65625 7.7815 8.72867 7.9265 8.8735L11.9995 12.9467Z' fill='%2301875F'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .container .lnb .wrapper ul li.active{
        border-bottom: 0;
    }
    .container .lnb .wrapper ul li.active:hover  {       
        border-bottom: 0;
    }
    .container .lnb .lnb_close  {
        display: none;
    }
}

/*  footer 위*/
.sub {
    margin: 500px 0 0 0;
}
.sub .f_top {
    background-color: #01875F;
    color: #fff;
    height: 257px;
}
.sub .f_top .con_wrap ul {
    display: flex;
}
.sub .f_top .con_wrap ul li {
    position: relative;
    width: 50%;
    padding: 42px 130px  42px 130px ;
}

.sub .f_top .con_wrap ul li span {
    font-size: 25px;
    margin: 0 12px 0 0 ;
}
.sub .f_top .con_wrap ul li strong {
    font-size: 35px;
    font-weight: 700;
}
.sub .f_top .con_wrap ul li .day {
    flex-wrap: wrap;
    display: flex;
    gap: 10px 35px;
    margin: 20px 0 0 0;
}
.sub .f_top .con_wrap ul .icon02 span {
    font-size: 35px;
    font-weight: 700;
}
.sub .f_top .con_wrap ul .icon02 p {
    margin: 15px 0 0 0;
}

.sub .f_top .con_wrap ul li.icon01::before {
    content: "";
    position: absolute;
    left: 130px;
    top: -14px;
    width: 49px;
    height: 49px;
    background-image: url("data:image/svg+xml,%3Csvg width='49' height='49' viewBox='0 0 49 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.0286 25.0725L31.1721 30.216C31.4549 30.4954 31.5963 30.8447 31.5963 31.2639C31.5963 31.6831 31.4549 32.0445 31.1721 32.348C30.8686 32.6648 30.5048 32.8198 30.0808 32.813C29.6565 32.8066 29.2926 32.6516 28.9891 32.348L23.5199 26.8784C23.3287 26.6875 23.1887 26.4794 23.0999 26.2542C23.0107 26.0289 22.9661 25.796 22.9661 25.5554V17.7853C22.9661 17.3515 23.113 16.9879 23.4066 16.6946C23.7003 16.4009 24.0641 16.2541 24.4979 16.2541C24.9321 16.2541 25.2957 16.4009 25.5887 16.6946C25.882 16.9879 26.0286 17.3515 26.0286 17.7853V25.0725ZM24.4969 12.2493C24.0627 12.2493 23.6991 12.1027 23.4061 11.8094C23.1128 11.5157 22.9661 11.152 22.9661 10.7181V8.16602H26.0286V10.7181C26.0286 11.152 25.8818 11.5157 25.5882 11.8094C25.2945 12.1027 24.9307 12.2493 24.4969 12.2493ZM36.7474 24.4988C36.7474 24.0646 36.8941 23.7011 37.1874 23.4081C37.481 23.1148 37.8448 22.9681 38.2786 22.9681H40.8307V26.0306H38.2786C37.8448 26.0306 37.481 25.8838 37.1874 25.5901C36.8941 25.2965 36.7474 24.9327 36.7474 24.4988ZM24.4979 36.7494C24.9321 36.7494 25.2957 36.896 25.5887 37.1893C25.882 37.483 26.0286 37.8467 26.0286 38.2806V40.8327H22.9661V38.2806C22.9661 37.8467 23.113 37.483 23.4066 37.1893C23.7003 36.896 24.0641 36.7494 24.4979 36.7494ZM12.2474 24.4999C12.2474 24.9341 12.1007 25.2976 11.8074 25.5906C11.5138 25.8839 11.15 26.0306 10.7161 26.0306H8.16406V22.9681H10.7161C11.15 22.9681 11.5138 23.1149 11.8074 23.4086C12.1007 23.7022 12.2474 24.066 12.2474 24.4999ZM24.501 43.8952C21.8182 43.8952 19.2966 43.3861 16.9361 42.368C14.5756 41.3499 12.5223 39.9682 10.7764 38.2229C9.03041 36.4776 7.64803 34.4253 6.62924 32.0658C5.61079 29.7063 5.10156 27.1853 5.10156 24.5029C5.10156 21.8202 5.61062 19.2985 6.62873 16.938C7.64684 14.5775 9.02854 12.5243 10.7738 10.7783C12.5191 9.03236 14.5715 7.64998 16.931 6.63119C19.2905 5.61274 21.8114 5.10352 24.4938 5.10352C27.1766 5.10352 29.6982 5.61257 32.0587 6.63068C34.4192 7.64879 36.4725 9.03049 38.2184 10.7758C39.9644 12.5211 41.3468 14.5734 42.3656 16.9329C43.384 19.2924 43.8932 21.8134 43.8932 24.4958C43.8932 27.1785 43.3842 29.7002 42.3661 32.0607C41.348 34.4212 39.9663 36.4744 38.221 38.2204C36.4757 39.9663 34.4233 41.3487 32.0638 42.3675C29.7043 43.386 27.1834 43.8952 24.501 43.8952ZM40.8307 24.4993C40.8307 19.9396 39.2484 16.0775 36.0839 12.9129C32.9193 9.74831 29.0571 8.16602 24.4974 8.16602C19.9377 8.16602 16.0755 9.74831 12.9109 12.9129C9.74635 16.0775 8.16406 19.9396 8.16406 24.4993C8.16406 29.0591 9.74635 32.9212 12.9109 36.0858C16.0755 39.2504 19.9377 40.8327 24.4974 40.8327C29.0571 40.8327 32.9193 39.2504 36.0839 36.0858C39.2484 32.9212 40.8307 29.0591 40.8307 24.4993Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.sub .f_top .con_wrap ul li.icon02::before {
    content: "";
    position: absolute;
    left: 123px;
    top: -14px;
    width: 49px;
    height: 49px;
    background-image: url("data:image/svg+xml,%3Csvg width='49' height='49' viewBox='0 0 49 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8393 43.8961C9.80788 43.8961 8.9349 43.5388 8.22031 42.8242C7.50573 42.1097 7.14844 41.2367 7.14844 40.2053V12.8786C7.14844 11.8472 7.50573 10.9742 8.22031 10.2597C8.9349 9.54507 9.80788 9.18778 10.8393 9.18778H13.6659V6.43918C13.6659 5.99172 13.8158 5.61809 14.1156 5.31831C14.4154 5.01886 14.789 4.86914 15.2365 4.86914C15.6843 4.86914 16.0579 5.01886 16.3574 5.31831C16.6572 5.61809 16.8071 5.99172 16.8071 6.43918V9.18778H32.2768V6.40039C32.2768 5.96586 32.4232 5.60193 32.7162 5.30861C33.0095 5.01563 33.3735 4.86914 33.808 4.86914C34.2425 4.86914 34.6063 5.01563 34.8993 5.30861C35.1926 5.60193 35.3393 5.96586 35.3393 6.40039V9.18778H38.1659C39.1973 9.18778 40.0703 9.54507 40.7849 10.2597C41.4995 10.9742 41.8568 11.8472 41.8568 12.8786V40.2053C41.8568 41.2367 41.4995 42.1097 40.7849 42.8242C40.0703 43.5388 39.1973 43.8961 38.1659 43.8961H10.8393ZM10.8393 40.8336H38.1659C38.3232 40.8336 38.4671 40.7681 38.5978 40.6371C38.7288 40.5064 38.7943 40.3625 38.7943 40.2053V21.0453H10.2109V40.2053C10.2109 40.3625 10.2764 40.5064 10.4074 40.6371C10.5381 40.7681 10.6821 40.8336 10.8393 40.8336ZM10.2109 17.9828H38.7943V12.8786C38.7943 12.7214 38.7288 12.5775 38.5978 12.4468C38.4671 12.3158 38.3232 12.2503 38.1659 12.2503H10.8393C10.6821 12.2503 10.5381 12.3158 10.4074 12.4468C10.2764 12.5775 10.2109 12.7214 10.2109 12.8786V17.9828ZM24.5026 28.7408C24.0027 28.7408 23.5767 28.5647 23.2245 28.2125C22.8727 27.8607 22.6967 27.4347 22.6967 26.9345C22.6967 26.4346 22.8727 26.0086 23.2245 25.6564C23.5767 25.3045 24.0027 25.1286 24.5026 25.1286C25.0025 25.1286 25.4285 25.3045 25.7807 25.6564C26.1325 26.0086 26.3085 26.4346 26.3085 26.9345C26.3085 27.4347 26.1325 27.8607 25.7807 28.2125C25.4285 28.5647 25.0025 28.7408 24.5026 28.7408ZM16.3359 28.7408C15.8361 28.7408 15.41 28.5647 15.0579 28.2125C14.706 27.8607 14.5301 27.4347 14.5301 26.9345C14.5301 26.4346 14.706 26.0086 15.0579 25.6564C15.41 25.3045 15.8361 25.1286 16.3359 25.1286C16.8358 25.1286 17.2618 25.3045 17.614 25.6564C17.9659 26.0086 18.1418 26.4346 18.1418 26.9345C18.1418 27.4347 17.9659 27.8607 17.614 28.2125C17.2618 28.5647 16.8358 28.7408 16.3359 28.7408ZM32.6693 28.7408C32.1694 28.7408 31.7434 28.5647 31.3912 28.2125C31.0393 27.8607 30.8634 27.4347 30.8634 26.9345C30.8634 26.4346 31.0393 26.0086 31.3912 25.6564C31.7434 25.3045 32.1694 25.1286 32.6693 25.1286C33.1691 25.1286 33.5952 25.3045 33.9474 25.6564C34.2992 26.0086 34.4751 26.4346 34.4751 26.9345C34.4751 27.4347 34.2992 27.8607 33.9474 28.2125C33.5952 28.5647 33.1691 28.7408 32.6693 28.7408ZM24.5026 36.7503C24.0027 36.7503 23.5767 36.5742 23.2245 36.222C22.8727 35.8701 22.6967 35.4443 22.6967 34.9444C22.6967 34.4442 22.8727 34.0182 23.2245 33.6663C23.5767 33.3141 24.0027 33.1381 24.5026 33.1381C25.0025 33.1381 25.4285 33.3141 25.7807 33.6663C26.1325 34.0182 26.3085 34.4442 26.3085 34.9444C26.3085 35.4443 26.1325 35.8701 25.7807 36.222C25.4285 36.5742 25.0025 36.7503 24.5026 36.7503ZM16.3359 36.7503C15.8361 36.7503 15.41 36.5742 15.0579 36.222C14.706 35.8701 14.5301 35.4443 14.5301 34.9444C14.5301 34.4442 14.706 34.0182 15.0579 33.6663C15.41 33.3141 15.8361 33.1381 16.3359 33.1381C16.8358 33.1381 17.2618 33.3141 17.614 33.6663C17.9659 34.0182 18.1418 34.4442 18.1418 34.9444C18.1418 35.4443 17.9659 35.8701 17.614 36.222C17.2618 36.5742 16.8358 36.7503 16.3359 36.7503ZM32.6693 36.7503C32.1694 36.7503 31.7434 36.5742 31.3912 36.222C31.0393 35.8701 30.8634 35.4443 30.8634 34.9444C30.8634 34.4442 31.0393 34.0182 31.3912 33.6663C31.7434 33.3141 32.1694 33.1381 32.6693 33.1381C33.1691 33.1381 33.5952 33.3141 33.9474 33.6663C34.2992 34.0182 34.4751 34.4442 34.4751 34.9444C34.4751 35.4443 34.2992 35.8701 33.9474 36.222C33.5952 36.5742 33.1691 36.7503 32.6693 36.7503Z' fill='white'/%3E%3C/svg%3E ");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*  footer 아래*/
.sub .f_sub {
    padding: 60px 0 90px ;
    background-color: #272A31;
}
.sub .f_sub ul {
    display: flex;
    margin: 0 0 30px 0;
}
.sub .f_sub ul li {
    gap: 30px;
}
.sub .f_sub .f_nav {
    flex-wrap: wrap;
    display: flex;
    gap: 10px 35px;
}
.sub .f_sub ul li {
    position: relative;
}
.sub .f_sub ul li.privacy {
    font-weight: 700;
    color: #fff;
}
.sub .f_sub ul li::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 6px;
    width: 1px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}
.sub .f_sub ul li:last-child::after {
    display: none;
}

/******모바일 시작 *****/
@media screen and (max-width:1000px){  /* 모바일 시작 */

}