/*
    layout.css
    header / footer 모든 페이지의 공통 스타일 적용
*/
.skipnav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.skipnav a {
    position: absolute; /*skipnav 기준으로 정렬 */
    left: 0;
    top: -100px;
    width: 100%;
    background-color: #2435F4;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.skipnav a.menu {
    background-color: #15AA1A;
}
.skipnav a:focus {
    top: 0;
}

header {
    position: fixed; /* body 무조건 정렬*/
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    padding: 0 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center; /* 위아래 가운데 */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
header .logo a {
    display: block;
    width: 193px;
    height: 47.6px;
    font-size: 0;
    line-height: 0;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}

@media screen and (min-width:1025px){  /* 메뉴 1025이상일때 */
        header .gnb .gnb_open,
        header .gnb .gnb_wrap .gnb_close,
        header .gnb .gnb_wrap .m_lang {
            display: none; /* 모바일에서만 보임 */
        }
        /* 1차 메뉴 */
        header .gnb .gnb_wrap ul.depth1 {
            display: flex;
        }
        header .gnb .gnb_wrap ul.depth1 > li {
            width: 159px;
            text-align: center;
            position: relative; /* ul.depth2 정렬의 기준 */
        }
        header .gnb .gnb_wrap ul.depth1 > li > a {
            display: block;
            line-height: var(--header-h);
            font-size: 22px;
            font-weight: 700;
            color: #fff;
        }
        /* 2차 메뉴 */
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
            display: none;
            position: absolute;
            left: 0;
            top: var(--header-h);
            width: 100%;
            padding-top: 1.25em ; /* 1차메뉴와 2차 메뉴의 사이의 여백*/

        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
            display: block;
            padding: 0.4em;
            color: #555;
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover { /*2차메뉴 오버시 포인트컬러로*/
            color: var(--main-color);
            font-weight: 700;
            text-decoration: underline;
        }

        /* 2차메뉴가 열렸을때, 또는 메뉴에 마우스를 올렸을때 */
        header.menu_pc {
            color: #1d1d1d;

        }
        header.menu_pc .gnb .gnb_wrap ul.depth1 > li > a {
            color: #1d1d1d;
        }
        header.menu_pc::before {
            content: "";
            position: absolute; /*header 기준으로 정렬*/
            left: 0;
            top: 0;
            z-index: -100;
            width: 100%;
            height: 410px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
        }
        header.menu_pc::after {
            content: "";
            position: absolute;
            left: 0;
            top: var(--header-h);
            width: 100%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.2);
        }
        header.menu_pc .logo a {
            background-image: url(../images/common/logo.svg);
        }
        header .tnb {
            display: flex;
            gap: 15px;   
        }
        header .tnb .search button,
        header .tnb .lang button {
            width: 24px;
            height: 24px;
            font-size: 0;
            line-height: 0;
            position: relative;
        }
        header .tnb .search button::before {
            content: "";
            position: absolute;
            left: 0;
            top: -2px;
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.36755 17.9228C6.03093 17.9228 4.05213 17.0855 2.43114 15.4108C0.810381 13.7359 0 11.6912 0 9.27684C0 6.86247 0.810381 4.81783 2.43114 3.1429C4.05213 1.46821 6.03093 0.630859 8.36755 0.630859C10.7042 0.630859 12.683 1.46821 14.304 3.1429C15.9247 4.81783 16.7351 6.86247 16.7351 9.27684C16.7351 10.2866 16.5711 11.2509 16.2432 12.1699C15.915 13.0889 15.4773 13.8882 14.93 14.5678L22.8032 22.703C22.9927 22.8986 23.0896 23.1446 23.094 23.441C23.0983 23.7375 23.0014 23.9881 22.8032 24.1928C22.605 24.3976 22.3647 24.5 22.0821 24.5C21.7998 24.5 21.5595 24.3976 21.3614 24.1928L13.4881 16.0576C12.804 16.6413 12.0172 17.0981 11.1278 17.428C10.2384 17.7579 9.3183 17.9228 8.36755 17.9228ZM8.36755 15.8024C10.1306 15.8024 11.6239 15.1702 12.8474 13.9057C14.0711 12.6415 14.683 11.0986 14.683 9.27684C14.683 7.45511 14.0711 5.91214 12.8474 4.64793C11.6239 3.38349 10.1306 2.75126 8.36755 2.75126C6.60448 2.75126 5.1112 3.38349 3.88771 4.64793C2.66398 5.91214 2.05212 7.45511 2.05212 9.27684C2.05212 11.0986 2.66398 12.6415 3.88771 13.9057C5.1112 15.1702 6.60448 15.8024 8.36755 15.8024Z' fill='white'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 24px;
        }
        header .tnb .lang button::before {
            content: "";
            position: absolute;
            left: 0;
            top: -2px;
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0667 25.5C10.4123 25.5 8.85106 25.1723 7.38294 24.517C5.91482 23.8616 4.63448 22.9694 3.54191 21.8402C2.44912 20.7113 1.58561 19.3884 0.951368 17.8714C0.317123 16.3544 0 14.7412 0 13.0317C0 11.3087 0.317123 9.6921 0.951368 8.18191C1.58561 6.67172 2.44912 5.35216 3.54191 4.22324C4.63448 3.0941 5.91482 2.20185 7.38294 1.5465C8.85106 0.891152 10.4123 0.563477 12.0667 0.563477C13.7343 0.563477 15.2988 0.891152 16.7604 1.5465C18.2219 2.20185 19.499 3.0941 20.5916 4.22324C21.6844 5.35216 22.5479 6.67172 23.1821 8.18191C23.8164 9.6921 24.1335 11.3087 24.1335 13.0317C24.1335 14.7412 23.8164 16.3544 23.1821 17.8714C22.5479 19.3884 21.6844 20.7113 20.5916 21.8402C19.499 22.9694 18.2219 23.8616 16.7604 24.517C15.2988 25.1723 13.7343 25.5 12.0667 25.5ZM12.0667 23.5034C12.715 22.6151 13.2605 21.7192 13.7034 20.8155C14.1462 19.9119 14.507 18.9242 14.7856 17.8524H9.34791C9.64281 18.9579 10.0077 19.9625 10.4425 20.8661C10.8771 21.7697 11.4185 22.6488 12.0667 23.5034ZM9.60703 23.1425C9.12013 22.4207 8.68287 21.6001 8.29525 20.6807C7.90763 19.7611 7.60639 18.8183 7.39151 17.8524H3.08273C3.7536 19.2153 4.65332 20.3605 5.78187 21.2877C6.91043 22.2147 8.18549 22.833 9.60703 23.1425ZM14.5265 23.1425C15.948 22.833 17.2231 22.2147 18.3516 21.2877C19.4802 20.3605 20.3799 19.2153 21.0507 17.8524H16.742C16.4862 18.8266 16.1646 19.7736 15.7769 20.6932C15.3895 21.6127 14.9727 22.4292 14.5265 23.1425ZM2.28379 15.8837H7.0057C6.92589 15.3959 6.86799 14.9176 6.832 14.4489C6.79622 13.9803 6.77833 13.5079 6.77833 13.0317C6.77833 12.5555 6.79622 12.0832 6.832 11.6146C6.86799 11.1459 6.92589 10.6676 7.0057 10.1798H2.28379C2.16164 10.6256 2.06807 11.0891 2.00308 11.5703C1.93788 12.0516 1.90527 12.5387 1.90527 13.0317C1.90527 13.5248 1.93788 14.0119 2.00308 14.4931C2.06807 14.9744 2.16164 15.4379 2.28379 15.8837ZM8.91065 15.8837H15.2228C15.3024 15.3959 15.3602 14.9219 15.3962 14.4616C15.432 14.0014 15.4499 13.5248 15.4499 13.0317C15.4499 12.5387 15.432 12.0621 15.3962 11.6018C15.3602 11.1416 15.3024 10.6676 15.2228 10.1798H8.91065C8.83105 10.6676 8.77326 11.1416 8.73727 11.6018C8.7015 12.0621 8.68361 12.5387 8.68361 13.0317C8.68361 13.5248 8.7015 14.0014 8.73727 14.4616C8.77326 14.9219 8.83105 15.3959 8.91065 15.8837ZM17.1278 15.8837H21.8497C21.9718 15.4379 22.0654 14.9744 22.1304 14.4931C22.1956 14.0119 22.2282 13.5248 22.2282 13.0317C22.2282 12.5387 22.1956 12.0516 22.1304 11.5703C22.0654 11.0891 21.9718 10.6256 21.8497 10.1798H17.1278C17.2076 10.6676 17.2655 11.1459 17.3015 11.6146C17.3373 12.0832 17.3551 12.5555 17.3551 13.0317C17.3551 13.5079 17.3373 13.9803 17.3015 14.4489C17.2655 14.9176 17.2076 15.3959 17.1278 15.8837ZM16.742 8.21111H21.0507C20.3718 6.83129 19.4783 5.68618 18.37 4.77578C17.2618 3.8656 15.9806 3.24306 14.5265 2.90817C15.0134 3.67201 15.4465 4.50749 15.8258 5.41461C16.2054 6.32152 16.5108 7.25368 16.742 8.21111ZM9.34791 8.21111H14.7856C14.4907 7.11391 14.1198 6.10299 13.6729 5.17837C13.2258 4.25375 12.6904 3.38097 12.0667 2.56004C11.4431 3.38097 10.9077 4.25375 10.4606 5.17837C10.0137 6.10299 9.64281 7.11391 9.34791 8.21111ZM3.08273 8.21111H7.39151C7.62269 7.25368 7.92806 6.32152 8.30763 5.41461C8.687 4.50749 9.12013 3.67201 9.60703 2.90817C8.14463 3.24306 6.86142 3.86779 5.75742 4.78234C4.65321 5.69668 3.76165 6.83961 3.08273 8.21111Z' fill='white'/%3E%3C/svg%3E ");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 24px;
        }
        header.menu_pc .gnb .gnb_wrap ul.depth1 > li.over > a { /* 1차메뉴 메인컬러*/
            color: var(--main-color); 
            font-weight: 700;
        } 
        header.menu_pc .gnb .gnb_wrap ul.depth1 > li.over > a::before { /* 1차메뉴 오버시 메인컬러 + 표시*/
            content: "";
            position: absolute; /*li 기준으로 정렬*/
            left: 0;
            top: calc(var(--header-h) - 1px);
            width: 100%;
            height: 3px;
            background-color: var(--main-color);
        }
        header.menu_pc .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
            display: block; /*나타남*/
        }
        header.menu_pc .tnb .search button::before { /* 마우스 오버시 서치모양검정 */
            content: "";
            position: absolute;
            left: 0;
            top: -2px;
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.36755 17.9228C6.03093 17.9228 4.05213 17.0855 2.43114 15.4108C0.810381 13.7359 0 11.6912 0 9.27684C0 6.86247 0.810381 4.81783 2.43114 3.1429C4.05213 1.46821 6.03093 0.630859 8.36755 0.630859C10.7042 0.630859 12.683 1.46821 14.304 3.1429C15.9247 4.81783 16.7351 6.86247 16.7351 9.27684C16.7351 10.2866 16.5711 11.2509 16.2432 12.1699C15.915 13.0889 15.4773 13.8882 14.93 14.5678L22.8032 22.703C22.9927 22.8986 23.0896 23.1446 23.094 23.441C23.0983 23.7375 23.0014 23.9881 22.8032 24.1928C22.605 24.3976 22.3647 24.5 22.0821 24.5C21.7998 24.5 21.5595 24.3976 21.3614 24.1928L13.4881 16.0576C12.804 16.6413 12.0172 17.0981 11.1278 17.428C10.2384 17.7579 9.3183 17.9228 8.36755 17.9228ZM8.36755 15.8024C10.1306 15.8024 11.6239 15.1702 12.8474 13.9057C14.0711 12.6415 14.683 11.0986 14.683 9.27684C14.683 7.45511 14.0711 5.91214 12.8474 4.64793C11.6239 3.38349 10.1306 2.75126 8.36755 2.75126C6.60448 2.75126 5.1112 3.38349 3.88771 4.64793C2.66398 5.91214 2.05212 7.45511 2.05212 9.27684C2.05212 11.0986 2.66398 12.6415 3.88771 13.9057C5.1112 15.1702 6.60448 15.8024 8.36755 15.8024Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 24px;
        }
        header.menu_pc .tnb .lang button::before { /* 마우스 오버시 지구모양검정 */
            content: "";
            position: absolute;
            left: 0;
            top: -2px;
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0667 25.5C10.4123 25.5 8.85106 25.1723 7.38294 24.517C5.91482 23.8616 4.63448 22.9694 3.54191 21.8402C2.44912 20.7113 1.58561 19.3884 0.951368 17.8714C0.317123 16.3544 0 14.7412 0 13.0317C0 11.3087 0.317123 9.6921 0.951368 8.18191C1.58561 6.67172 2.44912 5.35216 3.54191 4.22324C4.63448 3.0941 5.91482 2.20185 7.38294 1.5465C8.85106 0.891152 10.4123 0.563477 12.0667 0.563477C13.7343 0.563477 15.2988 0.891152 16.7604 1.5465C18.2219 2.20185 19.499 3.0941 20.5916 4.22324C21.6844 5.35216 22.5479 6.67172 23.1821 8.18191C23.8164 9.6921 24.1335 11.3087 24.1335 13.0317C24.1335 14.7412 23.8164 16.3544 23.1821 17.8714C22.5479 19.3884 21.6844 20.7113 20.5916 21.8402C19.499 22.9694 18.2219 23.8616 16.7604 24.517C15.2988 25.1723 13.7343 25.5 12.0667 25.5ZM12.0667 23.5034C12.715 22.6151 13.2605 21.7192 13.7034 20.8155C14.1462 19.9119 14.507 18.9242 14.7856 17.8524H9.34791C9.64281 18.9579 10.0077 19.9625 10.4425 20.8661C10.8771 21.7697 11.4185 22.6488 12.0667 23.5034ZM9.60703 23.1425C9.12013 22.4207 8.68287 21.6001 8.29525 20.6807C7.90763 19.7611 7.60639 18.8183 7.39151 17.8524H3.08273C3.7536 19.2153 4.65332 20.3605 5.78187 21.2877C6.91043 22.2147 8.18549 22.833 9.60703 23.1425ZM14.5265 23.1425C15.948 22.833 17.2231 22.2147 18.3516 21.2877C19.4802 20.3605 20.3799 19.2153 21.0507 17.8524H16.742C16.4862 18.8266 16.1646 19.7736 15.7769 20.6932C15.3895 21.6127 14.9727 22.4292 14.5265 23.1425ZM2.28379 15.8837H7.0057C6.92589 15.3959 6.86799 14.9176 6.832 14.4489C6.79622 13.9803 6.77833 13.5079 6.77833 13.0317C6.77833 12.5555 6.79622 12.0832 6.832 11.6146C6.86799 11.1459 6.92589 10.6676 7.0057 10.1798H2.28379C2.16164 10.6256 2.06807 11.0891 2.00308 11.5703C1.93788 12.0516 1.90527 12.5387 1.90527 13.0317C1.90527 13.5248 1.93788 14.0119 2.00308 14.4931C2.06807 14.9744 2.16164 15.4379 2.28379 15.8837ZM8.91065 15.8837H15.2228C15.3024 15.3959 15.3602 14.9219 15.3962 14.4616C15.432 14.0014 15.4499 13.5248 15.4499 13.0317C15.4499 12.5387 15.432 12.0621 15.3962 11.6018C15.3602 11.1416 15.3024 10.6676 15.2228 10.1798H8.91065C8.83105 10.6676 8.77326 11.1416 8.73727 11.6018C8.7015 12.0621 8.68361 12.5387 8.68361 13.0317C8.68361 13.5248 8.7015 14.0014 8.73727 14.4616C8.77326 14.9219 8.83105 15.3959 8.91065 15.8837ZM17.1278 15.8837H21.8497C21.9718 15.4379 22.0654 14.9744 22.1304 14.4931C22.1956 14.0119 22.2282 13.5248 22.2282 13.0317C22.2282 12.5387 22.1956 12.0516 22.1304 11.5703C22.0654 11.0891 21.9718 10.6256 21.8497 10.1798H17.1278C17.2076 10.6676 17.2655 11.1459 17.3015 11.6146C17.3373 12.0832 17.3551 12.5555 17.3551 13.0317C17.3551 13.5079 17.3373 13.9803 17.3015 14.4489C17.2655 14.9176 17.2076 15.3959 17.1278 15.8837ZM16.742 8.21111H21.0507C20.3718 6.83129 19.4783 5.68618 18.37 4.77578C17.2618 3.8656 15.9806 3.24306 14.5265 2.90817C15.0134 3.67201 15.4465 4.50749 15.8258 5.41461C16.2054 6.32152 16.5108 7.25368 16.742 8.21111ZM9.34791 8.21111H14.7856C14.4907 7.11391 14.1198 6.10299 13.6729 5.17837C13.2258 4.25375 12.6904 3.38097 12.0667 2.56004C11.4431 3.38097 10.9077 4.25375 10.4606 5.17837C10.0137 6.10299 9.64281 7.11391 9.34791 8.21111ZM3.08273 8.21111H7.39151C7.62269 7.25368 7.92806 6.32152 8.30763 5.41461C8.687 4.50749 9.12013 3.67201 9.60703 2.90817C8.14463 3.24306 6.86142 3.86779 5.75742 4.78234C4.65321 5.69668 3.76165 6.83961 3.08273 8.21111Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 24px;
        }
        /* 배경이 흰색이라 header 글자가 검은색으로 나올때*/
        header.dark {
            color: #555;
            border-color: rgba(255, 255, 255, 0.2);
        }
        header.dark .logo a {
            background-image: url(../images/common/logo.svg);
        }
        header.dark .tnb .search button::before { /* 마우스 오버시 서치모양검정 */
            content: "";
            position: absolute;
            left: 0;
            top: -2px;
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.36755 17.9228C6.03093 17.9228 4.05213 17.0855 2.43114 15.4108C0.810381 13.7359 0 11.6912 0 9.27684C0 6.86247 0.810381 4.81783 2.43114 3.1429C4.05213 1.46821 6.03093 0.630859 8.36755 0.630859C10.7042 0.630859 12.683 1.46821 14.304 3.1429C15.9247 4.81783 16.7351 6.86247 16.7351 9.27684C16.7351 10.2866 16.5711 11.2509 16.2432 12.1699C15.915 13.0889 15.4773 13.8882 14.93 14.5678L22.8032 22.703C22.9927 22.8986 23.0896 23.1446 23.094 23.441C23.0983 23.7375 23.0014 23.9881 22.8032 24.1928C22.605 24.3976 22.3647 24.5 22.0821 24.5C21.7998 24.5 21.5595 24.3976 21.3614 24.1928L13.4881 16.0576C12.804 16.6413 12.0172 17.0981 11.1278 17.428C10.2384 17.7579 9.3183 17.9228 8.36755 17.9228ZM8.36755 15.8024C10.1306 15.8024 11.6239 15.1702 12.8474 13.9057C14.0711 12.6415 14.683 11.0986 14.683 9.27684C14.683 7.45511 14.0711 5.91214 12.8474 4.64793C11.6239 3.38349 10.1306 2.75126 8.36755 2.75126C6.60448 2.75126 5.1112 3.38349 3.88771 4.64793C2.66398 5.91214 2.05212 7.45511 2.05212 9.27684C2.05212 11.0986 2.66398 12.6415 3.88771 13.9057C5.1112 15.1702 6.60448 15.8024 8.36755 15.8024Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 24px;
        }
        header.dark .tnb .lang button::before { /* 마우스 오버시 지구모양검정 */
            content: "";
            position: absolute;
            left: 0;
            top: -2px;
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0667 25.5C10.4123 25.5 8.85106 25.1723 7.38294 24.517C5.91482 23.8616 4.63448 22.9694 3.54191 21.8402C2.44912 20.7113 1.58561 19.3884 0.951368 17.8714C0.317123 16.3544 0 14.7412 0 13.0317C0 11.3087 0.317123 9.6921 0.951368 8.18191C1.58561 6.67172 2.44912 5.35216 3.54191 4.22324C4.63448 3.0941 5.91482 2.20185 7.38294 1.5465C8.85106 0.891152 10.4123 0.563477 12.0667 0.563477C13.7343 0.563477 15.2988 0.891152 16.7604 1.5465C18.2219 2.20185 19.499 3.0941 20.5916 4.22324C21.6844 5.35216 22.5479 6.67172 23.1821 8.18191C23.8164 9.6921 24.1335 11.3087 24.1335 13.0317C24.1335 14.7412 23.8164 16.3544 23.1821 17.8714C22.5479 19.3884 21.6844 20.7113 20.5916 21.8402C19.499 22.9694 18.2219 23.8616 16.7604 24.517C15.2988 25.1723 13.7343 25.5 12.0667 25.5ZM12.0667 23.5034C12.715 22.6151 13.2605 21.7192 13.7034 20.8155C14.1462 19.9119 14.507 18.9242 14.7856 17.8524H9.34791C9.64281 18.9579 10.0077 19.9625 10.4425 20.8661C10.8771 21.7697 11.4185 22.6488 12.0667 23.5034ZM9.60703 23.1425C9.12013 22.4207 8.68287 21.6001 8.29525 20.6807C7.90763 19.7611 7.60639 18.8183 7.39151 17.8524H3.08273C3.7536 19.2153 4.65332 20.3605 5.78187 21.2877C6.91043 22.2147 8.18549 22.833 9.60703 23.1425ZM14.5265 23.1425C15.948 22.833 17.2231 22.2147 18.3516 21.2877C19.4802 20.3605 20.3799 19.2153 21.0507 17.8524H16.742C16.4862 18.8266 16.1646 19.7736 15.7769 20.6932C15.3895 21.6127 14.9727 22.4292 14.5265 23.1425ZM2.28379 15.8837H7.0057C6.92589 15.3959 6.86799 14.9176 6.832 14.4489C6.79622 13.9803 6.77833 13.5079 6.77833 13.0317C6.77833 12.5555 6.79622 12.0832 6.832 11.6146C6.86799 11.1459 6.92589 10.6676 7.0057 10.1798H2.28379C2.16164 10.6256 2.06807 11.0891 2.00308 11.5703C1.93788 12.0516 1.90527 12.5387 1.90527 13.0317C1.90527 13.5248 1.93788 14.0119 2.00308 14.4931C2.06807 14.9744 2.16164 15.4379 2.28379 15.8837ZM8.91065 15.8837H15.2228C15.3024 15.3959 15.3602 14.9219 15.3962 14.4616C15.432 14.0014 15.4499 13.5248 15.4499 13.0317C15.4499 12.5387 15.432 12.0621 15.3962 11.6018C15.3602 11.1416 15.3024 10.6676 15.2228 10.1798H8.91065C8.83105 10.6676 8.77326 11.1416 8.73727 11.6018C8.7015 12.0621 8.68361 12.5387 8.68361 13.0317C8.68361 13.5248 8.7015 14.0014 8.73727 14.4616C8.77326 14.9219 8.83105 15.3959 8.91065 15.8837ZM17.1278 15.8837H21.8497C21.9718 15.4379 22.0654 14.9744 22.1304 14.4931C22.1956 14.0119 22.2282 13.5248 22.2282 13.0317C22.2282 12.5387 22.1956 12.0516 22.1304 11.5703C22.0654 11.0891 21.9718 10.6256 21.8497 10.1798H17.1278C17.2076 10.6676 17.2655 11.1459 17.3015 11.6146C17.3373 12.0832 17.3551 12.5555 17.3551 13.0317C17.3551 13.5079 17.3373 13.9803 17.3015 14.4489C17.2655 14.9176 17.2076 15.3959 17.1278 15.8837ZM16.742 8.21111H21.0507C20.3718 6.83129 19.4783 5.68618 18.37 4.77578C17.2618 3.8656 15.9806 3.24306 14.5265 2.90817C15.0134 3.67201 15.4465 4.50749 15.8258 5.41461C16.2054 6.32152 16.5108 7.25368 16.742 8.21111ZM9.34791 8.21111H14.7856C14.4907 7.11391 14.1198 6.10299 13.6729 5.17837C13.2258 4.25375 12.6904 3.38097 12.0667 2.56004C11.4431 3.38097 10.9077 4.25375 10.4606 5.17837C10.0137 6.10299 9.64281 7.11391 9.34791 8.21111ZM3.08273 8.21111H7.39151C7.62269 7.25368 7.92806 6.32152 8.30763 5.41461C8.687 4.50749 9.12013 3.67201 9.60703 2.90817C8.14463 3.24306 6.86142 3.86779 5.75742 4.78234C4.65321 5.69668 3.76165 6.83961 3.08273 8.21111Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 24px;
        }

}/*media */

@media screen and (max-width:1024px){ 
        header {
            padding-right: 0;
        }
        header .gnb .gnb_open {
            width: var(--header-h);
            height: var(--header-h);
            color: transparent;
            text-indent: -9999px;
            position: relative;
        }
        header .gnb .gnb_open::before {
            content: "";
            position: absolute;
            left: 39px;
            top: 39px;
            width: 27px;
            height: 18px;
            background-image: url("data:image/svg+xml,%3Csvg width='29' height='20' viewBox='0 0 29 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.41667 19.375C1.97986 19.375 1.61372 19.2273 1.31823 18.9318C1.02274 18.6363 0.875 18.2701 0.875 17.8333C0.875 17.3965 1.02274 17.0304 1.31823 16.7349C1.61372 16.4394 1.97986 16.2917 2.41667 16.2917H27.0833C27.5201 16.2917 27.8863 16.4394 28.1818 16.7349C28.4773 17.0304 28.625 17.3965 28.625 17.8333C28.625 18.2701 28.4773 18.6363 28.1818 18.9318C27.8863 19.2273 27.5201 19.375 27.0833 19.375H2.41667ZM2.41667 11.6667C1.97986 11.6667 1.61372 11.5189 1.31823 11.2234C1.02274 10.928 0.875 10.5618 0.875 10.125C0.875 9.68819 1.02274 9.32205 1.31823 9.02656C1.61372 8.73108 1.97986 8.58333 2.41667 8.58333H20.9167C21.3535 8.58333 21.7196 8.73108 22.0151 9.02656C22.3106 9.32205 22.4583 9.68819 22.4583 10.125C22.4583 10.5618 22.3106 10.928 22.0151 11.2234C21.7196 11.5189 21.3535 11.6667 20.9167 11.6667H2.41667ZM2.41667 3.95833C1.97986 3.95833 1.61372 3.81059 1.31823 3.5151C1.02274 3.21962 0.875 2.85347 0.875 2.41667C0.875 1.97986 1.02274 1.61372 1.31823 1.31823C1.61372 1.02274 1.97986 0.875 2.41667 0.875H27.0833C27.5201 0.875 27.8863 1.02274 28.1818 1.31823C28.4773 1.61372 28.625 1.97986 28.625 2.41667C28.625 2.85347 28.4773 3.21962 28.1818 3.5151C27.8863 3.81059 27.5201 3.95833 27.0833 3.95833H2.41667Z' fill='white'/%3E%3C/svg%3E ");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        header .gnb .gnb_wrap {
            display: none;
            position: absolute; /* header 기준으로 정렬 */
            right: 0;
            top: 0;
            z-index: 100;
            width: 100%;
            height: 100vh;
            max-width: 320px;
            background-color: #2d2d2d;
        }
        header .gnb .gnb_wrap ul.depth1  {
            margin-top: var(--header-h);
            height: calc(100dvh - var(--header-h));
            overflow-y: auto;
            background-color: #fff;
        }
        header .tnb {
            position: absolute; /* header 기준으로 정렬 */
            right: var(--header-h);
            top: 0;
        }
        header .tnb .search button {
            width: 28px;
            height: var(--header-h);
            font-size: 0;
            line-height: 0;
            position: relative; /* before 정렬의 기준 */
        }
        header .tnb .search button::before{
            content: "";
            position: absolute;
            left: 10px;
            top: 36px;
            width: 28px;
            height: 28px;
            background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0833 18.6667C8.96389 18.6667 7.17014 17.9326 5.70208 16.4646C4.23403 14.9965 3.5 13.2028 3.5 11.0833C3.5 8.96389 4.23403 7.17014 5.70208 5.70208C7.17014 4.23403 8.96389 3.5 11.0833 3.5C13.2028 3.5 14.9965 4.23403 16.4646 5.70208C17.9326 7.17014 18.6667 8.96389 18.6667 11.0833C18.6667 11.9389 18.5306 12.7458 18.2583 13.5042C17.9861 14.2625 17.6167 14.9333 17.15 15.5167L23.6833 22.05C23.8972 22.2639 24.0042 22.5361 24.0042 22.8667C24.0042 23.1972 23.8972 23.4694 23.6833 23.6833C23.4694 23.8972 23.1972 24.0042 22.8667 24.0042C22.5361 24.0042 22.2639 23.8972 22.05 23.6833L15.5167 17.15C14.9333 17.6167 14.2625 17.9861 13.5042 18.2583C12.7458 18.5306 11.9389 18.6667 11.0833 18.6667ZM11.0833 16.3333C12.5417 16.3333 13.7813 15.8229 14.8021 14.8021C15.8229 13.7813 16.3333 12.5417 16.3333 11.0833C16.3333 9.625 15.8229 8.38542 14.8021 7.36458C13.7813 6.34375 12.5417 5.83333 11.0833 5.83333C9.625 5.83333 8.38542 6.34375 7.36458 7.36458C6.34375 8.38542 5.83333 9.625 5.83333 11.0833C5.83333 12.5417 6.34375 13.7813 7.36458 14.8021C8.38542 15.8229 9.625 16.3333 11.0833 16.3333Z' fill='white'/%3E%3C/svg%3E ");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        header .tnb .lang {
            display: none; /* 숨김 */
        }

        /*모바일 메뉴가 열렸을떄*/
        header.menu_mo .gnb .gnb_wrap {
            display: block; /* 나타남*/
        }
} /*media */

@media screen and (max-width:768px){ 
        header .logo a {
            width: 92px;
            height: 22px;
        }
        header .gnb .gnb_open::before {
            content: "";
            position: absolute;
            left: 16px;
            top: 19px;
            width: 27px;
            height: 18px;
            background-image: url("data:image/svg+xml,%3Csvg width='29' height='20' viewBox='0 0 29 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.41667 19.375C1.97986 19.375 1.61372 19.2273 1.31823 18.9318C1.02274 18.6363 0.875 18.2701 0.875 17.8333C0.875 17.3965 1.02274 17.0304 1.31823 16.7349C1.61372 16.4394 1.97986 16.2917 2.41667 16.2917H27.0833C27.5201 16.2917 27.8863 16.4394 28.1818 16.7349C28.4773 17.0304 28.625 17.3965 28.625 17.8333C28.625 18.2701 28.4773 18.6363 28.1818 18.9318C27.8863 19.2273 27.5201 19.375 27.0833 19.375H2.41667ZM2.41667 11.6667C1.97986 11.6667 1.61372 11.5189 1.31823 11.2234C1.02274 10.928 0.875 10.5618 0.875 10.125C0.875 9.68819 1.02274 9.32205 1.31823 9.02656C1.61372 8.73108 1.97986 8.58333 2.41667 8.58333H20.9167C21.3535 8.58333 21.7196 8.73108 22.0151 9.02656C22.3106 9.32205 22.4583 9.68819 22.4583 10.125C22.4583 10.5618 22.3106 10.928 22.0151 11.2234C21.7196 11.5189 21.3535 11.6667 20.9167 11.6667H2.41667ZM2.41667 3.95833C1.97986 3.95833 1.61372 3.81059 1.31823 3.5151C1.02274 3.21962 0.875 2.85347 0.875 2.41667C0.875 1.97986 1.02274 1.61372 1.31823 1.31823C1.61372 1.02274 1.97986 0.875 2.41667 0.875H27.0833C27.5201 0.875 27.8863 1.02274 28.1818 1.31823C28.4773 1.61372 28.625 1.97986 28.625 2.41667C28.625 2.85347 28.4773 3.21962 28.1818 3.5151C27.8863 3.81059 27.5201 3.95833 27.0833 3.95833H2.41667Z' fill='white'/%3E%3C/svg%3E ");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        header .tnb .search button::before{
            content: "";
            position: absolute;
            left: -3px;
            top: 15px;
            width: 28px;
            height: 28px;
            background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0833 18.6667C8.96389 18.6667 7.17014 17.9326 5.70208 16.4646C4.23403 14.9965 3.5 13.2028 3.5 11.0833C3.5 8.96389 4.23403 7.17014 5.70208 5.70208C7.17014 4.23403 8.96389 3.5 11.0833 3.5C13.2028 3.5 14.9965 4.23403 16.4646 5.70208C17.9326 7.17014 18.6667 8.96389 18.6667 11.0833C18.6667 11.9389 18.5306 12.7458 18.2583 13.5042C17.9861 14.2625 17.6167 14.9333 17.15 15.5167L23.6833 22.05C23.8972 22.2639 24.0042 22.5361 24.0042 22.8667C24.0042 23.1972 23.8972 23.4694 23.6833 23.6833C23.4694 23.8972 23.1972 24.0042 22.8667 24.0042C22.5361 24.0042 22.2639 23.8972 22.05 23.6833L15.5167 17.15C14.9333 17.6167 14.2625 17.9861 13.5042 18.2583C12.7458 18.5306 11.9389 18.6667 11.0833 18.6667ZM11.0833 16.3333C12.5417 16.3333 13.7813 15.8229 14.8021 14.8021C15.8229 13.7813 16.3333 12.5417 16.3333 11.0833C16.3333 9.625 15.8229 8.38542 14.8021 7.36458C13.7813 6.34375 12.5417 5.83333 11.0833 5.83333C9.625 5.83333 8.38542 6.34375 7.36458 7.36458C6.34375 8.38542 5.83333 9.625 5.83333 11.0833C5.83333 12.5417 6.34375 13.7813 7.36458 14.8021C8.38542 15.8229 9.625 16.3333 11.0833 16.3333Z' fill='white'/%3E%3C/svg%3E ");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
}
