/*
    layout.css
    header / footer 모든 페이지의 공통 스타일 적용
*/
.skipnav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.skipnav a {
    position: absolute; /*skipnav 기준으로 정렬 */
    left: 0;
    top: -100px;
    width: 100%;
    background-color: #2435F4;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.skipnav a.menu {
    background-color: #15AA1A;
}
.skipnav a:focus {
    top: 0;
}

header {
    position: fixed; /* body 무조건 정렬*/
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    padding: 0 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center; /* 위아래 가운데 */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
header .logo a {
    display: block;
    width: 193px;
    height: 47.6px;
    font-size: 0;
    line-height: 0;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}

@media screen and (min-width:1025px){  /* 메뉴 1025이상일때 */
        header .gnb .gnb_open,
        header .gnb .gnb_wrap .gnb_close,
        header .gnb .gnb_wrap .m_lang {
            display: none; /* 모바일에서만 보임 */
        }
        /* 1차 메뉴 */
        header .gnb .gnb_wrap ul.depth1 {
            display: flex;
        }
        header .gnb .gnb_wrap ul.depth1 > li {
            width: 159px;
            text-align: center;
            position: relative; /* ul.depth2 정렬의 기준 */
        }
        header .gnb .gnb_wrap ul.depth1 > li > a {
            display: block;
            line-height: var(--header-h);
            font-size: 22px;
            font-weight: 700;
            color: #FFF;
        }
        /* 2차 메뉴 */
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
            display: none;
            position: absolute;
            left: 0;
            top: var(--header-h);
            width: 100%;
            padding-top: 1.25em ; /* 1차메뉴와 2차 메뉴의 사이의 여백*/

        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
            display: block;
            padding: 0.4em;
            color: #555;
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover,
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:focus { /*2차메뉴 오버시 포인트컬러로*/
            color: var(--main-color);
            font-weight: 700;
            text-decoration: underline;
        }

        /* 2차메뉴가 열렸을때, 또는 메뉴에 마우스를 올렸을때 */
        header.menu_pc {
            color: #1d1d1d;

        }
        header.menu_pc .gnb .gnb_wrap ul.depth1 > li > a {
            color: #1d1d1d;
        }
        header.menu_pc::before {
            content: "";
            position: absolute; /*header 기준으로 정렬*/
            left: 0;
            top: 0;
            z-index: -100;
            width: 100%;
            height: 410px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
        }
        header.menu_pc::after {
            content: "";
            position: absolute;
            left: 0;
            top: var(--header-h);
            width: 100%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.2);
        }
        header.menu_pc .logo a {
            background-image: url(../images/common/logo.svg);
        }
        header .tnb {
            display: flex;
            gap: 15px;   
        }
        header .tnb .search button,
        header .tnb .lang button {
            width: 24px;
            height: 24px;
            font-size: 0;
            line-height: 0;
            position: relative;
        }
        header .tnb .search button::before {
            content: "";
            position: absolute;
            left: 0;
            top: -2px;
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.36755 17.9228C6.03093 17.9228 4.05213 17.0855 2.43114 15.4108C0.810381 13.7359 0 11.6912 0 9.27684C0 6.86247 0.810381 4.81783 2.43114 3.1429C4.05213 1.46821 6.03093 0.630859 8.36755 0.630859C10.7042 0.630859 12.683 1.46821 14.304 3.1429C15.9247 4.81783 16.7351 6.86247 16.7351 9.27684C16.7351 10.2866 16.5711 11.2509 16.2432 12.1699C15.915 13.0889 15.4773 13.8882 14.93 14.5678L22.8032 22.703C22.9927 22.8986 23.0896 23.1446 23.094 23.441C23.0983 23.7375 23.0014 23.9881 22.8032 24.1928C22.605 24.3976 22.3647 24.5 22.0821 24.5C21.7998 24.5 21.5595 24.3976 21.3614 24.1928L13.4881 16.0576C12.804 16.6413 12.0172 17.0981 11.1278 17.428C10.2384 17.7579 9.3183 17.9228 8.36755 17.9228ZM8.36755 15.8024C10.1306 15.8024 11.6239 15.1702 12.8474 13.9057C14.0711 12.6415 14.683 11.0986 14.683 9.27684C14.683 7.45511 14.0711 5.91214 12.8474 4.64793C11.6239 3.38349 10.1306 2.75126 8.36755 2.75126C6.60448 2.75126 5.1112 3.38349 3.88771 4.64793C2.66398 5.91214 2.05212 7.45511 2.05212 9.27684C2.05212 11.0986 2.66398 12.6415 3.88771 13.9057C5.1112 15.1702 6.60448 15.8024 8.36755 15.8024Z' fill='white'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 24px;
        }
        header .tnb .lang button::before {
            content: "";
            position: absolute;
            left: 0;
            top: -2px;
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0667 25.5C10.4123 25.5 8.85106 25.1723 7.38294 24.517C5.91482 23.8616 4.63448 22.9694 3.54191 21.8402C2.44912 20.7113 1.58561 19.3884 0.951368 17.8714C0.317123 16.3544 0 14.7412 0 13.0317C0 11.3087 0.317123 9.6921 0.951368 8.18191C1.58561 6.67172 2.44912 5.35216 3.54191 4.22324C4.63448 3.0941 5.91482 2.20185 7.38294 1.5465C8.85106 0.891152 10.4123 0.563477 12.0667 0.563477C13.7343 0.563477 15.2988 0.891152 16.7604 1.5465C18.2219 2.20185 19.499 3.0941 20.5916 4.22324C21.6844 5.35216 22.5479 6.67172 23.1821 8.18191C23.8164 9.6921 24.1335 11.3087 24.1335 13.0317C24.1335 14.7412 23.8164 16.3544 23.1821 17.8714C22.5479 19.3884 21.6844 20.7113 20.5916 21.8402C19.499 22.9694 18.2219 23.8616 16.7604 24.517C15.2988 25.1723 13.7343 25.5 12.0667 25.5ZM12.0667 23.5034C12.715 22.6151 13.2605 21.7192 13.7034 20.8155C14.1462 19.9119 14.507 18.9242 14.7856 17.8524H9.34791C9.64281 18.9579 10.0077 19.9625 10.4425 20.8661C10.8771 21.7697 11.4185 22.6488 12.0667 23.5034ZM9.60703 23.1425C9.12013 22.4207 8.68287 21.6001 8.29525 20.6807C7.90763 19.7611 7.60639 18.8183 7.39151 17.8524H3.08273C3.7536 19.2153 4.65332 20.3605 5.78187 21.2877C6.91043 22.2147 8.18549 22.833 9.60703 23.1425ZM14.5265 23.1425C15.948 22.833 17.2231 22.2147 18.3516 21.2877C19.4802 20.3605 20.3799 19.2153 21.0507 17.8524H16.742C16.4862 18.8266 16.1646 19.7736 15.7769 20.6932C15.3895 21.6127 14.9727 22.4292 14.5265 23.1425ZM2.28379 15.8837H7.0057C6.92589 15.3959 6.86799 14.9176 6.832 14.4489C6.79622 13.9803 6.77833 13.5079 6.77833 13.0317C6.77833 12.5555 6.79622 12.0832 6.832 11.6146C6.86799 11.1459 6.92589 10.6676 7.0057 10.1798H2.28379C2.16164 10.6256 2.06807 11.0891 2.00308 11.5703C1.93788 12.0516 1.90527 12.5387 1.90527 13.0317C1.90527 13.5248 1.93788 14.0119 2.00308 14.4931C2.06807 14.9744 2.16164 15.4379 2.28379 15.8837ZM8.91065 15.8837H15.2228C15.3024 15.3959 15.3602 14.9219 15.3962 14.4616C15.432 14.0014 15.4499 13.5248 15.4499 13.0317C15.4499 12.5387 15.432 12.0621 15.3962 11.6018C15.3602 11.1416 15.3024 10.6676 15.2228 10.1798H8.91065C8.83105 10.6676 8.77326 11.1416 8.73727 11.6018C8.7015 12.0621 8.68361 12.5387 8.68361 13.0317C8.68361 13.5248 8.7015 14.0014 8.73727 14.4616C8.77326 14.9219 8.83105 15.3959 8.91065 15.8837ZM17.1278 15.8837H21.8497C21.9718 15.4379 22.0654 14.9744 22.1304 14.4931C22.1956 14.0119 22.2282 13.5248 22.2282 13.0317C22.2282 12.5387 22.1956 12.0516 22.1304 11.5703C22.0654 11.0891 21.9718 10.6256 21.8497 10.1798H17.1278C17.2076 10.6676 17.2655 11.1459 17.3015 11.6146C17.3373 12.0832 17.3551 12.5555 17.3551 13.0317C17.3551 13.5079 17.3373 13.9803 17.3015 14.4489C17.2655 14.9176 17.2076 15.3959 17.1278 15.8837ZM16.742 8.21111H21.0507C20.3718 6.83129 19.4783 5.68618 18.37 4.77578C17.2618 3.8656 15.9806 3.24306 14.5265 2.90817C15.0134 3.67201 15.4465 4.50749 15.8258 5.41461C16.2054 6.32152 16.5108 7.25368 16.742 8.21111ZM9.34791 8.21111H14.7856C14.4907 7.11391 14.1198 6.10299 13.6729 5.17837C13.2258 4.25375 12.6904 3.38097 12.0667 2.56004C11.4431 3.38097 10.9077 4.25375 10.4606 5.17837C10.0137 6.10299 9.64281 7.11391 9.34791 8.21111ZM3.08273 8.21111H7.39151C7.62269 7.25368 7.92806 6.32152 8.30763 5.41461C8.687 4.50749 9.12013 3.67201 9.60703 2.90817C8.14463 3.24306 6.86142 3.86779 5.75742 4.78234C4.65321 5.69668 3.76165 6.83961 3.08273 8.21111Z' fill='white'/%3E%3C/svg%3E ");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 24px;
        }
        header.menu_pc .gnb .gnb_wrap ul.depth1 > li.over > a { /* 1차메뉴 메인컬러*/
            color: var(--main-color); 
            font-weight: 700;
        } 
        header.menu_pc .gnb .gnb_wrap ul.depth1 > li.over > a::before { /* 1차메뉴 오버시 메인컬러 + 표시*/
            content: "";
            position: absolute; /*li 기준으로 정렬*/
            left: 0;
            top: calc(var(--header-h) - 1px);
            width: 100%;
            height: 3px;
            background-color: var(--main-color);
        }
        header.menu_pc .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
            display: block; /*나타남*/
        }
        header.menu_pc .tnb .search button::before { /* 마우스 오버시 서치모양검정 */
            content: "";
            position: absolute;
            left: 0;
            top: -2px;
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.36755 17.9228C6.03093 17.9228 4.05213 17.0855 2.43114 15.4108C0.810381 13.7359 0 11.6912 0 9.27684C0 6.86247 0.810381 4.81783 2.43114 3.1429C4.05213 1.46821 6.03093 0.630859 8.36755 0.630859C10.7042 0.630859 12.683 1.46821 14.304 3.1429C15.9247 4.81783 16.7351 6.86247 16.7351 9.27684C16.7351 10.2866 16.5711 11.2509 16.2432 12.1699C15.915 13.0889 15.4773 13.8882 14.93 14.5678L22.8032 22.703C22.9927 22.8986 23.0896 23.1446 23.094 23.441C23.0983 23.7375 23.0014 23.9881 22.8032 24.1928C22.605 24.3976 22.3647 24.5 22.0821 24.5C21.7998 24.5 21.5595 24.3976 21.3614 24.1928L13.4881 16.0576C12.804 16.6413 12.0172 17.0981 11.1278 17.428C10.2384 17.7579 9.3183 17.9228 8.36755 17.9228ZM8.36755 15.8024C10.1306 15.8024 11.6239 15.1702 12.8474 13.9057C14.0711 12.6415 14.683 11.0986 14.683 9.27684C14.683 7.45511 14.0711 5.91214 12.8474 4.64793C11.6239 3.38349 10.1306 2.75126 8.36755 2.75126C6.60448 2.75126 5.1112 3.38349 3.88771 4.64793C2.66398 5.91214 2.05212 7.45511 2.05212 9.27684C2.05212 11.0986 2.66398 12.6415 3.88771 13.9057C5.1112 15.1702 6.60448 15.8024 8.36755 15.8024Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 24px;
        }
        header.menu_pc .tnb .lang button::before { /* 마우스 오버시 지구모양검정 */
            content: "";
            position: absolute;
            left: 0;
            top: -2px;
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0667 25.5C10.4123 25.5 8.85106 25.1723 7.38294 24.517C5.91482 23.8616 4.63448 22.9694 3.54191 21.8402C2.44912 20.7113 1.58561 19.3884 0.951368 17.8714C0.317123 16.3544 0 14.7412 0 13.0317C0 11.3087 0.317123 9.6921 0.951368 8.18191C1.58561 6.67172 2.44912 5.35216 3.54191 4.22324C4.63448 3.0941 5.91482 2.20185 7.38294 1.5465C8.85106 0.891152 10.4123 0.563477 12.0667 0.563477C13.7343 0.563477 15.2988 0.891152 16.7604 1.5465C18.2219 2.20185 19.499 3.0941 20.5916 4.22324C21.6844 5.35216 22.5479 6.67172 23.1821 8.18191C23.8164 9.6921 24.1335 11.3087 24.1335 13.0317C24.1335 14.7412 23.8164 16.3544 23.1821 17.8714C22.5479 19.3884 21.6844 20.7113 20.5916 21.8402C19.499 22.9694 18.2219 23.8616 16.7604 24.517C15.2988 25.1723 13.7343 25.5 12.0667 25.5ZM12.0667 23.5034C12.715 22.6151 13.2605 21.7192 13.7034 20.8155C14.1462 19.9119 14.507 18.9242 14.7856 17.8524H9.34791C9.64281 18.9579 10.0077 19.9625 10.4425 20.8661C10.8771 21.7697 11.4185 22.6488 12.0667 23.5034ZM9.60703 23.1425C9.12013 22.4207 8.68287 21.6001 8.29525 20.6807C7.90763 19.7611 7.60639 18.8183 7.39151 17.8524H3.08273C3.7536 19.2153 4.65332 20.3605 5.78187 21.2877C6.91043 22.2147 8.18549 22.833 9.60703 23.1425ZM14.5265 23.1425C15.948 22.833 17.2231 22.2147 18.3516 21.2877C19.4802 20.3605 20.3799 19.2153 21.0507 17.8524H16.742C16.4862 18.8266 16.1646 19.7736 15.7769 20.6932C15.3895 21.6127 14.9727 22.4292 14.5265 23.1425ZM2.28379 15.8837H7.0057C6.92589 15.3959 6.86799 14.9176 6.832 14.4489C6.79622 13.9803 6.77833 13.5079 6.77833 13.0317C6.77833 12.5555 6.79622 12.0832 6.832 11.6146C6.86799 11.1459 6.92589 10.6676 7.0057 10.1798H2.28379C2.16164 10.6256 2.06807 11.0891 2.00308 11.5703C1.93788 12.0516 1.90527 12.5387 1.90527 13.0317C1.90527 13.5248 1.93788 14.0119 2.00308 14.4931C2.06807 14.9744 2.16164 15.4379 2.28379 15.8837ZM8.91065 15.8837H15.2228C15.3024 15.3959 15.3602 14.9219 15.3962 14.4616C15.432 14.0014 15.4499 13.5248 15.4499 13.0317C15.4499 12.5387 15.432 12.0621 15.3962 11.6018C15.3602 11.1416 15.3024 10.6676 15.2228 10.1798H8.91065C8.83105 10.6676 8.77326 11.1416 8.73727 11.6018C8.7015 12.0621 8.68361 12.5387 8.68361 13.0317C8.68361 13.5248 8.7015 14.0014 8.73727 14.4616C8.77326 14.9219 8.83105 15.3959 8.91065 15.8837ZM17.1278 15.8837H21.8497C21.9718 15.4379 22.0654 14.9744 22.1304 14.4931C22.1956 14.0119 22.2282 13.5248 22.2282 13.0317C22.2282 12.5387 22.1956 12.0516 22.1304 11.5703C22.0654 11.0891 21.9718 10.6256 21.8497 10.1798H17.1278C17.2076 10.6676 17.2655 11.1459 17.3015 11.6146C17.3373 12.0832 17.3551 12.5555 17.3551 13.0317C17.3551 13.5079 17.3373 13.9803 17.3015 14.4489C17.2655 14.9176 17.2076 15.3959 17.1278 15.8837ZM16.742 8.21111H21.0507C20.3718 6.83129 19.4783 5.68618 18.37 4.77578C17.2618 3.8656 15.9806 3.24306 14.5265 2.90817C15.0134 3.67201 15.4465 4.50749 15.8258 5.41461C16.2054 6.32152 16.5108 7.25368 16.742 8.21111ZM9.34791 8.21111H14.7856C14.4907 7.11391 14.1198 6.10299 13.6729 5.17837C13.2258 4.25375 12.6904 3.38097 12.0667 2.56004C11.4431 3.38097 10.9077 4.25375 10.4606 5.17837C10.0137 6.10299 9.64281 7.11391 9.34791 8.21111ZM3.08273 8.21111H7.39151C7.62269 7.25368 7.92806 6.32152 8.30763 5.41461C8.687 4.50749 9.12013 3.67201 9.60703 2.90817C8.14463 3.24306 6.86142 3.86779 5.75742 4.78234C4.65321 5.69668 3.76165 6.83961 3.08273 8.21111Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 24px;
        }
        /* 배경이 흰색이라 header 글자가 검은색으로 나올때*/
        header.dark .gnb .gnb_wrap ul.depth1 > li > a {
            display: block;
            line-height: var(--header-h);
            font-size: 22px;
            font-weight: 700;
            color: #1D1D1D;
        }
        header.dark {
            color: #555;
            border-color: rgba(0, 0, 0, 0.3)
        }
        header.dark .logo a {
            background-image: url(../images/common/logo.svg);
        }
        header.dark .tnb .search button::before { /* 마우스 오버시 서치모양검정 */
            content: "";
            position: absolute;
            left: 0;
            top: -2px;
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.36755 17.9228C6.03093 17.9228 4.05213 17.0855 2.43114 15.4108C0.810381 13.7359 0 11.6912 0 9.27684C0 6.86247 0.810381 4.81783 2.43114 3.1429C4.05213 1.46821 6.03093 0.630859 8.36755 0.630859C10.7042 0.630859 12.683 1.46821 14.304 3.1429C15.9247 4.81783 16.7351 6.86247 16.7351 9.27684C16.7351 10.2866 16.5711 11.2509 16.2432 12.1699C15.915 13.0889 15.4773 13.8882 14.93 14.5678L22.8032 22.703C22.9927 22.8986 23.0896 23.1446 23.094 23.441C23.0983 23.7375 23.0014 23.9881 22.8032 24.1928C22.605 24.3976 22.3647 24.5 22.0821 24.5C21.7998 24.5 21.5595 24.3976 21.3614 24.1928L13.4881 16.0576C12.804 16.6413 12.0172 17.0981 11.1278 17.428C10.2384 17.7579 9.3183 17.9228 8.36755 17.9228ZM8.36755 15.8024C10.1306 15.8024 11.6239 15.1702 12.8474 13.9057C14.0711 12.6415 14.683 11.0986 14.683 9.27684C14.683 7.45511 14.0711 5.91214 12.8474 4.64793C11.6239 3.38349 10.1306 2.75126 8.36755 2.75126C6.60448 2.75126 5.1112 3.38349 3.88771 4.64793C2.66398 5.91214 2.05212 7.45511 2.05212 9.27684C2.05212 11.0986 2.66398 12.6415 3.88771 13.9057C5.1112 15.1702 6.60448 15.8024 8.36755 15.8024Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 24px;
        }
        header.dark .tnb .lang button::before { /* 마우스 오버시 지구모양검정 */
            content: "";
            position: absolute;
            left: 0;
            top: -2px;
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0667 25.5C10.4123 25.5 8.85106 25.1723 7.38294 24.517C5.91482 23.8616 4.63448 22.9694 3.54191 21.8402C2.44912 20.7113 1.58561 19.3884 0.951368 17.8714C0.317123 16.3544 0 14.7412 0 13.0317C0 11.3087 0.317123 9.6921 0.951368 8.18191C1.58561 6.67172 2.44912 5.35216 3.54191 4.22324C4.63448 3.0941 5.91482 2.20185 7.38294 1.5465C8.85106 0.891152 10.4123 0.563477 12.0667 0.563477C13.7343 0.563477 15.2988 0.891152 16.7604 1.5465C18.2219 2.20185 19.499 3.0941 20.5916 4.22324C21.6844 5.35216 22.5479 6.67172 23.1821 8.18191C23.8164 9.6921 24.1335 11.3087 24.1335 13.0317C24.1335 14.7412 23.8164 16.3544 23.1821 17.8714C22.5479 19.3884 21.6844 20.7113 20.5916 21.8402C19.499 22.9694 18.2219 23.8616 16.7604 24.517C15.2988 25.1723 13.7343 25.5 12.0667 25.5ZM12.0667 23.5034C12.715 22.6151 13.2605 21.7192 13.7034 20.8155C14.1462 19.9119 14.507 18.9242 14.7856 17.8524H9.34791C9.64281 18.9579 10.0077 19.9625 10.4425 20.8661C10.8771 21.7697 11.4185 22.6488 12.0667 23.5034ZM9.60703 23.1425C9.12013 22.4207 8.68287 21.6001 8.29525 20.6807C7.90763 19.7611 7.60639 18.8183 7.39151 17.8524H3.08273C3.7536 19.2153 4.65332 20.3605 5.78187 21.2877C6.91043 22.2147 8.18549 22.833 9.60703 23.1425ZM14.5265 23.1425C15.948 22.833 17.2231 22.2147 18.3516 21.2877C19.4802 20.3605 20.3799 19.2153 21.0507 17.8524H16.742C16.4862 18.8266 16.1646 19.7736 15.7769 20.6932C15.3895 21.6127 14.9727 22.4292 14.5265 23.1425ZM2.28379 15.8837H7.0057C6.92589 15.3959 6.86799 14.9176 6.832 14.4489C6.79622 13.9803 6.77833 13.5079 6.77833 13.0317C6.77833 12.5555 6.79622 12.0832 6.832 11.6146C6.86799 11.1459 6.92589 10.6676 7.0057 10.1798H2.28379C2.16164 10.6256 2.06807 11.0891 2.00308 11.5703C1.93788 12.0516 1.90527 12.5387 1.90527 13.0317C1.90527 13.5248 1.93788 14.0119 2.00308 14.4931C2.06807 14.9744 2.16164 15.4379 2.28379 15.8837ZM8.91065 15.8837H15.2228C15.3024 15.3959 15.3602 14.9219 15.3962 14.4616C15.432 14.0014 15.4499 13.5248 15.4499 13.0317C15.4499 12.5387 15.432 12.0621 15.3962 11.6018C15.3602 11.1416 15.3024 10.6676 15.2228 10.1798H8.91065C8.83105 10.6676 8.77326 11.1416 8.73727 11.6018C8.7015 12.0621 8.68361 12.5387 8.68361 13.0317C8.68361 13.5248 8.7015 14.0014 8.73727 14.4616C8.77326 14.9219 8.83105 15.3959 8.91065 15.8837ZM17.1278 15.8837H21.8497C21.9718 15.4379 22.0654 14.9744 22.1304 14.4931C22.1956 14.0119 22.2282 13.5248 22.2282 13.0317C22.2282 12.5387 22.1956 12.0516 22.1304 11.5703C22.0654 11.0891 21.9718 10.6256 21.8497 10.1798H17.1278C17.2076 10.6676 17.2655 11.1459 17.3015 11.6146C17.3373 12.0832 17.3551 12.5555 17.3551 13.0317C17.3551 13.5079 17.3373 13.9803 17.3015 14.4489C17.2655 14.9176 17.2076 15.3959 17.1278 15.8837ZM16.742 8.21111H21.0507C20.3718 6.83129 19.4783 5.68618 18.37 4.77578C17.2618 3.8656 15.9806 3.24306 14.5265 2.90817C15.0134 3.67201 15.4465 4.50749 15.8258 5.41461C16.2054 6.32152 16.5108 7.25368 16.742 8.21111ZM9.34791 8.21111H14.7856C14.4907 7.11391 14.1198 6.10299 13.6729 5.17837C13.2258 4.25375 12.6904 3.38097 12.0667 2.56004C11.4431 3.38097 10.9077 4.25375 10.4606 5.17837C10.0137 6.10299 9.64281 7.11391 9.34791 8.21111ZM3.08273 8.21111H7.39151C7.62269 7.25368 7.92806 6.32152 8.30763 5.41461C8.687 4.50749 9.12013 3.67201 9.60703 2.90817C8.14463 3.24306 6.86142 3.86779 5.75742 4.78234C4.65321 5.69668 3.76165 6.83961 3.08273 8.21111Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 24px;
        }

}/*media */


@media screen and (max-width:1024px){ 
        header {
            padding-right: 0;
        }
        header .gnb .gnb_open {
            width: var(--header-h);
            height: var(--header-h);
            color: transparent;
            text-indent: -9999px;
            position: relative;
        }
        header .gnb .gnb_open::before {
            content: "";
            position: absolute;
            left: 39px;
            top: 39px;
            width: 27px;
            height: 18px;
            background-image: url("data:image/svg+xml,%3Csvg width='29' height='20' viewBox='0 0 29 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.41667 19.375C1.97986 19.375 1.61372 19.2273 1.31823 18.9318C1.02274 18.6363 0.875 18.2701 0.875 17.8333C0.875 17.3965 1.02274 17.0304 1.31823 16.7349C1.61372 16.4394 1.97986 16.2917 2.41667 16.2917H27.0833C27.5201 16.2917 27.8863 16.4394 28.1818 16.7349C28.4773 17.0304 28.625 17.3965 28.625 17.8333C28.625 18.2701 28.4773 18.6363 28.1818 18.9318C27.8863 19.2273 27.5201 19.375 27.0833 19.375H2.41667ZM2.41667 11.6667C1.97986 11.6667 1.61372 11.5189 1.31823 11.2234C1.02274 10.928 0.875 10.5618 0.875 10.125C0.875 9.68819 1.02274 9.32205 1.31823 9.02656C1.61372 8.73108 1.97986 8.58333 2.41667 8.58333H20.9167C21.3535 8.58333 21.7196 8.73108 22.0151 9.02656C22.3106 9.32205 22.4583 9.68819 22.4583 10.125C22.4583 10.5618 22.3106 10.928 22.0151 11.2234C21.7196 11.5189 21.3535 11.6667 20.9167 11.6667H2.41667ZM2.41667 3.95833C1.97986 3.95833 1.61372 3.81059 1.31823 3.5151C1.02274 3.21962 0.875 2.85347 0.875 2.41667C0.875 1.97986 1.02274 1.61372 1.31823 1.31823C1.61372 1.02274 1.97986 0.875 2.41667 0.875H27.0833C27.5201 0.875 27.8863 1.02274 28.1818 1.31823C28.4773 1.61372 28.625 1.97986 28.625 2.41667C28.625 2.85347 28.4773 3.21962 28.1818 3.5151C27.8863 3.81059 27.5201 3.95833 27.0833 3.95833H2.41667Z' fill='white'/%3E%3C/svg%3E ");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        header .gnb .gnb_wrap {
            transform: translateX(110%);
            position: absolute; /* header 기준으로 정렬 */
            right: 0;
            top: 0;
            z-index: 100;
            width: 100%;
            height: 100vh;
            max-width: 320px;
            background-color: #2d2d2d; /* 메뉴머리 검정*/
            transition: transform 0.5s;
        }
        header .gnb .gnb_wrap::before {
            content: "";
            position: absolute; 
            left: -200vw;
            top: 0;
            z-index: -1;
            width: 400vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            display: none; /* 숨김 */
        }
        header .gnb .gnb_wrap ul.depth1  {
            margin-top: var(--header-h);
            height: calc(100dvh - var(--header-h));
            overflow-y: auto; /* 높이가 짧아져도 스크롤 되라고 */
            background-color: #fff;
            color: #555;
        }
        header .gnb .gnb_wrap ul.depth1 > li {
            border-bottom: 1px solid #ededed;
        }
        header .gnb .gnb_wrap ul.depth1 > li > a {
            display: block;
            font-size: 22px;
            font-weight: 700;
            padding: 14px 20px 14px 20px;
            position: relative; /*after 정렬의 기준*/
        }
        header .gnb .gnb_wrap ul.depth1 > li > a::after {
            content: "";
            position: absolute; /* a를 기준으로 정렬 */
            right: 17px;
            top: 17px;
            width: 24px;
            height: 24px;
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0089 13.6563L16.848 9.69641C17.0285 9.51026 17.2604 9.41499 17.5437 9.41061C17.827 9.40622 18.0617 9.49426 18.2478 9.67473C18.434 9.85521 18.5293 10.0871 18.5337 10.3704C18.538 10.6537 18.45 10.8884 18.2695 11.0746L13.7413 15.7452C13.6429 15.8468 13.5356 15.9193 13.4196 15.9628C13.3036 16.0062 13.179 16.029 13.0457 16.0311C12.9123 16.0331 12.787 16.0142 12.6697 15.9744C12.5524 15.9345 12.443 15.8654 12.3415 15.7669L7.6708 11.2387C7.48465 11.0582 7.38938 10.8264 7.38499 10.5431C7.3806 10.2598 7.46865 10.025 7.64912 9.83888C7.82959 9.65273 8.06148 9.55746 8.34477 9.55308C8.62807 9.54869 8.8628 9.63673 9.04895 9.8172L13.0089 13.6563Z' fill='%23555555'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
            display: none; /* 숨김 */
            background-color: #F4F4F4;
            padding: 10px 0 10px 28px;
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
            display: block;
            padding: 4px 0;
        }
        /********************1차 메뉴가 열렸을때*********************************/
        header .gnb .gnb_wrap ul.depth1 > li.open > a {
            color: var(--main-color);
        }
        header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
            background-image: url("data:image/svg+xml,%3Csvg width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1892 12.4567L8.26277 16.3301C8.07819 16.5122 7.84424 16.6023 7.56091 16.6004C7.27759 16.5985 7.04488 16.5052 6.8628 16.3206C6.68072 16.1361 6.59064 15.9021 6.59257 15.6188C6.59449 15.3354 6.68774 15.1027 6.87232 14.9207L11.5035 10.352C11.6042 10.2527 11.713 10.1826 11.8299 10.1417C11.9469 10.1009 12.072 10.0809 12.2053 10.0818C12.3387 10.0827 12.4635 10.1044 12.5799 10.1468C12.6963 10.1893 12.8041 10.2609 12.9034 10.3616L17.4721 14.9927C17.6542 15.1773 17.7442 15.4112 17.7423 15.6946C17.7404 15.9779 17.6471 16.2106 17.4626 16.3927C17.278 16.5748 17.044 16.6648 16.7607 16.6629C16.4774 16.661 16.2447 16.5677 16.0626 16.3832L12.1892 12.4567Z' fill='%23555555'/%3E%3C/svg%3E%0A");
        }
        header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 {
            display: block;
        }
        header .gnb .gnb_wrap .m_lang {
            position: absolute; /* gnb_wrap을 기준으로 정렬 */
            left:20px;
            top: 0;
            line-height: var(--header-h); /* 위아래 가운데 */
            padding-left: 1.8em;
        }
        header .gnb .gnb_wrap .m_lang::before{
            content: "";
            position: absolute; /* m_lang */ 
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 19px;
            height: 19px;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2031 19.6518C8.90063 19.6518 7.67146 19.3938 6.51562 18.8778C5.35979 18.3619 4.35179 17.6594 3.49162 16.7705C2.63129 15.8817 1.95146 14.8401 1.45213 13.6458C0.952792 12.4516 0.703125 11.1815 0.703125 9.83564C0.703125 8.47913 0.952792 7.20639 1.45213 6.01743C1.95146 4.82848 2.63129 3.78961 3.49162 2.90082C4.35179 2.01186 5.35979 1.3094 6.51562 0.793455C7.67146 0.277506 8.90063 0.0195312 10.2031 0.0195312C11.516 0.0195312 12.7477 0.277506 13.8984 0.793455C15.049 1.3094 16.0545 2.01186 16.9146 2.90082C17.775 3.78961 18.4548 4.82848 18.9541 6.01743C19.4535 7.20639 19.7031 8.47913 19.7031 9.83564C19.7031 11.1815 19.4535 12.4516 18.9541 13.6458C18.4548 14.8401 17.775 15.8817 16.9146 16.7705C16.0545 17.6594 15.049 18.3619 13.8984 18.8778C12.7477 19.3938 11.516 19.6518 10.2031 19.6518ZM10.2031 18.0799C10.7135 17.3805 11.143 16.6751 11.4916 15.9637C11.8403 15.2523 12.1243 14.4747 12.3436 13.6309H8.06263C8.29479 14.5012 8.58204 15.2921 8.92438 16.0035C9.26654 16.7149 9.69279 17.4071 10.2031 18.0799ZM8.26663 17.7957C7.88329 17.2274 7.53904 16.5814 7.23388 15.8576C6.92871 15.1336 6.69154 14.3914 6.52237 13.6309H3.13013C3.65829 14.7039 4.36662 15.6055 5.25512 16.3355C6.14362 17.0653 7.14746 17.5521 8.26663 17.7957ZM12.1396 17.7957C13.2588 17.5521 14.2626 17.0653 15.1511 16.3355C16.0396 15.6055 16.748 14.7039 17.2761 13.6309H13.8839C13.6825 14.3979 13.4293 15.1434 13.1241 15.8674C12.8191 16.5914 12.491 17.2342 12.1396 17.7957ZM2.50112 12.081H6.21863C6.15579 11.6969 6.11021 11.3204 6.08187 10.9513C6.05371 10.5824 6.03962 10.2106 6.03962 9.83564C6.03962 9.46074 6.05371 9.08884 6.08187 8.71996C6.11021 8.35091 6.15579 7.97437 6.21863 7.59034H2.50112C2.40496 7.94131 2.33129 8.30622 2.28013 8.68509C2.22879 9.06396 2.20312 9.44748 2.20312 9.83564C2.20312 10.2238 2.22879 10.6073 2.28013 10.9862C2.33129 11.3651 2.40496 11.73 2.50112 12.081ZM7.71837 12.081H12.6879C12.7505 11.6969 12.796 11.3237 12.8244 10.9614C12.8525 10.5991 12.8666 10.2238 12.8666 9.83564C12.8666 9.44748 12.8525 9.07223 12.8244 8.70989C12.796 8.34756 12.7505 7.97437 12.6879 7.59034H7.71837C7.65571 7.97437 7.61021 8.34756 7.58187 8.70989C7.55371 9.07223 7.53962 9.44748 7.53962 9.83564C7.53962 10.2238 7.55371 10.5991 7.58187 10.9614C7.61021 11.3237 7.65571 11.6969 7.71837 12.081ZM14.1876 12.081H17.9051C18.0013 11.73 18.075 11.3651 18.1261 10.9862C18.1775 10.6073 18.2031 10.2238 18.2031 9.83564C18.2031 9.44748 18.1775 9.06396 18.1261 8.68509C18.075 8.30622 18.0013 7.94131 17.9051 7.59034H14.1876C14.2505 7.97437 14.296 8.35091 14.3244 8.71996C14.3525 9.08884 14.3666 9.46074 14.3666 9.83564C14.3666 10.2106 14.3525 10.5824 14.3244 10.9513C14.296 11.3204 14.2505 11.6969 14.1876 12.081ZM13.8839 6.04042H17.2761C16.7416 4.95411 16.0381 4.05258 15.1656 3.33583C14.2931 2.61925 13.2845 2.12913 12.1396 1.86548C12.523 2.46684 12.864 3.12461 13.1626 3.83877C13.4615 4.55277 13.7019 5.28665 13.8839 6.04042ZM8.06263 6.04042H12.3436C12.1115 5.17661 11.8195 4.38073 11.4676 3.65279C11.1156 2.92484 10.6941 2.23771 10.2031 1.5914C9.71212 2.23771 9.29063 2.92484 8.93863 3.65279C8.58679 4.38073 8.29479 5.17661 8.06263 6.04042ZM3.13013 6.04042H6.52237C6.70437 5.28665 6.94479 4.55277 7.24363 3.83877C7.54229 3.12461 7.88329 2.46684 8.26663 1.86548C7.11529 2.12913 6.10504 2.62097 5.23588 3.34099C4.36654 4.06084 3.66463 4.96065 3.13013 6.04042Z' fill='white'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 19px;
        }
        header .gnb .gnb_wrap .gnb_close {
            position: absolute; /* gnb_wrap을 기준으로 정렬 */
            right: 0;
            top: 0; 
            width: var(--header-h);
            height: var(--header-h);
            color: transparent;
            text-indent: -9999px;
        }
        header .gnb .gnb_wrap .gnb_close::before {
            content: "";
            position: absolute;
            left: 55px;
            top: 39px;
            width: 16px;
            height: 16px;
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.78691 8.4125L1.88691 13.3125C1.70358 13.4958 1.47025 13.5875 1.18691 13.5875C0.903581 13.5875 0.670247 13.4958 0.486914 13.3125C0.303581 13.1292 0.211914 12.8958 0.211914 12.6125C0.211914 12.3292 0.303581 12.0958 0.486914 11.9125L5.38691 7.0125L0.486914 2.1125C0.303581 1.92917 0.211914 1.69583 0.211914 1.4125C0.211914 1.12917 0.303581 0.895833 0.486914 0.7125C0.670247 0.529167 0.903581 0.4375 1.18691 0.4375C1.47025 0.4375 1.70358 0.529167 1.88691 0.7125L6.78691 5.6125L11.6869 0.7125C11.8702 0.529167 12.1036 0.4375 12.3869 0.4375C12.6702 0.4375 12.9036 0.529167 13.0869 0.7125C13.2702 0.895833 13.3619 1.12917 13.3619 1.4125C13.3619 1.69583 13.2702 1.92917 13.0869 2.1125L8.18691 7.0125L13.0869 11.9125C13.2702 12.0958 13.3619 12.3292 13.3619 12.6125C13.3619 12.8958 13.2702 13.1292 13.0869 13.3125C12.9036 13.4958 12.6702 13.5875 12.3869 13.5875C12.1036 13.5875 11.8702 13.4958 11.6869 13.3125L6.78691 8.4125Z' fill='white'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        header .tnb {
            position: absolute; /* header 기준으로 정렬 */
            right: var(--header-h);
            top: 0;
        }
        header .tnb .search button {
            width: 28px;
            height: var(--header-h);
            font-size: 0;
            line-height: 0;
            position: relative; /* before 정렬의 기준 */
        }
        header .tnb .search button::before{
            content: "";
            position: absolute;
            left: 10px;
            top: 36px;
            width: 28px;
            height: 28px;
            background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0833 18.6667C8.96389 18.6667 7.17014 17.9326 5.70208 16.4646C4.23403 14.9965 3.5 13.2028 3.5 11.0833C3.5 8.96389 4.23403 7.17014 5.70208 5.70208C7.17014 4.23403 8.96389 3.5 11.0833 3.5C13.2028 3.5 14.9965 4.23403 16.4646 5.70208C17.9326 7.17014 18.6667 8.96389 18.6667 11.0833C18.6667 11.9389 18.5306 12.7458 18.2583 13.5042C17.9861 14.2625 17.6167 14.9333 17.15 15.5167L23.6833 22.05C23.8972 22.2639 24.0042 22.5361 24.0042 22.8667C24.0042 23.1972 23.8972 23.4694 23.6833 23.6833C23.4694 23.8972 23.1972 24.0042 22.8667 24.0042C22.5361 24.0042 22.2639 23.8972 22.05 23.6833L15.5167 17.15C14.9333 17.6167 14.2625 17.9861 13.5042 18.2583C12.7458 18.5306 11.9389 18.6667 11.0833 18.6667ZM11.0833 16.3333C12.5417 16.3333 13.7813 15.8229 14.8021 14.8021C15.8229 13.7813 16.3333 12.5417 16.3333 11.0833C16.3333 9.625 15.8229 8.38542 14.8021 7.36458C13.7813 6.34375 12.5417 5.83333 11.0833 5.83333C9.625 5.83333 8.38542 6.34375 7.36458 7.36458C6.34375 8.38542 5.83333 9.625 5.83333 11.0833C5.83333 12.5417 6.34375 13.7813 7.36458 14.8021C8.38542 15.8229 9.625 16.3333 11.0833 16.3333Z' fill='white'/%3E%3C/svg%3E ");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        header .tnb .lang {
            display: none; /* 숨김 */
        }

        /*모바일 메뉴가 열렸을떄*/
        header.menu_mo .gnb .gnb_wrap {
            transform: translateX(0);
        }
        header.menu_mo .gnb .gnb_wrap::before {
            display: block;
        }
        /*스크롤 되었을때*/
        header.fixde {
            background-color: #fff;
        }
        header.fixde .logo a {
            background-image: url(../images/common/logo.svg);
        }
        header.fixde .tnb .search button::before { /* 마우스 오버시 서치모양검정 */
            content: "";
            position: absolute;
            left: 0;
            top: -2px;
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.36755 17.9228C6.03093 17.9228 4.05213 17.0855 2.43114 15.4108C0.810381 13.7359 0 11.6912 0 9.27684C0 6.86247 0.810381 4.81783 2.43114 3.1429C4.05213 1.46821 6.03093 0.630859 8.36755 0.630859C10.7042 0.630859 12.683 1.46821 14.304 3.1429C15.9247 4.81783 16.7351 6.86247 16.7351 9.27684C16.7351 10.2866 16.5711 11.2509 16.2432 12.1699C15.915 13.0889 15.4773 13.8882 14.93 14.5678L22.8032 22.703C22.9927 22.8986 23.0896 23.1446 23.094 23.441C23.0983 23.7375 23.0014 23.9881 22.8032 24.1928C22.605 24.3976 22.3647 24.5 22.0821 24.5C21.7998 24.5 21.5595 24.3976 21.3614 24.1928L13.4881 16.0576C12.804 16.6413 12.0172 17.0981 11.1278 17.428C10.2384 17.7579 9.3183 17.9228 8.36755 17.9228ZM8.36755 15.8024C10.1306 15.8024 11.6239 15.1702 12.8474 13.9057C14.0711 12.6415 14.683 11.0986 14.683 9.27684C14.683 7.45511 14.0711 5.91214 12.8474 4.64793C11.6239 3.38349 10.1306 2.75126 8.36755 2.75126C6.60448 2.75126 5.1112 3.38349 3.88771 4.64793C2.66398 5.91214 2.05212 7.45511 2.05212 9.27684C2.05212 11.0986 2.66398 12.6415 3.88771 13.9057C5.1112 15.1702 6.60448 15.8024 8.36755 15.8024Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 24px;
        }
        header.fixde .tnb .lang button::before { /* 마우스 오버시 지구모양검정 */
            content: "";
            position: absolute;
            left: 0;
            top: -2px;
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0667 25.5C10.4123 25.5 8.85106 25.1723 7.38294 24.517C5.91482 23.8616 4.63448 22.9694 3.54191 21.8402C2.44912 20.7113 1.58561 19.3884 0.951368 17.8714C0.317123 16.3544 0 14.7412 0 13.0317C0 11.3087 0.317123 9.6921 0.951368 8.18191C1.58561 6.67172 2.44912 5.35216 3.54191 4.22324C4.63448 3.0941 5.91482 2.20185 7.38294 1.5465C8.85106 0.891152 10.4123 0.563477 12.0667 0.563477C13.7343 0.563477 15.2988 0.891152 16.7604 1.5465C18.2219 2.20185 19.499 3.0941 20.5916 4.22324C21.6844 5.35216 22.5479 6.67172 23.1821 8.18191C23.8164 9.6921 24.1335 11.3087 24.1335 13.0317C24.1335 14.7412 23.8164 16.3544 23.1821 17.8714C22.5479 19.3884 21.6844 20.7113 20.5916 21.8402C19.499 22.9694 18.2219 23.8616 16.7604 24.517C15.2988 25.1723 13.7343 25.5 12.0667 25.5ZM12.0667 23.5034C12.715 22.6151 13.2605 21.7192 13.7034 20.8155C14.1462 19.9119 14.507 18.9242 14.7856 17.8524H9.34791C9.64281 18.9579 10.0077 19.9625 10.4425 20.8661C10.8771 21.7697 11.4185 22.6488 12.0667 23.5034ZM9.60703 23.1425C9.12013 22.4207 8.68287 21.6001 8.29525 20.6807C7.90763 19.7611 7.60639 18.8183 7.39151 17.8524H3.08273C3.7536 19.2153 4.65332 20.3605 5.78187 21.2877C6.91043 22.2147 8.18549 22.833 9.60703 23.1425ZM14.5265 23.1425C15.948 22.833 17.2231 22.2147 18.3516 21.2877C19.4802 20.3605 20.3799 19.2153 21.0507 17.8524H16.742C16.4862 18.8266 16.1646 19.7736 15.7769 20.6932C15.3895 21.6127 14.9727 22.4292 14.5265 23.1425ZM2.28379 15.8837H7.0057C6.92589 15.3959 6.86799 14.9176 6.832 14.4489C6.79622 13.9803 6.77833 13.5079 6.77833 13.0317C6.77833 12.5555 6.79622 12.0832 6.832 11.6146C6.86799 11.1459 6.92589 10.6676 7.0057 10.1798H2.28379C2.16164 10.6256 2.06807 11.0891 2.00308 11.5703C1.93788 12.0516 1.90527 12.5387 1.90527 13.0317C1.90527 13.5248 1.93788 14.0119 2.00308 14.4931C2.06807 14.9744 2.16164 15.4379 2.28379 15.8837ZM8.91065 15.8837H15.2228C15.3024 15.3959 15.3602 14.9219 15.3962 14.4616C15.432 14.0014 15.4499 13.5248 15.4499 13.0317C15.4499 12.5387 15.432 12.0621 15.3962 11.6018C15.3602 11.1416 15.3024 10.6676 15.2228 10.1798H8.91065C8.83105 10.6676 8.77326 11.1416 8.73727 11.6018C8.7015 12.0621 8.68361 12.5387 8.68361 13.0317C8.68361 13.5248 8.7015 14.0014 8.73727 14.4616C8.77326 14.9219 8.83105 15.3959 8.91065 15.8837ZM17.1278 15.8837H21.8497C21.9718 15.4379 22.0654 14.9744 22.1304 14.4931C22.1956 14.0119 22.2282 13.5248 22.2282 13.0317C22.2282 12.5387 22.1956 12.0516 22.1304 11.5703C22.0654 11.0891 21.9718 10.6256 21.8497 10.1798H17.1278C17.2076 10.6676 17.2655 11.1459 17.3015 11.6146C17.3373 12.0832 17.3551 12.5555 17.3551 13.0317C17.3551 13.5079 17.3373 13.9803 17.3015 14.4489C17.2655 14.9176 17.2076 15.3959 17.1278 15.8837ZM16.742 8.21111H21.0507C20.3718 6.83129 19.4783 5.68618 18.37 4.77578C17.2618 3.8656 15.9806 3.24306 14.5265 2.90817C15.0134 3.67201 15.4465 4.50749 15.8258 5.41461C16.2054 6.32152 16.5108 7.25368 16.742 8.21111ZM9.34791 8.21111H14.7856C14.4907 7.11391 14.1198 6.10299 13.6729 5.17837C13.2258 4.25375 12.6904 3.38097 12.0667 2.56004C11.4431 3.38097 10.9077 4.25375 10.4606 5.17837C10.0137 6.10299 9.64281 7.11391 9.34791 8.21111ZM3.08273 8.21111H7.39151C7.62269 7.25368 7.92806 6.32152 8.30763 5.41461C8.687 4.50749 9.12013 3.67201 9.60703 2.90817C8.14463 3.24306 6.86142 3.86779 5.75742 4.78234C4.65321 5.69668 3.76165 6.83961 3.08273 8.21111Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 24px;
        }

} /*media */


@media screen and (max-width:768px){ 
        header .logo a {
            width: 92px;
            height: 22px;
        }
        header .gnb .gnb_open::before {
            content: "";
            position: absolute;
            left: 16px;
            top: 19px;
            width: 27px;
            height: 18px;
            background-image: url("data:image/svg+xml,%3Csvg width='29' height='20' viewBox='0 0 29 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.41667 19.375C1.97986 19.375 1.61372 19.2273 1.31823 18.9318C1.02274 18.6363 0.875 18.2701 0.875 17.8333C0.875 17.3965 1.02274 17.0304 1.31823 16.7349C1.61372 16.4394 1.97986 16.2917 2.41667 16.2917H27.0833C27.5201 16.2917 27.8863 16.4394 28.1818 16.7349C28.4773 17.0304 28.625 17.3965 28.625 17.8333C28.625 18.2701 28.4773 18.6363 28.1818 18.9318C27.8863 19.2273 27.5201 19.375 27.0833 19.375H2.41667ZM2.41667 11.6667C1.97986 11.6667 1.61372 11.5189 1.31823 11.2234C1.02274 10.928 0.875 10.5618 0.875 10.125C0.875 9.68819 1.02274 9.32205 1.31823 9.02656C1.61372 8.73108 1.97986 8.58333 2.41667 8.58333H20.9167C21.3535 8.58333 21.7196 8.73108 22.0151 9.02656C22.3106 9.32205 22.4583 9.68819 22.4583 10.125C22.4583 10.5618 22.3106 10.928 22.0151 11.2234C21.7196 11.5189 21.3535 11.6667 20.9167 11.6667H2.41667ZM2.41667 3.95833C1.97986 3.95833 1.61372 3.81059 1.31823 3.5151C1.02274 3.21962 0.875 2.85347 0.875 2.41667C0.875 1.97986 1.02274 1.61372 1.31823 1.31823C1.61372 1.02274 1.97986 0.875 2.41667 0.875H27.0833C27.5201 0.875 27.8863 1.02274 28.1818 1.31823C28.4773 1.61372 28.625 1.97986 28.625 2.41667C28.625 2.85347 28.4773 3.21962 28.1818 3.5151C27.8863 3.81059 27.5201 3.95833 27.0833 3.95833H2.41667Z' fill='white'/%3E%3C/svg%3E ");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        header .tnb .search button::before{
            content: "";
            position: absolute;
            left: 2px;
            top: 18px;
            width: 21px;
            height: 21px;
            background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0833 18.6667C8.96389 18.6667 7.17014 17.9326 5.70208 16.4646C4.23403 14.9965 3.5 13.2028 3.5 11.0833C3.5 8.96389 4.23403 7.17014 5.70208 5.70208C7.17014 4.23403 8.96389 3.5 11.0833 3.5C13.2028 3.5 14.9965 4.23403 16.4646 5.70208C17.9326 7.17014 18.6667 8.96389 18.6667 11.0833C18.6667 11.9389 18.5306 12.7458 18.2583 13.5042C17.9861 14.2625 17.6167 14.9333 17.15 15.5167L23.6833 22.05C23.8972 22.2639 24.0042 22.5361 24.0042 22.8667C24.0042 23.1972 23.8972 23.4694 23.6833 23.6833C23.4694 23.8972 23.1972 24.0042 22.8667 24.0042C22.5361 24.0042 22.2639 23.8972 22.05 23.6833L15.5167 17.15C14.9333 17.6167 14.2625 17.9861 13.5042 18.2583C12.7458 18.5306 11.9389 18.6667 11.0833 18.6667ZM11.0833 16.3333C12.5417 16.3333 13.7813 15.8229 14.8021 14.8021C15.8229 13.7813 16.3333 12.5417 16.3333 11.0833C16.3333 9.625 15.8229 8.38542 14.8021 7.36458C13.7813 6.34375 12.5417 5.83333 11.0833 5.83333C9.625 5.83333 8.38542 6.34375 7.36458 7.36458C6.34375 8.38542 5.83333 9.625 5.83333 11.0833C5.83333 12.5417 6.34375 13.7813 7.36458 14.8021C8.38542 15.8229 9.625 16.3333 11.0833 16.3333Z' fill='white'/%3E%3C/svg%3E ");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        header .gnb .gnb_wrap .gnb_close::before {
            content: "";
            position: absolute;
            position: absolute;
            left: 20px;
            top: 19px;
            width: 16px;
            height: 16px;
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.78691 8.4125L1.88691 13.3125C1.70358 13.4958 1.47025 13.5875 1.18691 13.5875C0.903581 13.5875 0.670247 13.4958 0.486914 13.3125C0.303581 13.1292 0.211914 12.8958 0.211914 12.6125C0.211914 12.3292 0.303581 12.0958 0.486914 11.9125L5.38691 7.0125L0.486914 2.1125C0.303581 1.92917 0.211914 1.69583 0.211914 1.4125C0.211914 1.12917 0.303581 0.895833 0.486914 0.7125C0.670247 0.529167 0.903581 0.4375 1.18691 0.4375C1.47025 0.4375 1.70358 0.529167 1.88691 0.7125L6.78691 5.6125L11.6869 0.7125C11.8702 0.529167 12.1036 0.4375 12.3869 0.4375C12.6702 0.4375 12.9036 0.529167 13.0869 0.7125C13.2702 0.895833 13.3619 1.12917 13.3619 1.4125C13.3619 1.69583 13.2702 1.92917 13.0869 2.1125L8.18691 7.0125L13.0869 11.9125C13.2702 12.0958 13.3619 12.3292 13.3619 12.6125C13.3619 12.8958 13.2702 13.1292 13.0869 13.3125C12.9036 13.4958 12.6702 13.5875 12.3869 13.5875C12.1036 13.5875 11.8702 13.4958 11.6869 13.3125L6.78691 8.4125Z' fill='white'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
            header .gnb .gnb_open::before {
            content: "";
            position: absolute;
            left: 39px;
            top: 39px;
            width: 27px;
            height: 18px;
            background-image: url("data:image/svg+xml,%3Csvg width='29' height='20' viewBox='0 0 29 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.41667 19.375C1.97986 19.375 1.61372 19.2273 1.31823 18.9318C1.02274 18.6363 0.875 18.2701 0.875 17.8333C0.875 17.3965 1.02274 17.0304 1.31823 16.7349C1.61372 16.4394 1.97986 16.2917 2.41667 16.2917H27.0833C27.5201 16.2917 27.8863 16.4394 28.1818 16.7349C28.4773 17.0304 28.625 17.3965 28.625 17.8333C28.625 18.2701 28.4773 18.6363 28.1818 18.9318C27.8863 19.2273 27.5201 19.375 27.0833 19.375H2.41667ZM2.41667 11.6667C1.97986 11.6667 1.61372 11.5189 1.31823 11.2234C1.02274 10.928 0.875 10.5618 0.875 10.125C0.875 9.68819 1.02274 9.32205 1.31823 9.02656C1.61372 8.73108 1.97986 8.58333 2.41667 8.58333H20.9167C21.3535 8.58333 21.7196 8.73108 22.0151 9.02656C22.3106 9.32205 22.4583 9.68819 22.4583 10.125C22.4583 10.5618 22.3106 10.928 22.0151 11.2234C21.7196 11.5189 21.3535 11.6667 20.9167 11.6667H2.41667ZM2.41667 3.95833C1.97986 3.95833 1.61372 3.81059 1.31823 3.5151C1.02274 3.21962 0.875 2.85347 0.875 2.41667C0.875 1.97986 1.02274 1.61372 1.31823 1.31823C1.61372 1.02274 1.97986 0.875 2.41667 0.875H27.0833C27.5201 0.875 27.8863 1.02274 28.1818 1.31823C28.4773 1.61372 28.625 1.97986 28.625 2.41667C28.625 2.85347 28.4773 3.21962 28.1818 3.5151C27.8863 3.81059 27.5201 3.95833 27.0833 3.95833H2.41667Z' fill='white'/%3E%3C/svg%3E ");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
}
