@import url(default.css); /* default.css 브라우저가 태그에 주는 기본스타일을 모두 초기화*/
@import url(fonts.css); /* main.css 메인페이지에만 적용되는 스타일 입력, 다른 css import */
@import url(common.css); /* 글자의 기본 스타일 및 wrapper 설정 */
@import url(layout.css); /* layout.css header / footer 모든 페이지의 공통 스타일 적용*/


.visual h2 {
    display: none; /* 숨김 */
}
.visual .swiper {
    width: 100%;
    height: 100%; /* visual 높이와 동일하게 */ 
}
.visual .swiper ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--section-min-height);
}
.visual .swiper ul li .photo {
    overflow: hidden;
    position: absolute; /* li 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.visual .swiper ul li.video .photo::before {
    content: "";
    position: absolute; /* photo 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.visual .swiper ul li .photo img,
.visual .swiper ul li .photo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper ul li .visual_txt {
    text-align: center;
    color: #fff;
}
.visual .swiper ul li .visual_txt h3 {
    font-size: 3.5294rem;
    font-weight: 700;
    line-height: 1.2;
}
.visual .swiper ul li .visual_txt p {
    font-size: 2.3529rem;
    font-weight: 400;
    margin: 0.5em 0 0 0;
}
.visual .swiper .paging {
    position: absolute; /* swiper */
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    display: flex;
    backdrop-filter: blur(10px);
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.visual .swiper .paging .swiper-pagination-bullet {
    margin: 0;
    width: 25%;
    height: 100%;
    display: block;
    border-radius: 0;
    background: transparent;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-right: 1px solid rgba(255, 255, 255, 0.3) ;
    font-size: 22px;
}
.visual .swiper .paging .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--main-color);
}
@media screen and (max-width:1300px){ 
        .visual .swiper ul li .visual_txt h3{
            font-size: 45px;
        }
        .visual .swiper ul li .visual_txt p {
            font-size: 20px;
        }
}
@media screen and (max-width:1024px){
        .visual .swiper ul li {
            height: 700px;
        }
        .visual .swiper ul li .visual_txt h3 {
            font-size: 40px;
        }
        .visual .swiper .paging .swiper-pagination-bullet {
            margin: 0;
            width: 25%;
            height: 100%;
            display: block;
            border-radius: 0;
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;    
            border-right: 1px solid rgba(255, 255, 255, 0.3) ;
            font-size: 22px;
        }
}
@media screen and (max-width:768px){ 
        .visual .swiper ul li {
            height: 600px;
        }
        .visual .swiper ul li .visual_txt h3{
            font-size: 25px;
            margin: 0 2em;
        }
        .visual .swiper ul li .visual_txt p {
            font-size: 13px;
        }
        .visual .swiper ul li .visual_txt h3 br {
            display: none;
        }
        .visual .swiper .paging {
            left: 50%;
            transform: translateX(-50%);
            bottom: 17px;
            width: auto;
            height: auto;
            gap: 5px;
            backdrop-filter: none;
            border-top: 0;
        }
        .visual .swiper .paging .swiper-pagination-bullet {
            width: 14px;
            height: 14px;
            border-radius: 50%;   
            border: 1px solid #fff ;
        }
        .visual .swiper .paging .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background-color: #fff;
        }
        .visual .swiper .paging .swiper-pagination-bullet button {
            display: none;
        }
}

.tree {
    font-size: 100px;
    text-align: center;
}
.introduce, footer {
    background-color: var(--main-color);
    color: #fff;
    font-size: 100px;
    text-align: center;
}
 .story {
    background-color:var(--sub-color);
    color: #fff;
    font-size: 100px;
    text-align: center;
}
.quick_link {
    position: fixed;
    right: 20PX;
    top: 50%;
    transform: translateY(-50%);
}
.quick_link ul a {
    display: block;
    margin: 0 0 9px 0;
    padding-top: 41px;
    text-align: center;
    font-size: 15px;
    width: 80px;
    height: 80px;
    border: 5px solid var(--main-color);
    border-radius: 50%;
    background-color: #fff;
    color: var(--main-color);
}
.quick_link ul a:hover{
    color: #fff; 
    background-color: var(--main-color);
    border: var(--main-color);
}
.quick_link ul li::before {
    content: "";
    position: absolute;
    left: 30px;
    top: 23px;
    width: 20px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='19' viewBox='0 0 22 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.49974 17.8104V14.5716H1.60374C1.24207 14.5716 0.977655 14.4073 0.810488 14.0787C0.643155 13.7501 0.658155 13.4302 0.855488 13.119L3.84974 8.37193H3.65749C3.30615 8.37193 3.04265 8.2103 2.86699 7.88706C2.69149 7.56382 2.71074 7.24652 2.92474 6.93516L7.25174 0.544869C7.4324 0.278629 7.68174 0.145508 7.99974 0.145508C8.31774 0.145508 8.56707 0.278629 8.74774 0.544869L10.9997 3.8932L13.2517 0.544869C13.4324 0.278629 13.6817 0.145508 13.9997 0.145508C14.3177 0.145508 14.5671 0.278629 14.7477 0.544869L19.0747 6.93516C19.2887 7.24652 19.308 7.56382 19.1325 7.88706C18.9568 8.2103 18.6933 8.37193 18.342 8.37193H18.1497L21.144 13.119C21.3413 13.4302 21.3563 13.7501 21.189 14.0787C21.0218 14.4073 20.7574 14.5716 20.3957 14.5716H15.4997V17.7706C15.4997 18.037 15.4135 18.2592 15.241 18.4373C15.0687 18.6156 14.8536 18.7047 14.5957 18.7047H13.3652C13.1202 18.7047 12.9147 18.6189 12.7487 18.4474C12.5827 18.2759 12.4997 18.0635 12.4997 17.8104V14.5716H9.49974V17.7706C9.49974 18.037 9.41349 18.2592 9.24099 18.4373C9.06866 18.6156 8.85357 18.7047 8.59574 18.7047H7.36524C7.12024 18.7047 6.91474 18.6189 6.74874 18.4474C6.58274 18.2759 6.49974 18.0635 6.49974 17.8104ZM15.09 13.0217H19.3112L15.3882 6.82201H17.1497L13.9997 2.17228L11.9267 5.22845L13.0842 6.93516C13.2919 7.24652 13.3096 7.56382 13.1372 7.88706C12.9647 8.2103 12.7028 8.37193 12.3515 8.37193H12.1497L15.09 13.0217ZM2.68824 13.0217H13.3112L9.38824 6.82201H11.1497L7.99974 2.17228L4.84974 6.82201H6.61124L2.68824 13.0217ZM2.68824 13.0217H6.61124H4.84974H11.1497H9.38824H13.3112H2.68824ZM15.09 13.0217H12.1497H14.0382H11.9267H17.1497H15.3882H19.3112H15.09Z' fill='%23127C82'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.quick_link ul li:hover::before  {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='19' viewBox='0 0 22 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.49974 17.8104V14.5716H1.60374C1.24207 14.5716 0.977655 14.4073 0.810488 14.0787C0.643155 13.7501 0.658155 13.4302 0.855488 13.119L3.84974 8.37193H3.65749C3.30615 8.37193 3.04265 8.2103 2.86699 7.88706C2.69149 7.56382 2.71074 7.24652 2.92474 6.93516L7.25174 0.544869C7.4324 0.278629 7.68174 0.145508 7.99974 0.145508C8.31774 0.145508 8.56707 0.278629 8.74774 0.544869L10.9997 3.8932L13.2517 0.544869C13.4324 0.278629 13.6817 0.145508 13.9997 0.145508C14.3177 0.145508 14.5671 0.278629 14.7477 0.544869L19.0747 6.93516C19.2887 7.24652 19.308 7.56382 19.1325 7.88706C18.9568 8.2103 18.6933 8.37193 18.342 8.37193H18.1497L21.144 13.119C21.3413 13.4302 21.3563 13.7501 21.189 14.0787C21.0218 14.4073 20.7574 14.5716 20.3957 14.5716H15.4997V17.7706C15.4997 18.037 15.4135 18.2592 15.241 18.4373C15.0687 18.6156 14.8536 18.7047 14.5957 18.7047H13.3652C13.1202 18.7047 12.9147 18.6189 12.7487 18.4474C12.5827 18.2759 12.4997 18.0635 12.4997 17.8104V14.5716H9.49974V17.7706C9.49974 18.037 9.41349 18.2592 9.24099 18.4373C9.06866 18.6156 8.85357 18.7047 8.59574 18.7047H7.36524C7.12024 18.7047 6.91474 18.6189 6.74874 18.4474C6.58274 18.2759 6.49974 18.0635 6.49974 17.8104ZM15.09 13.0217H19.3112L15.3882 6.82201H17.1497L13.9997 2.17228L11.9267 5.22845L13.0842 6.93516C13.2919 7.24652 13.3096 7.56382 13.1372 7.88706C12.9647 8.2103 12.7028 8.37193 12.3515 8.37193H12.1497L15.09 13.0217ZM2.68824 13.0217H13.3112L9.38824 6.82201H11.1497L7.99974 2.17228L4.84974 6.82201H6.61124L2.68824 13.0217ZM2.68824 13.0217H6.61124H4.84974H11.1497H9.38824H13.3112H2.68824ZM15.09 13.0217H12.1497H14.0382H11.9267H17.1497H15.3882H19.3112H15.09Z' fill='%23ffff'/%3E%3C/svg%3E%0A");
}
.quick_link ul li:nth-child(2):before{
    content: "";
    position: absolute;
    left: 30px;
    top: 112px;
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.37341 18.6166C8.30291 18.406 7.24975 18.0466 6.21391 17.5386C5.17808 17.0306 4.25341 16.3238 3.43991 15.4183C2.62641 14.513 1.96841 13.395 1.46591 12.0643C0.963247 10.7336 0.711914 9.14566 0.711914 7.30041V7.11338C0.711914 6.89881 0.777331 6.72401 0.908164 6.589C1.039 6.45381 1.20825 6.38622 1.41591 6.38622H1.57741C2.35041 6.38622 3.20133 6.52795 4.13016 6.81141C5.059 7.09487 5.88625 7.47374 6.61191 7.94801C6.74408 6.73322 7.05308 5.47573 7.53891 4.17552C8.02475 2.87549 8.62541 1.70617 9.34091 0.667556C9.51525 0.414576 9.73508 0.288086 10.0004 0.288086C10.2657 0.288086 10.4856 0.414576 10.6599 0.667556C11.3754 1.70617 11.9761 2.87885 12.4619 4.1856C12.9477 5.49235 13.2567 6.75311 13.3889 7.9679C14.0952 7.5136 14.9064 7.14137 15.8224 6.85119C16.7384 6.56101 17.599 6.40602 18.4042 6.38622L18.5427 6.3764C18.7542 6.36968 18.9346 6.44348 19.0839 6.59778C19.2334 6.75208 19.3049 6.93859 19.2984 7.1573L19.2889 7.32004C19.2439 8.99325 19.0038 10.4637 18.5687 11.7313C18.1333 12.9992 17.5474 14.0891 16.8109 15.0011C16.0744 15.9132 15.2074 16.658 14.2099 17.2356C13.2126 17.8132 12.1273 18.257 10.9542 18.567C10.7375 18.6212 10.4741 18.6516 10.1639 18.6582C9.85358 18.6649 9.59008 18.651 9.37341 18.6166ZM10.1427 17.164C9.95933 14.3225 9.13016 12.1656 7.65516 10.6932C6.18016 9.22075 4.376 8.31233 2.24266 7.9679C2.20933 7.9679 2.20933 7.9679 2.24266 7.9679C2.426 10.8783 3.28016 13.0654 4.80516 14.5292C6.33016 15.993 8.10933 16.8713 10.1427 17.164C10.176 17.1813 10.176 17.1856 10.1427 17.177C10.1093 17.1684 10.1093 17.164 10.1427 17.164ZM8.05041 8.89785C8.40291 9.20387 8.75775 9.57576 9.11491 10.0135C9.47191 10.4515 9.76708 10.8731 10.0004 11.2785C10.2376 10.8731 10.5337 10.4515 10.8889 10.0135C11.2441 9.57576 11.5979 9.20387 11.9504 8.89785C11.9299 7.88317 11.7488 6.81881 11.4072 5.70477C11.0655 4.59056 10.5966 3.51552 10.0004 2.47966C9.40425 3.51552 8.93533 4.58883 8.59366 5.6996C8.252 6.81038 8.07091 7.87646 8.05041 8.89785ZM10.8119 12.9713C11.0119 13.5224 11.1796 14.1019 11.3149 14.71C11.4501 15.3181 11.5593 16.001 11.6427 16.7587C12.326 16.5189 13.0138 16.1807 13.7062 15.7443C14.3985 15.3078 15.0264 14.7402 15.5899 14.0415C16.1532 13.3427 16.6337 12.4961 17.0312 11.502C17.4287 10.5078 17.671 9.32976 17.7582 7.9679C17.7582 7.93346 17.7582 7.93346 17.7582 7.9679C16.1658 8.209 14.7587 8.77196 13.5369 9.65679C12.3151 10.5418 11.4067 11.6466 10.8119 12.9713Z' fill='%23127C82'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.quick_link ul li:hover:nth-child(2):before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.37341 18.6166C8.30291 18.406 7.24975 18.0466 6.21391 17.5386C5.17808 17.0306 4.25341 16.3238 3.43991 15.4183C2.62641 14.513 1.96841 13.395 1.46591 12.0643C0.963247 10.7336 0.711914 9.14566 0.711914 7.30041V7.11338C0.711914 6.89881 0.777331 6.72401 0.908164 6.589C1.039 6.45381 1.20825 6.38622 1.41591 6.38622H1.57741C2.35041 6.38622 3.20133 6.52795 4.13016 6.81141C5.059 7.09487 5.88625 7.47374 6.61191 7.94801C6.74408 6.73322 7.05308 5.47573 7.53891 4.17552C8.02475 2.87549 8.62541 1.70617 9.34091 0.667556C9.51525 0.414576 9.73508 0.288086 10.0004 0.288086C10.2657 0.288086 10.4856 0.414576 10.6599 0.667556C11.3754 1.70617 11.9761 2.87885 12.4619 4.1856C12.9477 5.49235 13.2567 6.75311 13.3889 7.9679C14.0952 7.5136 14.9064 7.14137 15.8224 6.85119C16.7384 6.56101 17.599 6.40602 18.4042 6.38622L18.5427 6.3764C18.7542 6.36968 18.9346 6.44348 19.0839 6.59778C19.2334 6.75208 19.3049 6.93859 19.2984 7.1573L19.2889 7.32004C19.2439 8.99325 19.0038 10.4637 18.5687 11.7313C18.1333 12.9992 17.5474 14.0891 16.8109 15.0011C16.0744 15.9132 15.2074 16.658 14.2099 17.2356C13.2126 17.8132 12.1273 18.257 10.9542 18.567C10.7375 18.6212 10.4741 18.6516 10.1639 18.6582C9.85358 18.6649 9.59008 18.651 9.37341 18.6166ZM10.1427 17.164C9.95933 14.3225 9.13016 12.1656 7.65516 10.6932C6.18016 9.22075 4.376 8.31233 2.24266 7.9679C2.20933 7.9679 2.20933 7.9679 2.24266 7.9679C2.426 10.8783 3.28016 13.0654 4.80516 14.5292C6.33016 15.993 8.10933 16.8713 10.1427 17.164C10.176 17.1813 10.176 17.1856 10.1427 17.177C10.1093 17.1684 10.1093 17.164 10.1427 17.164ZM8.05041 8.89785C8.40291 9.20387 8.75775 9.57576 9.11491 10.0135C9.47191 10.4515 9.76708 10.8731 10.0004 11.2785C10.2376 10.8731 10.5337 10.4515 10.8889 10.0135C11.2441 9.57576 11.5979 9.20387 11.9504 8.89785C11.9299 7.88317 11.7488 6.81881 11.4072 5.70477C11.0655 4.59056 10.5966 3.51552 10.0004 2.47966C9.40425 3.51552 8.93533 4.58883 8.59366 5.6996C8.252 6.81038 8.07091 7.87646 8.05041 8.89785ZM10.8119 12.9713C11.0119 13.5224 11.1796 14.1019 11.3149 14.71C11.4501 15.3181 11.5593 16.001 11.6427 16.7587C12.326 16.5189 13.0138 16.1807 13.7062 15.7443C14.3985 15.3078 15.0264 14.7402 15.5899 14.0415C16.1532 13.3427 16.6337 12.4961 17.0312 11.502C17.4287 10.5078 17.671 9.32976 17.7582 7.9679C17.7582 7.93346 17.7582 7.93346 17.7582 7.9679C16.1658 8.209 14.7587 8.77196 13.5369 9.65679C12.3151 10.5418 11.4067 11.6466 10.8119 12.9713Z' fill='%23ffff'/%3E%3C/svg%3E%0A"); 
}
.quick_link ul li:nth-child(3):before {
    content: "";
    position: absolute;
    left: 30px;
    top: 202px;
    width: 19px;
    height: 17px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.9905 17.9113C9.77633 17.9113 9.56125 17.8716 9.34525 17.7922C9.12925 17.7127 8.93917 17.5881 8.775 17.4187L7.3385 16.0695C5.5655 14.399 3.9825 12.758 2.5895 11.1464C1.1965 9.53488 0.5 7.80845 0.5 5.96716C0.5 4.50077 0.9785 3.27306 1.9355 2.28405C2.89267 1.2952 4.08083 0.800781 5.5 0.800781C6.30633 0.800781 7.10283 0.992884 7.8895 1.37709C8.676 1.7613 9.3795 2.38522 10 3.24887C10.6205 2.38522 11.324 1.7613 12.1105 1.37709C12.8972 0.992884 13.6937 0.800781 14.5 0.800781C15.9192 0.800781 17.1073 1.2952 18.0645 2.28405C19.0215 3.27306 19.5 4.50077 19.5 5.96716C19.5 7.82843 18.7917 9.57406 17.375 11.2041C15.9583 12.834 14.3788 14.4611 12.6365 16.0852L11.2153 17.4187C11.0512 17.5881 10.8597 17.7127 10.6405 17.7922C10.4212 17.8716 10.2045 17.9113 9.9905 17.9113ZM9.28075 4.81867C8.73975 3.96691 8.17017 3.34264 7.572 2.94586C6.974 2.54908 6.28333 2.35069 5.5 2.35069C4.5 2.35069 3.66667 2.69512 3 3.38397C2.33333 4.07282 2 4.93388 2 5.96716C2 6.79636 2.25867 7.66336 2.776 8.56817C3.29333 9.47297 3.94267 10.3724 4.724 11.2666C5.50533 12.1609 6.35183 13.0345 7.2635 13.8875C8.175 14.7406 9.01983 15.5335 9.798 16.2661C9.85567 16.3191 9.923 16.3456 10 16.3456C10.077 16.3456 10.1443 16.3191 10.202 16.2661C10.9802 15.5335 11.825 14.7406 12.7365 13.8875C13.6482 13.0345 14.4947 12.1609 15.276 11.2666C16.0573 10.3724 16.7067 9.47297 17.224 8.56817C17.7413 7.66336 18 6.79636 18 5.96716C18 4.93388 17.6667 4.07282 17 3.38397C16.3333 2.69512 15.5 2.35069 14.5 2.35069C13.7167 2.35069 13.026 2.54908 12.428 2.94586C11.8298 3.34264 11.2603 3.96691 10.7192 4.81867C10.6346 4.9511 10.5282 5.05047 10.4 5.11677C10.2718 5.1829 10.1385 5.21596 10 5.21596C9.8615 5.21596 9.72817 5.1829 9.6 5.11677C9.47183 5.05047 9.36542 4.9511 9.28075 4.81867Z' fill='%23127C82'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.quick_link ul li:hover:nth-child(3):before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.9905 17.9113C9.77633 17.9113 9.56125 17.8716 9.34525 17.7922C9.12925 17.7127 8.93917 17.5881 8.775 17.4187L7.3385 16.0695C5.5655 14.399 3.9825 12.758 2.5895 11.1464C1.1965 9.53488 0.5 7.80845 0.5 5.96716C0.5 4.50077 0.9785 3.27306 1.9355 2.28405C2.89267 1.2952 4.08083 0.800781 5.5 0.800781C6.30633 0.800781 7.10283 0.992884 7.8895 1.37709C8.676 1.7613 9.3795 2.38522 10 3.24887C10.6205 2.38522 11.324 1.7613 12.1105 1.37709C12.8972 0.992884 13.6937 0.800781 14.5 0.800781C15.9192 0.800781 17.1073 1.2952 18.0645 2.28405C19.0215 3.27306 19.5 4.50077 19.5 5.96716C19.5 7.82843 18.7917 9.57406 17.375 11.2041C15.9583 12.834 14.3788 14.4611 12.6365 16.0852L11.2153 17.4187C11.0512 17.5881 10.8597 17.7127 10.6405 17.7922C10.4212 17.8716 10.2045 17.9113 9.9905 17.9113ZM9.28075 4.81867C8.73975 3.96691 8.17017 3.34264 7.572 2.94586C6.974 2.54908 6.28333 2.35069 5.5 2.35069C4.5 2.35069 3.66667 2.69512 3 3.38397C2.33333 4.07282 2 4.93388 2 5.96716C2 6.79636 2.25867 7.66336 2.776 8.56817C3.29333 9.47297 3.94267 10.3724 4.724 11.2666C5.50533 12.1609 6.35183 13.0345 7.2635 13.8875C8.175 14.7406 9.01983 15.5335 9.798 16.2661C9.85567 16.3191 9.923 16.3456 10 16.3456C10.077 16.3456 10.1443 16.3191 10.202 16.2661C10.9802 15.5335 11.825 14.7406 12.7365 13.8875C13.6482 13.0345 14.4947 12.1609 15.276 11.2666C16.0573 10.3724 16.7067 9.47297 17.224 8.56817C17.7413 7.66336 18 6.79636 18 5.96716C18 4.93388 17.6667 4.07282 17 3.38397C16.3333 2.69512 15.5 2.35069 14.5 2.35069C13.7167 2.35069 13.026 2.54908 12.428 2.94586C11.8298 3.34264 11.2603 3.96691 10.7192 4.81867C10.6346 4.9511 10.5282 5.05047 10.4 5.11677C10.2718 5.1829 10.1385 5.21596 10 5.21596C9.8615 5.21596 9.72817 5.1829 9.6 5.11677C9.47183 5.05047 9.36542 4.9511 9.28075 4.81867Z' fill='%23ffff'/%3E%3C/svg%3E%0A");
}
.quick_link .top  {
    width: 80px;
    height: 80px;
    background-color: var(--main-color);
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
}
.quick_link .top:hover {
    background-color: #78B4B8;
    color: #fff;
    font-weight: 800;
}
@media screen and (max-width:1024px){
        .quick_link {
            display: none;
        }
}

.quick_nav {
    position: fixed;
    left: 20px;
    top: 50%;
    z-index: 90;
    transform: translateY(-50%); /* 위아래 가운데 */
    color: #fff;
}
.quick_nav ul li {
    margin-bottom: 15px;
}
.quick_nav ul li a {
    display: block;
    padding-left: 24px;
    color: #555;
    position: relative;
}
.quick_nav ul li a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    width: 9px;
    height: 9px;
    border: 1px solid #555;
    border-radius: 50%;

}
.quick_nav ul li a span {
    padding: 4px 5px 4px 5px;
}
/* 해당 색션이 되었을때*/
.quick_nav ul li.active a::before {
    background-color: var(--main-color);
    border-color: var(--main-color);
    border-radius: 50%;
}
.quick_nav ul li.active a::after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
}
.quick_nav ul li.active a span {
    font-weight: 700;
    background-color: var(--main-color);
    color: #fff;
}
/*.quick_nav*/
.quick_nav.dark ul li a {
    color: #555;
}
.quick_nav.dark ul li a::before {
    border-color: rgba(102, 102, 102, 0.8) ;
}
.quick_nav.dark ul li.active a::before {
    border-color: var(--sub-color);
}
@media screen and (max-width:1024px){
        .quick_nav {
            display: none;
        }
}