/*
    sub .css
    서브 레이아웃 (공통사항, tab, sub_visual ) 스타일
    다른 css끌여들임
*/
@import url(default.css); /* default.css 브라우저가 태그에 주는 기본스타일을 모두 초기화*/
@import url(fonts.css); /* main.css 메인페이지에만 적용되는 스타일 입력, 다른 css import */
@import url(common.css); /* 글자의 기본 스타일 및 wrapper 설정 */
@import url(layout.css); /* layout.css header / footer 모든 페이지의 공통 스타일 적용*/
@import url(contents.css);


.container .sub_visual {
    height: 583px;
    background: url(../images/contents_img/sub_visual.bg1.jpg) no-repeat center center/ cover;
    color: #fff;
    position: relative;
}
.container .sub_visual.bg2 {
    background-image: url(../images/contents_img/sub_visual.bg2.jpg);
}
.container .sub_visual.bg3 {
    background-image: url(../images/contents_img/sub_visual.bg3.jpg);
}
.container .sub_visual.bg4 {
    background-image: url(../images/contents_img/sub_visual.bg4.jpg);
}
.container .sub_visual.bg5 {
    background-image: url(../images/contents_img/sub_visual.bg5.jpg);
}
.container .sub_visual .wrapper strong {
    display: block;
    font-size: 60px;
    font-weight: 700;
    padding: 240px 0 5PX 0;
    text-align: center;
}
.container .sub_visual .wrapper span {
    display: block;
    text-align: center;
}

@media screen and (max-width:1300px){ 
    .container .sub_visual .wrapper strong {
        font-size: 45px;
        padding: 240px 0 5PX 0;
        text-align: center;
    }
}

/**********footer.sub_visual 모바일 시작 ***********/
@media screen and (max-width:1000px){  /* 모바일 시작 */

    .container .sub_visual {
        height: 350px;
        background: url(../images/contents_img/sub_visual.bg1.jpg) no-repeat  center center  / cover;
        color: #fff;
        position: relative;
    }
    .container .sub_visual .wrapper strong {
        font-size: 25px;
        padding: 170px 0 5px 0;
        text-align: center;
    }
    .container .sub_visual .wrapper span {
        display: block;
        text-align: center;
        font-size: 13px;
    }
}
/* .container footer.sub_visual 끝*/


.container .lnb {
    border-bottom: 1px solid #ddd;
    height: 86px;
    background-color: #F7F9FA;
}
.container .lnb ul {
    display: flex;
    justify-content: space-between;
}
.container .lnb .lnb_open,
.container .lnb .lnb_close {
    display: none;
}
@media screen and (min-width:1001px){ 
    .container .lnb ul li{
        width: 50%;
        text-align: center;
    }
    .container .lnb ul li a {
        display: block;
        height: 86px;
        padding: 28px 0 28px 0;
        font-size: 20px;
        color: #1d1d1d;
        font-weight: 700;
    }
    .container .lnb ul li.active{
        border-bottom: 3px solid #1d1d1d;
    }
    .container .lnb ul li.active:hover  {       
        border-bottom: 3px solid #1d1d1d;
    }
}/*media*/

@media screen and (max-width:1300px) and (min-width:1001px){ 
    .container .lnb ul li a {
        font-size: 17px;
    }
    .container .lnb ul li.active{
        border-bottom: 2px solid #1d1d1d;
    }
    .container .lnb ul li.active:hover  {       
        border-bottom: 2px solid #1d1d1d;
    }
}

/********** 모바일 시작 ***********/
@media screen and (max-width:1000px){  /* 모바일 시작 */
    .container .lnb {
        height: 80px;
        position: relative;
    }
    .container .lnb ul {
        display: none;
        position: absolute;
        left: 0;
        top: 80px;
        width: 100%;
    }
    .container .lnb .lnb_open {
        position: relative;
        display: block;
        font-size: 25px;
        font-weight: 700;
        color: #01875F;
        width: 100%;
        padding: 0;
        height: 80px;
        text-align: left;
    }
    .container .lnb .wrapper .lnb_open::before {
        content: "";
        position: absolute;
        right: 0;
        top: 28px;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9995 12.9467L16.0725 8.8735C16.211 8.73517 16.3851 8.66433 16.5947 8.661C16.8042 8.65783 16.9815 8.72867 17.1265 8.8735C17.2713 9.0185 17.3438 9.19417 17.3438 9.4005C17.3438 9.60683 17.2713 9.7825 17.1265 9.9275L12.6322 14.4217C12.5386 14.5152 12.4398 14.5813 12.336 14.6198C12.2322 14.6583 12.12 14.6775 11.9995 14.6775C11.879 14.6775 11.7668 14.6583 11.663 14.6198C11.5592 14.5813 11.4604 14.5152 11.3667 14.4217L6.8725 9.9275C6.73417 9.789 6.66333 9.61492 6.66 9.40525C6.65683 9.19575 6.72767 9.0185 6.8725 8.8735C7.0175 8.72867 7.19317 8.65625 7.3995 8.65625C7.60583 8.65625 7.7815 8.72867 7.9265 8.8735L11.9995 12.9467Z' fill='%2301875F'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .container .lnb ul li {
        width: 100%;
        height: 80px;
        background-color: #F7F9FA;
        font-size: 20px;
        font-weight: 700;
        color: #1d1d1d;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    .container .lnb ul li a {
        display: block;
        padding: 24px 0 24px 20px;
    }
    .container .lnb .lnb_close {
        position: relative;
        font-size: 25px;
        font-weight: 700;
        color: #01875F;
        width: 100%;
        padding: 0;
        height: 80px;
        text-align: left;
    }
    .container .lnb .lnb_close::before  {
        content: "";
        position: absolute;
        right: 0;
        top: 28px;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9834 12.0523L8.95624 16.1709C8.8193 16.3107 8.64602 16.3835 8.4364 16.3892C8.22695 16.3947 8.04892 16.3259 7.9023 16.1827C7.75586 16.0393 7.68148 15.8645 7.67916 15.6581C7.67685 15.4518 7.7473 15.2754 7.8905 15.1287L12.3341 10.5844C12.4267 10.4899 12.5248 10.4228 12.6282 10.3831C12.7315 10.3435 12.8435 10.323 12.964 10.3216C13.0845 10.3203 13.1968 10.3383 13.3011 10.3756C13.4054 10.4129 13.5048 10.4778 13.5996 10.5703L18.1439 15.0139C18.2837 15.1508 18.3565 15.3241 18.3622 15.5337C18.3677 15.7432 18.2989 15.9212 18.1557 16.0678C18.0123 16.2143 17.8374 16.2887 17.6311 16.291C17.4248 16.2933 17.2483 16.2228 17.1017 16.0796L12.9834 12.0523Z' fill='%2301875F'/%3E%3C/svg%3E ");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    
    /************************** 메뉴가 열렸을때 ****************************************/
    .container .lnb.open .lnb_open {
        display: none;
    }
    .container .lnb.open ul {
        display: block;
    }
    .container .lnb.open .lnb_close  {
        display: block;
    }
}


/* footer  시작 */
footer.sub .contact {
    background-color: #01875F;
    color: #fff;
}
footer.sub .contact ul {
    display: flex;
    height: 201px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}
footer.sub .contact ul li {
    display: flex;
    justify-content: center;
    width: 50%;
}
footer.sub .contact ul li .inner {
    position: relative;
    padding-left: 113px
}
footer.sub .contact ul li.tel {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
footer.sub .contact ul li.tel .inner::after {
    content: "";
    position: absolute;
    left: 0;
    top: 51px;
    width: 85px;
    height: 85px;
    background-image: url("data:image/svg+xml,%3Csvg width='85' height='85' viewBox='0 0 85 85' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M45.1536 43.4937L54.076 52.416C54.5665 52.9006 54.8118 53.5066 54.8118 54.2338C54.8118 54.961 54.5665 55.5879 54.076 56.1144C53.5495 56.664 52.9185 56.9328 52.183 56.921C51.4469 56.9098 50.8156 56.6409 50.2891 56.1144L40.8018 46.6263C40.4701 46.2951 40.2272 45.9342 40.0731 45.5434C39.9185 45.1526 39.8411 44.7486 39.8411 44.3313V30.8526C39.8411 30.1 40.0959 29.4693 40.6053 28.9604C41.1147 28.451 41.7457 28.1963 42.4983 28.1963C43.2515 28.1963 43.8822 28.451 44.3904 28.9604C44.8992 29.4693 45.1536 30.1 45.1536 30.8526V43.4937ZM42.4965 21.2493C41.7433 21.2493 41.1126 20.9949 40.6044 20.4861C40.0956 19.9767 39.8411 19.3457 39.8411 18.5931V14.166H45.1536V18.5931C45.1536 19.3457 44.8989 19.9767 44.3895 20.4861C43.8801 20.9949 43.2491 21.2493 42.4965 21.2493ZM63.7474 42.4985C63.7474 41.7453 64.0018 41.1146 64.5106 40.6063C65.02 40.0975 65.651 39.8431 66.4036 39.8431H70.8307V45.1556H66.4036C65.651 45.1556 65.02 44.9009 64.5106 44.3915C64.0018 43.8821 63.7474 43.2511 63.7474 42.4985ZM42.4983 63.7493C43.2515 63.7493 43.8822 64.0038 44.3904 64.5126C44.8992 65.022 45.1536 65.653 45.1536 66.4056V70.8327H39.8411V66.4056C39.8411 65.653 40.0959 65.022 40.6053 64.5126C41.1147 64.0038 41.7457 63.7493 42.4983 63.7493ZM21.2474 42.5002C21.2474 43.2534 20.993 43.8841 20.4842 44.3924C19.9748 44.9012 19.3437 45.1556 18.5911 45.1556H14.1641V39.8431H18.5911C19.3437 39.8431 19.9748 40.0978 20.4842 40.6072C20.993 41.1166 21.2474 41.7476 21.2474 42.5002ZM42.5036 76.1452C37.8498 76.1452 33.4756 75.2621 29.3808 73.496C25.2861 71.7299 21.7243 69.3331 18.6956 66.3055C15.6669 63.278 13.2689 59.7177 11.5016 55.6248C9.73491 51.5318 8.85156 47.1587 8.85156 42.5055C8.85156 37.8518 9.73462 33.4775 11.5007 29.3828C13.2668 25.288 15.6637 21.7263 18.6912 18.6976C21.7187 15.6689 25.279 13.2709 29.372 11.5036C33.465 9.73687 37.838 8.85352 42.4912 8.85352C47.1449 8.85352 51.5192 9.73657 55.614 11.5027C59.7087 13.2688 63.2705 15.6656 66.2992 18.6932C69.3279 21.7207 71.7259 25.2809 73.4932 29.3739C75.2599 33.4669 76.1432 37.84 76.1432 42.4931C76.1432 47.1469 75.2602 51.5212 73.4941 55.6159C71.728 59.7107 69.3311 63.2724 66.3036 66.3011C63.2761 69.3298 59.7158 71.7278 55.6228 73.4951C51.5298 75.2618 47.1568 76.1452 42.5036 76.1452ZM70.8307 42.4993C70.8307 34.5896 68.0859 27.89 62.5964 22.4004C57.1068 16.9108 50.4071 14.166 42.4974 14.166C34.5877 14.166 27.888 16.9108 22.3984 22.4004C16.9089 27.89 14.1641 34.5896 14.1641 42.4993C14.1641 50.4091 16.9089 57.1087 22.3984 62.5983C27.888 68.0879 34.5877 70.8327 42.4974 70.8327C50.4071 70.8327 57.1068 68.0879 62.5964 62.5983C68.0859 57.1087 70.8307 50.4091 70.8307 42.4993Z' fill='white'/%3E%3C/svg%3E ");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
footer.sub .contact ul li.day .inner::before {
    content: "";
    position: absolute;
    left: 0;
    top: 51px;
    width: 85px;
    height: 85px;
    background-image: url("data:image/svg+xml,%3Csvg width='85' height='85' viewBox='0 0 85 85' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.8009 76.1452C17.0118 76.1452 15.4974 75.5254 14.2578 74.2858C13.0182 73.0462 12.3984 71.5318 12.3984 69.7427V22.3393C12.3984 20.5501 13.0182 19.0358 14.2578 17.7962C15.4974 16.5566 17.0118 15.9368 18.8009 15.9368H23.7043V11.1689C23.7043 10.3926 23.9643 9.74451 24.4844 9.22448C25.0044 8.70503 25.6525 8.44531 26.4287 8.44531C27.2056 8.44531 27.8537 8.70503 28.3731 9.22448C28.8932 9.74451 29.1532 10.3926 29.1532 11.1689V15.9368H55.9884V11.1016C55.9884 10.3478 56.2425 9.71647 56.7507 9.20765C57.2595 8.69943 57.8908 8.44531 58.6446 8.44531C59.3984 8.44531 60.0294 8.69943 60.5377 9.20765C61.0465 9.71647 61.3009 10.3478 61.3009 11.1016V15.9368H66.2043C67.9935 15.9368 69.5078 16.5566 70.7474 17.7962C71.987 19.0358 72.6068 20.5501 72.6068 22.3393V69.7427C72.6068 71.5318 71.987 73.0462 70.7474 74.2858C69.5078 75.5254 67.9935 76.1452 66.2043 76.1452H18.8009ZM18.8009 70.8327H66.2043C66.477 70.8327 66.7267 70.719 66.9534 70.4918C67.1806 70.2651 67.2943 70.0154 67.2943 69.7427V36.5059H17.7109V69.7427C17.7109 70.0154 17.8246 70.2651 18.0518 70.4918C18.2785 70.719 18.5282 70.8327 18.8009 70.8327ZM17.7109 31.1934H67.2943V22.3393C67.2943 22.0666 67.1806 21.8169 66.9534 21.5902C66.7267 21.3629 66.477 21.2493 66.2043 21.2493H18.8009C18.5282 21.2493 18.2785 21.3629 18.0518 21.5902C17.8246 21.8169 17.7109 22.0666 17.7109 22.3393V31.1934ZM42.5026 49.8554C41.6355 49.8554 40.8965 49.5499 40.2855 48.939C39.6752 48.3286 39.37 47.5896 39.37 46.7219C39.37 45.8548 39.6752 45.1157 40.2855 44.5048C40.8965 43.8944 41.6355 43.5893 42.5026 43.5893C43.3697 43.5893 44.1087 43.8944 44.7197 44.5048C45.33 45.1157 45.6352 45.8548 45.6352 46.7219C45.6352 47.5896 45.33 48.3286 44.7197 48.939C44.1087 49.5499 43.3697 49.8554 42.5026 49.8554ZM28.3359 49.8554C27.4688 49.8554 26.7298 49.5499 26.1189 48.939C25.5085 48.3286 25.2033 47.5896 25.2033 46.7219C25.2033 45.8548 25.5085 45.1157 26.1189 44.5048C26.7298 43.8944 27.4688 43.5893 28.3359 43.5893C29.2031 43.5893 29.9421 43.8944 30.553 44.5048C31.1634 45.1157 31.4685 45.8548 31.4685 46.7219C31.4685 47.5896 31.1634 48.3286 30.553 48.939C29.9421 49.5499 29.2031 49.8554 28.3359 49.8554ZM56.6693 49.8554C55.8022 49.8554 55.0631 49.5499 54.4522 48.939C53.8418 48.3286 53.5367 47.5896 53.5367 46.7219C53.5367 45.8548 53.8418 45.1157 54.4522 44.5048C55.0631 43.8944 55.8022 43.5893 56.6693 43.5893C57.5364 43.5893 58.2754 43.8944 58.8864 44.5048C59.4967 45.1157 59.8019 45.8548 59.8019 46.7219C59.8019 47.5896 59.4967 48.3286 58.8864 48.939C58.2754 49.5499 57.5364 49.8554 56.6693 49.8554ZM42.5026 63.7493C41.6355 63.7493 40.8965 63.4439 40.2855 62.8329C39.6752 62.2226 39.37 61.4838 39.37 60.6167C39.37 59.749 39.6752 59.01 40.2855 58.3996C40.8965 57.7887 41.6355 57.4832 42.5026 57.4832C43.3697 57.4832 44.1087 57.7887 44.7197 58.3996C45.33 59.01 45.6352 59.749 45.6352 60.6167C45.6352 61.4838 45.33 62.2226 44.7197 62.8329C44.1087 63.4439 43.3697 63.7493 42.5026 63.7493ZM28.3359 63.7493C27.4688 63.7493 26.7298 63.4439 26.1189 62.8329C25.5085 62.2226 25.2033 61.4838 25.2033 60.6167C25.2033 59.749 25.5085 59.01 26.1189 58.3996C26.7298 57.7887 27.4688 57.4832 28.3359 57.4832C29.2031 57.4832 29.9421 57.7887 30.553 58.3996C31.1634 59.01 31.4685 59.749 31.4685 60.6167C31.4685 61.4838 31.1634 62.2226 30.553 62.8329C29.9421 63.4439 29.2031 63.7493 28.3359 63.7493ZM56.6693 63.7493C55.8022 63.7493 55.0631 63.4439 54.4522 62.8329C53.8418 62.2226 53.5367 61.4838 53.5367 60.6167C53.5367 59.749 53.8418 59.01 54.4522 58.3996C55.0631 57.7887 55.8022 57.4832 56.6693 57.4832C57.5364 57.4832 58.2754 57.7887 58.8864 58.3996C59.4967 59.01 59.8019 59.749 59.8019 60.6167C59.8019 61.4838 59.4967 62.2226 58.8864 62.8329C58.2754 63.4439 57.5364 63.7493 56.6693 63.7493Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
footer.sub .contact ul li.tel .inner h2,
footer.sub .contact ul li.day .inner h2 {
    display: flex;
    align-items: center;
    margin: 50px 0 5px 0;
}
footer.sub .contact ul li.tel .inner h2 span {
    font-size: 25px;
    padding-right: 15px;
}
footer.sub .contact ul li.tel .inner p span {
    padding-right: 15px;
}
footer.sub .contact ul li.tel .inner h2 strong,
footer.sub .contact ul li.day .inner h2 strong {
    font-size: 35px;
    font-weight: 700;
}
footer.sub .contact ul li.day .inner p {
    display: block;
}
footer.sub .contact ul li.day .inner p span {
    padding-right: 5px;
}
footer.sub .f_top {
    background-color: #34373F;
    padding: 50px 0 0 0;
}
@media screen and (max-width:1300px){  /*이하일때*/
    /* footer  시작 */
                    footer.sub .contact ul li .inner {
                        position: relative;
                        padding-left: 113px
                    }
                    footer.sub .contact ul li.tel .inner::after,
                    footer.sub .contact ul li.day .inner::before {
                        top: 47px;
                    }
                    footer.sub .contact ul li.tel .inner p span {
                        padding-right: 15px;
                    }

}
/******모바일 시작 *****/
@media screen and (max-width:1000px){  /* 모바일 시작 */
                    footer.sub .contact ul {
                        display: block;
                        height: auto;
                        border-right:0;
                        border-left: 0;
                    }
                    footer.sub .contact ul li {
                        display: block;
                        width: 100%;
                    }
                    footer.sub .contact ul li .inner {
                        position: relative;
                        padding-left: 59px;
                    }
                    footer.sub .contact ul li.tel {
                        border-right: 0;
                        padding: 10px 0 50px 0;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                    }
                    footer.sub .contact ul li.tel .inner::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 4px;
                        width: 49px;
                        height: 49px;
                        background-image: url("data:image/svg+xml,%3Csvg width='49' height='49' viewBox='0 0 49 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.0286 25.0725L31.1721 30.216C31.4549 30.4954 31.5963 30.8447 31.5963 31.2639C31.5963 31.6831 31.4549 32.0445 31.1721 32.348C30.8686 32.6648 30.5048 32.8198 30.0808 32.813C29.6565 32.8066 29.2926 32.6516 28.9891 32.348L23.5199 26.8784C23.3287 26.6875 23.1887 26.4794 23.0999 26.2542C23.0107 26.0289 22.9661 25.796 22.9661 25.5554V17.7853C22.9661 17.3515 23.113 16.9879 23.4066 16.6946C23.7003 16.4009 24.0641 16.2541 24.4979 16.2541C24.9321 16.2541 25.2957 16.4009 25.5887 16.6946C25.882 16.9879 26.0286 17.3515 26.0286 17.7853V25.0725ZM24.4969 12.2493C24.0627 12.2493 23.6991 12.1027 23.4061 11.8094C23.1128 11.5157 22.9661 11.152 22.9661 10.7181V8.16602H26.0286V10.7181C26.0286 11.152 25.8818 11.5157 25.5882 11.8094C25.2945 12.1027 24.9307 12.2493 24.4969 12.2493ZM36.7474 24.4988C36.7474 24.0646 36.8941 23.7011 37.1874 23.4081C37.481 23.1148 37.8448 22.9681 38.2786 22.9681H40.8307V26.0306H38.2786C37.8448 26.0306 37.481 25.8838 37.1874 25.5901C36.8941 25.2965 36.7474 24.9327 36.7474 24.4988ZM24.4979 36.7494C24.9321 36.7494 25.2957 36.896 25.5887 37.1893C25.882 37.483 26.0286 37.8467 26.0286 38.2806V40.8327H22.9661V38.2806C22.9661 37.8467 23.113 37.483 23.4066 37.1893C23.7003 36.896 24.0641 36.7494 24.4979 36.7494ZM12.2474 24.4999C12.2474 24.9341 12.1007 25.2976 11.8074 25.5906C11.5138 25.8839 11.15 26.0306 10.7161 26.0306H8.16406V22.9681H10.7161C11.15 22.9681 11.5138 23.1149 11.8074 23.4086C12.1007 23.7022 12.2474 24.066 12.2474 24.4999ZM24.501 43.8952C21.8182 43.8952 19.2966 43.3861 16.9361 42.368C14.5756 41.3499 12.5223 39.9682 10.7764 38.2229C9.03041 36.4776 7.64803 34.4253 6.62924 32.0658C5.61079 29.7063 5.10156 27.1853 5.10156 24.5029C5.10156 21.8202 5.61062 19.2985 6.62873 16.938C7.64684 14.5775 9.02854 12.5243 10.7738 10.7783C12.5191 9.03236 14.5715 7.64998 16.931 6.63119C19.2905 5.61274 21.8114 5.10352 24.4938 5.10352C27.1766 5.10352 29.6982 5.61257 32.0587 6.63068C34.4192 7.64879 36.4725 9.03049 38.2184 10.7758C39.9644 12.5211 41.3468 14.5734 42.3656 16.9329C43.384 19.2924 43.8932 21.8134 43.8932 24.4958C43.8932 27.1785 43.3842 29.7002 42.3661 32.0607C41.348 34.4212 39.9663 36.4744 38.221 38.2204C36.4757 39.9663 34.4233 41.3487 32.0638 42.3675C29.7043 43.386 27.1834 43.8952 24.501 43.8952ZM40.8307 24.4994C40.8307 19.9396 39.2484 16.0775 36.0839 12.9129C32.9193 9.74831 29.0571 8.16602 24.4974 8.16602C19.9377 8.16602 16.0755 9.74831 12.9109 12.9129C9.74635 16.0775 8.16406 19.9396 8.16406 24.4994C8.16406 29.0591 9.74635 32.9212 12.9109 36.0858C16.0755 39.2504 19.9377 40.8327 24.4974 40.8327C29.0571 40.8327 32.9193 39.2504 36.0839 36.0858C39.2484 32.9212 40.8307 29.0591 40.8307 24.4994Z' fill='white'/%3E%3C/svg%3E ");
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    footer.sub .contact ul li.day {
                        padding: 0 0 50px 0;
                    }
                    footer.sub .contact ul li.day .inner::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 4px;
                        width: 49px;
                        height: 49px;
                        background-image: url("data:image/svg+xml,%3Csvg width='49' height='49' viewBox='0 0 49 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8393 43.8961C9.80788 43.8961 8.9349 43.5388 8.22031 42.8242C7.50573 42.1097 7.14844 41.2367 7.14844 40.2053V12.8786C7.14844 11.8472 7.50573 10.9742 8.22031 10.2597C8.9349 9.54507 9.80788 9.18778 10.8393 9.18778H13.6659V6.43918C13.6659 5.99172 13.8158 5.61809 14.1156 5.31831C14.4154 5.01886 14.789 4.86914 15.2365 4.86914C15.6843 4.86914 16.0579 5.01886 16.3574 5.31831C16.6572 5.61809 16.8071 5.99172 16.8071 6.43918V9.18778H32.2768V6.40039C32.2768 5.96586 32.4232 5.60193 32.7162 5.30861C33.0095 5.01563 33.3735 4.86914 33.808 4.86914C34.2425 4.86914 34.6063 5.01563 34.8993 5.30861C35.1926 5.60193 35.3393 5.96586 35.3393 6.40039V9.18778H38.1659C39.1973 9.18778 40.0703 9.54507 40.7849 10.2597C41.4995 10.9742 41.8568 11.8472 41.8568 12.8786V40.2053C41.8568 41.2367 41.4995 42.1097 40.7849 42.8242C40.0703 43.5388 39.1973 43.8961 38.1659 43.8961H10.8393ZM10.8393 40.8336H38.1659C38.3232 40.8336 38.4671 40.7681 38.5978 40.6371C38.7288 40.5064 38.7943 40.3625 38.7943 40.2053V21.0453H10.2109V40.2053C10.2109 40.3625 10.2764 40.5064 10.4074 40.6371C10.5381 40.7681 10.6821 40.8336 10.8393 40.8336ZM10.2109 17.9828H38.7943V12.8786C38.7943 12.7214 38.7288 12.5775 38.5978 12.4468C38.4671 12.3158 38.3232 12.2503 38.1659 12.2503H10.8393C10.6821 12.2503 10.5381 12.3158 10.4074 12.4468C10.2764 12.5775 10.2109 12.7214 10.2109 12.8786V17.9828ZM24.5026 28.7408C24.0027 28.7408 23.5767 28.5647 23.2245 28.2125C22.8727 27.8607 22.6967 27.4347 22.6967 26.9345C22.6967 26.4346 22.8727 26.0086 23.2245 25.6564C23.5767 25.3045 24.0027 25.1286 24.5026 25.1286C25.0025 25.1286 25.4285 25.3045 25.7807 25.6564C26.1325 26.0086 26.3085 26.4346 26.3085 26.9345C26.3085 27.4347 26.1325 27.8607 25.7807 28.2125C25.4285 28.5647 25.0025 28.7408 24.5026 28.7408ZM16.3359 28.7408C15.8361 28.7408 15.41 28.5647 15.0579 28.2125C14.706 27.8607 14.5301 27.4347 14.5301 26.9345C14.5301 26.4346 14.706 26.0086 15.0579 25.6564C15.41 25.3045 15.8361 25.1286 16.3359 25.1286C16.8358 25.1286 17.2618 25.3045 17.614 25.6564C17.9659 26.0086 18.1418 26.4346 18.1418 26.9345C18.1418 27.4347 17.9659 27.8607 17.614 28.2125C17.2618 28.5647 16.8358 28.7408 16.3359 28.7408ZM32.6693 28.7408C32.1694 28.7408 31.7434 28.5647 31.3912 28.2125C31.0393 27.8607 30.8634 27.4347 30.8634 26.9345C30.8634 26.4346 31.0393 26.0086 31.3912 25.6564C31.7434 25.3045 32.1694 25.1286 32.6693 25.1286C33.1691 25.1286 33.5952 25.3045 33.9474 25.6564C34.2992 26.0086 34.4751 26.4346 34.4751 26.9345C34.4751 27.4347 34.2992 27.8607 33.9474 28.2125C33.5952 28.5647 33.1691 28.7408 32.6693 28.7408ZM24.5026 36.7503C24.0027 36.7503 23.5767 36.5742 23.2245 36.222C22.8727 35.8702 22.6967 35.4443 22.6967 34.9444C22.6967 34.4442 22.8727 34.0182 23.2245 33.6663C23.5767 33.3141 24.0027 33.1381 24.5026 33.1381C25.0025 33.1381 25.4285 33.3141 25.7807 33.6663C26.1325 34.0182 26.3085 34.4442 26.3085 34.9444C26.3085 35.4443 26.1325 35.8702 25.7807 36.222C25.4285 36.5742 25.0025 36.7503 24.5026 36.7503ZM16.3359 36.7503C15.8361 36.7503 15.41 36.5742 15.0579 36.222C14.706 35.8702 14.5301 35.4443 14.5301 34.9444C14.5301 34.4442 14.706 34.0182 15.0579 33.6663C15.41 33.3141 15.8361 33.1381 16.3359 33.1381C16.8358 33.1381 17.2618 33.3141 17.614 33.6663C17.9659 34.0182 18.1418 34.4442 18.1418 34.9444C18.1418 35.4443 17.9659 35.8702 17.614 36.222C17.2618 36.5742 16.8358 36.7503 16.3359 36.7503ZM32.6693 36.7503C32.1694 36.7503 31.7434 36.5742 31.3912 36.222C31.0393 35.8702 30.8634 35.4443 30.8634 34.9444C30.8634 34.4442 31.0393 34.0182 31.3912 33.6663C31.7434 33.3141 32.1694 33.1381 32.6693 33.1381C33.1691 33.1381 33.5952 33.3141 33.9474 33.6663C34.2992 34.0182 34.4751 34.4442 34.4751 34.9444C34.4751 35.4443 34.2992 35.8702 33.9474 36.222C33.5952 36.5742 33.1691 36.7503 32.6693 36.7503Z' fill='white'/%3E%3C/svg%3E ");
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    footer.sub .contact ul li.tel .inner h2,
                    footer.sub .contact ul li.day .inner h2 {
                        display: block;
                        align-items: center;
                        margin: 45px 0 5px 0;
                    }
                    footer.sub .contact ul li.tel .inner h2 span {
                        font-size: 25px;
                        padding-right: 15px;
                        display: block;
                    }
                    footer.sub .contact ul li.tel .inner p span {
                        display: block;
                    }
                    footer.sub .contact ul li.tel .inner h2 strong,
                    footer.sub .contact ul li.day .inner h2 strong {
                        font-size: 25px;
                        font-weight: 700;
                    }
                    footer.sub .contact ul li.day .inner h2 strong {
                        display: block;
                    }
                    footer.sub .contact ul li.day .inner p span {
                        display: block;
                    }
}


