@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.visual {
    height: 865PX;
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.visual h2 {
    font-family: 'Gmarket Sans';
    font-size: 45px;
    font-weight: 700;
}
   