@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    position: absolute; /*body를 기준으로*/
    left: 0;
    top: 0;
    z-index: 100;
    /*position 속성을 갖은 요소는 서로 위아래 순서가 생김
      header는 맨위에 둘 요소라 제일 높은 값 100을 줌*/
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color: #fff;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 25px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    line-height: 100px;
    /* 메뉴가 정확한 높이를 갖고 위아래 가운데 정렬이 됨
       하위에 메뉴로 이동할때 정확한 높이가 안잡히면 out됨*/
       font-size: 22px;
       font-family: 'Gmarket Sans';
       font-weight: 500;
       padding: 0 27px 0 27px ;
}
header .tnb {
    display: flex;
    padding: 30px 0 0 0;
}
header .tnb .mypage a {
    display: block;
    width: 34PX;
    height: 34PX;
    /* 글자 지우고 아이콘으로 대체*/
    font-size: 0;
    line-height: 0;
    position: relative; /*before 정렬의기준*/
}
header .tnb .mypage a::before {
    content: "";
    position: absolute; /*a를 기준으로 정렬*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 16.5641C15.6365 16.5641 14.4692 16.0787 13.4984 15.1078C12.5272 14.1367 12.0417 12.9693 12.0417 11.6058C12.0417 10.2423 12.5272 9.07504 13.4984 8.10415C14.4692 7.13302 15.6365 6.64746 17 6.64746C18.3635 6.64746 19.5308 7.13302 20.5016 8.10415C21.4728 9.07504 21.9583 10.2423 21.9583 11.6058C21.9583 12.9693 21.4728 14.1367 20.5016 15.1078C19.5308 16.0787 18.3635 16.5641 17 16.5641ZM6.375 25.2005V24.2031C6.375 23.5095 6.56342 22.867 6.94025 22.2758C7.31708 21.6846 7.82071 21.23 8.45112 20.9122C9.85126 20.2259 11.2638 19.711 12.6887 19.3677C14.1137 19.0244 15.5508 18.8528 17 18.8528C18.4492 18.8528 19.8863 19.0244 21.3113 19.3677C22.7362 19.711 24.1487 20.2259 25.5489 20.9122C26.1793 21.23 26.6829 21.6846 27.0597 22.2758C27.4366 22.867 27.625 23.5095 27.625 24.2031V25.2005C27.625 25.7978 27.4157 26.306 26.9971 26.7248C26.5784 27.1434 26.0703 27.3528 25.4727 27.3528H8.52727C7.92967 27.3528 7.42156 27.1434 7.00294 26.7248C6.58431 26.306 6.375 25.7978 6.375 25.2005ZM8.5 25.2278H25.5V24.2031C25.5 23.9163 25.4169 23.6506 25.2507 23.4063C25.0844 23.1621 24.8588 22.9629 24.5739 22.8084C23.3532 22.2073 22.1086 21.7518 20.8402 21.4421C19.5716 21.1325 18.2915 20.9778 17 20.9778C15.7085 20.9778 14.4284 21.1325 13.1598 21.4421C11.8914 21.7518 10.6468 22.2073 9.42615 22.8084C9.14116 22.9629 8.91556 23.1621 8.74933 23.4063C8.58311 23.6506 8.5 23.9163 8.5 24.2031V25.2278ZM17 14.4391C17.7792 14.4391 18.4462 14.1617 19.001 13.6068C19.5559 13.052 19.8333 12.385 19.8333 11.6058C19.8333 10.8266 19.5559 10.1596 19.001 9.60475C18.4462 9.04989 17.7792 8.77246 17 8.77246C16.2208 8.77246 15.5538 9.04989 14.999 9.60475C14.4441 10.1596 14.1667 10.8266 14.1667 11.6058C14.1667 12.385 14.4441 13.052 14.999 13.6068C15.5538 14.1617 16.2208 14.4391 17 14.4391Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
header .tnb .global button {
    width: 30px;
    height: 30px;
    /* 글자 지우고 아이콘으로 대체*/
    font-size: 0;
    line-height: 0;
    position: relative; /*before 정렬의기준*/
}
header .tnb .global button::before {
    content: "";
    position: absolute; /*a를 기준으로 정렬*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 26.875C13.3719 26.875 11.8354 26.5629 10.3906 25.9387C8.94583 25.3146 7.68583 24.4648 6.61062 23.3894C5.53521 22.3142 4.68542 21.0542 4.06125 19.6094C3.43708 18.1646 3.125 16.6281 3.125 15C3.125 13.359 3.43708 11.8193 4.06125 10.3809C4.68542 8.9426 5.53521 7.68583 6.61062 6.61062C7.68583 5.53521 8.94583 4.68542 10.3906 4.06125C11.8354 3.43708 13.3719 3.125 15 3.125C16.641 3.125 18.1807 3.43708 19.6191 4.06125C21.0574 4.68542 22.3142 5.53521 23.3894 6.61062C24.4648 7.68583 25.3146 8.9426 25.9387 10.3809C26.5629 11.8193 26.875 13.359 26.875 15C26.875 16.6281 26.5629 18.1646 25.9387 19.6094C25.3146 21.0542 24.4648 22.3142 23.3894 23.3894C22.3142 24.4648 21.0574 25.3146 19.6191 25.9387C18.1807 26.5629 16.641 26.875 15 26.875ZM15 24.9734C15.6379 24.1274 16.1748 23.2741 16.6106 22.4134C17.0465 21.5528 17.4015 20.6121 17.6756 19.5913H12.3244C12.6146 20.6442 12.9736 21.6009 13.4016 22.4616C13.8293 23.3222 14.3621 24.1595 15 24.9734ZM12.5794 24.6297C12.1002 23.9422 11.6699 23.1606 11.2884 22.285C10.907 21.4092 10.6105 20.5113 10.3991 19.5913H6.15875C6.81896 20.8894 7.70437 21.98 8.815 22.8631C9.92562 23.746 11.1804 24.3349 12.5794 24.6297ZM17.4206 24.6297C18.8196 24.3349 20.0744 23.746 21.185 22.8631C22.2956 21.98 23.181 20.8894 23.8412 19.5913H19.6009C19.3493 20.5192 19.0327 21.421 18.6513 22.2969C18.27 23.1727 17.8598 23.9503 17.4206 24.6297ZM5.3725 17.7163H10.0194C9.94083 17.2517 9.88385 16.7961 9.84844 16.3497C9.81323 15.9034 9.79562 15.4535 9.79562 15C9.79562 14.5465 9.81323 14.0966 9.84844 13.6503C9.88385 13.2039 9.94083 12.7483 10.0194 12.2838H5.3725C5.25229 12.7083 5.16021 13.1498 5.09625 13.6081C5.03208 14.0665 5 14.5304 5 15C5 15.4696 5.03208 15.9335 5.09625 16.3919C5.16021 16.8502 5.25229 17.2917 5.3725 17.7163ZM11.8941 17.7163H18.1059C18.1843 17.2517 18.2411 16.8002 18.2766 16.3619C18.3118 15.9235 18.3294 15.4696 18.3294 15C18.3294 14.5304 18.3118 14.0765 18.2766 13.6381C18.2411 13.1998 18.1843 12.7483 18.1059 12.2838H11.8941C11.8157 12.7483 11.7589 13.1998 11.7234 13.6381C11.6882 14.0765 11.6706 14.5304 11.6706 15C11.6706 15.4696 11.6882 15.9235 11.7234 16.3619C11.7589 16.8002 11.8157 17.2517 11.8941 17.7163ZM19.9806 17.7163H24.6275C24.7477 17.2917 24.8398 16.8502 24.9037 16.3919C24.9679 15.9335 25 15.4696 25 15C25 14.5304 24.9679 14.0665 24.9037 13.6081C24.8398 13.1498 24.7477 12.7083 24.6275 12.2838H19.9806C20.0592 12.7483 20.1161 13.2039 20.1516 13.6503C20.1868 14.0966 20.2044 14.5465 20.2044 15C20.2044 15.4535 20.1868 15.9034 20.1516 16.3497C20.1161 16.7961 20.0592 17.2517 19.9806 17.7163ZM19.6009 10.4088H23.8412C23.1731 9.09458 22.2938 8.00396 21.2031 7.13688C20.1125 6.27 18.8517 5.67708 17.4206 5.35813C17.8998 6.08563 18.326 6.88135 18.6994 7.74531C19.0729 8.60906 19.3734 9.49688 19.6009 10.4088ZM12.3244 10.4088H17.6756C17.3854 9.36375 17.0204 8.40094 16.5806 7.52031C16.1406 6.63969 15.6137 5.80844 15 5.02656C14.3863 5.80844 13.8594 6.63969 13.4194 7.52031C12.9796 8.40094 12.6146 9.36375 12.3244 10.4088ZM6.15875 10.4088H10.3991C10.6266 9.49688 10.9271 8.60906 11.3006 7.74531C11.674 6.88135 12.1002 6.08563 12.5794 5.35813C11.1402 5.67708 9.8774 6.27208 8.79094 7.14313C7.70427 8.01396 6.82688 9.1025 6.15875 10.4088Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.visual {
    height: 865px;
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.visual h2 {
    font-family: 'Gmarket Sans';
    font-size: 45px;
    font-weight: 700;
    line-height: 1.1;
    padding: 642px 0 11px 0;
}
.biz {
    margin: 167px 0 0 0;
}
.biz .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /*flex 정렬된 tit하고 list 의 높이가 동일하게 설정됨*/
}
.biz .tit {
    position: sticky;
    top: 20px; /*고정될때 위에서 떨어지는 값*/
}
.biz .tit strong {
    color: #004289;
}
.biz .tit h2 {
    font-family: 'Gmarket Sans';
    font-size: 45px;
    font-weight: 700;
    line-height: 1.1;
    margin: 5px 0 15px 0;
    color: #1d1d1d;
}
.biz .list  {
    padding-bottom: 60px;
}
.biz .list {
    width: 664px;
}
.biz .list ul {
    display: flex;
    flex-wrap: wrap; /*여러줄 허용*/
    gap: 24px;
}
.biz .list ul li {
    width: 320px;
}
.biz .list ul li:nth-child(odd) {
    transform: translateY(40px);
}
.biz .list ul li:nth-child(even) {
    transform: translateY(-80px);
}
.biz .list ul li a {
    display: flex;
    align-items: flex-end;
    /* a안에 photo, inner가 있는데 photo absolute를 줘서
    flex의 영향을 안받음.
    inner를 a안에 하단 정렬로 배치함*/
    position: relative; /* photo를 기준으로 정렬 */
    height: 404px;
    color: rgba(255,255,255,0.8);
    border-radius: 20px;
    overflow: hidden; /*영역 밖에 나오는 요소 숨김*/
}
.biz .list ul li a .photo {
    position: absolute; /* a를 기준으로 정렬*/
    left: 0;
    top: 0;
    z-index: -1;
    /*position이 있는 photo와 position이 없는 inner가
      나란히 존재하는 경우 position이 있는 photo가 위로 올라감
      무조건 아래로 배치되게 하는 값 */
    width: 100%;
    height: 100%;
}
.biz .list ul li a .inner {
    padding: 0 48px 33px 48px;
}
.biz .list ul li a h3 {
    font-family: 'Gmarket Sans';
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1;
    margin: 5px 0 15px 0;
    color: #fff;
}
.biz .list ul li a p {
    margin: 9px 0 23px 0px;
    display: none; /*숨김*/
}
.biz .list ul li a span {
    display: none; /*숨김*/
    font-size: 17px;
    position: relative;
    padding-right: 24px;
}
.biz .list ul li a span::after {
    content: "";
    position: absolute;
    right: -3px;
    bottom: 4px;
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.79177 9.06552L7.89909 10.9887C7.79672 11.0916 7.74615 11.2197 7.74737 11.3728C7.7486 11.5259 7.80125 11.6575 7.90533 11.7677C8.01727 11.8824 8.15069 11.938 8.30558 11.9344C8.46047 11.9308 8.59292 11.8731 8.70293 11.7613L10.9001 9.52868C11.0339 9.39271 11.1001 9.23484 11.0987 9.05507C11.0972 8.8753 11.0285 8.7185 10.8926 8.58469L8.64847 6.37623C8.53656 6.26622 8.40509 6.2125 8.25404 6.21508C8.103 6.21778 7.97243 6.27738 7.86234 6.39389C7.76003 6.50574 7.70874 6.6372 7.70846 6.78826C7.7083 6.93933 7.76411 7.06993 7.8759 7.18006L9.79177 9.06552ZM16.1094 9.01368C16.1172 9.99385 15.9386 10.9166 15.5735 11.7821C15.2084 12.6475 14.7096 13.4017 14.077 14.0447C13.4445 14.6877 12.6987 15.1988 11.8396 15.5779C10.9805 15.9569 10.0609 16.1503 9.08089 16.1581C8.10071 16.166 7.17792 15.9874 6.31251 15.6223C5.4471 15.2572 4.69289 14.7584 4.04988 14.1258C3.40687 13.4933 2.8958 12.7475 2.51668 11.8884C2.13768 11.0293 1.94426 10.1097 1.93642 9.12967C1.92858 8.1495 2.1072 7.22671 2.47228 6.36129C2.83736 5.49588 3.33617 4.74167 3.96873 4.09866C4.60128 3.45565 5.3471 2.94459 6.20619 2.56547C7.06528 2.18647 7.98484 1.99305 8.96489 1.98521C9.94506 1.97737 10.8679 2.15598 11.7333 2.52106C12.5987 2.88614 13.3529 3.38496 13.9959 4.01751C14.6389 4.65007 15.15 5.39589 15.5291 6.25498C15.9081 7.11406 16.1015 8.03363 16.1094 9.01368ZM14.9904 9.02393C14.9771 7.35799 14.3877 5.95154 13.2223 4.80457C12.0568 3.65761 10.6411 3.09079 8.97515 3.10411C7.3092 3.11744 5.90275 3.70684 4.75578 4.8723C3.60882 6.03777 3.042 7.45347 3.05533 9.11941C3.06866 10.7854 3.65805 12.1918 4.82352 13.3388C5.98898 14.4857 7.40469 15.0526 9.07063 15.0392C10.7366 15.0259 12.143 14.4365 13.29 13.271C14.437 12.1056 15.0038 10.6899 14.9904 9.02393Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
/* 마우스 오버했을 때*/
.biz .list ul li a .photo::before  {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #004289;
    opacity: 0.9;
    display: none;
}
.biz .list ul li a:hover .photo::before {
    display: block;
}
.biz .list ul li a:hover p {
    display: block;
    /*display:none로 안보이게 한 요소는 dispay에 다른 속성
      아무거나 줘도 나타나게됨. 만만하게 block이라 block줌*/
}
.biz .list ul li a:hover span {
    display: inline-block;
}
.news .wrapper {
    position: relative; /*more 정렬의기준*/
}
.news {
    margin: 120px 0 0 0 ;
    background-color: #E1E1E1;
    padding: 127px 0 185px 0;
}
.news .tit strong {
    color: #004289;
}
.news .tit h2 {
    font-family: 'Gmarket Sans';
    font-size: 45px;
    color: #1d1d1d;
    font-weight: 700;
    line-height: 1.1;
    margin: 5px 0 0 0;
}
.news .list {
    margin: 32px 0 0 0;
}
.news .list ul li {
    margin: 0 0 20px 0;
}
.news .list ul li a {
    display: flex;
    justify-content: space-between;
    padding: 25px 60px 20px 60px;
    background-color:#fff;
}
.news .list ul li a h3 {
    font-family: 'Gmarket Sans';
    font-size: 17px;
    color: #3d3d3d;
    font-weight: 500;
}
/*마우스 오버할때*/
.news .more ul li a:hover {
    background-color: #004289;
    border-color: #004289;
    color: #004289;
}
.news .list ul li a:hover h3 {
    color: #004289;
}
.news .more {
    position: absolute; /*wrapper를 기준으로 정렬*/
    right: 8px;
    top: 50px;
}
.news .more a {
    display: block;
    padding: 5px 32px 5px 5px;

    position: relative;
}
.news .more  a::after {
    content: '';
    position: absolute;
    right 0;
    top: 3px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 12.75H6.25C6.0375 12.75 5.85942 12.6781 5.71575 12.5342C5.57192 12.3904 5.5 12.2122 5.5 11.9997C5.5 11.7871 5.57192 11.609 5.71575 11.4655C5.85942 11.3218 6.0375 11.25 6.25 11.25H11.25V6.25C11.25 6.0375 11.3219 5.85942 11.4658 5.71575C11.6096 5.57192 11.7878 5.5 12.0003 5.5C12.2129 5.5 12.391 5.57192 12.5345 5.71575C12.6782 5.85942 12.75 6.0375 12.75 6.25V11.25H17.75C17.9625 11.25 18.1406 11.3219 18.2843 11.4658C18.4281 11.6096 18.5 11.7878 18.5 12.0003C18.5 12.2129 18.4281 12.391 18.2843 12.5345C18.1406 12.6782 17.9625 12.75 17.75 12.75H12.75V17.75C12.75 17.9625 12.6781 18.1406 12.5342 18.2843C12.3904 18.4281 12.2122 18.5 11.9997 18.5C11.7871 18.5 11.609 18.4281 11.4655 18.2843C11.3218 18.1406 11.25 17.9625 11.25 17.75V12.75Z' fill='%238D8D8D'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: 1s; /*오버 전*/
}
.news .more ul li a:hover {
    color: #004289;
}
.news .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 12.75H6.25C6.0375 12.75 5.85942 12.6781 5.71575 12.5342C5.57192 12.3904 5.5 12.2122 5.5 11.9997C5.5 11.7871 5.57192 11.609 5.71575 11.4655C5.85942 11.3218 6.0375 11.25 6.25 11.25H11.25V6.25C11.25 6.0375 11.3219 5.85942 11.4658 5.71575C11.6096 5.57192 11.7878 5.5 12.0003 5.5C12.2129 5.5 12.391 5.57192 12.5345 5.71575C12.6782 5.85942 12.75 6.0375 12.75 6.25V11.25H17.75C17.9625 11.25 18.1406 11.3219 18.2843 11.4658C18.4281 11.6096 18.5 11.7878 18.5 12.0003C18.5 12.2129 18.4281 12.391 18.2843 12.5345C18.1406 12.6782 17.9625 12.75 17.75 12.75H12.75V17.75C12.75 17.9625 12.6781 18.1406 12.5342 18.2843C12.3904 18.4281 12.2122 18.5 11.9997 18.5C11.7871 18.5 11.609 18.4281 11.4655 18.2843C11.3218 18.1406 11.25 17.9625 11.25 17.75V12.75Z' fill='%23004289'/%3E%3C/svg%3E%0A");
    transform: rotate(360deg);
}
.webzine {
    margin: 130px 0 0 0;
}
.webzine  strong {
    color: #004289;
}
.webzine  .tit h2 {
    font-family: 'Gmarket Sans';
    font-size: 45px;
    color: #1d1d1d;
    font-weight: 700;
    line-height: 1.1;
    margin: 5px 0 0 0;
}
.webzine .list {
    margin: 35px 0 0 0;
}
.webzine .list ul {
    display: flex;
    gap: 24px;
    /* li의 넓이 404 * li의 갯수 5 + -->2020
    li 사이의 여백 25 * li의 갯수 -1 4 --> 99
    2020+99 =2119
    */ 
    width: 2119px;
}
.webzine .list ul li {
    width: 404px;
}
.webzine .list ul li a {
    display: block;
}
.webzine .list ul li a .photo {
    margin: 0 0 15px 0;
    height: 236px;
    border-radius:20px ;
    overflow: hidden; /* border-radius 적용 안되서 */
    position: relative;
}
.webzine .list ul li a .photo img {
   height:  100%;
   width: 100%;
   object-fit: cover;
   transition: 0.5s;
}
.webzine .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.webzine .list ul li a .catr {
    color: #fff;
    border-radius: 25px;
    background-color: #004289;
    padding: 8px 27px 8px 32px ;

}
.webzine .list ul li a h3 {
    font-family: 'Gmarket Sans';
    font-size: 20px;
    color: #1d1d1d;
    font-weight: 700;
    line-height: 1.1;
    margin: 9px 0 21px 0;
    margin: 15px 0 5px 0;
    line-height: 1.1;
    height: 2.2em;
    overflow: hidden;

}
.webzine .list ul li a p {
    line-height: 1.4;
    height: 2.5em ; /*행간 * 줄수*/
    overflow: hidden;
}