@import url(default.css);
@import url(fonts.css);
@import url(common.css);
/***header 시작 ***/
header {
    position: absolute; /*body를 기준으로 정렬*/
    left: 0;
    z-index: 100;
     /*header는 무조건 맨위에 있어야 하기 떄문에 
       제일 높은  숫자 100을 줌 - 하단 컨텐츠는 100이하의 값을 줌*/
    top: 0;
    width: 100%;
    /* block absolute 를 줘도 넓이가 없음 (100% 안됨)
        내부 요소 만큼만 늘어남*/
    height:  100px;
    border-bottom:  1px solid rgba(255,255,255,0.5);
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin-top: 25px;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 36px 24px 32px 24px ; 
}
/***header 끝 ***/

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    border-bottom-right-radius: 190px;
}
.visual .wrapper {
    height: 100vh;
    /* 브라우저의 콘텐츠 높이 100vh로 보는 상대값 */
    /* pic는 wrapper를 기준으로 오른쪽 하단에 sasolute로 배치
       딘 visual에 heigth가 있는 상태에서는 wrapper가 콘텐츠가
       존재하는 만큼만 높이가 잡힘
       그래서 wrapper에 높이를 visual은 그 높이만큼 들어가게하면
       편함 */
       position: relative; /* PiC 정렬의 기준*/
}
.visual h2 {
    padding-top: calc(50vh - 90px);
    /* 50vh -90px을 빼야함 , 단위가 안맞음
       이렇게 단위가 다른 수치를 계산 할때 쓰는 식이
       calc()임 단, 반드시 - + 앞뒤로는 여백을 줘야함
       단위를 써야함.*/
    text-align: center;
}
.visual .pic {
    position: absolute; /* wrapper를 기준으로 정렬, a::before 정렬의 중심 */
    right: -129px;
    bottom: -89px;
}
.visual .pic a {
    display: block;
    width: 190px;
    height: 187px;
    border-radius:  50% ; /* 동그라미는 무조건 50%*/
    background-color: #2C6CBA;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 95px;
    line-height: 1.2;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.15);
}
.visual .pic a::before {
    content: "";
    position: absolute; /* pic를 기준으로 정렬 */
    top: 48px;
    left: 50%;
    transform: translateX(-50%); /*좌우에 가운데*/
    width: 42px; /*아이콘 사이즈*/
    height: 42px;
    background-image: url("data:image/svg+xml,%3Csvg width='43' height='43' viewBox='0 0 43 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 37.5V9.5H11.0125L14.25 6H24.75V9.5H15.7812L12.5875 13H5.5V34H33.5V18.25H37V37.5H2ZM33.5 13V9.5H30V6H33.5V2.5H37V6H40.5V9.5H37V13H33.5ZM19.5 31.375C21.6875 31.375 23.5469 30.6094 25.0781 29.0781C26.6094 27.5469 27.375 25.6875 27.375 23.5C27.375 21.3125 26.6094 19.4531 25.0781 17.9219C23.5469 16.3906 21.6875 15.625 19.5 15.625C17.3125 15.625 15.4531 16.3906 13.9219 17.9219C12.3906 19.4531 11.625 21.3125 11.625 23.5C11.625 25.6875 12.3906 27.5469 13.9219 29.0781C15.4531 30.6094 17.3125 31.375 19.5 31.375ZM19.5 27.875C18.275 27.875 17.2396 27.4521 16.3938 26.6062C15.5479 25.7604 15.125 24.725 15.125 23.5C15.125 22.275 15.5479 21.2396 16.3938 20.3937C17.2396 19.5479 18.275 19.125 19.5 19.125C20.725 19.125 21.7604 19.5479 22.6062 20.3937C23.4521 21.2396 23.875 22.275 23.875 23.5C23.875 24.725 23.4521 25.7604 22.6062 26.6062C21.7604 27.4521 20.725 27.875 19.5 27.875Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; /* 아이콘 안짤리고 사이즈에 딱 맞게 나오기 */
}
.visual .pic a:hover {
    background-color: #09847F;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.25);
}
.culture {
    margin: 137px 0 0 0;
}
.culture .wrapper {
    position: relative; /*more의 정렬의 기준*/
}
.culture .tit h2 {
    margin-bottom: 11px;
    color: #1d1d1d;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
}
.culture .list {
    margin: 33px 0 0 0;
}
.culture .list ul {
    display: flex;
    justify-content: space-between;
}
.culture .list ul li {
    width: 404px;
}
.culture .list ul li a {
    display: block;
}
.culture .list ul li a .photo {
    overflow: hidden; /*photo 영역 밖에 나가는 이미지 숨김 */
    font-size: 0;
    line-height: 0;
}
.culture .list ul li a .photo img {
    transition:  0.5s; /*만약에 속성이 변경된다면 1초동안 자연스럽게 변경*/
}
.culture .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}  
.culture .list ul li a  h3 {
    margin: 30px 0 7px 0;
    color: #1d1d1d;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
}
.culture .list ul li a span {
    position: relative; /* bedore / after 정렬의 기준 */
    display: inline-block;
    padding-right: 28px; 
    /*글자의 오른쪽에 아이콘으 들어가면 그 아이콘이 들어갈 영역까지
        padding으로 늘려놓음 */
    margin: 16px 0 0 0;
    color: #555;
    font-size: 15px;
}
.culture .list ul li a span::after {
    content: "";
    position: absolute;
    right: 0;
    top: -2px;
    width: 24px; /*아이콘크기*/
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9953 11.9998L9.09531 8.0998C8.91198 7.91647 8.82031 7.68314 8.82031 7.3998C8.82031 7.11647 8.91198 6.88314 9.09531 6.6998C9.27865 6.51647 9.51198 6.4248 9.79531 6.4248C10.0786 6.4248 10.312 6.51647 10.4953 6.6998L15.0953 11.2998C15.1953 11.3998 15.2661 11.5081 15.3078 11.6248C15.3495 11.7415 15.3703 11.8665 15.3703 11.9998C15.3703 12.1331 15.3495 12.2581 15.3078 12.3748C15.2661 12.4915 15.1953 12.5998 15.0953 12.6998L10.4953 17.2998C10.312 17.4831 10.0786 17.5748 9.79531 17.5748C9.51198 17.5748 9.27865 17.4831 9.09531 17.2998C8.91198 17.1165 8.82031 16.8831 8.82031 16.5998C8.82031 16.3165 8.91198 16.0831 9.09531 15.8998L12.9953 11.9998Z' fill='%238E8E8E'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.culture .more {
    position: absolute; 
    /*wrapper를 기준으로 정렬, a::after 정렬의 기준 */
    right: 0;
    top: 80px;
}
.culture .more a {
    display: block;
    padding: 5px 26px 5px 5px;
    font-size: 15px;
    color: #555;
}
.culture .more a::after {
    content: "";
    position: absolute; /*more의 정렬*/
    right: 0;
    top: 4px;
    width: 21px; /*아이콘의 넓이*/
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='22' viewBox='0 0 21 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.625 11.5312H5.25C5.00208 11.5312 4.79427 11.4474 4.62656 11.2797C4.45885 11.112 4.375 10.9042 4.375 10.6562C4.375 10.4083 4.45885 10.2005 4.62656 10.0328C4.79427 9.8651 5.00208 9.78125 5.25 9.78125H9.625V5.40625C9.625 5.15833 9.70885 4.95052 9.87656 4.78281C10.0443 4.6151 10.2521 4.53125 10.5 4.53125C10.7479 4.53125 10.9557 4.6151 11.1234 4.78281C11.2911 4.95052 11.375 5.15833 11.375 5.40625V9.78125H15.75C15.9979 9.78125 16.2057 9.8651 16.3734 10.0328C16.5411 10.2005 16.625 10.4083 16.625 10.6562C16.625 10.9042 16.5411 11.112 16.3734 11.2797C16.2057 11.4474 15.9979 11.5312 15.75 11.5312H11.375V15.9062C11.375 16.1542 11.2911 16.362 11.1234 16.5297C10.9557 16.6974 10.7479 16.7812 10.5 16.7812C10.2521 16.7812 10.0443 16.6974 9.87656 16.5297C9.70885 16.362 9.625 16.1542 9.625 15.9062V11.5312Z' fill='%23555555' fill-opacity='0.5'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: 0.5s; 
}
.culture .more a:hover {
    color: #09847F;
}
.culture .more a:hover::after  {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='22' viewBox='0 0 21 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.625 11.5312H5.25C5.00208 11.5312 4.79427 11.4474 4.62656 11.2797C4.45885 11.112 4.375 10.9042 4.375 10.6562C4.375 10.4083 4.45885 10.2005 4.62656 10.0328C4.79427 9.8651 5.00208 9.78125 5.25 9.78125H9.625V5.40625C9.625 5.15833 9.70885 4.95052 9.87656 4.78281C10.0443 4.6151 10.2521 4.53125 10.5 4.53125C10.7479 4.53125 10.9557 4.6151 11.1234 4.78281C11.2911 4.95052 11.375 5.15833 11.375 5.40625V9.78125H15.75C15.9979 9.78125 16.2057 9.8651 16.3734 10.0328C16.5411 10.2005 16.625 10.4083 16.625 10.6562C16.625 10.9042 16.5411 11.112 16.3734 11.2797C16.2057 11.4474 15.9979 11.5312 15.75 11.5312H11.375V15.9062C11.375 16.1542 11.2911 16.362 11.1234 16.5297C10.9557 16.6974 10.7479 16.7812 10.5 16.7812C10.2521 16.7812 10.0443 16.6974 9.87656 16.5297C9.70885 16.362 9.625 16.1542 9.625 15.9062V11.5312Z' fill='%2309847F' fill-opacity='0.5'/%3E%3C/svg%3E%0A");
    transform: rotate(180deg);
}
.tour {
    background-color: #F7F7F7 ;
    padding: 109px 0 179px 0;
    margin: 112px 0 0 0;
}
.tour .wrapper {
    position: relative; /*more 정렬의 기준*/
}
.tour h2 {
    margin-bottom: 11px;
    color: #1d1d1d;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
}
.tour .list {
    margin: 43px 0 0 0;
}
.tour .list ul {
    display: flex;
    justify-content: space-between;
}
.tour .list ul li {
    width: 190px;
}
.tour .list ul li a {
    display: block;
    height: 358px;
    background-position:  center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 257px  0 0 0;
}
.tour .list ul li.bg1 a {
    background-image: url(../images/tour_bg1.jpg);
}
.tour .list ul li.bg2 a {
    background-image: url(../images/tour_bg2.jpg);
}
.tour .list ul li.bg3 a {
    background-image: url(../images/tour_bg3.jpg);
}
.tour .list ul li.bg4 a {
    background-image: url(../images/tour_bg4.jpg);
}
.tour .list ul li a h3 {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.2;
}
.tour .list ul li a p {
    margin: 15px 0;
    display: none; /* 숨기기*/
}
.tour .list ul li a span {
    padding: 0 26px 0 0 ;
    position: relative; /*after 정렬의 기준*/
    display: none; /* 숨기기*/
}
.tour .list ul li a span::after {
    content: "";
    position: absolute;
    right: 0;
    top: -2px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9953 11.9998L9.09531 8.0998C8.91198 7.91647 8.82031 7.68314 8.82031 7.3998C8.82031 7.11647 8.91198 6.88314 9.09531 6.6998C9.27865 6.51647 9.51198 6.4248 9.79531 6.4248C10.0786 6.4248 10.312 6.51647 10.4953 6.6998L15.0953 11.2998C15.1953 11.3998 15.2661 11.5081 15.3078 11.6248C15.3495 11.7415 15.3703 11.8665 15.3703 11.9998C15.3703 12.1331 15.3495 12.2581 15.3078 12.3748C15.2661 12.4915 15.1953 12.5998 15.0953 12.6998L10.4953 17.2998C10.312 17.4831 10.0786 17.5748 9.79531 17.5748C9.51198 17.5748 9.27865 17.4831 9.09531 17.2998C8.91198 17.1165 8.82031 16.8831 8.82031 16.5998C8.82031 16.3165 8.91198 16.0831 9.09531 15.8998L12.9953 11.9998Z' fill='white'/%3E%3C/svg%3E%0A");;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* li에 오버해서 on클래스가 추가 되었을때*/
.tour .list ul li.on {
    width: 618px;
}
.tour .list ul li.on a {
    text-align: left;
    padding: 220px  0 0 45px;
}
.tour .list ul li.on a h3 {
    font-size: 25px;
}
.tour .list ul li.on a p {
    display: block; 
    /* display:none으로 숨김 요소는 none이외의 다른 값만 주면됨*/
}
.tour .list ul li.on a span {
    display: inline-block;
    /* display:none으로 숨김 요소는 none이외의 다른 값만 주면됨*/
}
.tour .more {
    position: absolute; /* a::agter 정렬의 기준 */
    right: 0;
    top: 85px;
}
.tour .more a {
    display: block;
    padding: 5px 29px 4px 5px ;
}
.tour .more a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 4px;
    width: 21px;
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='21' viewBox='0 0 22 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.83594 11.375H5.46094C5.21302 11.375 5.00521 11.2911 4.8375 11.1234C4.66979 10.9557 4.58594 10.7479 4.58594 10.5C4.58594 10.2521 4.66979 10.0443 4.8375 9.87656C5.00521 9.70885 5.21302 9.625 5.46094 9.625H9.83594V5.25C9.83594 5.00208 9.91979 4.79427 10.0875 4.62656C10.2552 4.45885 10.463 4.375 10.7109 4.375C10.9589 4.375 11.1667 4.45885 11.3344 4.62656C11.5021 4.79427 11.5859 5.00208 11.5859 5.25V9.625H15.9609C16.2089 9.625 16.4167 9.70885 16.5844 9.87656C16.7521 10.0443 16.8359 10.2521 16.8359 10.5C16.8359 10.7479 16.7521 10.9557 16.5844 11.1234C16.4167 11.2911 16.2089 11.375 15.9609 11.375H11.5859V15.75C11.5859 15.9979 11.5021 16.2057 11.3344 16.3734C11.1667 16.5411 10.9589 16.625 10.7109 16.625C10.463 16.625 10.2552 16.5411 10.0875 16.3734C9.91979 16.2057 9.83594 15.9979 9.83594 15.75V11.375Z' fill='%238E8E8E'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.5s; 
    /*변화가 있을 예정 그때 변화를 부드럽게 처리 */
}
.tour .more a:hover {
    color: #09847F;
}
.tour .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='21' viewBox='0 0 22 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.83594 11.375H5.46094C5.21302 11.375 5.00521 11.2911 4.8375 11.1234C4.66979 10.9557 4.58594 10.7479 4.58594 10.5C4.58594 10.2521 4.66979 10.0443 4.8375 9.87656C5.00521 9.70885 5.21302 9.625 5.46094 9.625H9.83594V5.25C9.83594 5.00208 9.91979 4.79427 10.0875 4.62656C10.2552 4.45885 10.463 4.375 10.7109 4.375C10.9589 4.375 11.1667 4.45885 11.3344 4.62656C11.5021 4.79427 11.5859 5.00208 11.5859 5.25V9.625H15.9609C16.2089 9.625 16.4167 9.70885 16.5844 9.87656C16.7521 10.0443 16.8359 10.2521 16.8359 10.5C16.8359 10.7479 16.7521 10.9557 16.5844 11.1234C16.4167 11.2911 16.2089 11.375 15.9609 11.375H11.5859V15.75C11.5859 15.9979 11.5021 16.2057 11.3344 16.3734C11.1667 16.5411 10.9589 16.625 10.7109 16.625C10.463 16.625 10.2552 16.5411 10.0875 16.3734C9.91979 16.2057 9.83594 15.9979 9.83594 15.75V11.375Z' fill='%2309847F'/%3E%3C/svg%3E%0A");
    transform: rotate(180deg);
}
.community {
    height: 804px;
    background: url(../images/community_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.community .wrapper {
    display: flex;
    justify-content: space-around;
}
.community .tit {
    margin: 148px 0 0 0;
}
.community .tit h2 {
    margin: 6px 0 6px 0;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
}
.community .inner {
    margin: 151px 0 0 0;
    display: flex;
}
.community .notice {
    width: 578px;
    height: 323px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    padding: 34px 46px 0 46px; 
    background-color: rgba(44, 108, 186, 0.6);
    position: relative;/*more 정렬의 기준*/
    
}
.community .notice h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
}
.community .notice .list {
    margin: 15px 0 0 0 ; 
}
.community .notice .list ul li {
    border-bottom:  1px solid rgba(255,255,255, 0.2);
}
.community .notice .list ul li:last-child {
    border-bottom: 0;
}
.community .notice .list ul li a {
    display: flex;
    justify-content: space-between;
    padding: 7px 0 7px 0;
    align-items: center;   
}
.community .notice .list ul li a strong {
    position: relative; /*strong:: after 정렬의 기준*/
}
.community .notice .list ul li a:hover strong {
    width: 700;
    text-decoration: underline;
}
.community .notice .list ul li a span {
    font-size: 17px;
    font-weight: 400;
    color: rgba(255,255,255,0.8);
}
.community .notice .more {
    position: absolute; /*notice 를 기준으로 정렬, a::before의 정렬의 기준*/
    right: 48px;
    top: 35px;
}
.community .notice .more a {
    display: block;
    width: 21px; /*아이콘의 크기*/
    height: 21px;
    font-size: 0; /*html 코드에 쓴 글자 안보이게 하기*/
    line-height: 0;
}
.community .notice .more a::before {
    content: "";
    position: absolute; /*more를기준으로 정렬*/
    left: 0;
    top: 0;
    width: 100%; /*a에 이미지 아이콘 사이즈가 입력됨, 그걸 꽉채우면 됨*/
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='21' viewBox='0 0 22 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.084 11.375H5.50065C5.24093 11.375 5.02322 11.2911 4.84753 11.1234C4.67183 10.9557 4.58398 10.7479 4.58398 10.5C4.58398 10.2521 4.67183 10.0443 4.84753 9.87656C5.02322 9.70885 5.24093 9.625 5.50065 9.625H10.084V5.25C10.084 5.00208 10.1718 4.79427 10.3475 4.62656C10.5232 4.45885 10.7409 4.375 11.0007 4.375C11.2604 4.375 11.4781 4.45885 11.6538 4.62656C11.8295 4.79427 11.9173 5.00208 11.9173 5.25V9.625H16.5007C16.7604 9.625 16.9781 9.70885 17.1538 9.87656C17.3295 10.0443 17.4173 10.2521 17.4173 10.5C17.4173 10.7479 17.3295 10.9557 17.1538 11.1234C16.9781 11.2911 16.7604 11.375 16.5007 11.375H11.9173V15.75C11.9173 15.9979 11.8295 16.2057 11.6538 16.3734C11.4781 16.5411 11.2604 16.625 11.0007 16.625C10.7409 16.625 10.5232 16.5411 10.3475 16.3734C10.1718 16.2057 10.084 15.9979 10.084 15.75V11.375Z' fill='white' fill-opacity='0.7'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    transition: 0.5s;
    /* 오버 후에 class명이 추가된 이후
        속성이 변화가 있으면 1초동안 자연스럽게 변경*/
}
.community .notice .more a:hover::before {
    transform: rotate(180deg);

}
.community .link { 
    margin: 101px 0 0 24px;
    width: 282px; /*li 두개가 들어가는 넓이를 줌*/
}
.community .link ul{
    display: flex;
    flex-wrap: wrap; 
    /* 줄바꿈 허용 - flex는 무조건  한줄로 배치하려고 해서
       두줄 이상으로 구현 할때 반드시 줘야함*/
    gap: 13px; /*flex 정렬되는 요소들 사이 여백*/
}
.community .link ul li  {
    width: 134px;
}
.community .link ul li a {
    height: 101px;
    display: block;
    border-radius: 20px;
    backdrop-filter: blur(5px); 
    background-color: rgba(44, 108, 186, 0.6);

    padding: 20px 0 0 22px; /*글자를 안쪽으로 밀어내려보내는*/
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    position: relative ; /*after 정렬 기준으로 */
}
.community .link ul li a:hover {
    background-color: #09847F;
}
.community .link ul li a::after {
    content: "";
    position: absolute;
    right: 14px;
    bottom: 20px;
    width: 22px;
    height: 22px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.community .link ul li.ico1 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='22' viewBox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00065 18.875C4.76454 18.875 4.56662 18.7911 4.4069 18.6234C4.24718 18.4557 4.16732 18.2479 4.16732 18V16.2063C3.91732 15.9146 3.71593 15.5901 3.56315 15.2328C3.41037 14.8755 3.33398 14.4854 3.33398 14.0625V5.75C3.33398 4.53958 3.86871 3.65365 4.93815 3.09219C6.0076 2.53073 7.6951 2.25 10.0007 2.25C12.3895 2.25 14.0979 2.51979 15.1257 3.05937C16.1534 3.59896 16.6673 4.49583 16.6673 5.75V14.0625C16.6673 14.4854 16.5909 14.8755 16.4382 15.2328C16.2854 15.5901 16.084 15.9146 15.834 16.2063V18C15.834 18.2479 15.7541 18.4557 15.5944 18.6234C15.4347 18.7911 15.2368 18.875 15.0007 18.875H14.1673C13.9312 18.875 13.7333 18.7911 13.5736 18.6234C13.4138 18.4557 13.334 18.2479 13.334 18V17.125H6.66732V18C6.66732 18.2479 6.58746 18.4557 6.42773 18.6234C6.26801 18.7911 6.0701 18.875 5.83398 18.875H5.00065ZM10.0423 4.875H14.709H5.37565H10.0423ZM13.334 11H5.00065H15.0007H13.334ZM5.00065 9.25H15.0007V6.625H5.00065V9.25ZM7.08398 14.5C7.43121 14.5 7.72635 14.3724 7.9694 14.1172C8.21246 13.862 8.33398 13.5521 8.33398 13.1875C8.33398 12.8229 8.21246 12.513 7.9694 12.2578C7.72635 12.0026 7.43121 11.875 7.08398 11.875C6.73676 11.875 6.44162 12.0026 6.19857 12.2578C5.95551 12.513 5.83398 12.8229 5.83398 13.1875C5.83398 13.5521 5.95551 13.862 6.19857 14.1172C6.44162 14.3724 6.73676 14.5 7.08398 14.5ZM12.9173 14.5C13.2645 14.5 13.5597 14.3724 13.8027 14.1172C14.0458 13.862 14.1673 13.5521 14.1673 13.1875C14.1673 12.8229 14.0458 12.513 13.8027 12.2578C13.5597 12.0026 13.2645 11.875 12.9173 11.875C12.5701 11.875 12.275 12.0026 12.0319 12.2578C11.7888 12.513 11.6673 12.8229 11.6673 13.1875C11.6673 13.5521 11.7888 13.862 12.0319 14.1172C12.275 14.3724 12.5701 14.5 12.9173 14.5ZM5.37565 4.875H14.709C14.5007 4.62708 14.0527 4.41927 13.3652 4.25156C12.6777 4.08385 11.5701 4 10.0423 4C8.55621 4 7.4694 4.09115 6.7819 4.27344C6.0944 4.45573 5.62565 4.65625 5.37565 4.875ZM6.66732 15.375H13.334C13.7923 15.375 14.1847 15.2036 14.5111 14.8609C14.8375 14.5182 15.0007 14.1062 15.0007 13.625V11H5.00065V13.625C5.00065 14.1062 5.16385 14.5182 5.49023 14.8609C5.81662 15.2036 6.20898 15.375 6.66732 15.375Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
}
.community .link ul li.ico2 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='19' viewBox='0 0 21 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.75 15.833H12.25V14.9622L13.3438 14.5663C14.2917 14.2233 15.0974 13.745 15.7609 13.1314C16.4245 12.5179 16.9021 11.8351 17.1938 11.083H3.80625C4.09792 11.8351 4.57188 12.5179 5.22813 13.1314C5.88438 13.745 6.69375 14.2233 7.65625 14.5663L8.75 14.9622V15.833ZM7 17.4163V16.0309C5.43958 15.4768 4.17448 14.6191 3.20469 13.458C2.2349 12.2969 1.75 10.9775 1.75 9.49967H3.5V3.16634L19.25 1.58301V2.77051L9.1875 3.79967V5.14551H19.25V6.33301H9.1875V9.49967H19.25C19.25 10.9775 18.7651 12.2969 17.7953 13.458C16.8255 14.6191 15.5604 15.4768 14 16.0309V17.4163H7ZM7 5.14551H7.875V3.91842L7 4.01738V5.14551ZM4.8125 5.14551H5.6875V4.15592L4.8125 4.23509V5.14551ZM7 9.49967H7.875V6.33301H7V9.49967ZM4.8125 9.49967H5.6875V6.33301H4.8125V9.49967Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
}
.community .link ul li.ico3 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='21' viewBox='0 0 22 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.66602 18.375V10.1719L2.01602 11.375L0.916016 9.975L3.66602 7.9625V5.25H5.49935V6.62812L10.9993 2.625L21.0827 9.975L19.9827 11.3531L18.3327 10.1719V18.375H3.66602ZM5.49935 16.625H10.0827V13.125H11.916V16.625H16.4993V8.8375L10.9993 4.83437L5.49935 8.8375V16.625ZM3.66602 4.375C3.66602 3.64583 3.93338 3.02604 4.4681 2.51562C5.00282 2.00521 5.65213 1.75 6.41602 1.75C6.67574 1.75 6.89345 1.66615 7.06914 1.49844C7.24483 1.33073 7.33268 1.12292 7.33268 0.875H9.16602C9.16602 1.60417 8.89865 2.22396 8.36393 2.73437C7.82921 3.24479 7.1799 3.5 6.41602 3.5C6.15629 3.5 5.93858 3.58385 5.76289 3.75156C5.5872 3.91927 5.49935 4.12708 5.49935 4.375H3.66602Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
}
.community .link ul li.ico4 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75 19.25L6.125 7L14 14.875L1.75 19.25ZM4.6375 16.3625L10.8063 14.175L6.825 10.1937L4.6375 16.3625ZM12.7313 10.9812L11.8125 10.0625L16.7125 5.1625C17.1792 4.69583 17.7406 4.4625 18.3969 4.4625C19.0531 4.4625 19.6146 4.69583 20.0813 5.1625L20.6063 5.6875L19.6875 6.60625L19.1625 6.08125C18.9583 5.87708 18.7031 5.775 18.3969 5.775C18.0906 5.775 17.8354 5.87708 17.6313 6.08125L12.7313 10.9812ZM9.23125 7.48125L8.3125 6.5625L8.8375 6.0375C9.04167 5.83333 9.14375 5.58542 9.14375 5.29375C9.14375 5.00208 9.04167 4.75417 8.8375 4.55L8.26875 3.98125L9.1875 3.0625L9.75625 3.63125C10.2229 4.09792 10.4563 4.65208 10.4563 5.29375C10.4563 5.93542 10.2229 6.48958 9.75625 6.95625L9.23125 7.48125ZM10.9813 9.23125L10.0625 8.3125L13.2125 5.1625C13.4167 4.95833 13.5188 4.70312 13.5188 4.39687C13.5188 4.09062 13.4167 3.83542 13.2125 3.63125L11.8125 2.23125L12.7313 1.3125L14.1313 2.7125C14.5979 3.17917 14.8313 3.74062 14.8313 4.39687C14.8313 5.05312 14.5979 5.61458 14.1313 6.08125L10.9813 9.23125ZM14.4813 12.7312L13.5625 11.8125L14.9625 10.4125C15.4292 9.94583 15.9906 9.7125 16.6469 9.7125C17.3031 9.7125 17.8646 9.94583 18.3313 10.4125L19.7313 11.8125L18.8125 12.7312L17.4125 11.3312C17.2083 11.1271 16.9531 11.025 16.6469 11.025C16.3406 11.025 16.0854 11.1271 15.8813 11.3312L14.4813 12.7312Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E ");
}

footer {
    background-color: #2d2d2d;
    padding: 76px 0 85px 0;
    color: rgba(255,255,255,0.8);
}
footer .f_nav ul {
    display: flex;
    gap: 44px;
    /* flex로 정렬되는 li 사이의 여백 - 하위버전에서는 구현이 안될지도 모름*/
}
footer .f_nav ul li {
    position: relative; /* after 정렬의 기준*/
}
footer .f_nav ul li::after {
    content: "";
    position: absolute; /* li를 기준으로*/
    right: -24px;
    top: 5px;
    width: 1px;
    height: 9px;
    background-color: rgba(255,255,255, 0.3);
}
footer .f_nav ul li:last-child::after {
    display: none; /*마지막 li의 선을 숨김*/
}footer .f_nav ul li.privacy a {
    color: #2C6CBA;
    font-weight: 700;
}
footer .f_info {
    margin: 30px 0 30px 0;
    display: flex;
    gap: 22px;
}
footer .copyright {
    color: rgba(255,255,255,0.6);
} 
footer .copyright .license {
    position: relative; /*after 정렬의기준*/
    display: inline-block;
    /*licence를 문자의 길이에 맞게 넓이가 들억가게 설정
    after도 글자 글이에 맞게 드려짐
    license가 block 요소라 넓이가 100%라서
    inline-block으로 변경해서 글자의 길이에 맞게 설정*/
}
footer .copyright .license::after {
    content: "";
    position: absolute; /*license를 기준으로 정렬*/
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255, 0.2);
}