/*
    contents.css
    콘텐츠 페이지 (인사말, 연력, 찾아오시는길) 스타일 저장
*/

/*회사소개 > ceo */
.cnt_history {
    margin: 0 0 100px 0;
}
.cnt_ceo .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.cnt_ceo .inner h2 {
    font-size: 2.0588rem;
    font-weight: 700;
    color: #1d1d1d;
    margin: 2.0em 0 0.8571em 0;
}
.cnt_ceo .sign {
    display: flex;
}
.cnt_ceo .sign strong{
    color: #1d1d1d;
    font-size: 1.1765rem;
    margin: 1em 1em 8em 0;
}
.cnt_ceo .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cnt_ceo .photo  { /*왼쪽 사진*/
    width: 51.03%;
}
.cnt_ceo .inner { /* 오른쪽 글자 */
    width: 44.52%;
}

@media screen and (max-width:1000px){
                .cnt_ceo .wrapper {
                    display: block;
                }
                .cnt_ceo .inner h2 {
                    font-size: 1.9231rem;
                    font-weight: 700;
                    color: #1d1d1d;
                    margin: 0.8em 0  0.8em 0;
                }
                .cnt_ceo .sign {
                    display: flex;
                    margin: 1.5em 0 0 0;
                }
                .cnt_ceo .sign strong {
                    color: #1d1d1d;
                    font-size: 1.1538em;
                } 
                .cnt_ceo .photo img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                .cnt_ceo .photo  { /*왼쪽 사진*/
                    width: auto;
                }
                .cnt_ceo .inner { /* 오른쪽 글자 */
                    width: auto;
                }
} /*media*/

/* 회사소개 > 연혁 */
.cnt_history {
    margin: 0 0 100px 0;
}
.cnt_history .history_tab {
    position: fixed; /* 무조건 body랑 정렬 */
    left: 50%;
    bottom: -5em;
    z-index: 50;
    transform: translateX(-50%);
    max-width: 1260px;
    width: calc(100% - 40px);
    background-color: #F4F4F4;
    border: 1px solid #F4F4F4;
    border-radius: 4em;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    overflow-x: auto; /* 가로스크롤 허용*/
    transition: bottom 0.5s;
}
.cnt_history .history_tab.active {
    bottom: 1.17em;
}
.cnt_history .history_tab ul {
    display: flex;
    margin :  0.7059em 5% ;
}
.cnt_history .history_tab ul li {
    width: 50%;
}
.cnt_history .history_tab ul li button {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 2.7059em;
    font-weight: 700;
    white-space: nowrap;
    padding: 0 1.7143em;
}
.cnt_history .history_tab ul li.active button {
    background-color: #EB2020;
    border: 1px solid #EB2020;
    border-radius: 1.5em;
    color: #fff;
}
.cnt_history .history_wrap {
    position: relative; /*before*/
}
.cnt_history .history_wrap::before { /*가운데 짝대기 */
    content: "";
    position: absolute;
    left: calc(50% - 1px);
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #ededed;
}


.cnt_history .history_wrap .year_wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 0 11.5882em 0;
}
.cnt_history .history_wrap .year_wrap.photo_right {
    flex-direction: row-reverse;
}
.cnt_history .history_wrap .year_wrap .his_tit {
    width: 45%; /*브라우저 작아질때 같이 작아짐 */
}
.cnt_history .history_wrap .year_wrap .his_tit h2 {
    font-size: 2.0588rem;
    color: #EB2020;
    font-weight: 700;
}
.cnt_history .history_wrap .year_wrap .his_tit .photo {
    overflow: hidden;
    border-radius: 0 2.9412em 0 2.9412em;
    margin: 1.4706em 0 0 0;
    height: 30.5882em;
}
.cnt_history .history_wrap .year_wrap .his_tit .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cnt_history .history_wrap .year_wrap .his_cont {
    width: 50%; /*브라우저 작아질때 같이 작아짐 */
    margin-top:  5.3529em;
}
.cnt_history .history_wrap .year_wrap .his_cont .his_row + .his_row {
    margin-top: 5em;
}
.cnt_history .history_wrap .year_wrap .his_cont .his_row h3 {
    font-size: 1.7647rem;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
    padding: 0 0 0 1.2em;
    position: relative; /* before 정렬의 기준*/
}
.cnt_history .history_wrap .year_wrap .his_cont .his_row h3::before {
    content: "";
    position: absolute;
    left: -0.2333em;
    bottom: 0.2667em;
    z-index: 1;
    width: 0.4667em;
    height: 0.4667em;
    border-radius: 50%;
    background-color: var(--main-color);
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7' cy='7' r='7' fill='%23EB2020'/%3E%3C/svg%3E%0A");
}
.cnt_history .history_wrap .year_wrap:first-child .his_cont .his_row:first-child h3::after {
    content: "";
    position: absolute; /* h3를 기준으로 */
    left: -2px;
    bottom: 0.6em;
    width: 4px;
    height: 6em;
    background-color: #fff;
}
.cnt_history .history_wrap .year_wrap:last-child .his_cont .his_row:last-child  {
    position: relative; /* after 정렬의 기준 */
}
.cnt_history .history_wrap .year_wrap:last-child .his_cont .his_row:last-child::after {
    content: "";
    position: absolute; /* h3를 기준으로 */
    right: -2px;
    bottom: 0;
    width: 4px;
    height: calc(100% - 0.5em);
    background-color: #fff;
}
.cnt_history .history_wrap .year_wrap .his_cont .his_row ul {
    margin: 1.2941em 0 0 4.4118em;
}
.cnt_history .history_wrap .year_wrap .his_cont .his_row ul li + li {
    margin: 0.8824em 0 0 0;
}
.cnt_history .history_wrap .year_wrap .his_cont .his_row ul li strong {
    font-weight: 700;
    color: #1d1d1d;
    float: left; /* 다음태그 span태그가 strong태그를 인식하지 못함 - 부유요소 */
}
.cnt_history .history_wrap .year_wrap .his_cont .his_row ul li span {
    margin-left: 5.0588em; /* 앞에 strong태그까지 포함한 여백을 줌 */
    display: block;
}
.cnt_history .history_wrap .year_wrap .his_cont .his_row ul li span + span {
    margin-top: 0.4706em;
}

@media screen and (min-width:1001px){
            /* 사진이 오른쪽인 경우 -- > 좌우 대칭의 경우 (시작) */
            .cnt_history .history_wrap .year_wrap.photo_right .his_cont .his_row h3 {
                text-align: right;
                padding: 0 1.2em 0 0;
            }
            .cnt_history .history_wrap .year_wrap.photo_right .his_cont .his_row h3::before {
                left: auto;
                right: -0.2em;
            }
            .cnt_history .history_wrap .year_wrap.photo_right .his_cont .his_row ul {
                margin: 1.2941em 4.4118em 0 0;
            }
            .cnt_history .history_wrap .year_wrap.photo_right .his_cont .his_row ul li strong {
                float: right;
            }
            .cnt_history .history_wrap .year_wrap.photo_right .his_cont .his_row ul li span {
                margin: 0 5.0588em 0 0; /* 앞에 strong태그까지 포함한 여백을 줌 */
                text-align: right;
            }
            /* 사진이 오른쪽인 경우 -- > 좌우 대칭의 경우 (종료) */
}

@media screen and (max-width:1000px){
            .cnt_history {
                margin: 0 0 50px 0;
            }
            .cnt_history .history_wrap::before {
                display: none;
            }
            .cnt_history .history_wrap .year_wrap {
                display: block; /* flex 해제 */
                margin: 0 0 7em 0;
            }
            .cnt_history .history_wrap .year_wrap .his_tit {
                max-width: 100%;
            }
            .cnt_history .history_wrap .year_wrap .his_tit h2 {
                font-size: 1.7857rem;
            }
            .cnt_history .history_wrap .year_wrap .his_tit .photo {
                border-radius: 0 2.1429em 0 2.1429em;
                margin: 0.7857em 0 0 0;
                height: 22em;
                width: 27.6923em;
            }
            .cnt_history .history_wrap .year_wrap .his_cont {
                width: auto;
                margin-top: 4em;
                position: relative;
            }
            .cnt_history .history_wrap .year_wrap .his_cont::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0.5em;
                width: 2px;
                height: calc(100% - 0.5em);
                background-color: #ededed;
            }
            .cnt_history .history_wrap .year_wrap .his_cont .his_row:last-child {
                position: relative;
            }
            .cnt_history .history_wrap .year_wrap .his_cont .his_row:last-child::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 2px;
                height: calc(100% - 0.5em);
                background-color: #fff;
            }
            .cnt_history .history_wrap .year_wrap .his_cont .his_row + .his_row {
                margin-top: 3.5em;
            }
            .cnt_history .history_wrap .year_wrap .his_cont .his_row h3 {
                font-size: 1.4286rem;
            }
            .cnt_history .history_wrap .year_wrap .his_cont .his_row ul {
                margin: 1.2857em 0 0 2.5714em;
            }
            
            .cnt_history .history_wrap .year_wrap:first-child .his_cont .his_row:first-child h3::after {
                display: none;
            }
            .cnt_history .history_wrap .year_wrap:last-child .his_cont .his_row:last-child::after {
                display: none;
            }
}

/* 회사소개 > 찾아오시는길 */
.cnt_map .map_wrap .map {
    position: relative; 
    left: calc(50% - 630px);
    width: calc(50% + 630px);
    height: 47.0588em;
}
.cnt_map .map_wrap .map h2 {
    display: none;
}
.cnt_map .map_wrap .map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
.cnt_map .map_tit {
    margin: 4.7059em 0 6.4118em 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.cnt_map .map_tit .map_btn {
    display: flex;
    gap: 0.5882em;
}
.cnt_map .map_tit .map_btn a {
    border: 1px solid #555;
    padding: 1em 1.7em 1em 3.5294em;
    color: #1d1d1d;
    border-radius: 2em;
    position: relative;
}
.cnt_map .map_tit .map_btn a::before {
    content: "";
    position: absolute;
    left: 1.1765em;
    top: 0.7059em;
    width: 1.6471em;
    height: 1.6471em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.cnt_map .map_tit .map_btn a.kakao::before{
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='14' cy='14' r='14' fill='%23F7DF49'/%3E%3Cpath d='M18.0208 10.4518C16.8077 9.2936 14.7136 8.75079 12.786 9.10933C12.427 9.17603 12.0751 9.26525 11.7407 9.38115C11.4263 9.48954 11.1283 9.62128 10.8538 9.7747C10.5852 9.92479 10.3411 10.0966 10.1241 10.2842C9.90236 10.4759 9.70996 10.6852 9.54571 10.9037C9.31225 11.2147 9.1175 11.5324 9.0565 11.8851C9.00957 12.1535 8.99315 12.4287 9.00253 12.6989C9.00722 12.8189 9.01309 12.9398 9.03538 13.0591C9.0565 13.1683 9.0694 13.275 9.10929 13.3826C9.15035 13.4901 9.20432 13.5944 9.26767 13.6961C9.40024 13.9104 9.56097 14.1188 9.73108 14.3181C9.97275 14.6024 10.2473 14.8717 10.5406 15.1302C10.6767 15.2503 10.8163 15.3679 10.9582 15.4838C11.2621 15.7314 11.5577 15.984 11.8264 16.2509C11.9613 16.3859 12.0903 16.5243 12.2077 16.6669C12.3226 16.807 12.4094 16.9579 12.5221 17.098C12.7637 17.4007 12.9808 17.7142 13.1697 18.036C13.2647 18.197 13.3527 18.3596 13.4336 18.5238C13.4876 18.6322 13.5334 18.7531 13.6178 18.8523C13.7023 18.9516 13.8349 19.0024 13.9979 18.9999C14.3487 18.9941 14.4074 18.7698 14.5024 18.5805C15.0902 17.4174 15.8961 16.3451 17.074 15.4237C17.5151 15.0785 17.9093 14.7067 18.2484 14.3056C19.3242 13.0365 19.242 11.6166 18.0219 10.4509L18.0208 10.4518ZM14.0003 13.7636C13.0617 13.7703 12.3097 13.2458 12.3086 12.5846C12.3086 11.9309 13.0758 11.3848 13.9921 11.3889C14.8849 11.3923 15.638 11.9226 15.6556 12.5588C15.6744 13.2208 14.9365 13.757 14.0003 13.7636Z' fill='%231F7FF6'/%3E%3C/svg%3E%0A");
}
.cnt_map .map_tit .map_btn a.naver::before{
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_286_244)'%3E%3Cpath d='M0 13.9878C0 6.26242 6.26787 0 14 0C21.7321 0 28 6.26242 28 13.9878V14.0122C28 21.7376 21.7321 28 14 28C6.26787 28 0 21.7376 0 14.0122' fill='url(%23paint0_linear_286_244)'/%3E%3Cpath d='M16.2356 14.4395L11.5795 7.75684H7.7207V20.2427H11.7635V13.56L16.4196 20.2427H20.2796V7.75684H16.2356V14.4395Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_286_244' x1='11.5075' y1='0.235514' x2='11.5075' y2='28.1637' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2366BD59'/%3E%3Cstop offset='1' stop-color='%2318B265'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_286_244'%3E%3Crect width='28' height='28' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.cnt_map .map_tit .map_btn a:hover {
    border: #3d3d3d;
    background-color: #3d3d3d;
    color: #fff;
    font-weight: 700;
}
.cnt_map .map_tit address {
    font-size: 1.7647rem;
    color: #1d1d1d;
    font-weight: 700;
    line-height: 1.2;
}
.cnt_map .map_cont {
    border-top: 1px solid #ccc;
    margin: 0 0  4.4706em 0;
    display: flex;
    justify-content: space-between;
}
.cnt_map .map_cont h2 {
    font-size: 1.7647rem;
    color: #1d1d1d;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 1em;
}
.cnt_map .map_cont .inner {
    width: calc(100% - 12.4706em);
    margin-top: 2em;
}
.cnt_map .map_cont .map_item + .map_item{
    margin-top: 1.2353em;
}
.cnt_map .map_cont .map_item h3 {
    color: #1d1d1d;
    font-weight: 700;
    float: left; /* 부유요소 - p가 인식을 못함 */
}
.cnt_map .map_cont .map_item P {
    margin-left: 5.2353em;
}
.cnt_map .map_cont .map_item P + P {
    margin-top: 0.4118em;
}
.cnt_map .map_cont .map_etc {
    margin-top: 2.3529em;
}
.cnt_map .map_cont .map_etc p {
    font-size: 0.8824rem;
    color: #8E8E8E;
    padding-left: 1.2em;
    position: relative;
    margin: 0 0 0.5em 0;
}
.cnt_map .map_cont .map_etc p::before {
    content: "※";
    position: absolute;
    left: 0;
    top: 0;
}
.cnt_map .map_cont .map_etc a {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3em;
    font-size: 0.8824rem;
    color: #555;
    padding: 0.5em 3.8667em 0.5333em 2.2em;
    border-color: #8E8E8E;
    position: relative;
    background-color: #ededed;
}
.cnt_map .map_cont .map_etc a::after {
    content: "";
    position: absolute;
    right: 1.9333em;
    top: 0.6em;
    width: 1.4em;
    height: 1.4em;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.64428 17.9375C4.20226 17.9375 3.82812 17.7844 3.52187 17.4781C3.21563 17.1719 3.0625 16.7977 3.0625 16.3557V4.64428C3.0625 4.20226 3.21563 3.82812 3.52187 3.52187C3.82812 3.21563 4.20226 3.0625 4.64428 3.0625H10.1633V4.375H4.64428C4.57691 4.375 4.51522 4.40307 4.45922 4.45922C4.40307 4.51522 4.375 4.57691 4.375 4.64428V16.3557C4.375 16.4231 4.40307 16.4848 4.45922 16.5408C4.51522 16.5969 4.57691 16.625 4.64428 16.625H16.3557C16.4231 16.625 16.4848 16.5969 16.5408 16.5408C16.5969 16.4848 16.625 16.4231 16.625 16.3557V10.8367H17.9375V16.3557C17.9375 16.7977 17.7844 17.1719 17.4781 17.4781C17.1719 17.7844 16.7977 17.9375 16.3557 17.9375H4.64428ZM8.50434 13.4177L7.58231 12.4957L15.703 4.375H12.25V3.0625H17.9375V8.75H16.625V5.29703L8.50434 13.4177Z' fill='%238E8E8E'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.cnt_map .map_cont .map_etc a:hover {
    background-color: #EB2020;
    border-color: #EB2020;
    color: #fff;
}
.cnt_map .map_cont .map_etc a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.64428 17.9375C4.20226 17.9375 3.82812 17.7844 3.52187 17.4781C3.21563 17.1719 3.0625 16.7977 3.0625 16.3557V4.64428C3.0625 4.20226 3.21563 3.82812 3.52187 3.52187C3.82812 3.21563 4.20226 3.0625 4.64428 3.0625H10.1633V4.375H4.64428C4.57691 4.375 4.51522 4.40307 4.45922 4.45922C4.40307 4.51522 4.375 4.57691 4.375 4.64428V16.3557C4.375 16.4231 4.40307 16.4848 4.45922 16.5408C4.51522 16.5969 4.57691 16.625 4.64428 16.625H16.3557C16.4231 16.625 16.4848 16.5969 16.5408 16.5408C16.5969 16.4848 16.625 16.4231 16.625 16.3557V10.8367H17.9375V16.3557C17.9375 16.7977 17.7844 17.1719 17.4781 17.4781C17.1719 17.7844 16.7977 17.9375 16.3557 17.9375H4.64428ZM8.50434 13.4177L7.58231 12.4957L15.703 4.375H12.25V3.0625H17.9375V8.75H16.625V5.29703L8.50434 13.4177Z' fill='white'/%3E%3C/svg%3E%0A");
} 
@media screen and (max-width:1300px){
            .cnt_map .map_wrap .map {
                left: 20px;
                width: calc(100% - 20px);
            }
}/*media*/ 
@media screen and (max-width:1000px){
            .cnt_map .map_wrap .map {
                height: 14.6923em;
            }
            .cnt_map .map_tit {
                margin: 1.6154em 0 3.9231em 0 ;
                display: block;
            }
            .cnt_map .map_tit .map_btn {
                justify-content: center;
                margin: 0 0 4em 0;
            }
            .cnt_map .map_tit .map_btn a {
                padding: 0.5625em 1.3846em 0.5625em 3.5385em;
            }
            .cnt_map .map_tit .map_btn a::before {
                content: "";
                position: absolute;
                left: 1.4615em;
                top: 0.4615em;
            }
            .cnt_map .map_tit .map_btn a.kakao::before{
                background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='14' cy='14' r='14' fill='%23F7DF49'/%3E%3Cpath d='M18.0208 10.4518C16.8077 9.2936 14.7136 8.75079 12.786 9.10933C12.427 9.17603 12.0751 9.26525 11.7407 9.38115C11.4263 9.48954 11.1283 9.62128 10.8538 9.7747C10.5852 9.92479 10.3411 10.0966 10.1241 10.2842C9.90236 10.4759 9.70996 10.6852 9.54571 10.9037C9.31225 11.2147 9.1175 11.5324 9.0565 11.8851C9.00957 12.1535 8.99315 12.4287 9.00253 12.6989C9.00722 12.8189 9.01309 12.9398 9.03538 13.0591C9.0565 13.1683 9.0694 13.275 9.10929 13.3826C9.15035 13.4901 9.20432 13.5944 9.26767 13.6961C9.40024 13.9104 9.56097 14.1188 9.73108 14.3181C9.97275 14.6024 10.2473 14.8717 10.5406 15.1302C10.6767 15.2503 10.8163 15.3679 10.9582 15.4838C11.2621 15.7314 11.5577 15.984 11.8264 16.2509C11.9613 16.3859 12.0903 16.5243 12.2077 16.6669C12.3226 16.807 12.4094 16.9579 12.5221 17.098C12.7637 17.4007 12.9808 17.7142 13.1697 18.036C13.2647 18.197 13.3527 18.3596 13.4336 18.5238C13.4876 18.6322 13.5334 18.7531 13.6178 18.8523C13.7023 18.9516 13.8349 19.0024 13.9979 18.9999C14.3487 18.9941 14.4074 18.7698 14.5024 18.5805C15.0902 17.4174 15.8961 16.3451 17.074 15.4237C17.5151 15.0785 17.9093 14.7067 18.2484 14.3056C19.3242 13.0365 19.242 11.6166 18.0219 10.4509L18.0208 10.4518ZM14.0003 13.7636C13.0617 13.7703 12.3097 13.2458 12.3086 12.5846C12.3086 11.9309 13.0758 11.3848 13.9921 11.3889C14.8849 11.3923 15.638 11.9226 15.6556 12.5588C15.6744 13.2208 14.9365 13.757 14.0003 13.7636Z' fill='%231F7FF6'/%3E%3C/svg%3E%0A");
            }
            .cnt_map .map_tit .map_btn a.naver::before{
                background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_286_244)'%3E%3Cpath d='M0 13.9878C0 6.26242 6.26787 0 14 0C21.7321 0 28 6.26242 28 13.9878V14.0122C28 21.7376 21.7321 28 14 28C6.26787 28 0 21.7376 0 14.0122' fill='url(%23paint0_linear_286_244)'/%3E%3Cpath d='M16.2356 14.4395L11.5795 7.75684H7.7207V20.2427H11.7635V13.56L16.4196 20.2427H20.2796V7.75684H16.2356V14.4395Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_286_244' x1='11.5075' y1='0.235514' x2='11.5075' y2='28.1637' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2366BD59'/%3E%3Cstop offset='1' stop-color='%2318B265'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_286_244'%3E%3Crect width='28' height='28' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            }
            .cnt_map .map_tit .map_btn a:hover {
                border: #3d3d3d;
                background-color: #3d3d3d;
                color: #fff;
            }
            .cnt_map .map_tit address {
                font-size: 1.5385rem;
            }
            .cnt_map .map_tit address br {
                display: none;
            }
            .cnt_map .map_cont {
                margin: 0 0  3.8462em 0;
                display: block; /*flex 말고 다른거 주면 되는데 block이 제일 만만*/
            }
            .cnt_map .map_cont h2 {
                font-size: 1.9231rem;
                margin-top: 0.9231em;
            }
            .cnt_map .map_cont .inner {
                width: auto;
                margin-top: 1.5em;
            }
            .cnt_map .map_cont .map_item + .map_item{
                margin-top: 1.1538em;
            }
            .cnt_map .map_cont .map_item P {
                margin-left: 5.5385em;
            }
            .cnt_map .map_cont .map_item P + P {
                margin-top: 0.2118em;
            }
            .cnt_map .map_cont .map_etc {
                margin-top: 2.3846em;
            }
            .cnt_map .map_cont .map_etc a {
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 3em;
                font-size: 0.8824rem;
                color: #555;
                padding: 0.5em 3.8667em 0.5333em 2.2em;
                border-color: #8E8E8E;
                position: relative;
                background-color: #ededed;
            }
            .cnt_map .map_cont .map_etc a::after {
                content: "";
                position: absolute;
                right: 1.9333em;
                top: 0.6em;
                width: 1.4em;
                height: 1.4em;
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.64428 17.9375C4.20226 17.9375 3.82812 17.7844 3.52187 17.4781C3.21563 17.1719 3.0625 16.7977 3.0625 16.3557V4.64428C3.0625 4.20226 3.21563 3.82812 3.52187 3.52187C3.82812 3.21563 4.20226 3.0625 4.64428 3.0625H10.1633V4.375H4.64428C4.57691 4.375 4.51522 4.40307 4.45922 4.45922C4.40307 4.51522 4.375 4.57691 4.375 4.64428V16.3557C4.375 16.4231 4.40307 16.4848 4.45922 16.5408C4.51522 16.5969 4.57691 16.625 4.64428 16.625H16.3557C16.4231 16.625 16.4848 16.5969 16.5408 16.5408C16.5969 16.4848 16.625 16.4231 16.625 16.3557V10.8367H17.9375V16.3557C17.9375 16.7977 17.7844 17.1719 17.4781 17.4781C17.1719 17.7844 16.7977 17.9375 16.3557 17.9375H4.64428ZM8.50434 13.4177L7.58231 12.4957L15.703 4.375H12.25V3.0625H17.9375V8.75H16.625V5.29703L8.50434 13.4177Z' fill='%238E8E8E'/%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            .cnt_map .map_cont .map_etc a:hover {
                background-color: #EB2020;
                border-color: #EB2020;
                color: #fff;
            }
            .cnt_map .map_cont .map_etc a:hover::after {
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.64428 17.9375C4.20226 17.9375 3.82812 17.7844 3.52187 17.4781C3.21563 17.1719 3.0625 16.7977 3.0625 16.3557V4.64428C3.0625 4.20226 3.21563 3.82812 3.52187 3.52187C3.82812 3.21563 4.20226 3.0625 4.64428 3.0625H10.1633V4.375H4.64428C4.57691 4.375 4.51522 4.40307 4.45922 4.45922C4.40307 4.51522 4.375 4.57691 4.375 4.64428V16.3557C4.375 16.4231 4.40307 16.4848 4.45922 16.5408C4.51522 16.5969 4.57691 16.625 4.64428 16.625H16.3557C16.4231 16.625 16.4848 16.5969 16.5408 16.5408C16.5969 16.4848 16.625 16.4231 16.625 16.3557V10.8367H17.9375V16.3557C17.9375 16.7977 17.7844 17.1719 17.4781 17.4781C17.1719 17.7844 16.7977 17.9375 16.3557 17.9375H4.64428ZM8.50434 13.4177L7.58231 12.4957L15.703 4.375H12.25V3.0625H17.9375V8.75H16.625V5.29703L8.50434 13.4177Z' fill='white'/%3E%3C/svg%3E%0A");
            } 
}/*media*/ 

/*IR > 재무정보 */
.cnt_ir03 {
    margin: 0 0 8.2353em 0 ;
}
.cnt_ir03 .h2_tit {
    text-align: center;
    margin: 5.1765em 0 1.5882em 0 ;
}
.cnt_ir03 .h2_tit  h2 {
    font-size: 2.6471rem;
    color: #1d1d1d;
    font-weight: 700;
    line-height: 1.2;
}
.cnt_ir03 .h2_tit p {
    margin: 0.4706em 0 0 0;
}
.cnt_ir03 .table_wrap .unit {
    text-align: right;
    color: #8e8e8e;
    margin: 0 0 0.8em 0;
}
.cnt_ir03 .table_wrap .txt_exp {
    margin: 1em 0 0 0;
    color: #8e8e8e;
    padding-right: 1.2em;
    position: relative; /* before 정렬의 기준*/
}
.cnt_ir03 .table_wrap .txt_exp::before {
    content: "※";
    position: absolute;
    left: 0;
    top: 0;
}
.cnt_ir03 .table_wrap .table_area {
    overflow-x: auto;
}
.cnt_ir03 .table_wrap .table_area table {
    width: 100%; 
    border-collapse: collapse;
    border-top: 2px solid #1d1d1d;
    /* 테이블 칸과 칸사이의 여백 삭제- 칸과 칸사이의 border가 중첩되는 것을 막아서 1px로 나타남 */
}
/* 테이블 선은 한 칸을 의미하는 th나 td에 border로 줘야함*/
.cnt_ir03 .table_wrap .table_area table th,
.cnt_ir03 .table_wrap .table_area table td {
    border: 1px solid #ccc;
}
/* 왼쪽끝, 오른쪽 끝 세로선 삭제*/
.cnt_ir03 .table_wrap .table_area table th:first-child,
.cnt_ir03 .table_wrap .table_area table td:first-child {
    border-left-width: 0;
}
.cnt_ir03 .table_wrap .table_area table th:last-child,
.cnt_ir03 .table_wrap .table_area table td:last-child {
    border-right-width: 0;
}

.cnt_ir03 .table_wrap .table_area table thead th,
.cnt_ir03 .table_wrap .table_area table thead td {
    padding: 1.1765em 1em 1.0588em 1em;
    text-align: center;
    font-size: 1.1765rem;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d ;
    background-color: #FAFAFA;
}
.cnt_ir03 .table_wrap .table_area table tbody th,
.cnt_ir03 .table_wrap .table_area table tbody td {
    padding: 0.85em 1em 0.85em 0.85em;
    text-align: center;
}

.cnt_ir03 .table_wrap .table_area table tbody th {
    color: #1d1d1d ;
    background-color: #FAFAFA;
}
/* table_wrap에 number를 추가한 경우*/
.cnt_ir03 .table_wrap.numer .table_area table tbody th {
    text-align: left;
}
.cnt_ir03 .table_wrap.numer .table_area table tbody td {
    text-align: right;
}

@media screen and (max-width:1000px){
            .cnt_ir03 .h2_tit {
                text-align: left;
            }
            .cnt_ir03 .h2_tit  h2 {
                font-size: 1.9231rem;
            }
}


/* 홍보센터 > PR갤러리 */
.cnt_pr04 {
    margin: 0 0 11.7647em 0;
}
.cnt_pr04 .view_head {
    margin: 0 0 2.3529em 0;
}
.cnt_pr04 .view_head h2 {
    font-size: 1.7647rem;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 1.2;
    margin: 0 0 0.4333em 0;
}
.cnt_pr04 .view_cont {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1.1176em 0;
}
.cnt_pr04 .view_cont .video {
    margin: 1em 0 0 0;
    /*유튜브 iframe을 유튜브의 비율에 맞춰서 짤리지 않고 꽉차게 보이기 */
    position: relative; /*iframe 정렬의 기준 */ 
    overflow: hidden;
    padding: 28.2% 0 ;
}
.cnt_pr04 .view_cont .video iframe,
.cnt_pr04 .view_cont .video object,
.cnt_pr04 .view_cont .video embed {
    border: 0;
    width: 100%;
    height: 100%;
    position: absolute; /*video 기준으로 정렬 */
    left: 0;
    top: 0;
}
.cnt_pr04 .view_foot {
    margin: 1.8235em 0 3.4706em 0;
    text-align: center;
}
.cnt_pr04 .view_foot .list {
    display: inline-block;
    border: 1px solid #555;
    padding: 0.6059em 1.9412em 0.6em 3.7647em;
    color: #1d1d1d;
    border-radius: 3em;
    position: relative;
}
.cnt_pr04 .view_foot .list::before {
    content: "";
    position: absolute;
    left: 1.6471em;
    top: 0.4118em;
    width: 1.6875em;
    height:1.6875em ;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.08662 10.19C8.84756 10.19 8.64713 10.1091 8.48531 9.94725C8.32369 9.78544 8.24287 9.585 8.24287 9.34594C8.24287 9.10669 8.32369 8.90625 8.48531 8.74462C8.64713 8.58319 8.84756 8.50247 9.08662 8.50247H22.2187C22.4578 8.50247 22.6582 8.58338 22.8198 8.74519C22.9816 8.907 23.0625 9.10744 23.0625 9.3465C23.0625 9.58575 22.9816 9.78609 22.8198 9.94753C22.6582 10.1092 22.4578 10.19 22.2187 10.19H9.08662ZM9.08662 14.3437C8.84756 14.3437 8.64713 14.2628 8.48531 14.101C8.32369 13.9392 8.24287 13.7388 8.24287 13.4997C8.24287 13.2605 8.32369 13.0601 8.48531 12.8987C8.64713 12.7371 8.84756 12.6562 9.08662 12.6562H22.2187C22.4578 12.6562 22.6582 12.7372 22.8198 12.899C22.9816 13.0608 23.0625 13.2612 23.0625 13.5003C23.0625 13.7395 22.9816 13.9399 22.8198 14.1013C22.6582 14.2629 22.4578 14.3437 22.2187 14.3437H9.08662ZM9.08662 18.4975C8.84756 18.4975 8.64713 18.4166 8.48531 18.2548C8.32369 18.093 8.24287 17.8926 8.24287 17.6535C8.24287 17.4142 8.32369 17.2139 8.48531 17.0525C8.64713 16.8908 8.84756 16.81 9.08662 16.81H22.2187C22.4578 16.81 22.6582 16.8909 22.8198 17.0527C22.9816 17.2146 23.0625 17.415 23.0625 17.6541C23.0625 17.8933 22.9816 18.0937 22.8198 18.2554C22.6582 18.4168 22.4578 18.4975 22.2187 18.4975H9.08662ZM4.84622 10.2549C4.58878 10.2549 4.37297 10.1668 4.19878 9.99056C4.02459 9.81431 3.9375 9.59587 3.9375 9.33525C3.9375 9.081 4.02459 8.86781 4.19878 8.69569C4.37297 8.52356 4.58878 8.4375 4.84622 8.4375C5.10366 8.4375 5.31947 8.52356 5.49366 8.69569C5.66784 8.86781 5.75494 9.081 5.75494 9.33525C5.75494 9.59587 5.66784 9.81431 5.49366 9.99056C5.31947 10.1668 5.10366 10.2549 4.84622 10.2549ZM4.84622 14.3978C4.58878 14.3978 4.37297 14.3117 4.19878 14.1396C4.02459 13.9676 3.9375 13.7544 3.9375 13.5C3.9375 13.2317 4.02459 13.0114 4.19878 12.8391C4.37297 12.6667 4.58878 12.5806 4.84622 12.5806C5.10366 12.5806 5.31947 12.6667 5.49366 12.8391C5.66784 13.0114 5.75494 13.2317 5.75494 13.5C5.75494 13.7544 5.66784 13.9676 5.49366 14.1396C5.31947 14.3117 5.10366 14.3978 4.84622 14.3978ZM4.84622 18.5625C4.58878 18.5625 4.37297 18.4744 4.19878 18.2981C4.02459 18.1219 3.9375 17.9035 3.9375 17.6431C3.9375 17.3887 4.02459 17.1754 4.19878 17.0032C4.37297 16.8311 4.58878 16.7451 4.84622 16.7451C5.10366 16.7451 5.31947 16.8311 5.49366 17.0032C5.66784 17.1754 5.75494 17.3887 5.75494 17.6431C5.75494 17.9035 5.66784 18.1219 5.49366 18.2981C5.31947 18.4744 5.10366 18.5625 4.84622 18.5625Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.cnt_pr04 .view_foot .list:hover {
    border-color: #EB2020;
    background-color: #EB2020;
    color: #fff;
    font-weight: 700;
}
.cnt_pr04 .view_foot .list:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.08662 10.19C8.84756 10.19 8.64713 10.1091 8.48531 9.94725C8.32369 9.78544 8.24287 9.585 8.24287 9.34594C8.24287 9.10669 8.32369 8.90625 8.48531 8.74462C8.64713 8.58319 8.84756 8.50247 9.08662 8.50247H22.2187C22.4578 8.50247 22.6582 8.58338 22.8198 8.74519C22.9816 8.907 23.0625 9.10744 23.0625 9.3465C23.0625 9.58575 22.9816 9.78609 22.8198 9.94753C22.6582 10.1092 22.4578 10.19 22.2187 10.19H9.08662ZM9.08662 14.3437C8.84756 14.3437 8.64713 14.2628 8.48531 14.101C8.32369 13.9392 8.24287 13.7388 8.24287 13.4997C8.24287 13.2605 8.32369 13.0601 8.48531 12.8987C8.64713 12.7371 8.84756 12.6562 9.08662 12.6562H22.2187C22.4578 12.6562 22.6582 12.7372 22.8198 12.899C22.9816 13.0608 23.0625 13.2612 23.0625 13.5003C23.0625 13.7395 22.9816 13.9399 22.8198 14.1013C22.6582 14.2629 22.4578 14.3437 22.2187 14.3437H9.08662ZM9.08662 18.4975C8.84756 18.4975 8.64713 18.4166 8.48531 18.2548C8.32369 18.093 8.24287 17.8926 8.24287 17.6535C8.24287 17.4142 8.32369 17.2139 8.48531 17.0525C8.64713 16.8908 8.84756 16.81 9.08662 16.81H22.2187C22.4578 16.81 22.6582 16.8909 22.8198 17.0527C22.9816 17.2146 23.0625 17.415 23.0625 17.6541C23.0625 17.8933 22.9816 18.0937 22.8198 18.2554C22.6582 18.4168 22.4578 18.4975 22.2187 18.4975H9.08662ZM4.84622 10.2549C4.58878 10.2549 4.37297 10.1668 4.19878 9.99056C4.02459 9.81431 3.9375 9.59587 3.9375 9.33525C3.9375 9.081 4.02459 8.86781 4.19878 8.69569C4.37297 8.52356 4.58878 8.4375 4.84622 8.4375C5.10366 8.4375 5.31947 8.52356 5.49366 8.69569C5.66784 8.86781 5.75494 9.081 5.75494 9.33525C5.75494 9.59587 5.66784 9.81431 5.49366 9.99056C5.31947 10.1668 5.10366 10.2549 4.84622 10.2549ZM4.84622 14.3978C4.58878 14.3978 4.37297 14.3117 4.19878 14.1396C4.02459 13.9676 3.9375 13.7544 3.9375 13.5C3.9375 13.2317 4.02459 13.0114 4.19878 12.8391C4.37297 12.6667 4.58878 12.5806 4.84622 12.5806C5.10366 12.5806 5.31947 12.6667 5.49366 12.8391C5.66784 13.0114 5.75494 13.2317 5.75494 13.5C5.75494 13.7544 5.66784 13.9676 5.49366 14.1396C5.31947 14.3117 5.10366 14.3978 4.84622 14.3978ZM4.84622 18.5625C4.58878 18.5625 4.37297 18.4744 4.19878 18.2981C4.02459 18.1219 3.9375 17.9035 3.9375 17.6431C3.9375 17.3887 4.02459 17.1754 4.19878 17.0032C4.37297 16.8311 4.58878 16.7451 4.84622 16.7451C5.10366 16.7451 5.31947 16.8311 5.49366 17.0032C5.66784 17.1754 5.75494 17.3887 5.75494 17.6431C5.75494 17.9035 5.66784 18.1219 5.49366 18.2981C5.31947 18.4744 5.10366 18.5625 4.84622 18.5625Z' fill='white'/%3E%3C/svg%3E ");
}
.cnt_pr04 .list ul {
    display: flex;
    justify-content: space-between;
}
.cnt_pr04 .list ul li {
    width: calc(33.33% - 16px);
    /*100%/ li의 갯수 = 100/3 = 33.33
      여백의 합 /  li의 갯수 = 24+24 = 48 / 3 = 16 */
}
.cnt_pr04 .list ul li a {
    display: block;
}
.cnt_pr04 .list ul li a .photo {
    overflow: hidden;
    /* 썸네일의 이미지를 짤리지 않고 비율에 맞게 나타나게 코딩 */
    font-size: 0;
    line-height: 0;
    border-radius: 20px;
}
.cnt_pr04 .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:0.5s;
}
.cnt_pr04 .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.cnt_pr04 .list ul li a strong {
    display: block;
    font-size: 1.1765rem;
    font-weight: 700;
    color: #1d1d1d;
    margin: 1.1765em 0 1.4118em 0;
    /*2줄제한*/
    line-height: 1.2;
    height: 2.4em; /* 행간 * 줄수 = em 단위*/
    overflow: hidden;
}
.cnt_pr04 .list ul li a span {
    display: block;
}
@media screen and (max-width:1000px){
                .cnt_pr04 {
                    margin: 0 0 5.7692em 0;
                }
                .cnt_pr04 .view_head h2 {
                    font-size: 1.9231rem;
                    margin: 1.1538em 0 0.4333em 0;
                }
                .cnt_pr04 .view_cont {
                    border-top: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    padding: 0.7692em 0;
                }
                .cnt_pr04 .view_cont .video {
                    margin: 1em 0 0 0;
                    /*유튜브 iframe을 유튜브의 비율에 맞춰서 짤리지 않고 꽉차게 보이기 */
                    position: relative; /*iframe 정렬의 기준 */ 
                    overflow: hidden;
                    padding: 28.2% 0 ;
                }
                .cnt_pr04 .view_cont .video iframe,
                .cnt_pr04 .view_cont .video object,
                .cnt_pr04 .view_cont .video embed {
                    border: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute; /*video 기준으로 정렬 */
                    left: 0;
                    top: 0;
                }
                .cnt_pr04 .view_foot {
                    margin: 1.8235em 0 3.4706em 0;
                    text-align: center;
                }
                .cnt_pr04 .view_foot .list {
                    padding: 0.5em 1.5em 0.5em 3.5em;
                }
                .cnt_pr04 .view_foot .list::before {
                    content: "";
                    position: absolute;
                    left: 1.6471em;
                    top: 0.4118em;
                    width: 1.6875em;
                    height:1.6875em ;
                    background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.08662 10.19C8.84756 10.19 8.64713 10.1091 8.48531 9.94725C8.32369 9.78544 8.24287 9.585 8.24287 9.34594C8.24287 9.10669 8.32369 8.90625 8.48531 8.74462C8.64713 8.58319 8.84756 8.50247 9.08662 8.50247H22.2187C22.4578 8.50247 22.6582 8.58338 22.8198 8.74519C22.9816 8.907 23.0625 9.10744 23.0625 9.3465C23.0625 9.58575 22.9816 9.78609 22.8198 9.94753C22.6582 10.1092 22.4578 10.19 22.2187 10.19H9.08662ZM9.08662 14.3437C8.84756 14.3437 8.64713 14.2628 8.48531 14.101C8.32369 13.9392 8.24287 13.7388 8.24287 13.4997C8.24287 13.2605 8.32369 13.0601 8.48531 12.8987C8.64713 12.7371 8.84756 12.6562 9.08662 12.6562H22.2187C22.4578 12.6562 22.6582 12.7372 22.8198 12.899C22.9816 13.0608 23.0625 13.2612 23.0625 13.5003C23.0625 13.7395 22.9816 13.9399 22.8198 14.1013C22.6582 14.2629 22.4578 14.3437 22.2187 14.3437H9.08662ZM9.08662 18.4975C8.84756 18.4975 8.64713 18.4166 8.48531 18.2548C8.32369 18.093 8.24287 17.8926 8.24287 17.6535C8.24287 17.4142 8.32369 17.2139 8.48531 17.0525C8.64713 16.8908 8.84756 16.81 9.08662 16.81H22.2187C22.4578 16.81 22.6582 16.8909 22.8198 17.0527C22.9816 17.2146 23.0625 17.415 23.0625 17.6541C23.0625 17.8933 22.9816 18.0937 22.8198 18.2554C22.6582 18.4168 22.4578 18.4975 22.2187 18.4975H9.08662ZM4.84622 10.2549C4.58878 10.2549 4.37297 10.1668 4.19878 9.99056C4.02459 9.81431 3.9375 9.59587 3.9375 9.33525C3.9375 9.081 4.02459 8.86781 4.19878 8.69569C4.37297 8.52356 4.58878 8.4375 4.84622 8.4375C5.10366 8.4375 5.31947 8.52356 5.49366 8.69569C5.66784 8.86781 5.75494 9.081 5.75494 9.33525C5.75494 9.59587 5.66784 9.81431 5.49366 9.99056C5.31947 10.1668 5.10366 10.2549 4.84622 10.2549ZM4.84622 14.3978C4.58878 14.3978 4.37297 14.3117 4.19878 14.1396C4.02459 13.9676 3.9375 13.7544 3.9375 13.5C3.9375 13.2317 4.02459 13.0114 4.19878 12.8391C4.37297 12.6667 4.58878 12.5806 4.84622 12.5806C5.10366 12.5806 5.31947 12.6667 5.49366 12.8391C5.66784 13.0114 5.75494 13.2317 5.75494 13.5C5.75494 13.7544 5.66784 13.9676 5.49366 14.1396C5.31947 14.3117 5.10366 14.3978 4.84622 14.3978ZM4.84622 18.5625C4.58878 18.5625 4.37297 18.4744 4.19878 18.2981C4.02459 18.1219 3.9375 17.9035 3.9375 17.6431C3.9375 17.3887 4.02459 17.1754 4.19878 17.0032C4.37297 16.8311 4.58878 16.7451 4.84622 16.7451C5.10366 16.7451 5.31947 16.8311 5.49366 17.0032C5.66784 17.1754 5.75494 17.3887 5.75494 17.6431C5.75494 17.9035 5.66784 18.1219 5.49366 18.2981C5.31947 18.4744 5.10366 18.5625 4.84622 18.5625Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .cnt_pr04 .view_foot .list:hover {
                    border-color: #EB2020;
                    background-color: #EB2020;
                    color: #fff;
                    font-weight: 700;
                }
                .cnt_pr04 .view_foot .list:hover::before {
                    background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.08662 10.19C8.84756 10.19 8.64713 10.1091 8.48531 9.94725C8.32369 9.78544 8.24287 9.585 8.24287 9.34594C8.24287 9.10669 8.32369 8.90625 8.48531 8.74462C8.64713 8.58319 8.84756 8.50247 9.08662 8.50247H22.2187C22.4578 8.50247 22.6582 8.58338 22.8198 8.74519C22.9816 8.907 23.0625 9.10744 23.0625 9.3465C23.0625 9.58575 22.9816 9.78609 22.8198 9.94753C22.6582 10.1092 22.4578 10.19 22.2187 10.19H9.08662ZM9.08662 14.3437C8.84756 14.3437 8.64713 14.2628 8.48531 14.101C8.32369 13.9392 8.24287 13.7388 8.24287 13.4997C8.24287 13.2605 8.32369 13.0601 8.48531 12.8987C8.64713 12.7371 8.84756 12.6562 9.08662 12.6562H22.2187C22.4578 12.6562 22.6582 12.7372 22.8198 12.899C22.9816 13.0608 23.0625 13.2612 23.0625 13.5003C23.0625 13.7395 22.9816 13.9399 22.8198 14.1013C22.6582 14.2629 22.4578 14.3437 22.2187 14.3437H9.08662ZM9.08662 18.4975C8.84756 18.4975 8.64713 18.4166 8.48531 18.2548C8.32369 18.093 8.24287 17.8926 8.24287 17.6535C8.24287 17.4142 8.32369 17.2139 8.48531 17.0525C8.64713 16.8908 8.84756 16.81 9.08662 16.81H22.2187C22.4578 16.81 22.6582 16.8909 22.8198 17.0527C22.9816 17.2146 23.0625 17.415 23.0625 17.6541C23.0625 17.8933 22.9816 18.0937 22.8198 18.2554C22.6582 18.4168 22.4578 18.4975 22.2187 18.4975H9.08662ZM4.84622 10.2549C4.58878 10.2549 4.37297 10.1668 4.19878 9.99056C4.02459 9.81431 3.9375 9.59587 3.9375 9.33525C3.9375 9.081 4.02459 8.86781 4.19878 8.69569C4.37297 8.52356 4.58878 8.4375 4.84622 8.4375C5.10366 8.4375 5.31947 8.52356 5.49366 8.69569C5.66784 8.86781 5.75494 9.081 5.75494 9.33525C5.75494 9.59587 5.66784 9.81431 5.49366 9.99056C5.31947 10.1668 5.10366 10.2549 4.84622 10.2549ZM4.84622 14.3978C4.58878 14.3978 4.37297 14.3117 4.19878 14.1396C4.02459 13.9676 3.9375 13.7544 3.9375 13.5C3.9375 13.2317 4.02459 13.0114 4.19878 12.8391C4.37297 12.6667 4.58878 12.5806 4.84622 12.5806C5.10366 12.5806 5.31947 12.6667 5.49366 12.8391C5.66784 13.0114 5.75494 13.2317 5.75494 13.5C5.75494 13.7544 5.66784 13.9676 5.49366 14.1396C5.31947 14.3117 5.10366 14.3978 4.84622 14.3978ZM4.84622 18.5625C4.58878 18.5625 4.37297 18.4744 4.19878 18.2981C4.02459 18.1219 3.9375 17.9035 3.9375 17.6431C3.9375 17.3887 4.02459 17.1754 4.19878 17.0032C4.37297 16.8311 4.58878 16.7451 4.84622 16.7451C5.10366 16.7451 5.31947 16.8311 5.49366 17.0032C5.66784 17.1754 5.75494 17.3887 5.75494 17.6431C5.75494 17.9035 5.66784 18.1219 5.49366 18.2981C5.31947 18.4744 5.10366 18.5625 4.84622 18.5625Z' fill='white'/%3E%3C/svg%3E ");
                }
                .cnt_pr04 .list ul {
                    display: flex;
                    justify-content: space-between;
                }
                .cnt_pr04 .list ul li {
                    width: calc(50% - 24px);
                    /*100%/ li의 갯수 = 100/3 = 33.33
                    여백의 합 /  li의 갯수 = 24+24 = 48 / 3 = 16 */
                }
                .cnt_pr04 .list ul li:last-child {
                    display: none;
                }
                .cnt_pr04 .list ul li a {
                    display: block;
                }
                .cnt_pr04 .list ul li a .photo {
                    border-radius: 5px;
                }
                .cnt_pr04 .list ul li a:hover .photo img {
                    transform: scale3d(1.2, 1.2, 1);
                }
                .cnt_pr04 .list ul li a strong {
                    margin: 1.1765em 0 1.1118em 0;
                    /*2줄제한*/
                    line-height: 1.2;
                    height: 2.4em; /* 행간 * 줄수 = em 단위*/
                    overflow: hidden;
                }
                .cnt_pr04 .list ul li a span {
                    display: block;
                }

} /*midea*/
@media screen and (max-width:400px){
    .cnt_pr04 .list ul li {
        width: auto;
    }
    .cnt_pr04 .list ul li:nth-last-child(2) {
        display: none; /*뒤에서부터 두번째 li*/
    }
}
